[2016-10-06 16:52] mcritchlow opened #243 "Sharing behavior broken/strange on Collection view"
On Collection views only, confirmed by @mdpeters on Chrome, FF, IE.

Current view:
<img width="1088" alt="screen shot 2016-10-06 at 9 43 40 am" src="https://cloud.githubusercontent.com/assets/67506/19161845/4b4568a2-8baa-11e6-910d-6bdfffb3752b.png">

Hover:
<img width="1061" alt="screen shot 2016-10-06 at 9 43 51 am" src="https://cloud.githubusercontent.com/assets/67506/19161864/5944e48c-8baa-11e6

[2016-10-06 18:14] dt-ucsd commented on #243
Two things,

1) AddThis updated their widget--they updated the functionality and the look of the widget button (it didn't have a counter before)

2) The custom CSS I wrote to overwrite the style of the main button of their old widget is hiding the main button of their new widget

The solution is to modify or remove the CSS I was using to customize the old widget--depending on what folks want. Note

[2016-10-06 18:17] dt-ucsd commented on #243
This is what it looks like now...

<img width="1081" alt="abc" src="https://cloud.githubusercontent.com/assets/2448340/19164840/6ae37e72-8bb6-11e6-9e61-073b85091738.png">

[2016-10-06 18:18] dt-ucsd commented on #243
Before it was just a generic dark gray sharing icon. See:

https://github.com/ucsdlib/damspas/blob/3bb7eb57c071b713f7c7ad27d37a1a30bc073c96/public/images/sharing-icon.png

[2016-10-06 18:20] mcritchlow commented on #243
Thanks @dt-ucsd !

@gamontoya and @mdpeters - deferring to you for comment.

I do wonder if we might re-position the widget to either be aligned left with the rest of the metadata, perhaps even with a label to give folks an idea of what the widget is/does. Or something similar on the right. As-is, on the desktop view at least, it seems to float between the two.

[2016-10-12 20:07] mcritchlow opened #244 "Remove default "sim" text in facets"
* Go to DC home page and do not enter a search term; simply click on the magnifying glass
* _Refine your search_ --> _Lithology_ --> _more_
* _Browse by Lithology_
** _Subject Lithology Sim_ <-- this default text needs to be deleted

*Note that this appears in all facets that have the _more_ option.*

![1](https://cloud.githubusercontent.com/assets/67506/19325821/bdd7ac32-907c-11e6-8dc5-25e54e9724

[2016-10-17 14:34] mcritchlow commented on #243
@gamontoya - do we want to include this in the Sprint starting today?

[2016-10-17 15:49] gamontoya commented on #243
@mcritchlow If you have David for this Sprint, definitely.

[2016-10-17 16:06] mcritchlow commented on #243
@dt-ucsd scope of the ticket is just for fixing the code. we won't address the idea of moving it to a different position on the page at this time.

[2016-10-17 18:16] dt-ucsd commented on #243
@mcritchlow Sounds like a plan.

[2016-10-17 21:33] dt-ucsd commented on #243
These lines need to be deleted to fix the issue:

https://github.com/ucsdlib/damspas/blob/3bb7eb57c071b713f7c7ad27d37a1a30bc073c96/app/assets/stylesheets/custom-object-viewer.css.scss#L156-L166

[2016-10-18 20:57] mcritchlow opened #245 "Planning for Subject Reconciliation"
**_placeholder for now_**

Per discussion with @arwenhutt @mcritchlow @tmarconi @gamontoya

In the near future, we're going to substantially overhaul our complex subjects with simple subjects w/ FAST headings and other URIs.

We will likely run the transformations in staging, and then have a QA period so that content owners can review the changes.

1. Get QA environment ready (@tmarconi, @lsitu?)

[2016-10-20 17:55] #243 closed

[2016-10-20 17:59] gamontoya commented on #243
@hweng So you removed "AddThis", but did you add another share widget?

[2016-10-20 18:00] hweng commented on #243
@gamontoya This ticket was assigned to @dt that he has been working on it.

[2016-10-20 18:22] dt commented on #243
(just a heads up, I think you cc'ed the wrong person)

[2016-10-20 18:41] gamontoya commented on #243
@hweng Thank you!

[2016-10-27 21:52] remerjohnson opened #248 "Investigate streaming issues involving Flash and Chrome"
Some background: [DI-121](https://lib-jira.ucsd.edu:8443/browse/DI-121)

Several people on that ticket were unable to stream _any_ DAMS audio objects using Chrome. Specific error is "Flash plugin failed to load".
Firefox seems to be fine.
(see image below from Cristela)

My machine manages to stream audio fine in Chrome. My specs are:
Chrome 54.0.2840.71 m (64-bit)
Flash Plugin Version (via chrome

[2016-10-27 23:34] mcritchlow commented on #248
@VivianChu addressed some similar issues in the DMR project. She might some ideas on what might need to be done to address this in the DC app

[2016-10-28 16:17] VivianChu commented on #248
@mcritchlow @remerjohnson - I got the same error message "Flash plugin failed to load" using chrome Version 54.0.2840.71 (64-bit).  However, it worked for older Chrome Version 49.0.2623.112 (64-bit).  The video object worked fine for me using Chrome because I updated it before when working on similar issue for DMR Video.  I think we could just update order of the audio files in the jwplayer config

[2016-10-28 16:48] mcritchlow commented on #248
Definitely worth trying out, thanks Vivian. I've added the ticket to the Sprint starting on Monday. I'll assign this to you @VivianChu

[2016-10-28 23:12] #244 closed

[2016-10-31 16:10] mcritchlow opened #249 "Add Accessility integration to Digital Collections"
Please add the accessibility integration as done in DMR to the DAMS4 Digital Collections application. For now, please have the tool run against the following pages:

- [ ] Homepage
- [ ] Collection show page
- [ ] Object show page (simple object w/ image)
- [ ] Search results display

[2016-11-03 17:22] VivianChu commented on #248
@mcritchlow @remerjohnson The problem has been fixed and deployed to QA environment.  I was able to stream the audio object and complex audio object using Chrome.  Here are the screen shot
![complexaudioobject](https://cloud.githubusercontent.com/assets/1864660/19977017/4eaa0226-a1af-11e6-8d6c-6004a9c67912.png)
![singleaudioobject](https://cloud.githubusercontent.com/assets/1864660/19977016/4ea72c

[2016-11-09 17:14] mcritchlow opened #251 "Feature: Initiate delete from SHARE"
Please add the ability to initiate a deletion request via the SHARE Notify service for a give record.

This can be in the form of a new link that is only accessible to the group that is able to create SHARE records for Collections.

Testing/QA Group: @gamontoya @hjsyoo

[2016-11-09 18:45] #248 closed

[2016-11-09 22:19] VivianChu opened #252 "JWPlayer Upgrade"
Jwplayer is recommending an upgrade in anticipation of Chrome ending flash support.

Here is a link from jwplayer about the coming changes.

https://www.jwplayer.com/blog/deprecation-flash/

[2016-11-10 18:53] VivianChu commented on #252
@gamontoya - I deployed the change for JWPlayer for Damspas to QA environment.

Could you please test them using your browsers, iphone, and android device?

For example,
//video
http://libraryqa.ucsd.edu/dc/object/bb8022051s

//video complex
http://libraryqa.ucsd.edu/dc/object/bb76807535

//audio
http://libraryqa.ucsd.edu/dc/object/bb23565552

//audio complex
http://libraryqa.ucsd.edu/dc/object/bb

[2016-11-10 23:01] mcritchlow opened #254 "Fix accessibility issues discovered by new integration"
As a follow up to #249 - Fix the identified accessibility issues.

This may be broken into individual tickets (per page/view) depending on the scope of the errors

[2016-11-14 17:23] gamontoya commented on #252
@VivianChu Tested and working on IE, Firefox, Chrome, and Android phone.

Note: Did not test on Safari.

[2016-11-14 18:50] #252 closed

[2016-11-14 23:00] #249 closed

[2016-11-19 00:01] hweng commented on #251
@mcritchlow Our existing working feature "Pushing to OSF staging"  seems not working as I tested yesterday.  I've emailed to Rick Johnson to ask if there is any change on OSF side that affect it and I am still waiting for his reply.

[2016-11-22 15:19] mcritchlow commented on #254
@VivianChu - please break this down into separate tickets and work on with @hweng and @lsitu . @dt-ucsd may possibly have a cycle or two to help as well.

[2016-11-28 17:02] VivianChu opened #257 "Core Accessibility Issues - object view page"
'http://localhost:3000/object/xx77777777 | critical | Zooming and scaling must not be disabled | ["html > head > meta:nth-of-type(2)"]'
'about:blank | moderate | Documents must have <title> element to aid in navigation | ["html"]'
'about:blank | serious | <html> element must have a valid lang attribute | ["html"]'
'http://localhost:3000/ | critical | Form elements must have labels | ["#q"]'
'http:

[2016-11-28 17:04] VivianChu opened #258 "Core Accessibility Issues - Collection Page"
'http://localhost:3000/collections | critical | Zooming and scaling must not be disabled | ["html > head > meta:nth-of-type(2)"]'

[2016-11-28 17:05] VivianChu opened #259 "Core Accessibility Issues - Home Page"
Found 240 new accessibility issues:

'http://localhost:3000/ | critical | Form elements must have labels | ["#q"]'
'http://localhost:3000/ | critical | Zooming and scaling must not be disabled | ["html > head > meta:nth-of-type(2)"]'
'http://localhost:3000/advanced?f%5Btype_sim%5D%5B%5D=Collection&f%5Bunit_code_tesim%5D%5B%5D=dlp&fq%5B%5D=unit_code_tesim%3Adlp&id=dlp&sort=title_ssi+asc | critical

[2016-11-28 17:07] VivianChu opened #260 "Core Accessibility Issues - Search Results Page"
'http://localhost:3000/search?q=test | critical | Zooming and scaling must not be disabled | ["html > head > meta:nth-of-type(2)"]'
'http://localhost:3000/search?spellcheck.q=test&spellsuggestions=false | serious | Buttons must have discernible text | ["#mobile-search-button"]'
'http://localhost:3000/search?spellcheck.q=test&spellsuggestions=false | critical | Zooming and scaling must not be disab

[2016-11-29 22:08] gamontoya opened #261 "Share feature and Facebook: complex object images do not get pulled in"
When using the "AddThis" feature to share an image on a Facebook page, the following has been noted:

1. bb35511535: First page cover sheet is pulled in instead of the image.
![bb35511535_page1](https://cloud.githubusercontent.com/assets/4314914/20730999/32a58b98-b63d-11e6-827f-7e61418737a9.png)

2. bb4199286c: Image for complex object is not pulled in (blank).
![bb4199286c_image001](https://cloud

[2016-11-29 22:10] gamontoya commented on #261
@dt-ucsd Is this something you can look into for starters? If it's way beyond what you can see, then we can assign to one of the developers.

[2016-12-01 22:26] arwenhutt opened #262 "Batch edit - attribution note - CME collection"
Please update the attribution note for all the items in the [Center for Music Experiment Collection](http://library.ucsd.edu/dc/collection/bb10936072).

Replace this:
    <dams:note rdf:resource="http://library.ucsd.edu/ark:/20775/bb3516867d"/>

With this:
    <dams:note>
      <dams:Note>
        <rdf:value>Digital Library Development Program, UC San Diego, La Jolla, 92093-0175 (http://libraries.

[2016-12-05 17:47] gamontoya opened #263 "Export DAMS collection (metadata and images)"
For Omeka evaluation (exhibits), Matt Peters needs a .csv export of all of the metadata and the masters files for the Dr. Seuss Political Cartoons collection:

- http://library.ucsd.edu/dc/collection/bb65202085

Output should be placed on digital-staging:

- lib-staging\Dr_Seuss_Exports\

[2016-12-05 22:06] arwenhutt opened #264 "Ingest created duplicate objects in the DAMS - CCDB"
I'm QA'ing CCDB and one batch has significant problems.

I received two separate DAMS manager reports on the ingest (attached) - each with different (almost opposite) failure reports.  There are two basic conditions these represent 1) most of the items which are listed as "failed" in the first report, show as "successful" in the second, and vice versa.  2) There are also a handful of items which a

[2016-12-05 22:09] arwenhutt commented on #264
I'm having some problems with attaching the files here.  They are located on the rdcp-staging server at: Z:\ccdb\Admin\ingest reports

I've appended the name of the batches to the system generated report names, so just look for batch-08 and you'll find all the logs

[2016-12-05 22:16] lsitu commented on #264
@arwenhutt I think this will happen if you submit the batch twice at almost the same time from different sessions. What browse are you using? Do you see the progress report after you submitted that batch for ingest?

[2016-12-05 22:28] arwenhutt commented on #264
Firefox, and I'm not sure what you mean by "Do you see the progress report after you submitted that batch for ingest?"

I would not have had it open in multiple browsers, so I'm not sure how I would have submitted it twice, unless the UI did not show the progress bar and instead showed a timed out session or a failure.

[2016-12-05 22:32] arwenhutt commented on #264
Ah, wait, you probably meant the inline progress report, sorry, I don't think of it as a report so was confused.  I don't remember if I saw that or not, this was a couple of weeks ago.  If I had seen it, I would definitely not have redone the ingest.

[2016-12-05 22:43] lsitu commented on #264
@arwenhutt Yes,  I mean a progress bar and the report message after you submitted batch 8. I think if you click the submit button twice to submit the batch, damsmanager should reject the second one with an error message like "WARNING: Another process is running. Servlet Request aborted ....". I you see this message and submit the batch again, a duplicate ingest will happen. So we may need more inf

[2016-12-05 22:48] gamontoya opened #265 "Statistics: investigate how to expose items hit per collection"

[2016-12-05 22:49] gamontoya commented on #265
Data provider wants to know how many times people hit items belonging to a specific collection.

Per Longshou: _we should have the stats there now just need to see how to expose it._

[2016-12-05 22:51] arwenhutt commented on #264
I'm not sure what additional information I can provide.  I would not resubmit a batch if the first batch showed that it was processing (progress bar).  That would be silly!

[2016-12-05 22:58] arwenhutt commented on #264
Also, if you look at the logs, the time stamps are the same down to the second.  I wouldn't be able to replicate that through submitting an ingest twice even if I tried.

[2016-12-05 23:03] lsitu commented on #264
@arwenhutt Do you see an error message like "WARNING: Another process is running. Servlet Request aborted ...." before you submit another one? If you do that within minutes or more, I think this will happen because some files are larger and some are small and eventually both process will be try to ingest the same file and it will be failed.

[2016-12-05 23:13] arwenhutt commented on #264
I don't remember because it was a while ago and honestly pretty rote after 7 other batches, but it doesn't make sense that I would re-submit in the first minute if the first submission showed any signs of working and getting an explicit error message.

[2016-12-05 23:16] lsitu commented on #264
Then it'll be a little bit hard but yes, I think I can disable the Submit button from submitting twice.

[2016-12-05 23:33] arwenhutt commented on #264
So are you saying that if the Submit button is clicked, there may be no feedback in the UI, and so it can look like it was not submitted?  If there was no visible indication that it was submitted, then I can see clicking a second time.  Though I'm pretty sure I'd wait at least a few seconds to check for visible feedback.  Wouldn't the time stamp be different then, since it records down to the seco

[2016-12-05 23:36] lsitu commented on #263
@rstanonik I've exported the metadata for all 390 objects in CSV format and copy the master files to \\darry.ucsd.edu\dams_staging\Dr_Seuss_Exports . But I don't think I have write access to digital-staging. Could you deliver it to digital-staging lib-staging\Dr_Seuss_Exports\? Thanks.

[2016-12-05 23:49] lsitu commented on #264
Yes, it possible that double clicking could be happened at almost the same time and the timestamp records down to the second. But normally an error message like "WARNING: Another process is running. Servlet Request aborted ...." will be responded back for the second resubmission. With disabling the submit button once it is click, we only can submit once within on the same UI.

[2016-12-05 23:58] arwenhutt commented on #264
Yeah, I don't think it makes sense to keep the "Submit" button functional after it's been clicked and before the screen switches to the progress bar.  Also, if I had read that message "WARNING: Another process is running. Servlet Request aborted ...." I would assume that that the second attempt was terminated and so would not think that there would be dupe's. Just for message clarity.

I still fin

[2016-12-07 00:05] hweng commented on #251
@gamontoya The records that i pushed recently doesn't show up in share staging.
The following is the last one posted on share staging:
https://staging-share-registration.osf.io/?page=1239&sources=UC+San+Diego

  "id": 12396,
            "updated": "2016-10-19T11:24:18.921735Z",
            "docID": "https://scholarsphere-staging.dlt.psu.edu/files/qn59q398d",
......

And I emailed to Rick Johnson a

[2016-12-07 18:09] dt-ucsd commented on #261
In order to specify which image Facebook should use when sharing a page, we added Open Graph tags to the <head> of the HTML page. For example, to specify the image we are using the following:

<meta property="og:image" content="http://www.example.com/dc/object/abc123/_0_1.jpg" />

(More info on Open Graph Tags: https://developers.facebook.com/docs/sharing/webmasters#markup)

When I first reported

[2016-12-07 18:51] gamontoya commented on #261
Per David:

- Note the extra underscore in the filename in the broken link (“__1_3.jpg”). Simply have the devs correct the code that is generating the image filename in the URL and the issue should be resolved.

[2016-12-07 20:55] gamontoya commented on #263
@lsitu It's okay to leave them where they are Longshou. Thank you!

[2016-12-07 21:09] lsitu commented on #263
Thanks @gamontoya.
@rstanonik: Then we don't need to move it to digital-staging for now until Gabriela orders for it. Thanks.

[2016-12-07 22:26] gamontoya commented on #251
@hweng What are you trying to do? Push records to Share and then delete them?

[2016-12-07 22:38] gamontoya commented on #251
@hweng Also, how long ago did you contact Rick? Did you do it via email?

[2016-12-07 23:42] hweng commented on #251
@gamontoya Could you try to push a record from dams4 staging: http://librarytest.ucsd.edu/dc/ and see if you can find it from share staging now?  This feature has been working well for quite a while in dams4, and we tested it was working after OSF updated their API in October but recently it has not been working for me.
I emailed to Rick on 11/17 and ask if there is any changes on their side but I

[2016-12-08 16:41] gamontoya commented on #251
@hweng Okay, I just pushed one now.

![1](https://cloud.githubusercontent.com/assets/4314914/21018548/1f530296-bd22-11e6-8beb-19b08d1a3240.png)

[2016-12-08 16:41] gamontoya commented on #251
@hweng What is the URL to check the push?

[2016-12-08 16:43] gamontoya commented on #251
https://staging-share.osf.io/discover?sources=UC%20San%20Diego
https://staging-share-registration.osf.io/?sources=UC%20San%20Diego

[2016-12-08 18:38] hweng commented on #251
@gamontoya The message just means it is successfully pushed out to OSF staging sever. But if OSF side doesn't show it up on their UI for some reason, we have no way to control how their application behavior.
But please let me know if you think we can updated the message to make it more sense.

[2016-12-08 18:40] hweng commented on #251
To keep track - A email from Rick:
"Here is some background on what is likely happening...

  Chris Seto:  "Ah, chances are its just staging being wonky. The task queue generally gets bloated because staging is trying to keep up with a production load of data even though it has less than half the size. When I get some time and finish up the bug I've been working on, I'm going to clear all the data

[2016-12-09 23:51] #263 closed

[2016-12-12 18:26] gamontoya commented on #261
@dt-ucsd Are you able to update this code yourself or **must** it be a developer?

[2016-12-13 07:34] dt-ucsd commented on #261
I am working on the update. I'll have a PR out shortly.

[2016-12-13 19:53] lsitu commented on #265
@gamontoya Currently we count any access to thumbnails/derivatives or master files as one hit/access to an object in a collection. Do you think we need to adjust this counting rule or not? Or something more accurate like counting the items views belonging to a specific collection?

[2016-12-13 19:55] gamontoya commented on #265
@lsitu I think we should count how many times a thumbnail is hit which accurately tells us that an item was looked at whether they clicked on zoom or downloaded it.

[2016-12-13 20:07] lsitu commented on #265
@gamontoya Yes, we are counting for file downloads at this time, in the way we've done for RDCP stats.

[2016-12-13 20:10] lsitu commented on #265
Another issue is that the search hits with thumbnail listed on the search result page is also included in the current items hits/item access.

[2016-12-13 20:47] gamontoya commented on #265
@lsitu

1. File downloads: Can this be exposed for DC collections in the stats?
2. We want hits on the actual thumbnail, not search result hits. Is the former not possible?

[2016-12-13 21:02] lsitu commented on #265
Hi Gabriela,
For your questions above:
1. Yes.
2. I think we can update dams statistics to count on any thumbnails/derivatives. Currently, thumbnail 4.jpg is used for search hits and 3.jpg is used for views. But the counting of 3.jpg (plus master files) is close to the stats for item views. So just give me the rules regarding how to count it as hits and I can update damsmanager for it.

[2016-12-13 21:05] gamontoya commented on #265
@lsitu Confirmed with Matt that we don't want how many times a thumbnail comes up in a search result. We want how many times a person clicks on a thumbnail to bring up the object/metadata.

[2016-12-13 21:10] lsitu commented on #265
@gamontoya Then I think we should simply use the item views and aggregate it for a specific collection. What do you think?

[2016-12-13 21:19] gamontoya commented on #265
@lsitu I think that's the way to go. Thanks Longshou.

[2016-12-13 22:22] #261 closed

[2016-12-14 00:20] lsitu commented on #262
@gamontoya @arwenhutt I've corrected the local attribution note for all 502 objects found in collection [Center for Music Experiment Collection](http://library.ucsd.edu/dc/collection/bb10936072). Could you take a look? Thanks.

[2016-12-14 00:33] gamontoya commented on #261
@VivianChu @dt-ucsd Should I make sure this is working now on -prod?

[2016-12-14 16:53] VivianChu commented on #261
@gamontoya Do you want me to make the release of damspas for staging and prod now?  Thanks

[2016-12-14 21:28] gamontoya commented on #262
@lsitu Confirming that this is fixed. Thank you!

[2016-12-14 21:29] #262 closed

[2016-12-14 21:31] gamontoya commented on #261
@VivianChu Yes. So this change requires a deploy to prod, correct? Should I have someone test on staging first?

[2016-12-14 21:45] VivianChu commented on #261
@gamontoya I will let you know when it get deployed to staging so you can test it first.

[2016-12-15 17:24] lsitu commented on #265
Hi Gabriela,
I've created a [PR](https://github.com/ucsdlib/damsmanager/pull/118) for the statistics of items hits and file downloads per collection. I've deployed it to QA:
https://libraryqa.ucsd.edu/damsmanager/statsCollection.do
https://libraryqa.ucsd.edu/damsmanager/statsCollection.do?type=downloads

It requires curator role to access the statistics above. Could you take a look to see whether

[2016-12-15 18:35] lsitu commented on #265
@gamontoya I've updated the PR to exclude the curator access from both stats and should should see the difference on QA now: some collections have less counts and those test collections on the top are gone. I've merged the PR and please let me know if you need any changes.

[2016-12-15 19:38] gamontoya commented on #265
@lsitu Thank you. Looks great. Thanks for your flexibility.

[2016-12-22 23:48] hweng opened #268 "Updating share_notify gem to add support for SHARE 2 API"
Issue in Share Notify repository that @hweng is working on w/ Don Brower https://github.com/projecthydra-labs/share_notify/issues/11

[2016-12-22 23:51] hweng opened #269 "Rewrite mapping from DAMS 4 to SHARE 2 schema."

[2016-12-22 23:57] hweng commented on #251
Per talking with SHARE team, they have been still working on queue issues on staging environment.
And also from SHARE team there is significant changes from SHARE API1 to API2, which the share_notify gem need to update to support for API2.
Will revisit this ticket when the above two issue/task get checked out.

[2016-12-23 00:44] arwenhutt commented on #269
Thanks for creating this ticket @hweng

[2016-12-23 23:00] hweng opened #270 "Implement new mapping and API for SHARE2 in DAMS4"
This ticket will be visited after the following two tickets is finished:
share_notify gem support for SHARE2: https://github.com/ucsdlib/damspas/issues/268,
and share mapping spreadsheet rewriting: https://github.com/ucsdlib/damspas/issues/269

[2016-12-23 23:10] hweng commented on #269
@arwenhutt Created another ticket which update dams4 code to Implement new mapping and API for SHARE2: https://github.com/ucsdlib/damspas/issues/270. It will be visited after your mapping spreadsheet is done.  Thanks!

[2017-01-04 17:04] mcritchlow opened #271 "https streaming issue on latest chrome"
From Ron:
[code]

[2017-01-06 22:52] arwenhutt commented on #269
[UCSD_SHARE_mapping_2017_01_06.xlsx](https://github.com/ucsdlib/damspas/files/691014/UCSD_SHARE_mapping_2017_01_06.xlsx)

Here you go @hweng !
Let me know if you have any questions :)

[2017-01-09 18:05] mcritchlow opened #272 "Add captcha to contact form"
Unfortunately the current [contact form](http://library.ucsd.edu/dc/contact) is getting spammed like crazy.

It does appear that [we're using the :captcha feature](https://github.com/ucsdlib/damspas/blob/3bb7eb57c071b713f7c7ad27d37a1a30bc073c96/app/models/contact_form.rb#L9) built into the mail_form gem, but it doesn't appear to be working. There is a [single issue](https://github.com/plataformate

[2017-01-10 00:26] hweng commented on #269
@arwenhutt  Could you give me the expected result for version 2, for example bb7305352v? What's the expected JSON result you would like to see?

[2017-01-10 00:28] arwenhutt commented on #269
I'm not sure I can.  I don't work with the json syntax much, and only have their schema documentation to go for understanding how there schemas implemented.

[2017-01-10 18:13] hweng commented on #269
@arwenhutt If you look at the schema example, it is exactly JSON structure. In my understanding, the purpose of mapping is to translate our dams4 data structure to the JSON output which should be conforming to SHARE V2 schema data structure so that the output metadata can be feed into SHARE repository.
So without the output metadata example, I'm wondering how can we make sure the mapping is correc

[2017-01-10 18:19] arwenhutt commented on #269
I agree that it would be useful but I don't understand their data model or their expression of it adequately to feel qualified to do this.  Perhaps we could tackle this another way.

What if we share our spreadsheet (possibly edited for the purpose) with Lauren and see if she can help us create a sample record.  That would help us to understand the schema and it's expression better, and possibly t

[2017-01-10 18:38] hweng commented on #269
Yes, I agree. What about we pick one or a few collection records with our dams4 solr examples(input) and your spreadsheet, and see if she can come up the output examples? And then we work together to correct or refine them. And the output examples can be used as a guideline for your QA in the future.

[2017-01-10 19:00] arwenhutt commented on #269
Sounds good.  One thing though, since this is not a dependency for the Feb. 1st Demo deadline, we should postpone this until the demo work is complete.

[2017-01-11 17:05] #271 closed

[2017-01-11 18:45] VivianChu commented on #271
@gamontoya The update to fix this streaming issue has been deployed to staging.  Would you please take a look?
For example
//complex video
http://librarytest.ucsd.edu/dc/object/bb3482439v

//single video
http://librarytest.ucsd.edu/dc/object/bb1571482k

//audio
http://librarytest.ucsd.edu/dc/object/bb23565552

//audio complex
http://librarytest.ucsd.edu/dc/object/bb2629146f

Thanks

[2017-01-11 22:38] dt-ucsd commented on #272
How about replacing the mail_form gem with MachFrom? For example...

https://library.ucsd.edu/forms/view.php?id=47795

[2017-01-11 22:59] mcritchlow commented on #272
@dt-ucsd by replace you mean embed the MachForm into the current contact form view?

[2017-01-11 23:24] dt-ucsd commented on #272
@mcritchlow Yeah.

[2017-01-11 23:25] mcritchlow commented on #272
@dt-ucsd - OK cool. I think that's worth trying out, and then they'll get the benefit of having submissions available in the Mach Form system. Could you create a PR for this, and perhaps attach a screenshot as well in advance so @gamontoya can get an idea for what the UI will look like?

[2017-01-11 23:30] dt-ucsd commented on #272
Sure thing.

[2017-01-12 00:05] dt-ucsd commented on #272
![dc-contact-form-mf](https://cloud.githubusercontent.com/assets/2448340/21871551/b5bb8b58-d817-11e6-87d2-a568a872b7b7.png)

attn: @gamontoya

[2017-01-12 00:27] hweng commented on #269
@arwenhutt While waiting for them, I think I can look into their data model and expression and try to create the sample output records.  As they are expertise with their data model but may not know our dams data structure.
Does it sound good to you? And Please let me know what records you would like me to try.

[2017-01-12 02:26] arwenhutt commented on #269
Sure, I think that would be great.  I don't have a particular record in mind, you can browse through the RDCP Collection records and pick one out that looks fairly complete, that should be fine.

[2017-01-12 18:18] gamontoya commented on #272
@dt-ucsd Thanks David. Please move forward with this. I happen to love CAPTCHA!

[2017-01-12 19:28] gamontoya commented on #271
@VivianChu @mcritchlow This has been tested and working. How soon can we push this out to prod? Today? Tomorrow?

[2017-01-12 19:36] mcritchlow commented on #271
@gamontoya - @VivianChu is setting up a deploy ticket now and we'll ask OPS to deploy as soon as they can.

[2017-01-12 21:44] gamontoya commented on #271
@mcritchlow Thanks. Should I let John know we want it in by tomorrow morning?

[2017-01-12 22:43] VivianChu commented on #271
@gamontoya John is planning to deploy it service window tomorrow.

[2017-01-13 01:09] lsitu commented on #265
@mcritchlow Suggested by Gabriela, I've created [PR](https://github.com/ucsdlib/damsmanager/pull/124) to rename the servlet to statsCollectionObjects.do and rename report title to "Object/Collection Hits by Month" and "Object/Collection Downloads by Month" respectively for collection items hits/downloads statistics.

[2017-01-13 18:35] hweng opened #274 "Delete records from SHARE db"
From: Yoo, Ho Jung
Sent: Monday, January 09, 2017 1:19 PM
To: Montoya, Gabriela; Hutt, Arwen; Weng, Huawei
Subject: FW: two records to delete

Hi Gabriela and Huawei,
Just following up to see if you’ve got this covered? At the SHARE meeting last month, I brought up the need to delete a few of our records, and the two below were the only ones I could dig up at the moment. I think there was a third

[2017-01-13 21:04] #265 closed

[2017-01-13 21:35] mcritchlow commented on #272
@dt-ucsd are you going to be able to get a PR up for this today? We're trying to wrap up the Sprint and wondering if we'll be able to cut a release for the DC app. Thanks.

[2017-01-14 00:35] dt-ucsd commented on #272
@mcritchlow I will get this PR up momentarily.

[2017-01-14 00:50] dt-ucsd commented on #272
Pull request made. Find it here:

https://github.com/ucsdlib/damspas/pull/275

[2017-01-14 00:52] dt-ucsd commented on #272
Another note, I added a static contact form "success" page to the app. That is so we can redirect MF there if need be.

[2017-01-17 16:14] mcritchlow commented on #272
@ucsdlib/developers - please review

[2017-01-17 16:18] mcritchlow commented on #264
@arwenhutt @lsitu - I was out during this dialog, but I'm curious what the status of this ticket is? Is there work needed still?

[2017-01-17 17:26] lsitu commented on #264
@arwenhutt Do you want me to disable the submitted button once it's been clicked as the action for this ticket for now?

[2017-01-17 18:45] mcritchlow opened #276 "Temporarily disable AccessLint CI from running against PR's"
It looks like the service is consistently timing out via CircleCI. Until we have time to sort that out, I don't want to block PR's that pass their test suite.

Please comment/out or otherwise disable the [service](https://github.com/ucsdlib/damspas/blob/develop/circle.yml#L37-L43) and [installation](https://github.com/ucsdlib/damspas/blob/develop/circle.yml#L23-L24)

[2017-01-19 23:16] hweng commented on #274
The delete requests for the two records were successful that got the correct response. But it still shows from OSF website UI.
Just talked to osf developer Lauren about it that she said It will take some time to get through the queue. So I will check their website later.

[2017-01-23 17:57] hweng commented on #274
Checked that the record is deleted by search: https://share.osf.io/discover?q=%22San%20Diego%20History%20Center%20Oral%20Histories%22

Currently, if go directly to the record it will still display (https://share.osf.io/creativework/4622F-3EC-CC5) , this is what the SHARE system current design, according to @laurenbarker,  they are in the process of deciding how a deleted record should look.

[2017-01-23 18:19] hweng commented on #268
The updates for the SHARE gem, the purpose for the version 2 support is to encapsulate the complicity for creating and serializing the Graph and Graph Nodes in the SHARE gem, which is conforming to the SHARE version 2 API .
1. Adding modules to create and serialize the Graph and GraphNodes.
2. Adding linked relationship between Graph Nodes, have been in the discussion with SHARE developer what rel

[2017-01-25 00:30] hweng commented on #268
@mcritchlow  The support for SHARE API 2 has been pushed to share_notify/update_v2 branch: https://github.com/projecthydra-labs/share_notify/commit/fd2cc1ade1702cc2093779c1ffd1e989df2060b1

It is not finished yet, I will work on the tests and wait for the inputs from Donald Brower, from University of Notre Dame.

[2017-01-25 20:45] #276 closed

[2017-01-25 23:07] #272 closed

[2017-02-01 22:01] arwenhutt commented on #264
There were two parts of the ticket:
-     The source of this problem should be identified to prevent future duplicate ingests
-     The duplicated items should be deleted (preferably those that did not tile)

For the first, yes, as we discussed in December, IMO (so you know, if someone disagrees, please say) it doesn't make sense to allow multiple submissions of the form/ingest set.

For the secon

[2017-02-01 22:24] lsitu commented on #264
@arwenhutt Do you have the list of duplicated items for me to delete?

[2017-02-01 22:33] hjsyoo commented on #269
@hweng @arwenhutt Re: Source and Publisher/DataProvider for DAMS records, I'm proposing the following values:
Source = UC San Diego Library
Data provider = UC San Diego Library Digital Collections.

Does this work?

[2017-02-02 05:02] hweng commented on #269
@hjsyoo Yes, It looks fine to me. Currently for SHARE API V1, publisher = "UC San Diego Library, Digital Collections", but there is no source and Data provider fields.

[2017-02-02 16:52] hjsyoo commented on #269
@hweng Publisher is fine - it'll map correctly to their schema. I think we only asked that the Publisher be relabeled as "Data Provider". But if the records don't have a Source value, then we won't be able to call up the DAMS records by Source=UC San Diego Library. Do you think Source is something they assign on their end when receiving records? If so, I can submit the request to SHARE.

[2017-02-02 18:07] hweng commented on #269
@hjsyoo I think the Source=UC San Diego Library. need to be included in the JSON data we pushed to SHARE API, currently their system doesn't assign on their end when receiving records.
But I think It would be easy to incorporate the source field when push the records to SHARE.

[2017-02-02 18:15] hjsyoo commented on #269
@hweng That would be great. Thanks!

[2017-02-06 16:25] mcritchlow commented on #274
Marking as closed per @hweng's last comments

[2017-02-06 16:25] #274 closed

[2017-02-09 00:38] mcritchlow commented on #245
Planning will continue in the LiSN page that is now dedicated to tracking the work for this phase of the project

[2017-02-09 00:38] #245 closed

[2017-02-09 17:26] lsitu commented on #264
@arwenhutt I am adding support to disable the submit button once it's being click now. Do you have a list of duplicated records for me to clean up? Thanks.

[2017-02-10 18:07] lsitu commented on #264
@arwenhutt I've updated damsmanger to disable the Submit once it's clicked (See https://github.com/ucsdlib/damsmanager/pull/132). Please let me know if we are ready to clean it up. Thanks.

[2017-02-14 22:15] mcritchlow opened #278 "Sync from Prod to QA"
In preparation for the upcoming subject conversion, we need to get the QA environment directly in line with Prod, include data, indexes, packages, etc.

To Do:

- [ ] Disabled the QA bamboo plans for damsrepo, damsmanager, damspas, damspas private_config, and config
- [ ] Update all packages/dependencies to match production (e.g. ImageMagick, FFMpeg, ..)
- [ ] Sync Solr index from prod to qa
- [ ]

[2017-02-15 17:57] rstanonik commented on #278
Can I do a filestore sync now, so that it will be smaller and faster on the conversion date?
Same for solr, can I replicate from prod now, so smaller and faster later?
Are you ready for me to disable QA deployment for damsrepo and damsmanager now?
I assume John can deal with damspas deployment.

[2017-02-15 18:25] lsitu commented on #278
@rstanonik Yes. I think we can do the syncs in any order for filestore, solr and the triplestore. And we can just disable QA auto deployments for damsrepo and damsmanager at anytime. Thanks.

[2017-02-15 18:27] mcritchlow commented on #278
@rstanonik - I agree w/ @lsitu . If you can start updating QA to match Prod now it would be great and, as you said, shorten out sync times when we're ready to start testing.

[2017-02-15 18:39] rstanonik commented on #278
I disabled the QA bamboo plans for damsrepo, damsmanager, damspas, damspas private_config, and config.

[2017-02-15 18:42] mcritchlow commented on #278
@rstanonik - Thanks! I've updated the ticket description to note that and marked it done.

[2017-02-15 18:43] rstanonik commented on #278
QA and staging use the same filestore.
Still okay if I start syncing it from prod?

[2017-02-15 18:46] mcritchlow commented on #278
@rstanonik - That might be a problem. One of the mail goals in this effort is to keep staging free so @ucsdlib/domm can continue work on testing ingest of new collections. Do we have space for QA to have its own filestore? This can be temporary if needed, as we'll really just need it for this project.

[2017-02-15 18:48] rstanonik commented on #278
Yes, we have space.
I'll let you know when it's copied (estimate five days).

[2017-02-16 02:01] gamontoya commented on #264
@arwenhutt This too should be verified by you on staging preferably by Monday at the latest.

[2017-02-16 02:23] arwenhutt commented on #264
Ugh, sorry guys, missed all the comments posted after mine on Feb. 1.  I think I need to adjust some settings because I appear to be getting notifications on lots of issues that I'm not involved in and I loose the wheat in the chaff.  I'll try to look at this tomorrow (thought it's a full day) or Friday.

[2017-02-16 22:49] hweng commented on #269
@arwenhutt  I've created an example output record which conforms to SHARE V2 schema:
 to_share_bb7305352v
https://gist.github.com/hweng/81bbd50513895f09b9b93003e921a5a4

Let me know if it looks right to you or do we want to ask SHARE developer to verify it?

[2017-02-21 17:17] mcritchlow opened #279 "R&D: Solr solution for subject conversion"
Problem: The upcoming subject conversion project is going to require a complete re-index of everything in Solr. In the past, we've seen this take weeks and negatively impact the application performance for end users.

To Do: Evaluate, test, and recommend a solution to this issue. This could be using Solr replication, or another means for shielding the public from the heavy batch updates.

Environm

[2017-02-21 17:43] mcritchlow commented on #278
@rstanonik did the sync/copy finish?

[2017-02-21 18:22] mcritchlow commented on #279
@rstanonik @jhriv @lsitu @tmarconi

Adding in our email discussion below, can we carry it forward in this ticket?

[code]

[2017-02-21 19:00] lsitu commented on #279
@rstanonik It looks like we still have SOLR 4 on prod. Do we have any plans to change it to use SOLR 5?

[2017-02-21 20:04] lsitu commented on #279
@mcritchlow @rstanonik I think using Solr replication sounds doable. But we may need to move the damsolrizer to another server instead of running it on the same server (lib-hydrahead-prod) along with the hydrahead app (damspas ), and setup a master server for damsolrizer to update indexes. This may require us to deploy two copies of damspas code base, one for the damspas, and the other for damsolr

[2017-02-21 20:26] mcritchlow commented on #279
@lsitu I suspect you're right on that, given the dependency/coupling between damsolrizer and the codebase as a whole. Doesn't feel ideal, perhaps it's our best option at the moment?

[2017-02-21 20:37] rstanonik commented on #279
Hi Longshou,
Sorry, I keep overlooking that.
I’m out Thursday, so I’ll try to do it early next week.
Ron

From: lsitu [mailto:notifications@github.com]
Sent: Tuesday, February 21, 2017 11:01 AM
To: ucsdlib/damspas <damspas@noreply.github.com>
Cc: Stanonik, Ronald <rstanonik@ucsd.edu>; Mention <mention@noreply.github.com>
Subject: Re: [ucsdlib/damspas] R&D: Solr solution for subject conversion (#27

[2017-02-21 21:17] lsitu commented on #279
@rstanonik Thanks. We may need @jhriv's help to update and deploy [env-variables](https://github.com/ucsdlib/env-variables/blob/master/group_vars/DHH/vars.yml#L99) for it once we are ready to move to SOLR 5.

[2017-02-21 21:25] lsitu commented on #279
@rstanonik What's your thought regarding setting up the master-slave SOLR like that on prod, see @mcritchlow's [#issuecomment-281469515](https://github.com/ucsdlib/damspas/issues/279#issuecomment-281469515)?

[2017-02-21 21:46] jhriv commented on #279
https://github.com/ucsdlib/env-variables/compare/feature/solr5-prod?expand=1

[2017-02-22 02:18] gamontoya commented on #264
@mcritchlow I approved the deploy to DAMS Manager, but I wasn't able to fully vet this because I couldn't replicate hitting the "submit" button twice and I tried many times.

[2017-02-22 02:55] lsitu commented on #264
@gamontoya For this new release, yes you won't be able to hit the submit button twice. And for the earlier version, I think you may if the progress report bar delays to be showing up after you click the submit button.

[2017-02-22 19:34] mcritchlow commented on #279
@lsitu - Similar to your updated diagram in the Solr5 ticket, would you mind attaching a proposed diagram into this ticket that would reflect Solr replication solution we've been discussing? Might help everyone to have a visual for further discussion and testing.

[2017-02-22 19:38] arwenhutt commented on #264
[CCDB_Duplicates.txt](https://github.com/ucsdlib/damspas/files/794611/CCDB_Duplicates.txt)

@lsitu I'm attaching a list of duplicate objects to be removed.

[2017-02-22 20:02] arwenhutt commented on #269
@hweng I think it would be good to get them to verify, I'm not sure enough about the use of ThroughTags and name/role structures.

A few other things I noticed in the meantime:
-  @type should be "DataSet" for bb859c88-e309-4d51-aaf3-39f9ec39f97e (mapping line 2)
- it looks like description note (mapping line 6) and doi (mapping line 8) are missing
- The DAMS encoding for the funding note needs up

[2017-02-22 20:23] stanonik commented on #278
Yes, the rsync finished.
I'm changing the mounts and copying some other files (assets?  opaque?) from staging to a qa mount.
Juliana is copying the triplestore now.
If QA isn't ready this afternoon, it will be on Friday.
(I'm out Thursday.)

[2017-02-22 21:30] lsitu commented on #279
@mcritchlow I've updated the ingest diagram for the SOLR replication solution, it's in lucidchart and we can update it for the changes we need: https://www.lucidchart.com/invitations/accept/79e9127b-d510-4cf2-81f4-189b4be11376
It seems like adding the slave solr to lib-hydrahead and deploy the damsolrizer to lib-hydratail could fit into our current architecture well.

Here is the jpeg version:
 ![

[2017-02-22 22:12] jgorney commented on #278
The triplestore db tables (dams_triples and events_triples) have been sync'd from prod to QA.

[2017-02-22 22:16] rstanonik commented on #278
QA was mounting other staging space (assets, opaque, and zoomify), so to keep QA from overwriting those spaces, I'm making copies for QA.  Then I need to make sure the QA config files don't reference staging for solr and other things.

[2017-02-22 22:18] mcritchlow commented on #278
Sounds great, thanks @rstanonik

[2017-02-22 23:52] rstanonik commented on #278
QA is up, except it is still using staging zoomify tiles because those take time (maybe days) to copy.
I'll let you know when I have an estimate of the time to copy.
Copied from production (localstore, solr, triplestore, assets, opaque).

[2017-02-23 01:35] lsitu commented on #264
@arwenhutt Thanks. I've deleted all 50 objects listed in the attached file CCDB_Duplicates.txt. We should have total 471 CCDB objects now, http://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Cell+Centered+Database&id=bb5940732k. Could you take a look?

[2017-02-23 19:36] gamontoya opened #280 "Delete duplicate object"
Permanently delete a the following duplicated object (ingested twice erroneously).
- bb71688450

[2017-02-23 20:18] lsitu commented on #280
@gamontoya It looks like I can only find only one object with title "Le philosophe indifferent" or bib number b3396889, which is binding to object http://library.ucsd.edu/dc/object/bb71688450. Could you confirm the deletion?

[2017-02-24 16:55] rstanonik commented on #278
Copy of prod zoomify for QA is about 16% done, so estimate another ten days.
It takes time to copy 40 million files.

[2017-02-24 20:00] gamontoya commented on #280
Confirming that you delete http://library.ucsd.edu/dc/object/bb71688450 entirely. The correct image is bound to a different bib number.

[2017-02-24 21:28] lsitu commented on #280
@gamontoya I've deleted object http://library.ucsd.edu/dc/object/bb71688450, and it should be gone now.

[2017-02-24 22:18] mcritchlow opened #282 "Clean up old form code"
### Descriptive summary

@VivianChu noticed that while we have replaced the contact form with an embedded MachForm, we haven't really cleaned up after the old form.

### Expected behavior

Should remain as-is, but all code, DB migrations/table, gem for the old form should be removed.

### Related work

#275

[2017-02-24 22:59] arwenhutt commented on #264
This looks good, thanks @lsitu

[2017-02-24 22:59] #264 closed

[2017-02-24 23:19] lsitu commented on #279
@ucsdlib/operations Do you have any suggestions on implementing the [master-slave SOLR](https://github.com/ucsdlib/damspas/issues/279#issuecomment-281810435) solution above on QA to test it out? Please feel free to update the ingest diagram if you see something else works better. Thanks.

[2017-02-25 02:12] gamontoya commented on #280
@lsitu Thank you!

[2017-02-25 02:12] #280 closed

[2017-02-27 21:51] lsitu commented on #279
@rstanonik Anything else do you expect me to help on setting up the master-slave SOLR model on QA? Please let me know if we are ready to test it out. Thanks.

[2017-02-27 22:43] rstanonik commented on #279
I installed a slave solr 5 on lib-hydrahead-qa, which syncs from the master solr 5 on lib-hydratail-qa.
It syncs every minute.

According to your diagram, two things need to change.

1) John or someone needs to change the environment variable APPS_DHH_QA_SOLR_URL on lib-hydrahead-qa, so that it points to solr on lib-hydrahead-qa, rather than lib-hydratail-qa.

2)damsolrizer needs to be installed o

[2017-02-27 23:06] lsitu commented on #279
@rstanonik Yes. It's exactly like what the diagram expects.
For step 1, we may need to restart the hydrahead (damspas) once environment variable APPS_DHH_QA_SOLR_URL is updated to lib-hydrahead-qa. And for 2, we may need to deploy [env-variables](https://github.com/ucsdlib/env-variables) and [damspas](https://github.com/ucsdlib/damspas) to lib-hydratail-qa.

I think we had better finish step 2 fir

[2017-02-27 23:15] rstanonik commented on #279
The env-variable APPS_DHH_QA_SOLR_URL deployed to lib-hydratail-qa should point to lib-hydratail-qa so that damsolrizier updates the master solr on lib-hydratail-qa, correct?

And the env-variable APPS_DHH_QA_SOLR_URL deployed to lib-hydrahead-qa should point to lib-hydrahead-qa so damspas access the slave solr.

Maybe there should be two env-variables APPS_DHH_QA_SOLR_MASTER_URL and APPS_DHH_QA_S

[2017-02-27 23:50] lsitu commented on #279
@rstanonik Yes. But it may not be straight forward to have two parameters like APPS_DHH_QA_SOLR_MASTER_URL and APPS_DHH_QA_SOLR_SLAVE_URL for environment variable APPS_DHH_QA_SOLR_URL. I am not sure whether we can just simply make it through local configuration (something like the vault values for credentials) or we have to create another environment variable to deploy it, something like qa_solr_m

[2017-02-28 17:46] mcritchlow opened #283 "Remove Code Climate"
### Descriptive summary

Please update our CI and test configurations as needed to remove Code Climate reporting, replacing it with Coveralls and Hound CI. See related work below for reference.

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is a new feature or significant change to the existing implementation.

### Expect

[2017-03-01 16:53] lsitu commented on #279
@jhriv @rstanonik What's your plans for configuring the master/slave solr for damspas on lib-hydratail-qa and lib-hydrahead-qa? Thanks.

[2017-03-01 17:42] jhriv commented on #279
Since any DHH needs to talk to one and only one SOLR, there is one and only one SOLR url environmental variable. https://github.com/ucsdlib/env-variables/pull/11 adds the feature to override a variable per-host, which is how we can get DHH on head to use a different SOLR url than DHH on tail.

[2017-03-02 18:23] rstanonik commented on #279
QA damspas is now using solr slave on hydrahead, which sync's every minute from solr master on hydratail.
John is working on creating ansible playbook

[2017-03-02 23:04] hweng commented on #269
@arwenhutt  I talked with SHARE developer Abram Booth today, and he helped to validate our output example.
Most of our JSON output looks fine to him. He pointed out a few issues and I made correction to them.

For your last comments:
#1. Verified with Abram that it is correct, "DataSet" is just the label name in the schema page. In actual JSON, it should starts with {"data": {"type": "NormalizedDa

[2017-03-03 16:18] mcritchlow commented on #279
Was this supposed to be closed @rstanonik @lsitu ?

[2017-03-03 16:23] rstanonik commented on #279
No, I started a comment, but then decided not to comment and closed the comment, I guess I closed the issue.

[2017-03-03 17:43] lsitu commented on #279
@rstanonik Are we ready to test the master/slave SOLR sync now or not?

[2017-03-03 17:52] rstanonik commented on #279
No, I need @jhriv to deploy damspas to lib-hydratail-qa, so damsolrizer can run there

[2017-03-03 18:07] jhriv commented on #279
My understanding, damsolarizer is part of DHH, which heaven deploys. Is there a heaven plan to deploy DHH to lib-hydratail-qa? If not, what project should that issue be opened on?

@ucsdlib/developers

[2017-03-03 19:50] hweng commented on #269
@arwenhutt And For otherNote_json_tesim value for "type":"related publications"(mapping line 29), to related_works/@type='workrelation'.  I'm not clear how to express it according to SHARE schema yet. Does it require the link to parent node like what the related_agent, through_tag does? Does it require the link to IDs existing in the SHARE database? And if it is the external link, what the structu

[2017-03-03 21:00] lsitu commented on #279
@jhriv @rstanonik I don't think we have other tickets setup for this master/slave SOLR solution but set it up to make it work here. I can work on anything that you think it's needed for you to deploy DHH to lib-hydratail-qa. We have the following configuration in damspas for DHH QA deployment at this time: https://github.com/ucsdlib/damspas/blob/develop/config/deploy/qa.rb.

Will it work if I add

[2017-03-03 21:07] rstanonik commented on #279
@jhriv Comparing with lib-hydrahead-qa, I don't see any special firewall or authorized_keys entries, but I wasn't involved after the switch to circleci(?).

I created /pub/capistrano and make conan.conan the user and group owner, although maybe you want that creation in ansible too.

[2017-03-03 21:15] jhriv commented on #279
@VivianChu Do we need to make a new deploybot stanza for DHH on lib-hydtatail-qa?

[2017-03-03 21:46] VivianChu commented on #279
@jhriv - if you use the command "deploybot deploy damspas to qa", it will deploy to lib-hydrahead-qa

https://github.com/ucsdlib/damspas/blob/develop/config/deploy/qa.rb#L3

We can change that line in qa.rb to deploy to lib-hydratail-qa

[2017-03-03 21:51] jhriv commented on #279
@VivianChu We now need it on both, though.

[2017-03-03 21:55] VivianChu commented on #279
@jhriv - I think we can create another deploy file like qa.rb in damspas and add that environment to deploybot.

[2017-03-03 21:56] jhriv commented on #279
@VivianChu   Is there any way to get it to deploy to both? Like perhaps loop over a list of hosts in the QA environment?

[2017-03-03 21:58] rstanonik commented on #279
Or can the damsolrizer piece become a separate deploy?

[2017-03-03 21:58] jhriv commented on #279
Which would also have to go to both

[2017-03-03 22:01] VivianChu commented on #279
@jhriv - we can try %w{server1 server2 server3}  in that qa.rb to deploy to multiple server

[2017-03-03 22:02] jhriv commented on #279
@VivianChu sounds good to me.

[2017-03-03 22:10] rstanonik commented on #279
damsolrizer only runs on lib-hydratail-qa now

[2017-03-03 22:12] lsitu commented on #279
@rstanonik That's great! What changes we need for the deployment?

[2017-03-03 22:36] rstanonik commented on #279
@lsitu Sorry, I meant to say "damsolrizer will only run on lib-hydratail-qa", after John/Vivian deploy damspas to lib-hydratail-qa.

[2017-03-03 22:42] lsitu commented on #279
@VivianChu Should we update the qa.rb for damspas now to give it a try? It looks like adding another line for server like "server 'lib-hydratail-qa.ucsd.edu', user: 'conan', roles: %w{web app db sitemap_noping}" is worth us to try too if it doesn't work with %w{server1 server2 server3}.

[2017-03-03 22:45] VivianChu commented on #279
@lsitu - Yes, we should give it a try.  Do you want to make that change? Or you want me to do it?

[2017-03-03 22:48] lsitu commented on #279
@VivianChu Are you convenient to do it? Thanks.

[2017-03-03 22:59] VivianChu commented on #279
@lsitu I made that change in the branch.  Are we ready to deploy it both servers now? I can run the deploy command if we're ready.

[2017-03-03 23:04] lsitu commented on #279
Thanks @VivianChu.
@jhriv @rstanonik Would you like us to test it on QA now?

[2017-03-03 23:17] jhriv commented on #279
:+1: yes, please do

[2017-03-03 23:18] jhriv commented on #279
With this change, damsolarizer, which is part of DHH, will run only on hydratail now?

[2017-03-03 23:23] lsitu commented on #279
Yes. We should remove the damsolarizer on hydrahead and start it on hydratail. Is damsolarizer restarted by the bamboo at this time?

[2017-03-03 23:40] lsitu commented on #279
@VivianChu It looks like you've got damspas deploy on lib-hydratail-qa! I see the damspas repository is created there on /pub/capistrano.

[2017-03-03 23:44] VivianChu commented on #279
@lsitu - I will make a PR to merge this change.

[2017-03-03 23:47] jhriv commented on #279
https://github.com/ucsdlib/env-variables/pull/15 has been deployed, things probably work now.

[2017-03-04 00:00] rstanonik commented on #279
John got damsolrizer running on lib-hydratail-qa!

[2017-03-04 00:27] lsitu commented on #279
I just tested it on QA to index a couple of records and it works! Thanks @jhriv, @rstanonik and @VivianChu for working it out so nicely!

[2017-03-06 17:33] rstanonik commented on #278
zoomify finished syncing yesterday.
QA is now using its own copy of zoomify on libraryqa and lib-ingest-qa.
The other servers don't mount a zoomify share.

[2017-03-07 02:27] gamontoya opened #286 "DAMS 4 Data Sync - Sprint 5, 2017"
### Descriptive summary

- Requesting a DAMS data sync from Production back to the **Test** environment
- This should include the triplestore, Solr, filestore, etc.

[2017-03-07 02:32] gamontoya commented on #286
@rstanonik I could assign to Juliana as well because Matt needs to add her to our github repos.

[2017-03-07 16:10] rstanonik commented on #286
I'm syncing solr and the filestore from prod to staging.
Juliana is syncing the triplestore.
I'll give you an estimate of the time for the filestore sync after it has run for a while.

[2017-03-07 16:35] rstanonik commented on #286
solr sync finished.
filestore sync is 68% done, estimate another half an hour.

[2017-03-07 16:51] jgorney commented on #286
The triplestore data is sync'd, just waiting for indexes to build.

[2017-03-07 17:06] rstanonik commented on #286
The filestore sync finished.
I guess not much changed since the last sync.

[2017-03-07 17:26] gamontoya commented on #286
@rstanonik That was fast. Thanks Ron!

[2017-03-07 17:28] #286 closed

[2017-03-07 21:23] hweng commented on #269
@arwenhutt, @hjsyoo I got it pushed to SHARE Staging V2 successfully, Let me know if it looks fine to you:
https://staging-share.osf.io/creativework/4605A-898-E37

[2017-03-08 01:22] hjsyoo commented on #269
@hweng For Resource Type, can we assign all RDCP collections the value, "Data Set"? @arwenhutt Should we be including the Funding note, if it exists for a collection? This example happens to have one, but since it's not in any sort of standard format, I'm not sure how easy it is to do.

[2017-03-08 01:26] hweng commented on #269
@hjsyoo This example don't have Funding note, because in solr it doesn't have otherNote_json_tesim value for "type":"funding".  Do you know any collection record have "type":"funding" ?

[2017-03-08 17:27] hjsyoo commented on #269
@hweng The only DAMS record I'm able to find at https://staging-share.osf.io/ is the one you gave, https://staging-share.osf.io/creativework/4605A-898-E37. This one has a funding note.

[2017-03-08 19:40] hweng commented on #269
@hjsyoo Thanks, you are right. I checked that this is because I got an out-of-dated bb7305352v which have the "type":"note" instead of "type":"funding":
<img width="1192" alt="screen shot 2017-03-08 at 11 23 47 am" src="https://cloud.githubusercontent.com/assets/2432753/23720357/5efc0312-03f3-11e7-96c1-3b814c47eab2.png">

I will reload the record into my localhost and reindex and map it to SHARE.

[2017-03-09 18:17] hweng commented on #269
@hjsyoo, I've updated mapping to add "extra": {"funding": "Doctoral Dissertation........"}, And I pushed it to SHARE V2 staging again.
https://gist.github.com/hweng/81bbd50513895f09b9b93003e921a5a4,
The JSOn output looks fine to me according to SHARE V2 schema, but I don't know why The SAHRE interface doesn't show extra field. I will pin this issue to their developer.

[2017-03-09 18:53] gamontoya opened #287 "Make dams:license display publicly"
### Descriptive summary
Make CC licenses display in the object's metadata view.

### Rationale
Ho Jung noted that the CC licenses to RDCP objects are not being displayed. If you log in to curator, it is displayed. Ryan thought that inserting dams:Permission=display in the RDF would solve the issue, but it did/does not.

`<dams:permission>`
    `<dams:Permission>`
       `<dams:type>display</dams:t

[2017-03-09 18:54] gamontoya commented on #287
@mcritchlow Can you assign to Longshou for when he's back from Code4Lib?

[2017-03-09 19:15] lsitu commented on #287
@gamontoya Can you show me an example that is in question? Thanks.

[2017-03-09 19:16] gamontoya commented on #287
@lsitu Yes, here is an example:
- http://library.ucsd.edu/dc/object/bb78857130

[2017-03-09 19:31] lsitu commented on #287
Thanks Gabriela. Yes, I see the weird issue with the license missing from the public view.

[2017-03-09 19:35] lsitu commented on #287
@gamontoya It looks like that license, statute, and other_rights are displayed for curator only. Would you like to just make license for public access but leave the other two for curator access only?

[2017-03-09 19:37] hjsyoo commented on #269
@hweng Ok, thanks for following through on this. Hopefully, the additional funding note will mesh reasonably well with the other funding information SHARE has.

[2017-03-09 20:37] gamontoya commented on #287
@lsitu Do you have examples of objects that use statute and other rights?

[2017-03-09 21:26] lsitu commented on #287
@gamontoya I can't find any objects that use statute so I think we can just ignore it. Here is an example that has other rights:
http://library.ucsd.edu/dc/object/bb5257003c

[2017-03-09 22:18] mcritchlow commented on #287
FWIW, I believe this call was made in an (old) JIRA ticket: https://lib-jira.ucsd.edu:8443/browse/DHH-225 Reading back through that though, it seems odd that we chose to made the license note curator only.

Tagging w/ this Sprint milestone

[2017-03-10 00:13] #283 closed

[2017-03-10 00:24] remerjohnson commented on #287
Looking back through the archives, the `display` value for Permission might be misleading. From [DOMM's LiSN](https://lisn.ucsd.edu/display/DOMM/RightsAction%2CPermission%2C+Restriction+type+controlled+value+list), it seems to indicate `display` means UCSD-only, and is a separate notion from "visibility".

Unfortunately there are many old docs lying around and hard to tell which are definitive. I

[2017-03-10 01:15] mcritchlow commented on #287
@remerjohnson Those classes can impact the access control state of an object, but not the display (or visibility) of individual properties. The display of individual properties is [hard-coded](https://github.com/ucsdlib/damspas/blob/3bb7eb57c071b713f7c7ad27d37a1a30bc073c96/app/views/shared/fields/_show_raw.erb#L88-L92), so to speak, in the application. As @lsitu noted above, at the moment only cur

[2017-03-10 16:52] remerjohnson commented on #287
That gives me hope this can be solved easier than I expected. And also happy we'll have a better system for this soon.

[2017-03-10 17:08] #282 closed

[2017-03-10 21:48] lsitu commented on #287
@gamontoya @remerjohnson Do we need to add OtherRights note for public view or not? I think we have more than 5000 objects that have OtherRights which will override the object access, but only those metadataDisplay object will have a note like "Please contact Mandeville Special Collections & Archives at spcoll@ucsd.edu or (858) 534-2533 for more information about this object." that is displayed on

[2017-03-10 22:17] gamontoya commented on #287
@remerjohnson @arwenhutt Are there cases where the otherRights is private info?

[2017-03-10 22:22] gamontoya commented on #287
@lsitu Wouldn't this be an example of something we would **not** want to display publicly?

`<dams:otherRightsNote>Suppress public discovery</dams:otherRightsNote>`

[2017-03-10 23:04] remerjohnson commented on #287
@gamontoya @lsitu I didn't know we still had `otherRightsNote`... it wasn't in the [Access Override Mapping](https://lisn.ucsd.edu/display/DOMM/Access+Override+Mapping) so is out of sight/mind. Maybe other DOMM people would know more

[2017-03-10 23:41] GregReser commented on #287
We don't need to display otherRightsNote if it's something like  "Please contact Mandeville Special Collections..."  because we have contact info in "Digital Object Made Available By"

I bet most otherRightsNote values are not very useful and do not need to be displayed.

[2017-03-11 00:21] gamontoya commented on #287
@lsitu I agree with Greg so let's not display otherRights notes.

[2017-03-11 00:26] lsitu commented on #287
@gamontoya Sure. Do we need to remove otherRights notes from the curator view or leave it as is for now?

[2017-03-11 00:29] gamontoya commented on #287
@lsitu No. Please leave as is - curator view. Thanks.

[2017-03-11 00:54] lsitu commented on #287
Okay, I've created PR https://github.com/ucsdlib/damspas/pull/290 to make dams:license display publicly and leave otherRights as is in the curator view. Thank you all.

[2017-03-14 20:53] #287 closed

[2017-03-15 16:52] mcritchlow commented on #279
Nice job everyone! 👍

As an acceptance test to close this out, @lsitu and @gamontoya will coordinate a larger test in QA involving indexing a larger number of records and monitoring the DC application browsing experience. This will happen early next week.

[2017-03-15 17:44] hweng commented on #268
@mcritchlow I've wrapped up the support for SHARE push and GraphNode mapping for SHARE gem V2.  The unit and feature tests has been added and passed.  And we tested the real push is working fine too which we hooked up new gem with our local app:
https://github.com/projecthydra-labs/share_notify/commit/30feec1f15c4c890206d691065f49392fdec880c

Don mentioned to me his TODO list has a few more things

[2017-03-15 21:16] mcritchlow commented on #268
@hweng great, thanks for the update.

Yes if you can add this to the Icebox that would be great. Also, if/when Don creates a PR to get both of your changes in the gem, if you could like to that here it would be great for tracking.

Thanks!

[2017-03-17 19:05] mcritchlow commented on #278
Where are we on this ticket? @lsitu @rstanonik @jhriv It looks like the data syncing needs happened, but the deploy items on the checklist either haven't happened or haven't been marked as complete.

[2017-03-17 19:11] lsitu commented on #278
@mcritchlow I think it should be very closed now. @rstanonik @jhriv What else do we need to wrap up the ticket? Thanks.

[2017-03-17 19:19] jhriv commented on #278
env-variables are deployed. It looks like hydrahead-prod and hydratail-prod are using OS packages for ffmpeg and ImagMagick, so versioning should be consistent already.

[2017-03-17 19:55] mcritchlow commented on #278
@jhriv ok great, thanks. I checked the dependencies item then.

So I suspect then we just need Bamboo back up and running so that we can get dams manager and damsrepo deployed, and we could do damspas anytime?

[2017-03-17 20:46] mcritchlow opened #291 "Deploy damspas 1.69"
### Descriptive summary

Deploy version 1.69

### Related work

- [ ] #290 Display License publicly

[2017-03-20 17:00] lsitu commented on #291
@ucsdlib/domm We've deployed damspas 1.69 to staging. It's ready for review now. Since Gabriela is out today, could anyone review it? Please check the action for reviewing in the "Related work" section above  if it's ready for prod deployment. Thanks.

[2017-03-20 18:16] GregReser commented on #291
@lsitu I'll test it.

[2017-03-20 19:32] GregReser commented on #291
@lsitu #290 Display License publicly is resolved.
I checked several objects from different collection (as a public user) and the License value displayed correctly.
I didn't see any other problems during my tests.

[2017-03-20 19:34] lsitu commented on #291
Thanks @GregReser . Should we deploy it to prod?

[2017-03-21 16:26] lsitu commented on #279
@gamontoya @mcritchlow I've added more than 18,000 records to the queue for SOLR reindexing on QA, and some records are indexed and I am adding more records in SIO to the queue. I think it's ready for test now: http://libraryqa.ucsd.edu/dc. Thanks.

[2017-03-21 17:36] gamontoya commented on #291
@lsitu Approved for production. Thank you!

[2017-03-21 19:03] lsitu commented on #291
Thanks Gabriela.
@jhriv I've merged the changes on release/1.69 to the master branch. It's ready for prod deployment now. Thanks.

[2017-03-22 14:33] jhriv commented on #291
Deployed.

[2017-03-22 14:33] #291 closed

[2017-03-28 00:10] gamontoya commented on #279
@lsitu @mcritchlow I saw no slowness or lagging as I ran searches and navigated around on QA. I checked sporadically throughout the day.

[2017-03-29 18:35] #279 closed

[2017-03-29 18:45] mcritchlow commented on #278
@jhriv @rstanonik @lsitu - so with the successful testing of Solr replication in #279 I'd like to circle back on whether this QA environment is ready to go for the subject conversion. See my last comment, is that where we are at the moment?

[2017-03-29 19:06] lsitu commented on #278
@mcritchlow I think we should be ready for Subject Conversion now since @rstanonik and @jhriv already updated all components with SOLR indexing working nicely. Are we Okay to just deploy the apps from the develop branch?

[2017-03-29 19:51] mcritchlow opened #293 "Upgrade Nokogiri"
### Descriptive summary

Address security vulnerability:

https://gemnasium.com/github.com/ucsdlib/damspas

[2017-03-29 19:58] mcritchlow commented on #278
@lsitu Yep, I think deploying from develop makes sense for now. At some point we will likely lock it to master or specific release branches so we can mirror production. But 👍  on develop for now.

[2017-03-30 16:49] #293 closed

[2017-04-03 17:25] mcritchlow opened #295 "Release 1.7.0"
### Descriptive summary

Version: 1.7.0
Release Manager: @lsitu
Product Owner: @gamontoya
Operations: @jhriv

Addresses Nokigiri security vulnerability via #294

[2017-04-03 17:54] gamontoya opened #296 "Updates to Home Page"
### Descriptive summary

RDCP refers to “research data collections” as a category of content within the DC, but does not refer to Research Data Collections as a branding. We refer to the DAMS as, “UC San Diego Library Digital Collections”, both as publisher (in the context of data citations and DOI minting) and as a repository. But a user entering the DC from the homepage finds that the portal is

[2017-04-03 22:07] lsitu commented on #295
Hi Gabriela,
Release 1.7.0 for damspas is deployed to staging and it's ready for review now. Thanks.

[2017-04-03 22:11] gamontoya commented on #295
@lsitu Thanks. It can be deployed to prod.

[2017-04-03 22:20] lsitu commented on #295
Thanks Gabriela.
@jhriv I just merged the changes in release 1.7.0 to the master branch and it's ready for prod now. Thanks.

[2017-04-04 14:45] jhriv commented on #295
https://ucsdlibrary.slack.com/archives/G0N0H8LHF/p1491317057782794

Coveralls requirements are preventing deploy

[2017-04-05 14:40] jhriv commented on #295
Deployed to production.
https://ucsdlibrary.slack.com/archives/G0N0H8LHF/p1491402175993312

[2017-04-05 14:40] #295 closed

[2017-04-19 20:42] dt-ucsd commented on #296
Just noting as part of this work I updated old non-HTTPS links to use HTTPS.

[2017-04-19 22:16] dt-ucsd commented on #296
Here are some screenshots of the update:

**[Desktop]**
![dams-home-desktop-fullpage](https://cloud.githubusercontent.com/assets/2448340/25204542/cead4280-2512-11e7-9e64-62361c70c979.png)

**[Tablet]**
![dams-home-tablet-fullpage](https://cloud.githubusercontent.com/assets/2448340/25204544/ceb16356-2512-11e7-944a-fc129eb0e8fa.png)

**[Phone]**
![dams-home-phone-fullpage](https://cloud.githubuserco

[2017-04-19 22:19] dt-ucsd commented on #296
Note that I tweaked the design of the bottom half of the page to better suit the current content. I also used styles/colors that in line with the new PWS redesign. Opted for grays to help the featured background image pop a bit better than it used to against the blue.

[2017-04-19 22:29] dt-ucsd commented on #296
@gamontoya I just noticed that we have the "Currently totaling..." copy in two place on the home page (above the search bar and above the footer). Thoughts?

[2017-04-20 16:59] dt-ucsd commented on #296
Here is a screenshot of the different hover states (dark for hover):

![image](https://cloud.githubusercontent.com/assets/2448340/25242842/e854497a-25af-11e7-8ffd-6ad79f6b0355.png)

[2017-04-20 18:05] gamontoya commented on #296
This is fantastic! I like it very much David. Excellent work.

[2017-04-20 18:06] gamontoya commented on #296
@mcritchlow @dt-ucsd My thought is to get rid of the "Currently totaling..." from the bottom.

[2017-04-20 18:13] mcritchlow commented on #296
@gamontoya - yep, totally agree on removing the bottom entry.

[2017-04-20 21:27] gamontoya opened #297 "Search navigation not working"
### Descriptive summary

We have lost the ability to navigate through search results. There should be a search pager at the top of search results.

### Rationale

This was working in the past, so there must be a bug. People need to be able to navigate with the search pager instead of having to use their browser's back button.

### Expected behavior

- Search for "fish"
- Get search results
- Click

[2017-04-21 17:05] dt-ucsd commented on #296
Here is a screenshot of the home page with the "Currently..." container removed:

![image](https://cloud.githubusercontent.com/assets/2448340/25288335/d758afd8-2679-11e7-9375-b4e945a4b5b8.png)

[2017-04-21 17:06] dt-ucsd commented on #296
If it looks good let me know and I will submit a PR.

[2017-04-21 17:49] mcritchlow commented on #296
LGTM, but will of course let @gamontoya make the call

[2017-04-21 19:35] gamontoya commented on #296
@dt-ucsd Go for it!

[2017-04-25 15:55] #296 closed

[2017-04-25 16:18] mcritchlow opened #299 "Release 1.71"
### Descriptive summary

Version: 1.71
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

Homepage redesign via issue: #296 and PR: #298

[2017-04-25 18:58] mcritchlow opened #300 "Add rel=nofollow links to file downloads"
### Descriptive summary

Please add `rel=nofollow` to the download links for all files in damspas. See [1]

I believe this is defined in the _admin_download partial [2], but it would be worth making sure there aren't other links as well.

1. https://support.google.com/webmasters/answer/96569?hl=en
2. https://github.com/ucsdlib/damspas/blob/develop/app/views/dams_objects/_admin_download.html.erb

#

[2017-04-26 14:52] jhriv commented on #299
The `fatal: Not a git repository (or any of the parent directories): .git` error came up again. Removing the temp staging directory resolved it. Would it be feasible/possible top remove that directory before even trying to deploy be possible?

Second deploy succeeded
Restarted Solarizer

[2017-04-26 14:52] #300 closed

[2017-04-26 18:19] VivianChu commented on #299
@gamontoya - The new release has been deployed to staging.  Could you take a look?  Thanks

[2017-05-01 18:52] gamontoya commented on #299
@VivianChu Approved for prod.

[2017-05-01 19:41] VivianChu commented on #299
@jhriv - The release branch has been merged into the master branch. Could you please deploy it at your earliest convenient?  Thanks

[2017-05-01 21:43] hjsyoo opened #302 "Mint DOI button fix requests"
### Descriptive summary

Requesting several adjustments to Mint DOI button functionality under Curator Tools.

### Rationale

Our recent need for richer metadata exports to EZID is driven largely by an increasing integration of DataCite records with aggregation services, such as SHARE. Any metadata gaps must currently be edited manually in the EZID UI.

### Expected and Actual behavior

* Language

[2017-05-02 14:33] mcritchlow opened #303 "Upgrade dependencies"
### Descriptive summary

See: https://gemnasium.com/github.com/ucsdlib/damspas

### Rationale

Keep dependencies up to date.

[2017-05-02 16:46] VivianChu commented on #297
@gamontoya - Could you try again?  It's working fine now.  Thanks
![fishsearch](https://cloud.githubusercontent.com/assets/1864660/25628755/3ab3bfc8-2f1c-11e7-89bc-da1400ce9398.png)

[2017-05-02 17:03] gamontoya commented on #297
@VivianChu  @cgarciaspitz Thank you, Vivian. Confirming that the issue has been fixed.

[2017-05-02 17:04] #297 closed

[2017-05-03 01:00] mcritchlow opened #304 "completely https-ify damspas"
### Descriptive summary

There are several instances where we're still referring to http for damspas. We need to fix these and move to https. A few that I found. If there are others, please add here:

Sitemap: https://github.com/ucsdlib/damspas/blob/3bb7eb57c071b713f7c7ad27d37a1a30bc073c96/config/sitemap.rb#L2

Wowza: https://github.com/ucsdlib/damspas/blob/develop/config/environments/production.r

[2017-05-04 23:18] #304 closed

[2017-05-05 20:54] mcritchlow opened #306 "Disqus link should be https"
### Descriptive summary

Looks like we missed this one, reported by @GregReser

https://github.com/ucsdlib/damspas/blob/develop/app/views/dams_objects/_comments.html.erb#L3

### Rationale

We need to ensure we don't have any blocked content because of mixed origin. See #304

### Expected behavior

`http` disqus link should be `https`

### Actual behavior

Disqus is being loaded over `http`

### Re

[2017-05-06 02:09] #306 closed

[2017-05-10 15:55] gamontoya opened #308 "Permanently delete object"
### Descriptive summary

Per decision in conversation, please delete the following object:

https://library.ucsd.edu/dc/object/bb40300199

[2017-05-10 18:42] gamontoya commented on #308
Ho Jung reported this to me, and I didn't dig deep to notice that it is a consent form. How did this get in the DAMS to begin with?

I'd be more than happy to have this object deleted for now, or?

[2017-05-10 19:39] remerjohnson commented on #308
:+1: to delete

[2017-05-10 20:11] gamontoya commented on #308
Decision made to delete object.

[2017-05-11 19:50] #299 closed

[2017-05-11 21:55] hweng commented on #268
@mcritchlow  The PR is here: https://github.com/projecthydra-labs/share_notify/pull/12

[2017-05-12 20:32] mcritchlow opened #309 "Release 1.72"
### Descriptive summary

Version: 1.72
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

Note: This *may* also include a deployment of env-variables, though @jhriv noted a potential issue with SSL connections to Solr/Fedora(damsrepo). Perhaps this should not be in scope for these changes?

Testing for this should be fairly thorough, we've updated all http links to things li

[2017-05-12 22:20] VivianChu commented on #309
@gamontoya - The release has been deployed to staging.  Could you please review it?  Thanks

[2017-05-15 16:11] mcritchlow opened #310 "Update vulnerabilities"
### Descriptive summary

https://gemnasium.com/github.com/ucsdlib/damspas/alerts

[2017-05-15 21:24] VivianChu commented on #309
@gamontoya - John pushed the environment variables to staging.  Damspas is ready for review.  Could you take a look?  Thanks

[2017-05-16 02:35] gamontoya commented on #309
@VivianChu This version can be pushed to production.

[2017-05-16 16:18] VivianChu commented on #309
@jhriv - The release branch has been merged into the master branch.  Could you please deploy it to prod at your earliest convenient?  Thanks

[2017-05-24 16:11] #303 closed

[2017-05-25 20:35] #310 closed

[2017-05-30 15:46] mcritchlow commented on #302
moving to sprint 11

[2017-05-30 15:53] mcritchlow opened #313 "Dependency Upgrades"
### Descriptive summary

https://gemnasium.com/github.com/ucsdlib/damspas/alerts

### Rationale

Addressing vulnerabilities in dependencies.

[2017-05-30 16:55] mcritchlow commented on #302
@lsitu - @hweng noted this change would need to be made in damsrepo, and she ran out of time last Sprint to work on it. Could you please take a look in this Sprint when you can? Thanks.

[2017-05-30 17:43] mcritchlow commented on #309
This was done and deployed, right?

[2017-05-30 17:44] mcritchlow opened #314 "Release 1.73"
### Descriptive summary

Version: 1.73
Release Manager: @hweng
Product Owner: @gamontoya
Operations: @jhriv

Dependency updates only. No specific features/bugs to test.

[2017-05-30 17:46] jhriv commented on #309
I believe Ron S. deployed this one, yes.

[2017-05-30 17:47] mcritchlow commented on #309
Thanks @jhriv , going to close out then,

[2017-05-30 17:47] #309 closed

[2017-05-30 20:22] hweng commented on #314
@gamontoya The release has been deployed to staging. Would you review and approve it? Thanks!

[2017-05-30 20:53] gamontoya commented on #314
@hweng Approved for deployment to prod.

[2017-05-30 21:04] lsitu commented on #302
@mcritchlow Sure. I am looking into it now.

[2017-05-30 21:07] hweng commented on #314
Thanks @gamontoya.
@jhriv The release has been merged into master branch. It can be deployed to production after circleCI tests passed.

[2017-05-30 21:49] lsitu commented on #302
@hjsyoo Do you have an example of the converted XML that will be sent when minting the DOI, which includes the elements we need to change?

Per the description, it seems like that corresponding elements should be in the following format:
- Language code error (https://library.ucsd.edu/dc/collection/bb4473712z)
<title xml:lang="en-US">Southern Ocean Carbon and Climate Observations and Modeling (SOC

[2017-05-30 23:02] lsitu commented on #308
@gamontoya I've deleted the object https://library.ucsd.edu/dc/object/bb40300199 and it should be gone now.

[2017-05-30 23:35] gamontoya commented on #308
@lsitu Thank you.

[2017-05-30 23:35] #308 closed

[2017-05-31 14:37] jhriv commented on #314
Deployed.

[2017-05-31 14:37] #314 closed

[2017-06-01 23:04] hjsyoo commented on #302
@lsitu I'm not sure what would help you most. Is it an XML that EZID (I think) exports to DataCite? That might be this, for the SOCCOM example: https://ezid.cdlib.org/manage/display_xml/doi:10.6075/J0ZK5DMX. Although, this one is weird. It lists the Title twice, and it's missing the Geographic Subject, "Southern Ocean", which I must have failed to add to the record. On second thought, this record

[2017-06-01 23:30] lsitu commented on #302
@hjsyoo For the first issue "Language code error", could you try wether changing the Title Language to "en-US" works?

For the last issue, I don't know why you currently got "LastName, FirstName MI; LastName, FirstName MI (Year): ObjectTitle" since we submitted the [ObjectTitle] and [Creators] as independent elements. Could it be just the display issue from DataCite?
I can change the title and sub

[2017-06-05 17:37] lsitu commented on #302
@mcritchlow I've created branch [feature/doi_datacite](https://github.com/ucsdlib/damsrepo/compare/feature/doi_datacite) without lib-camel integration and added a commit to fix the datacite metadata issues. I think we can create a release branch with a deployment ticket and deploy it to staging for testing as we discussed earilier. Could you review commit https://github.com/ucsdlib/damsrepo/commit

[2017-06-05 17:45] mcritchlow commented on #302
@lsitu - looks good to me based on the info you have so far. Let's get this in staging as you noted for @hjsyoo to review 👍

[2017-06-05 17:50] lsitu commented on #302
@mcritchlow We need to tag it as release branch for the deployment as we did for damsmanager. What version could we use for this deployment?

[2017-06-05 19:22] mcritchlow commented on #302
@lsitu i think the next version of damsrepo is supposed to be 4.33 (per the most recent JIRA ticket I can find)

[2017-06-05 19:44] gamontoya opened #315 "Re-create and replace derivatives"
### Descriptive summary

Calisphere reports an issue with our access JPEG from the Spanish Civil War Stamp collection (_2.jpg is corrupted with byte stream format).

Re-create the derivatives for the following object:

- https://library.ucsd.edu/dc/object/bb9045517h.

### Note
Once this work is done, Gabriela will reharvest this collection for Calisphere.

[2017-06-05 19:59] hjsyoo commented on #302
@lsitu In response to your first question - yes, changing the Title Language to "en-US" can be done in the EZID UI without generating an error message. Regarding the second question, I'm not sure why Creators is involved, but yes, the title for https://library.ucsd.edu/dc/object/bb66239018 should be as you indicated. The EZID record is currently correct: https://ezid.cdlib.org/id/doi:10.6075/J0902

[2017-06-05 20:56] lsitu commented on #302
@hjsyoo It's good that changing the Title Language to "en-US" works since this could be coming from the xml:lang attribute in RDF element.
It seem like that the issue with those Creators prefixed to the title shouldn't be related since the Titles and the Creators are submitted as different elements. Let's test it out once we deploy the codes to staging to see whether it works as expected then.

[2017-06-05 21:07] lsitu commented on #302
@mcritchlow Yeah, the version should be 4.33 now and I've created the release branch for it. But release/4.32 includes lib-camel integration and I think we can rename it later if that causes any confusions.

[2017-06-05 21:10] hjsyoo commented on #302
Sounds good!

[2017-06-05 22:13] lsitu commented on #302
@hjsyoo I think it's ready for you test the Mint DOI function on staging https://librarytest.ucsd.edu/dc now. Thanks @jhriv for the manual deploying to staging.

[2017-06-06 20:35] gamontoya opened #316 "Delete duplicate collection level record and objects"
### Descriptive summary

Delete this stub collection level record and its attached 12 objects:

https://library.ucsd.edu/dc/collection/bb6657586q

- bb0718953w
- bb28008966
- bb52923763
- bb5292384j
- bb5770205w
- bb6009111t
- bb73401909
- bb7442575w
- bb7715606m
- bb8295816m
- bb8637127d
- bb9149065n

[2017-06-07 17:21] hjsyoo commented on #302
Hi @lsitu, I did some testing. Here are some actual and potential issues.
https://ezid.cdlib.org/id/doi:10.5072/FK21C21G9N (CalCOFI coll):
*  Collections (as for objects) should be assigned the value, "Dataset", for Resource Type General, not "Collection".
* The Subject, Scripps Insitution of Oceanography, has "[naf]" appended to it in the EZID record. This string isn't in the original collection

[2017-06-07 22:15] lsitu commented on #302
@hjsyoo Thank you very much for testing it out.
It looks like you've brought up some new issues. I am not sure whether it's better to continue work on this ticket or just open a new ticket so that we can wrap up this ticket quickly. But either way will be fine with me.

Here are some questions for the issues above:
https://ezid.cdlib.org/id/doi:10.5072/FK21C21G9N (CalCOFI coll):

- Collections (as

[2017-06-08 02:47] hjsyoo commented on #302
@lsitu, here are some responses. I'll need @arwenhutt's input for some of them.

https://ezid.cdlib.org/id/doi:10.5072/FK21C21G9N (CalCOFI coll):

Collections (as for objects) should be assigned the value, "Dataset", for Resource Type General, not "Collection".
*Question: Are we going to use "Dataset" for all collections, or RCI collections only?
*HJ: It's probably safe to use for all collections,

[2017-06-08 19:28] arwenhutt commented on #302
2. Yup, [naf] is the vocabulary the subject/name was taken from.  I think it would be very safe to just ignore the subjectScheme attribute for all subjects.  I would be very surprised if those value would be at all useful to DataCite (or other downstream harvesters) and seem more likely to confuse readers.

5. Yes, I agree it sounds good to push both `dams:Note[dams:type='description']` and `dams:

[2017-06-08 19:36] #313 closed

[2017-06-08 23:02] lsitu commented on #302
Thanks @arwenhutt and @hjsyoo.
@hjsyoo Do you have an example for # 5 that we can use for test?

[2017-06-09 15:37] lsitu commented on #302
@mcritchlow I've added a commit to update the stylesheet to address those five new issues that @hjsyoo brought up in [#issuecomment-306983031](https://github.com/ucsdlib/damspas/issues/302#issuecomment-306983031) above. It's ready for review now. See commit
https://github.com/ucsdlib/damsrepo/commit/2a7846ebd6a6d3752a204729ffa9ba4550f8cac6
We need @jhriv to deploy it to staging for @hjsyoo to test

[2017-06-09 16:05] lsitu commented on #302
@jhriv I've merge it to the release/4.33 branch for damsrepo. Could we deploy damsrepo release/4.33 to staging? Matt is out sick today and we had better have @hjsyoo to test it on staging before the end of the sprint today. Thanks.

[2017-06-09 16:09] hjsyoo commented on #302
@lsitu Do you still need an example for #5? If so, the collection, https://library.ucsd.edu/dc/collection/bb6282674b, has the ezid record, https://ezid.cdlib.org/id/doi:10.6075/J0P26W1T.

[2017-06-09 16:14] lsitu commented on #302
Thanks @hjsyoo.

[2017-06-09 16:16] hjsyoo commented on #302
@lsitu Please note, though, that I added the Methods manually for this record, which is on prod. I should be able to mint a doi for a record on staging, if you prefer.

[2017-06-09 16:20] lsitu commented on #302
@hjsyoo Please wait until @jhriv deploys it to staging. Thanks.

[2017-06-09 17:18] lsitu commented on #302
@hjsyoo John just deployed it to staging and it's ready for test now. Thanks.

[2017-06-09 21:57] hjsyoo commented on #302
@lsitu I'm testing the minting now. One thing I've already noticed is that the Title is sent twice to EZID: https://ezid.cdlib.org/id/doi:10.5072/FK2QF8RM4J.

[2017-06-09 22:08] hjsyoo commented on #302
@lsitu Here's another - #7: The formats in the EZID record (https://ezid.cdlib.org/id/doi:10.5072/FK2FX7B075) still don't show a clear, one-to-one correspondence with the actual file formats in the record, http://librarytest.ucsd.edu/dc/object/bb7920789g. I don't have a use case for formats right now, so if you think it's best to put it on a separate ticket, that would be fine with me.

[2017-06-09 22:11] lsitu commented on #302
@hjsyoo For the title, I think this is just the metadata issue in the original rdf, which has a dup title: http://librarytest.ucsd.edu/dc/collection/bb5940732k/data.
For the format, I think we just sending the formats from all the service files. We won't send any master source files. Does the rule look correct?

[2017-06-09 22:20] hjsyoo commented on #302
@lsitu Interesting about the duped title. @arwenhutt, I noticed the same thing in CCDB on prod. Looks like it should be deduped? Regarding format, @arwenhutt, I'm not seeing a clear match between the file formats on a landing page (e.g., http://librarytest.ucsd.edu/dc/object/bb7920789g) and the formats that get pushed to EZID (https://ezid.cdlib.org/id/doi:10.5072/FK2FX7B075). There are other exam

[2017-06-09 22:26] hjsyoo commented on #302
@lsitu, Collections are still getting assigned a Resource type value of "Collection". I'd prefer "Dataset" to be the default value.

[2017-06-09 22:28] hjsyoo commented on #302
I'm not sure if this issue has been worked on before deploy, but as an FYI, The Description[Methods] didn't make it into the EZID record: https://ezid.cdlib.org/id/doi:10.5072/FK2B56M63S.

[2017-06-09 22:38] lsitu commented on #302
@hjsyoo It seems like there is a gap some where. I will ask @jhriv double check the deployment status and let you know if we are ready for more tests. Thanks.

[2017-06-09 22:43] hjsyoo commented on #302
@lsitu Ok, the Subjects and Title Language are getting pushed properly. I have to wrap up testing for the day. Feel free to open a new ticket or roll this one over, whichever works best for you. Thanks for all your help with this.

[2017-06-09 23:08] lsitu commented on #302
@hjsyoo I think all five new issues above should be addressed in my commit this morning. However something going wrong with the deployment earlier and @jhriv just redeploy it. Sorry about it.
Could you test it again when you get a chance? Thanks.

[2017-06-12 17:15] hjsyoo commented on #302
@lsitu, The EZID push looks great! Just two issues remain.
1) EZID has multiple Description types. When we push a Methods note, can it get mapped to Description [Methods] in EZID? In https://ezid.cdlib.org/id/doi:10.5072/FK2736T405, the first Description is an Abstract (and is correctly mapped in EZID), but the second Description is a Methods note.
2) The formats mapped for objects (e.g., https://

[2017-06-12 17:24] lsitu commented on #302
@hjsyoo Thanks for testing it out. Yes we could do # 1. For # 2, I think we are listing all the formats from the services files at this time. If we want to change the mapping for this, Could we open a new ticket so that it won't delay the deployment for damsrepo?

[2017-06-12 17:27] hjsyoo commented on #302
@lsitu Arwen is out sick, and I don't see this as a rush. Can we open the new ticket later, when she's back? It's fine to close this ticket in the meanwhile - let's not delay deployment.

[2017-06-12 17:45] lsitu commented on #302
@hjsyoo It sounds good. I've corrected the Description type for the methods note to "Methods"  and we are moving forward with the deployment now.
@jhriv Could you deploy damsrepo release/4.33 https://github.com/ucsdlib/damsrepo/commits/release/4.33 to staging again? Thanks.

[2017-06-12 17:53] gamontoya opened #318 "Release 1.74"
### Descriptive summary

Version: 1.74
Release Manager: @hweng
Product Owner: @gamontoya
Operations: @jhriv

[2017-06-12 18:49] hjsyoo opened #319 "Dedupe collection titles in Research Data Collections"
### Descriptive summary

Some of the RDCP collection titles appear twice in the RDF. For example, http://library.ucsd.edu/dc/collection/bb0070711k/data and http://library.ucsd.edu/dc/collection/bb5940732k/data. This may be an error that was systematically introduced when the default Creative Commons license was applied to RDCP collections.
It’s not clear if there’s a negative downstream consequenc

[2017-06-12 18:58] gamontoya commented on #315
@lsitu Adding to your queue if you have time.

[2017-06-12 19:01] lsitu commented on #315
@gamontoya No problem and I'll fix it.

[2017-06-12 21:30] hweng commented on #318
@gamontoya The release 1.74 has been created and deployed to staging. Could you please review and approve it? Thanks!

[2017-06-12 21:55] lsitu commented on #302
@hjsyoo John had deployed it to staging and damsrepo release 4.33 with the description type change is ready on staging for review now.

[2017-06-12 22:02] gamontoya commented on #318
@hweng Thank you, Huawei. This release is approved for prod deploy.

[2017-06-12 22:35] hjsyoo commented on #302
@lsitu It looks great! Should I close the ticket now, or wait until deploy to production?

[2017-06-12 22:58] lsitu commented on #302
@hjsyoo Just feel free to close it at your convenience. Thanks.

[2017-06-12 23:01] hjsyoo commented on #302
Thanks for all your help, @lsitu!

[2017-06-12 23:01] #302 closed

[2017-06-12 23:14] hweng commented on #318
Thanks @gamontoya

@jhriv The release branch has been merged into master. Would you deploy it to production? Thanks!

[2017-06-12 23:17] lsitu commented on #302
Sure. I am glad that we work it out, @hjsyoo!

[2017-06-13 15:22] lsitu commented on #315
@gamontoya I've re-created the derivative for the corrupted _2.jpg (https://library.ucsd.edu/dc/object/bb9045517h/_2.jpg). Other derivatives looks good.

[2017-06-13 15:27] lsitu commented on #316
@gamontoya I've removed the stub collection and all 12 objects attached rom prod and they are gone now.

[2017-06-13 18:48] gamontoya commented on #315
@lsitu Perfect. Thank you!

[2017-06-13 18:48] #315 closed

[2017-06-13 18:49] gamontoya commented on #316
@lsitu @arwenhutt Confirming that this work is complete. Thank you!

[2017-06-13 18:49] #316 closed

[2017-06-15 19:36] #318 closed

[2017-06-15 21:54] hweng commented on #269
@arwenhutt Would you take a look of our JSON output: https://gist.github.com/hweng/81bbd50513895f09b9b93003e921a5a4

And corresponding record pushed on staging:
https://staging-share.osf.io/creativework/4605A-898-E37

And let me know if it looks all right to you. Thank you!

[2017-06-15 23:57] gamontoya opened #322 "Create and replace derivative"
### Descriptive summary

Calisphere refused to harvest this object. It is the wrong mime-type.

- https://library.ucsd.edu/dc/object/bb58372132

- Re-create the _2.jpg derivative and ensure that it's mime-type is Content-Type: image/jpeg

**Note:** When done Gabriela will re-harvest to Calisphere.

### Image Header:

[code]

[2017-06-16 16:20] lsitu commented on #322
@gamontoya I've recreated the _2.jpg derivative late yesterday afternoon. But it seems like there's an issue with solr indexing. I am now checking with @jhriv to restart the Solrizer. I'll let you know once it ready for you.

[2017-06-16 17:31] gamontoya commented on #322
@lsitu I appreciate it. Thanks!

[2017-06-16 22:41] lsitu commented on #322
@gamontoya I think the issue with the corrupted _2.jpg derivative is fixed and it can display now: https://library.ucsd.edu/dc/object/bb58372132/_2.jpg.

[2017-06-19 18:39] gamontoya opened #323 "Re-create and replace derivatives"
### Descriptive summary

Calisphere refused to harvest these objects because they are the wrong mime-type.

- bb0478952m (Glasheen)
- bb55301874 (Glasheen)
- bb0239878f (Keesing)
- bb2594848v (Keesing)
- bb66904480 (Keesing)
- bb2185136v (Seuss Political)

- Re-create the _2.jpg derivative and ensure that its mime-type is Content-Type: image/jpeg

**Note:** When done Gabriela will re-harvest to Ca

[2017-06-19 18:41] gamontoya commented on #322
## Note:

Harvested to Calisphere.

[2017-06-19 18:41] #322 closed

[2017-06-20 18:05] gamontoya opened #324 "Change visibility to Independent Study Project collection"
### Descriptive summary

I set the [ISP collection](https://library.ucsd.edu/dc/collection/bb92846544) from **Curator** to **UCSD IP access**, however, only 11 records out of 210 were affected.

Please update the display visibility to the remaining 199 records. All objects should be **UCSD IP access** only.

Collection: https://library.ucsd.edu/dc/collection/bb92846544

[2017-06-21 18:29] gamontoya commented on #319
@hjsyoo Can you tell me if this request is for a sweep of *ALL* RDCP collections? Is this global or just these two objects?

[2017-06-21 18:54] gamontoya opened #325 "Run header check for images _2.jpg derivatives"
### Descriptive summary

**Create a report:**
Run a script to crawl _2.jpg derivatives and look for those that have their **Content-type: application/octet-stream.**

Re-generate those derivatives to be **Content-Type: image/jpeg**

**Note:** Report should include the Collection Name so that Gabriela will know which collections to re-harvest at Calisphere.

### Rationale

Calisphere will not inges

[2017-06-21 19:56] gamontoya opened #326 "Keesing Collection: Image(s) and metadata export needed"
### DESCRIPTIVE SUMMARY

I'd like to have a copy of the tiffs and med-resolution jpegs (2.jpg) exported from the DAMS.

Export the images (divided by restricted and non-restricted) along with a CSV export of the descriptive metadata (see below for requested metadata elements).

**Note:** List of 886 restricted images (ARKs) [attached here](https://github.com/ucsdlib/damspas/files/1092722/keesing_r

[2017-06-21 22:20] hjsyoo commented on #319
Yes, please sweep all RDCP collections. I was told it may be a global occurrence, but these are the two I'm aware of.

[2017-06-22 19:14] gamontoya opened #327 "Student Newspapers: Identify 7 curator only objects and release"
### Descriptive summary

There are 646 digital objects in the DAMS, but only 639 are **public**. Identify the 7 that are **curator only** and release them to public visibility.

[2017-06-22 21:52] mcritchlow opened #328 "Add sitetrackings partial to staging environment (librarytest)"
### Descriptive summary

Please render the _sitetrackings partial when the environment is staging (librarytest)

* https://github.com/ucsdlib/damspas/blob/7dc9e2c58152984fd76652bf1b7cc67a13ae6078/app/views/layouts/homepage.html.erb#L7
* https://github.com/ucsdlib/damspas/blob/475a6a3bd9eaf7a60a56f5eb3874bd7708b7333e/app/views/layouts/ucsdlib.html.erb#L14

### Rationale

We've been asked to add the

[2017-06-26 16:22] mcritchlow commented on #325
Please work with @ucsdlib/operations as needed.

[2017-06-26 18:27] lsitu commented on #326
@ucsdlib/operations We may need to see how to download the TIFFs and JPEGs to the specific locations.
I recalled that @rstanonik once use a script to download the files from dams with a list of ARKs in the past. Is it still doable to use/update that script to download the TIFFs and JPEGs for the restricted and non-restricted objects to the locations above? In addition to those 886 ARKs for the [re

[2017-06-26 23:41] lsitu commented on #324
Hi Gabriela,
I see a "Display currently prohibited." license in most of the objects in ISP, this will have higher priority to over rights override to block those objects from UCSD-only access. For example:
http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb4131023f.
And also, for those 11 public objects, rights override won't take effect as well since the copyright allow public access thou

[2017-06-27 16:13] lsitu commented on #324
@gamontoya With access override, the simplest way that we can do is to enable collection level local visibility with access override for all objects in a collection for UCSD-only access, no matter what copyright/license the objects are. This will fix all 210 objects in ISP for UCSD-only access.
Another way that we could do is to apply the rule above to hood up public objects (those 11 objects) wit

[2017-06-27 17:14] lsitu commented on #326
@gamontoya I've exported the metadata for all 3868 objects in Keesing:

[metadata.txt](https://github.com/ucsdlib/damspas/files/1106196/metadata.txt)

Could you take a look? Note that the "Personal Name" column only includes subject personal name at this time. Please let me know if we need to include personal names from relationship with creator roles.

[2017-06-27 17:45] gamontoya commented on #326
@lsitu Can you export as Tab delimited (we are seeing issues with comma separate), and yes... export the creator roles too. Thanks for asking!

[2017-06-27 20:09] lsitu commented on #326
Hi Gabriela,
Here is the Tab delimited version
[metadata.txt](https://github.com/ucsdlib/damspas/files/1106613/metadata.txt).
What's the problem with the CSV format?

[2017-06-27 20:23] gamontoya commented on #326
@lsitu Perfect! With the commas, the subjects were running on into the personal names column, but this one works fine.

[2017-06-27 20:27] gamontoya commented on #324
@lsitu Which access override do we have implemented now in DAMS 4 that we can use?

[2017-06-27 20:37] lsitu commented on #326
Got it. I think we can fix that. Just let me know if you still want the CSV format.

[2017-06-27 21:13] lsitu commented on #324
@gamontoya The current access override implemented won't work for the ISP case, which has 11 public object and there are 196 objects (except 3) are curator access with the "Display currently prohibited" license, which won't allow for UCSD-only access override.
We may need to override the rules to hood up those 11 objects for UCSD-only access from the collection visibility and also allow objects wi

[2017-06-27 21:58] gamontoya commented on #326
@lsitu No, we just need that tab delimited version.

[2017-06-27 22:21] lsitu commented on #326
That sounds good. Thanks Gabriela.

[2017-06-27 22:21] lsitu commented on #326
@rstanonik Could we copy the Tab delimited metadata file [metadata.txt](https://github.com/ucsdlib/damspas/files/1106613/metadata.txt) to \lib-storage.ucsd.edu\digital-staging\Cristela_Keesing\metadata? We don't have the write access to lib-storage.

Here is the arks for those 2892 non-restricted objects:
[arks_non-restricted-2892.txt](https://github.com/ucsdlib/damspas/files/1106957/arks_non-rest

[2017-06-28 15:26] lsitu commented on #327
@gamontoya The following 7 objects were curator only and I'd released them:
https://library.ucsd.edu/dc/object/bb0445239r
https://library.ucsd.edu/dc/object/bb14008793
https://library.ucsd.edu/dc/object/bb2697817g
https://library.ucsd.edu/dc/object/bb39947572
https://library.ucsd.edu/dc/object/bb5291697h
https://library.ucsd.edu/dc/object/bb6554507s
https://library.ucsd.edu/dc/object/bb7851447c

A

[2017-06-28 16:19] gamontoya commented on #327
@lsitu 646 for me! Thank you.

[2017-06-28 16:20] #327 closed

[2017-06-28 20:35] lsitu commented on #319
@hjsyoo Where can I find some source metadata that could produce the dup title issue?

[2017-06-28 22:07] lsitu commented on #319
@hjsyoo I think there should be another title provided in the source metadata in addition to the title in the submitted form that contributes to the dup titles. I've created a [PR](https://github.com/ucsdlib/damsmanager/pull/156) to use the the one provided in the  source metadata to override the one submitted in the form.
@mcritchlow The PR https://github.com/ucsdlib/damsmanager/pull/156 is ready

[2017-06-28 22:17] hjsyoo commented on #319
@lsitu Thanks - it sounds like you don't need a source metadata example, then (your request from 2 hrs ago)?

[2017-06-28 22:24] lsitu commented on #319
@hjsyoo I believe it's fixed and I don't need the example now. But let me know if it's a different case. Thanks.

[2017-06-29 03:33] #319 closed

[2017-06-29 18:16] gamontoya commented on #324
@lsitu Proceed with the overriding the rules to hood then. Thanks!

[2017-06-29 18:18] gamontoya commented on #326
@lsitu I copied over the metadata.txt file to digital-staging. Remaining to do it @rstanonik copying over the TIFF and JPEGs.

[2017-06-29 18:26] lsitu commented on #326
Thanks Gabriela.
@rstanonik Please let me know if you have any questions regarding copying the TIFFs and JPEGs over. Thanks.

[2017-07-01 00:26] lsitu commented on #324
Hi Gabriela,
I've updated the access rules to allow UCSD local overridden by collection visibility hood up for public objects and OtherRights for restricted objects. The issues with the ISP collection local display will be fixed once we deploy damsrepo to prod.

@mcritchlow The PR (https://github.com/ucsdlib/damsrepo/pull/53) is ready for review now. Thanks.

[2017-07-05 17:01] rstanonik commented on #278
I assume this is finished.

[2017-07-05 19:58] rstanonik commented on #326
I'm working on the script.

[2017-07-05 20:06] lsitu commented on #326
Thanks @rstanonik . Just let me know if there's anything that you need me to work on.

[2017-07-05 20:21] colleenfgarcia commented on #328
Just wanted to check in on this - request.  Was hoping to do some testing this week on staging.  Thanks!

[2017-07-05 20:53] rstanonik commented on #326
It's done.
Take a look and confirm the files are correct.

[2017-07-05 21:10] lsitu commented on #326
Thanks a lot @rstanonik.
The TIFFs looks correct. The only issue I see is the JPEGs files are all in folder the non-restricted jpeg/non-restricted while the jpeg/restricted is empty. I think we just need to separate it.

[2017-07-05 22:29] rstanonik commented on #326
Good catch.
I moved the restricted jpegs.

[2017-07-05 22:44] lsitu commented on #326
@rstanonik It looks like that the non-restricted files were moved instead, and now the JPEGs in jpeg/restricted and jpeg/non-restricted files need to switch.

[2017-07-06 16:06] lsitu commented on #326
@rstanonik I see folder jpeg/restricted contains 2982 files, which are from the non-restricted ark list (https://github.com/ucsdlib/damspas/files/1106957/arks_non-restricted-2892.txt) and the folder jpeg/non-restricted contains 886 restricted files instead. This is not correct and we may need to rename the folders. Do you see the same thing?

[2017-07-06 17:40] #328 closed

[2017-07-06 20:11] rstanonik commented on #325
What url/app does Callisphere use to harvest from us?  The Content-Type headers aren't in the 2.jpg file, but are added based on metadata from somewhere (triplestore or solr).

[2017-07-06 20:35] hweng commented on #325
@gamontoya Do you use https://library.ucsd.edu/dc/object/bb0717941z/_2.jpg/download to harvest at Callisphere?

@rstanonik For HTTP protocol, Servers insert the MIME header at the beginning of any Web transmission.
I found in in DAMSPAS,  file_controller.rb, it set headers['Content-Type'] = 'application/octet-stream’ when render the file:

 https://github.com/ucsdlib/damspas/blob/develop/app/contr

[2017-07-06 20:51] GregReser commented on #319
@lsitu Having the collection title on the collection import form causes some confusion, if it is also in the spreadsheet.  Would it be hard to just remove it from the form?  It seems like it would be better to always take the title from the spreadsheet.

[2017-07-06 20:58] lsitu commented on #319
@GregReser Yes, now we are using the one from the spreadsheet if it's provided. I could hide it from the form if that works better.

[2017-07-06 21:01] hjsyoo commented on #319
@lsitu Has this fix been deployed yet? We're seeing duped titles in EZID now, and are wondering if this fix will remove the EZID issue.

[2017-07-06 21:05] lsitu commented on #319
@hjsyoo No. It will be deployed to staging tomorrow when the sprint ended.

[2017-07-06 21:06] hjsyoo commented on #319
Thanks @lsitu

[2017-07-06 22:50] lsitu commented on #319
@GregReser I've added a commit to remove the collection title from the collection import form, see PR https://github.com/ucsdlib/damsmanager/pull/159.
@mcritchlow The PR is ready for review now. Thanks.

[2017-07-07 19:52] rstanonik commented on #326
Okay, I switched jpeg restricted and non-restricted

[2017-07-07 20:23] mcritchlow opened #331 "Release 1.75"
### Descriptive summary

Version: 1.75
Release Manager: @hweng
Product Owner: @gamontoya
Operations: @jhriv

### To Review

- [x] #328 Confirm hotjar running on staging w/ @colleenfgarcia

[2017-07-07 23:24] hweng commented on #331
The release 1.75 was created, has been waiting for the circleCI passed then deploy to staging.

[2017-07-10 16:10] lsitu commented on #324
@gamontoya I've updated records in ISP for access override with local access for those private object on staging. All 210 objects should be available for UCSD local access on staging now: https://librarytest.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=UCSD+Independent+Study+Project+%28ISP%29&id=bb92846544
Could you take a look? If it's good, we can move the deployment for damsrepo to prod and f

[2017-07-10 16:29] hjsyoo commented on #319
@lsitu Sorry, I'm still confused about where the work was done. On July 6, I sent the following list of duped titles to @remerjohnson, because we were trying to figure out why an EZID record generated a duped title.
Fresno: https://library.ucsd.edu/dc/collection/bb22212199/data
CSC: https://library.ucsd.edu/dc/collection/bb0070711k/data
SOAS: https://library.ucsd.edu/dc/collection/bb6282674b/data

[2017-07-10 16:34] remerjohnson commented on #319
@hjsyoo Those titles were de-duped by hand on production. You would also want those de-duped on staging?

[2017-07-10 16:40] hjsyoo commented on #319
@remerjohnson No, you're right, I forgot you corrected those by hand. I don't need them de-duped on staging, unless it will help us to figure out where the duping on EZID is coming from?
@lsitu What's the best way for us to review the work on this ticket? Do we wait until @remerjohnson can ingest a new collection to staging?

[2017-07-10 16:42] hjsyoo commented on #319
Actually, Ryan just did ingest a collection on staging, and the duping is still there: http://librarytest.ucsd.edu/dc/collection/bd0494580w/data

[2017-07-10 16:45] lsitu commented on #319
@hjsyoo I think we are trying to fix the potential issue that generate the dup CLR title here. That is, we shouldn't get any dup-titles when ingest new CLRs on staging now. Yep, we need to de-dupe titles for those collections by hand as @remerjohnson said. We could use the rdf import tool https://librarytest.ucsd.edu/damsmanager/rdfImport.do to do it. Do you want me to de-dup those CLRs?

[2017-07-10 16:54] lsitu commented on #319
@hjsyoo @remerjohnson It looks like CLR http://librarytest.ucsd.edu/dc/collection/bd0494580w/data was created on earlier at 2017-06-26T08:34:31 but just updated. We may need to ingest **new** CLR now to test the dup-title CLR issue. Thanks.

[2017-07-10 16:57] hjsyoo commented on #319
@lsitu Oh, that would do it! Thanks. @remerjohnson, maybe we can do a test ingest later today? I think any of the existing ones on rdcp-staging should work?

[2017-07-10 17:01] hjsyoo commented on #319
@lsitu No need to dedupe the CLRs on staging manually. Once we're able to test this ticket and get a test coll page without duped titles, I can mint a DOI after that to test duping on EZID.

[2017-07-10 18:23] hweng commented on #331
@gamontoya The release 1.75 has been deployed to staging. Could you review it? Thanks!

[2017-07-10 18:48] gamontoya commented on #324
@lsitu Looks good Longshou. Feel free to proceed.

[2017-07-10 18:52] gamontoya commented on #325
@hweng We use:  https://library.ucsd.edu/dc/object/bb0717941z/_2.jpg

Do you need anything else for this ticket?

[2017-07-10 19:02] hweng commented on #325
@gamontoya Do you think the _2.jpg image itself looks fine to you? I checked several _2.jpg image with "application/octet-stream" MIME type that they look fine to me.
The 2.jpg file itself doesn't include MIME type. The MIME type is run by JHOVE to insert into triplestore.
If the source problem is not caused by derivatives generation by image magic, but caused by Jhove.
Then we could try to re-run

[2017-07-10 19:02] lsitu commented on #324
Hi Gabriela,
Thanks. We'll move it forward once the deployment ticket https://github.com/ucsdlib/damsrepo/issues/54 is approved, which is bound to ticket https://github.com/ucsdlib/damspas/issues/319 for test result now.

[2017-07-10 20:45] gamontoya commented on #325
@hweng The _2.jpg looks fine. The problem is that the server is reporting a content-type of Content-Type: application/octet-stream not Content-Type: image/jpeg so your suggestion to try to re-run JHove might solve the issue.

[2017-07-10 20:50] gamontoya commented on #331
@hweng Approved for prod.

[2017-07-11 13:34] jhriv commented on #331
Deployed.

[2017-07-11 13:34] #331 closed

[2017-07-11 16:56] gamontoya commented on #324
@lsitu Let me know when this update is reflected on prod.

[2017-07-11 17:25] gamontoya commented on #326
@cgarciaspitz Please confirm that you have everything you need from this ticket.

Thank you @lsitu and @rstanonik

[2017-07-11 17:25] #326 closed

[2017-07-11 17:32] lsitu commented on #324
@gamontoya Sure. It looks like we should deploy damsrepo https://github.com/ucsdlib/damsrepo/issues/54 to prod now.

[2017-07-11 18:43] hjsyoo commented on #319
Tested DOI minter on staging, and no duping occurred in EZID.

[2017-07-12 00:15] gamontoya opened #332 "Remove display of Respository in the object level view"
## Descriptive summary
Remove the owning Repository and the label at the object level view. However, retain the facet for results and refining.

![repo](https://user-images.githubusercontent.com/4314914/28096271-5cc20fd0-665c-11e7-970e-bb4dbaec941c.png)

## Rationale
Currently the owning repository and the label **Repository** display at the object level view in DAMS 4.0. SC&A staff feel that it i

[2017-07-12 16:33] lsitu commented on #324
Hi Gabriela,
I think the UCSD local access issue for the ISP collection should be fixed on prod at this time. I am seeing all 210 records are showing up with VPN now: https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=UCSD+Independent+Study+Project+%28ISP%29&id=bb92846544. Could you take a look?

[2017-07-12 18:26] gamontoya commented on #324
@lsitu Yes, looks good. Thank you Longshou!

[2017-07-12 18:26] #324 closed

[2017-07-13 18:11] gamontoya opened #333 "Update RDCP collections local attribution note URL"
### Descriptive summary
Globally update the current `<dams:type>local attribution</dams:type>` note URL from:

- http://libraries.ucsd.edu/services/data-curation/

  to:

- https://library.ucsd.edu/research-and-collections/data-curation/

### Rationale

While the current URL redirects, Ho Jung would like to see the URLs updated before DAMS 5.0 migration.

![1](https://user-images.githubusercontent

[2017-07-13 18:11] gamontoya commented on #333
@mcritchlow This can be assigned for this Sprint if you have the bandwidth. Otherwise it can wait.

[2017-07-13 18:16] hweng commented on #325
@gamontoya I tried both way for Dr. Seuss Political Cartoons collection on QA:
- Re-run JHove through Damsmanager.(In object tab, choose Jhove Report /Update technical metadata/Extract and add Jhove metadata)
- Re-create derivatives and then re-run JHove through Damsmanager.

But it doesn't fix the problem, the mimeType is still "application/octet-stream" for _2.jpg in triplestore, for example bb2

[2017-07-13 18:55] gamontoya commented on #325
@hweng Okay, I'm on it.

[2017-07-13 20:28] gamontoya commented on #325
@hweng I tried both methods listed above and I still got the application/octet-stream.

**Note:** When Longshou recently recreated a couple of _2 derivatives for me, it fixed the problem. What did he do differently?

[2017-07-13 21:47] hweng commented on #325
Here is a list of ARKs and its collection  which the .jpg derivatives have Content-type: application/octet-stream:
[jpg_with_wrong_mime_type.txt](https://github.com/ucsdlib/damspas/files/1146738/jpg_with_wrong_mime_type.txt)

[2017-07-13 21:58] gamontoya commented on #325
@hweng Not bad, only 89 total to fix.

[2017-07-13 22:32] hweng commented on #325
@gamontoya However it distributed over 12 collections which needs to run one by one collection.

[2017-07-13 22:32] mcritchlow commented on #333
@ucsdlib/developers - if anyone has capacity in this sprint to work on this, please feel free to grab the ticket. Thanks!

[2017-07-13 22:35] VivianChu commented on #333
@mcritchlow I can work on this.

[2017-07-13 23:00] mcritchlow commented on #333
Thanks @VivianChu!

On Thu, Jul 13, 2017, 3:35 PM VivianChu <notifications@github.com> wrote:

[2017-07-14 18:41] #332 closed

[2017-07-17 17:03] hweng commented on #323
@gamontoya Just let you know that My work has been going on to fix https://github.com/ucsdlib/damspas/issues/325 will also fix this ticket.

[2017-07-17 17:12] gamontoya commented on #323
@hweng Thank you for the update!

[2017-07-18 18:18] hweng commented on #325
@gamontoya The "Content-Type: application/octet-stream" is not only exist in _2.jpg, it also be found in other derivatives.  I've been running the process re-generating derivatives and JHOVE for those problem derivatives which is found distributing over 12 collections.

 We don't yet have any function to feed in a list of ARKs(for those problem files) and run derivatives creation and JHOVE. Our av

[2017-07-18 21:41] hjsyoo commented on #269
@hweng I'm not versed well enough in JSON to review your output correctly, but I do have a request! Could all RDC landing pages (whether it's from a collection or object page) be mapped to Resource Type = Dataset, rather than Creative Work? We're trying to steer away from typing any DAMS-RDC data as Creative Works.

[2017-07-18 22:12] hweng commented on #269
@hjsyoo The CreativeWork is defined as "Anything created by an Agent" in SHARE V2 schema: https://staging-share.osf.io/api/v2/schema. The DataSet and all other type of resource are the subcategory of CreativeWork.
Thus the CreativeWork is defined as default in the share_notify gem.

[2017-07-18 23:02] hjsyoo commented on #269
@hweng Thanks for the clarification. I'd still like Dataset to be displayed somewhere. The pushed record, https://staging-share.osf.io/creativework/4605A-898-E37, has resource type "Not Categorized". Can we indicate that DAMS records are of the subcategory, DataSet?

[2017-07-18 23:11] hweng commented on #269
@hjsyoo Sure, I will check with OSF developer which field in their schema is used to display it in their UI.

[2017-07-19 15:52] gamontoya commented on #269
FWIW: https://staging-share.osf.io/api/v2/datasets/

[2017-07-19 17:26] hweng commented on #325
@gamontoya All problem .jpg has been re-created and replaced. I've run query to search in solr index and found 0 results for the "Content-Type: application/octet-stream" associated with .jpg. And also I looked into some random picked file to make sure they are good.
Would you checked and let me know if it looks fine to you?

And https://library.ucsd.edu/dc/object/bb0717941z/_2.jpg will be used to

[2017-07-19 17:28] gamontoya commented on #325
@hweng Excellent. I'll check now and if I don't find any, I will close this ticket.

Yes, Calisphere will use the _2.jpg file version for harvesting.

[2017-07-19 17:45] hweng commented on #325
@gamontoya There is the last step to sync  lib-hydratail-prod:8983/solr to lib-metadata:8983/solr. I have Ron running the sync now.
 After the sync done, I will run query to search in lib-metadata:8983/solr to make sure it is fine.

[2017-07-19 18:11] hweng commented on #325
@gamontoya The sync is done. I run query to lib-metadata:8983/solr and it looks good to me now.

[2017-07-19 18:44] gamontoya commented on #325
@hweng They sync was done to prod?

[2017-07-19 18:50] hweng commented on #325
@gamontoya Yes. Both lib-hydratail-prod:8983/solr and lib-metadata:8983/solr are prod. The later one is for public.

[2017-07-19 19:00] gamontoya commented on #325
@hweng Perfect! Great work Huawei.

[2017-07-19 21:27] VivianChu commented on #333
@gamontoya - The  url has been updated for RDCP collections.

[2017-07-19 21:27] #333 closed

[2017-07-19 21:28] VivianChu opened #335 "Update audio player to use HLS streaming protocol instead of RTMP"

[2017-07-19 23:09] hweng commented on #269
@hjsyoo @gamontoya I confirmed with Lauren that if we map it to a particular CreativeWork type, it will show up in UI as category.  And I've also looked into the datasets schema.
I'm updating the mapping code for all RDC collections to SHARE dataset, what about the library collections?

[2017-07-20 00:23] gamontoya commented on #269
@hweng Good point. Unfortunately for library collections, we don't have an appropriate type based on their schema so they will have to stay within CreativeWork.

[2017-07-20 20:02] hweng commented on #325
@gamontoya The 283 items from Lambert collection which missed technique metadata have also be re-generated derivatives and re-extracted Jhove. I just checked them in Solr that they look fine now. Could you try again? Thanks!

[2017-07-20 21:38] gamontoya commented on #325
@hweng Thank you. I'll try the re-harvest now.

[2017-07-20 22:08] hjsyoo commented on #269
Thanks @hweng @gamontoya. It makes the most sense to me that RDC colls are "Datasets", while library colls remain "Collections" or "CreativeWork".

[2017-07-20 22:36] gamontoya commented on #325
@hweng All images successfully harvested. Thank you Huawei for your patience!

[2017-07-20 23:08] hweng commented on #269
@gamontoya It makes sense. I updated our mapping code for datasets schema. Here is the result generated from new mapping code:  https://gist.github.com/hweng/81bbd50513895f09b9b93003e921a5a4

And also I found there is an response error to push to OSF  when using the new staging token from OSF. I will contact them to sort out this issue.

[2017-07-21 19:57] #325 closed

[2017-07-21 19:57] #323 closed

[2017-07-21 20:09] gamontoya opened #336 "Release 1.76"
### Descriptive summary

Version: 1.76
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

### Related work

Refs #333 #335

[2017-07-21 21:38] #335 closed

[2017-07-24 15:55] VivianChu commented on #336
@gamontoya - The new release has been deployed to staging.  Could you review it?  For example - http://librarytest.ucsd.edu/dc/object/bb86714755

[2017-07-24 16:02] gamontoya commented on #336
@VivianChu Thank you. This can be pushed to production.

Note: At this time we are aware that there are still issues with streaming using Windows 10, IE  ver. 11.480

[2017-07-24 17:36] VivianChu commented on #336
@jhriv - The release branch has been merged into the master branch.  Could you deploy it to production at your earliest convenient?  Thanks

[2017-07-24 17:48] jhriv commented on #336
Done

[2017-07-24 17:48] #336 closed

[2017-07-25 23:58] remerjohnson opened #339 "Permanently delete all objects from Yates collection"
### Descriptive summary

Due to the multiple problems in the source MARC data for the [Peter Yates Collection](https://library.ucsd.edu/dc/collection/bb68616527) and how it was transformed, the objects ingested [were decided to require deletion](https://lisn.ucsd.edu/display/DLP/2017-05-09+Superpack%21+Meeting+notes).

https://library.ucsd.edu/dc/collection/bb68616527

### Rationale

We need to st

[2017-07-26 21:11] hjsyoo opened #340 "Mint DOI button should set default Resource Type to "Dataset""
### Descriptive summary

When minting a DOI from curator tools, the EZID field, Resource Type, should be set to "Dataset". Currently, it is left blank. But when entering edit view in EZID and saving the record after making no changes, Resource Type defaults to "Dataset" on its own.

### Rationale and Expected behavior

Prior to the latest code fix, both Resource Type General and Resource Type were

[2017-07-26 21:55] lsitu commented on #339
@remerjohnson As suggested by @mcritchlow, I think we can keep those ARKs by adding an additional column "ARK" in the Excel Input Stream with those ARKs listed to replace those records in Yates collection.
However, when you have all those arks in the Excel Input Stream for reuse, I think we still can delete all objects in the collection for a clean restart of the ingest if you want.

[2017-08-01 18:52] remerjohnson opened #341 "Batch update geographic coordinates for Pacific Charts collection"
### Descriptive summary

We received corrections for our (polygonal) geographic coordinates in the [Pacific Basin Nautical Charts collection](https://library.ucsd.edu/dc/collection/bb0786509m). I'm providing a tab-delimited file in order to batch update all the DAMS objects' coordinates (the `Geographic:polygon` property).

**NOTE:** The sheet has ID and a "Name" column that must be ignored/remove

[2017-08-01 21:20] lsitu commented on #339
@GregReser I think if you add the same arks for each component, damsmanager will build the complex object for you.
Yes, this will erase all the metadata in that ark so I think it should work if you are going to replace the metadata of those objects. The purpose of the ARK column is just serving as ark reusing but not batch editing since it'll erase all the metadata in that ARK. So if you are going

[2017-08-01 22:09] GregReser commented on #339
@lsitu I'm not saying this is a bad idea, but it makes me wonder:

1. It's a lot of work to save 249 existing ARKs.  Why do we need to do that?
2. If we go to his effort, it would be nice to turn it into a process we could use in other cases.  For example, could it become an Excel re-import tool where for each Object ARK, all ARK contents are deleted then the new contents are written from the spre

[2017-08-01 22:53] lsitu commented on #339
@GregReser We did that all the time to save the ARKs because the ARKs are limited. I think you could just assign it to dev if it need lots of effort at your end to do that.
Yes, it make sense to do that for #2. However, it won't be an issue if we just want to replace the metadata of an existing object. The only issue is that some files could leave there in the filestore that we don't want if you u

[2017-08-02 17:12] GregReser commented on #339
@lsitu OK, let's try your original suggestion to reuse the Yates ARKs
You will generate a report of all Yates ARKS, including component ARKS?

[2017-08-02 17:51] lsitu commented on #339
@GregReser I am on it now.

[2017-08-03 15:10] lsitu commented on #339
@GregReser Attached yates-arks.txt is the ARKs for those 249 objects in Yates collection, and the component arks are also attached under each ark they belong to:
[yates-arks.txt](https://github.com/ucsdlib/damspas/files/1197609/yates-arks.txt)

Note: we only need to put the object ark (but not the component ark) in the components "ARK" cell and damsmanager will assemble the complex object for you

[2017-08-03 21:30] GregReser commented on #339
@lsitu OK, so I really didn't need to ask for the component ARKs.

Thanks.

[2017-08-03 21:36] lsitu commented on #339
@GregReser Do you want me to delete the Yates records now?

[2017-08-03 21:38] GregReser commented on #339
Yes, you can delete all Yates objects now.

[2017-08-03 21:55] lsitu commented on #339
@GregReser Here is the one with no component ARKs:
[yates-arks.txt](https://github.com/ucsdlib/damspas/files/1198696/yates-arks.txt)

[2017-08-03 23:14] lsitu commented on #339
@GregReser I've deleted all objects in Yates collection on prod: https://library.ucsd.edu/dc/collection/bb68616527. It's ready for re-import now.

[2017-08-04 15:10] VivianChu commented on #341
@remerjohnson - The geographic coordinates have been updated for Pacific Basin Nautical Charts collection.  For example
https://library.ucsd.edu/dc/object/bb90797642
https://library.ucsd.edu/dc/object/bb1878332n

[2017-08-04 15:10] #341 closed

[2017-08-04 19:27] remerjohnson commented on #341
@VivianChu Thanks so much! From my random selections, they all updated nicely.

[2017-08-04 19:50] #339 closed

[2017-08-04 21:50] VivianChu commented on #340
@hjsyoo -  For your example record xml - https://ezid.cdlib.org/manage/display_xml/doi:10.6075/J0D21VRF - the resourceType element is
<resourceType resourceTypeGeneral="Dataset">Dataset</resourceType>
If you want the Resource Type is set to “Dataset”, what does the xml look like? I tried <resourceType>Dataset</resourceType> and it doesn't work because the attribute resourceTypeGeneral is mandatory

[2017-08-04 22:35] hjsyoo commented on #340
@VivianChu I don't recall what the history of this particular record is, but try https://ezid.cdlib.org/manage/display_xml/doi:10.6075/J0RF5RZ9.  The record was created in 2015 and last modified 2017-01-05. Unfortunately, it's entirely possible that I created the record manually, and it's certain that I've modified the record since its creation.
I'm afraid there are no current EZID records that ha

[2017-08-10 19:52] VivianChu commented on #340
@hjsyoo - I reverted the change from the latest code fix and deployed it to staging.  I tried to mint doi for this record   http://librarytest.ucsd.edu/dc/object/bb4438832x
For the ezid edit view - https://ezid.cdlib.org/manage/edit/doi:10.5072/FK21Z4828R?   The value for resourceType is still blank.  From the javascript code - if we click the "SAVE CHANGES" button & if the value for resourceType

[2017-08-10 20:37] hjsyoo commented on #340
That sounds like what I've observed about the current behavior. The thing is, this behavior is new, since around the time of the last code fix. It's possible that EZID changed something on their end around the same time, which caused this issue to emerge. But I'm just speculating. Do you think it's worth asking the EZID community or maybe the developers about it? It's just that this wasn't really

[2017-08-10 21:31] VivianChu commented on #340
@hjsyoo - Sounds good.  I'll ask and will keep you posted.  Thanks

[2017-08-11 18:54] VivianChu commented on #340
@hjsyoo - EZID customer support mentioned that they have not made substantial changes to the user interface in the last several month.  However, I found out how that resource type value  is created.
I just deployed my change to staging and it worked.
Here's the record I just added using the MINT DOI button.  The resource type value is set to dataset

https://ezid.cdlib.org/manage/edit/doi:10.5072/

[2017-08-11 18:55] VivianChu commented on #340
![ezidedit](https://user-images.githubusercontent.com/1864660/29227736-e9b026a6-7e8b-11e7-9819-c6edb87b74bb.png)

[2017-08-11 19:17] hjsyoo commented on #340
@VivianChu Yes! This fix is exactly what I would like to see. It will save me lots of busy work. Thank you, and please do deploy to production!

[2017-08-11 20:17] #340 closed

[2017-08-15 16:56] arwenhutt commented on #269
I'm adding @hannahbegley to this issue to review the export.  Thanks!

[2017-08-18 23:57] arwenhutt opened #342 "Batch metadata edit - remove FA links from objects in Fletcher Collection"
### Descriptive summary
Many of the objects in the Fletcher Collection https://library.ucsd.edu/dc/collection/bb55647135 display two links to the online finding aid: one which is correctly drawn from the collection level record, and a second which is (against practice) encoded in the object level record.

We would like to remove all of the related resource links to the online finding aid from Flet

[2017-08-21 19:05] gamontoya commented on #342
@mcritchlow This ticket can be worked on if you have the bandwidth for this Sprint.

[2017-08-22 22:53] hweng commented on #268
Close this issue since the PR was merged into master branch.

[2017-08-22 22:53] #268 closed

[2017-08-24 16:46] gamontoya opened #343 "Recreate mp4 derivative for SCWMP video"
### Descriptive summary

On part 1 I get video but no audio (this was also reported by a patron). If I download the source, I can play it and get audio in Windows media player (but no video) or video and no audio if I play it in VLC. If I load it into Adobe Premier I get both so I suspect something is just odd with the source file and something broke when it was converted

### Rationale

The .mp4

[2017-08-24 18:40] hweng commented on #269
@gamontoya @arwenhutt  @hannahbegley,
There is the "researcher" type in relationship_json_tesi which is not a valid type in OSF schema:

From dams4 solr http://lib-hydratail-prod.ucsd.edu:8983/solr/blacklight/select?q=id:bb7305352v:
{"contributor":["Ascher, John","Berrian, Jim","Davids, Jessica A.","Holway, David A.","Rightmyer, Molly G.","Wall, Michael","Yanega, Doug"],"researcher":["Hung, Keng-L

[2017-08-24 20:36] VivianChu commented on #342
@arwenhutt - dams:relatedResource has been removed for 1823 objects.
For example
https://library.ucsd.edu/dc/object/bb7919723t
https://library.ucsd.edu/dc/object/bb6929950p

[2017-08-24 20:36] #342 closed

[2017-08-24 20:43] arwenhutt commented on #342
Thanks @VivianChu, it looks good to me!  I'll update the collection owners.

[2017-08-25 15:47] arwenhutt commented on #269
@hjsyoo and @hannahbegley
I'd lean towards Researcher -> Creator, unless you guys think "contributor" is better.

[2017-08-25 17:18] hannahbegley commented on #269
@arwenhutt before answering I think I need understanding/clarity on 2 things:
1. the intention here- SHARE displays all individuals under "Contributors" regardless of their role, so is this for our benefit, or in case of future functionality?
2. Can we count on a pretty consistent use of "researcher"? In the above example, https://librarytest.ucsd.edu/dc/collection/bb7305352v it looks like "resear

[2017-08-25 18:19] hweng commented on #269
@arwenhutt @hannahbegley, Good questions!
To clarify - The dams record got rejected when push to OSF staging because of the role type of "researcher", so we have to replace it with any type in the above "@type" list.  The pushed data has to be strictly following OSF data schema to get push successfully.
It is true OSF UI only display "Contributors" regardless of their role. But as long as data is

[2017-08-25 20:25] arwenhutt commented on #269
I've been looking through RDCP collection records and there is a fair amount of variability.  Some of which is probably based on an accurate description of roles, but some seems to be more of an inconsistent application.  I've seen pi (with multiple names), co-pi's, creator, author, research team head, researchers, etc.  It might be worth a review of how these are applied and perhaps some clean up

[2017-08-25 20:56] hannahbegley commented on #269
thanks @hweng for clarifying that's really helpful! @arwenhutt @hjsyoo my preference generally is vague but consistent over precise but potentially inconsistent. So, if we continue relying on researchers to supply roles (which we should) I don't think I would place the trust to do that "consistently" with a group (tbh wouldn't even trust myself). For that reason I'd vote map it to contributor- all

[2017-08-25 21:07] arwenhutt commented on #269
I suspect it's somewhat in the middle, with there being some inconsistency coming from the library side (both from change over time and variability between metadata analysts), and some that's from the researcher.  How much of it is one vs. the other, I'm not sure - and not sure then how valuable it'll be to review, change and set guidelines.  Though I do think the example you listed probably shoul

[2017-08-25 21:26] hweng commented on #269
@arwenhutt @hannahbegley Thanks for the reply. Just to clarify do you prefer to that all roles to be mapped to "creator" or "contributor"? Or only those role type which is not in OSF schema list to be mapper to "creator" or "contributor"?

[2017-08-25 21:41] arwenhutt commented on #269
@hweng I think we need to consult Ho Jung before we decide.  Sorry for the delay, but once we talk to her we'll let you know.

[2017-08-25 21:43] hweng commented on #269
@arwenhutt Sure, no problem. Thank you all!

[2017-08-28 15:30] hjsyoo commented on #269
Hi all, thanks for the discussion. Those are all excellent points. It looks like creating some documentation on how the various DAMS roles will map to SHARE would be a good idea. In the meantime, if Researcher has only been used in that one collection, let's do the following:
* Change James Hung's role from Researcher to Creator (@hannahbegley is correct that he was more of a PI in this instance,

[2017-08-28 22:02] hweng commented on #269
Thanks @hjsyoo, Let me know if you want me to proceed the above steps, and please confirm the following:
#1 "Change James Hung's role from Researcher to Creator", do you want to update the dams metadata for it?
#2 "Map Researcher to Contributor" -  This will be implemented in mapping code. Do you want all roles which is not in OSF schema list to be mapped to "contributor"?

[2017-08-29 22:24] mcritchlow opened #344 "Browse by Collection - thumbnails loading over http"
### Descriptive summary

@hannahbegley reported that her browser(s) are reporting the search results for "Browse By Collection" are resulting in a "Connection not Secure" message. I've verified this.

It looks like the issue (or at least *an* issue) is the thumbnails are being pulled via http links. This can be verified by opening up the dev console in FF, Chrome, etc.

Example: http://library.ucs

[2017-09-01 17:45] VivianChu commented on #344
@mcritchlow - I updated the thumbnail url for all collections and the insecure message is not displaying in developer console anymore.

[2017-09-01 17:45] #344 closed

[2017-09-01 18:03] lsitu commented on #344
@rstanonik Could you update DAMS Manager configuration parameter "xdre.clr.urlBase" in file damsmanager.properties for each environment prod, staging and QA to use HTTPS instead of HTTP as well:
xdre.clr.urlBase=https://libraries.ucsd.edu/assets/dams/collections/thumbnails

This will prevent the newly created collection CLR from getting the same browser error above. Thanks.

[2017-09-01 18:14] hweng commented on #251
@mcritchlow From the documentation for SHARE API V2, the deletions is not yet supported:
http://share-research.readthedocs.io/en/latest/share_api.html#push-data-directly-into-the-share-database

A question about "is the deletion supported by SHARE v2" was sent to Lauren Barker on Wednesday and I'm still waiting for her response.

[2017-09-01 18:19] hweng commented on #270
Updated configuration for SHARE V2 connections.
Updated the gem file and the push methods to use share_notify V2 API.
Is updating the mapping code for SHARE V2 fields.

[2017-09-01 18:22] rstanonik commented on #344
I changed it in all three environments, but only restarted damsmanager tomcat in qa and staging.

If production damsmanager is idle, I can restart it there too, otherwise I'll restart Monday morning.

[2017-09-01 18:24] lsitu commented on #344
@rstanonik I think we can restart it tomorrow morning. Thanks.

[2017-09-01 18:33] rstanonik commented on #344
I scheduled production damsmanager tomcat to restart at 6am tomorrow morning

[2017-09-01 18:44] mcritchlow commented on #344
Thanks all! And nice catch, @lsitu on the urlBase setting.

[2017-09-07 20:40] gamontoya opened #345 "PDF not searchable - create new derivative"
### Descriptive summary

It was reported that the derivative PDF for bb1982115k is not searchable. Confirming that I downloaded the master file and it has been OCR'd so something is not working.

### Resolution

Per @VivianChu, needs to re-index which invokes full extraction.

- Vivian will re-index all 24 objects in this collection.

[2017-09-07 22:13] gamontoya opened #346 "Issue with superfluous audio channels for .mov file"
### Descriptive summary

These two mov files show irregular characteristics:

- bb07861733_1_1.mov has 3 audio streams (stream 1 and 2 are superfluous, tagged as if they were multichannel surround for a “front center” channel).

- bb07861733_2_1.mov has 2 audio streams (stream 1 is superfluous, tagged as if it were multichannel surround for “front left right” channel).

### Observations:

1. mov c

[2017-09-13 23:51] gamontoya opened #347 "Perform audit of bb (prod) ARKs on staging"
### Descriptive summary

An audit needs for assigned ARKs on staging; specifically looking for any bb-ARKs used on staging.

### Rationale

Ryan is working on a collection on staging that has a **bb-ARK** (https://librarytest.ucsd.edu/dc/collection/bb8158593z). It should be using a **bd-ARK** and the question seems to be, _"How did this happen?"_

- We need to ensure that DAMS Manager did not mint

[2017-09-20 17:31] hannahbegley opened #348 "ensure subscripts and superscripts display in collection and object page title"
"sub" and "sup" tags display in DAMS properly in the following places:
object page description (https://librarytest.ucsd.edu/dc/object/bd9812384c)
collection page description (https://librarytest.ucsd.edu/dc/collection/bd68430724)
title in search results (https://librarytest.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Center+for+Aerosol+Impacts+on+Chemistry+of+the+Environment&id=bd5034217p)

Th

[2017-09-21 18:07] VivianChu commented on #345
@gamontoya - All objects in the collection have been re-indexed.

[2017-09-21 18:07] #345 closed

[2017-09-21 18:28] gamontoya commented on #345
@VivianChu Thank you!

[2017-09-25 19:55] mcritchlow opened #349 "Update dependencies"
### Descriptive summary

We have at least one vulnerability in nokogiri, please see Gemnasium and update gems as needed.

[2017-09-26 15:18] #349 closed

[2017-09-29 16:01] #343 closed

[2017-09-29 19:41] VivianChu commented on #348
@hannahbegley - The problem is fixed in development environment.  I'll let you know when the change get deploy to staging to test. Here are the screen shot.
Before update
![beforetitlesubscript](https://user-images.githubusercontent.com/1864660/31033050-82c1c66c-a513-11e7-8f18-35901b91ddbe.png)

After update
![aftertitlesubscript](https://user-images.githubusercontent.com/1864660/31033060-8fa44986

[2017-09-29 21:22] hjsyoo commented on #348
@VivianChu @mcritchlow @gamontoya We're trying to decide whether to ingest this collection to prod today or wait until early next week. When do you think this fix will be deployed to prod?

[2017-09-29 21:34] hjsyoo opened #352 "Remove several objects from Scripps CO2 Program Data collection"
### Descriptive summary

Due to an improved restructuring of the object model by the data provider after ingest to production, we need to remove the 13 following objects from production:

https://library.ucsd.edu/dc/object/bb0480492c
https://library.ucsd.edu/dc/object/bb4303052r
https://library.ucsd.edu/dc/object/bb0139192t
https://library.ucsd.edu/dc/object/bb5292823c
https://library.ucsd.edu/dc/

[2017-09-29 22:03] mcritchlow commented on #348
@hjsyoo - @VivianChu has a fix in that is being reviewed now. I suspect it will get merged today, so deployment is likely going to be early-mid next week depending on the review cycle in staging and deployment w/ OPS

[2017-09-29 22:24] hjsyoo commented on #348
@mcritchlow Thanks. I think we'll go ahead and ingest as is, so there's no time issue for deploying this fix.

[2017-10-02 14:23] #348 closed

[2017-10-02 16:01] VivianChu opened #353 "Release 1.77"
### Descriptive summary

Version: 1.77
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

### Related work

Refs #348

[2017-10-02 18:17] VivianChu commented on #353
@gamontoya - The release has been deployed to staging.  Could you review it?

For example
https://librarytest.ucsd.edu/dc/object/bd91298321

Thanks

[2017-10-03 18:03] gamontoya commented on #353
@VivianChu What issue is this release addressing?

[2017-10-03 18:03] VivianChu commented on #353
@gamontoya - https://github.com/ucsdlib/damspas/issues/348

[2017-10-03 18:03] gamontoya commented on #353
Never mind. I found it. @VivianChu Approved for prod.

[2017-10-03 18:04] VivianChu commented on #353
Thanks @gamontoya

[2017-10-03 18:07] gamontoya commented on #352
@mcritchlow Here's another for assignment.

[2017-10-03 19:23] VivianChu commented on #353
@jhriv - The release has been merged into the master branch.  Could you deploy it to production?  Thanks

[2017-10-03 21:20] mcritchlow opened #354 "Subject Conversion: Question about labels"
### Descriptive summary

From @arwenhutt :

In D4 many, all?, of our authorities have both a display label and a value (usually variants on "authoritativeLabel" and "elementValue"). Do we need to update both of these? or is it sufficient/safe to update just the display label and then when we migrate to D5 only map the label and not the element value?

For example, is authoritativeLabel leveraged i

[2017-10-04 16:04] VivianChu commented on #352
@hjsyoo - 13 objects have been deleted in production.

[2017-10-04 16:04] #352 closed

[2017-10-04 22:05] gamontoya commented on #346
@VivianChu Stefan said this ticket can be closed if the derivative plays as expected. I believe he created the derivatives for you so we should be good now. Leave the .mov master file as is.

[2017-10-04 22:12] VivianChu commented on #346
Thanks @gamontoya  .  The derivatives plays as expected.  I'll close the ticket.

[2017-10-04 22:12] #346 closed

[2017-10-05 03:19] arwenhutt opened #355 "Subject Conversion: Review of draft of processesing rules/instructions"
### Descriptive summary
I think the draft for the [subject conversion process](https://docs.google.com/a/ucsd.edu/document/d/12HOMth8ylD20bcEeVYb336NaVxSwaip58n0IhXUWFMs/edit?usp=sharing) is ready for review.
The document linked outlines the proposed approach for converting, updating, de-duplicating, and enhancing authority records and their links to object and collection level records in the DAMS

[2017-10-05 17:06] VivianChu commented on #348
@hannahbegley @hjsyoo - The fix has been deployed to production this morning.

[2017-10-05 17:12] jhriv commented on #353
Deployed to production

[2017-10-05 17:12] #353 closed

[2017-10-05 20:44] hjsyoo commented on #348
Thanks @VivianChu! @remerjohnson, I think this means the title edits for CAICE can be implemented.

[2017-10-06 22:03] mcritchlow commented on #355
Tagging @lsitu in to the assignee group to review also.

[2017-10-06 22:19] remerjohnson commented on #355
I had a repo laying around for the older subjects' data analysis, and I've [updated it](https://github.com/remerjohnson/subject-data-analysis) using the newer master file, with the goal to hopefully end up generating said input files.

The readme for now sketches out the steps to make the input files, which, once we solidify more in the Google Doc, could maybe turn into discrete issues in this or

[2017-10-06 22:35] arwenhutt commented on #355
@remerjohnson that looks very cool! I haven't read through all the steps, but I love the idea of doing this in a reusable way, and I think there's a lot of the processing that's going to be easier in python then excel.  It would be good to have this in our unit repository when we move forward, so we have it all together with the related work, but I'm not sure if it needs to be there now, or if tha

[2017-10-06 23:34] VivianChu commented on #347
@gamontoya - I confirmed with Ron that the properties file for damsManager in staging is configured to use bd ark minter. I also created a test collection record in staging and it used a bd ark.
https://librarytest.ucsd.edu/dc/collection/bd8720339f
The collection record above (https://librarytest.ucsd.edu/dc/collection/bb8158593z) was also in production  https://library.ucsd.edu/dc/collection/bb81

[2017-10-06 23:34] #347 closed

[2017-10-06 23:42] gamontoya opened #356 "Update collections to be metadata-only view"
### Descriptive summary

Steering Committee has approved making the following collections metadata only:

- Center  for Music Experiment
- Dept. of Music  Concert Archive
- ECE   Distinguished Lecturer Series
- Kelco Aerial  Photograph Collection
- Scientific Voyages and Expedition Reports

### Please Note

- At this time, only the Kelco CLR is public (objects are not viewable). The other four col

[2017-10-06 23:46] gamontoya commented on #347
@mcritchlow Does this satisfy your concern(s)?

[2017-10-09 22:03] arwenhutt commented on #355
@lsitu - @mcritchlow mentioned that it might be useful to see the data spreadsheet we've been working in, so I'm attaching a sample version here: [temp_combined_subject_conversion_file_longshou.xlsx](https://github.com/ucsdlib/damspas/files/1369941/temp_combined_subject_conversion_file_longshou.xlsx)

I've removed some of the columns we use for our work, and about half of the rows.  There are some

[2017-10-09 23:11] lsitu commented on #355
@arwenhutt Thanks. Do we have a general mapping rules for each column in the sample file temp_combined_subject_conversion_file_longshou.xlsx? Or we need to walk through the steps in  [subject conversion process](https://docs.google.com/a/ucsd.edu/document/d/12HOMth8ylD20bcEeVYb336NaVxSwaip58n0IhXUWFMs/edit?usp=sharing) to catch the mapping rule for each column?

[2017-10-09 23:30] arwenhutt commented on #355
@lsitu It's all in the subject conversion process document.  The main outlined stages in that document are focused on the ITD side, there will also be DOMM work in between those stages to prep data input files and integrate output data.  The whole data transformation is pretty complicated and multi-step, so doesn't really lend itself to general mappings per source data column.

[2017-10-09 23:37] mcritchlow commented on #347
Yeah I think so. I'm sure Vivian is right and this was the result of a
sync. I think this is just an artifact of what the staging environment has
become.. Thanks for digging into this, Vivian!

On Fri, Oct 6, 2017, 4:46 PM Gabriela A. Montoya <notifications@github.com>
wrote:

[2017-10-09 23:40] arwenhutt commented on #356
@gamontoya what's the priority for this in relation to current collection ingest work?

[2017-10-10 00:10] lsitu commented on #355
@arwenhutt Got it. Thanks. It looks like we may need to re-link some of the subject/name authority records, right? In this case, we may need to track all those CLRs/OLRs that the subject/name need to link to.  Are we able to keep track of those CLRs/OLRs or not?

[2017-10-10 00:13] gamontoya commented on #356
@arwenhutt I'm happy letting you set the priority based on DOMM's current workload. I was not given a deadline by anyone, so...

[2017-10-10 00:20] arwenhutt commented on #356
@gamontoya Since this falls under dldp/sca collection editing, without expressed priorities or urgency from steering, my assumption is that it's lower priority then current dldp/sca project/ingest work, since for that portfolio of work, new ingest is usually given priority.

[2017-10-10 00:26] gamontoya commented on #356
@arwenhutt I agree with your assumption.

[2017-10-10 00:29] arwenhutt commented on #356
Cool, let me know if anything changes :)

[2017-10-10 01:30] arwenhutt commented on #355
@lsitu if I'm understanding your question correctly, we are linking the updated/new authority records to  olr/clrs in Stages 3 and 4.  The olr/clr records that need one (or many) subject/name links added would be identified by  searching for all clr/olr records for the old_ARK, adding the link, and repeating for all the old_ARK's.

We have no plans for tracking all the links between authority reco

[2017-10-10 17:57] remerjohnson commented on #356
Just putting this here for whenever we want to explore this further...

I did a test ingest for metadata-only objects on staging (we have an upcoming metadata-only request for future Blackburn batches), but can't seem to release them. I used the release tool on staging, but the objects remain as curator-only. The CLR is visible.

http://librarytest.ucsd.edu/dc/collection/bd6160587j

[2017-10-10 20:23] mcritchlow commented on #278
@rstanonik , @jhriv: @ucsdlib/domm are going to be ready to start doing test data cleanup work in QA.

Can we request a sync back to QA again from production, please? ;)

[2017-10-10 20:31] jgorney commented on #278
Does this include the triplestore tables?  When would you like this done?

[2017-10-10 20:33] mcritchlow commented on #278
@jgorney - yes please! and as far as timing, I think if we can get this started in the next few days that would be great. so not super urgent, just as soon as convenient for you all.

[2017-10-10 20:35] jgorney commented on #278
I can start my part anytime.  @rstanonik and @jhriv , do I need to time this with any syncing you're doing?

[2017-10-10 20:42] rstanonik commented on #278
It will probably take  four days for the localStore sync.  I don't see any need for @jgorney  to wait.  I'll have a better estimate of time for the localStore sync after it has been running for a while.  I'm about to start it now.

[2017-10-10 20:43] jgorney commented on #278
OK I'll get mine started.

[2017-10-10 22:47] jgorney commented on #278
The triplestore table sync from prod to QA is complete.

[2017-10-10 22:50] mcritchlow commented on #278
Thanks @jgorney !

[2017-10-11 04:29] rstanonik commented on #278
The file copy is 80% done.
Should finish by tomorrow.

The solr sync is done.

[2017-10-11 04:30] rstanonik commented on #278
Hmm, I also need to sync prod zoomify to qa zoomify.

[2017-10-11 13:01] rstanonik commented on #278
The localStore finished.
I started the zoomify sync.
I'll have an estimate after it has run for a while.

[2017-10-11 14:42] mcritchlow commented on #278
Great, thanks for the updates @rstanonik :+1:

[2017-10-11 15:18] rstanonik commented on #278
zoomify is about 25% done.
Estimate another six hours.

[2017-10-11 22:28] rstanonik commented on #278
The zoomify sync finished.
The sync from prod to qa finished.

[2017-10-16 17:53] lsitu commented on #354
@arwenhutt It looks like this is a ticket for you DOMMs as well.
In D4, the properties "authoritativeLabel" and "elementValue" are variants on the following cases:

1. Simple Subject
    Generally speaking, both "authoritativeLabel" and "elementValue" should be the same.
2. Name
    For CorporateName, normally we only have a mads:NameElement that both properties are consistent.
    For mads:Person

[2017-10-17 16:43] arwenhutt commented on #354
@lsitu Are the element values used by the application at all or does it only use the authoritativeLabel?

From a data standpoint, I don't think we'll be able to update the family/given/date sub elements as part of the conversion process since our reconciled data doesn't break them down that way.  I think that is probably okay for now, but I want to make sure that we don't create functionality issu

[2017-10-17 18:14] lsitu commented on #354
@arwenhutt In D4, I think we only index and use the authoritativeLabel for clr/olr UI displaying at this time. However, we do index element value for subject/name records, though we haven't utilized those subject/name records in SOLR yet.
So I think it won't break any current D4 functionalities by just updating the authoritativeLabel and leaving the element values as-is. But when moving forward wi

[2017-10-17 19:59] arwenhutt commented on #354
@lsitu yes that is correct, we'd map from authoritativeLabel to D5

Thanks for checking on the D4 functionalities, I'm going to close now and update the stage 1 ticket!

[2017-10-17 19:59] #354 closed

[2017-10-25 22:21] mcritchlow opened #357 "omniauth security vulnerability"
### Descriptive summary

https://gemnasium.com/github.com/ucsdlib/damspas/alerts#alert-6269566

[2017-10-25 22:22] mcritchlow commented on #357
@ucsdlib/developers - if anyone has any cycles this week to take this, please do.

[2017-10-25 22:27] VivianChu commented on #357
@mcritchlow - I can take it

[2017-10-25 22:31] mcritchlow commented on #357
Thanks @VivianChu!

[2017-10-27 21:33] #357 closed

[2017-10-27 21:49] mcritchlow opened #359 "Release 1.78"
### Descriptive summary

Version: 1.78
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

### Related work

We updated the OmniAuth gem, it would be good to run through authenticating (SSO), and making sure that all works as expected.

[2017-10-30 15:05] VivianChu commented on #359
@gamontoya - The release branch has been deployed to staging.  It's ready for review. Could you review it?  Thanks

[2017-10-30 20:44] gamontoya commented on #359
@VivianChu Approve for prod. Thank you!

[2017-10-31 15:24] VivianChu commented on #359
@jhriv - The release branch has been merged into the master branch.  Could you deploy it to production?  Thanks

[2017-11-02 15:28] jhriv commented on #359
Deployed.

[2017-11-02 15:28] #359 closed

[2017-11-14 22:24] gamontoya opened #360 "Update attribution note for all objects referencing DLDP"
### Descriptive summary

**Global updates needed for all attribution notes**

Digital Library Development Program:

Update URL to:

- http://lib.ucsd.edu/digital-library

Update URL to:

- http://lib.ucsd.edu/sca

Update URL to:

- http://lib.ucsd.edu/rdcp

[2017-11-17 18:24] gamontoya commented on #360
@lsitu If you have the bandwidth for this Sprint.

[2017-11-17 18:26] lsitu commented on #360
@gamontoya Sure. I'll work on it.

[2017-11-21 23:53] lsitu commented on #360
@gamontoya It looks like there is a variation "http://libraries.ucsd.edu/services/data-curation/" for "https://library.ucsd.edu/research-and-collections/data-curation/". Do we need to change it to "http://lib.ucsd.edu/rdcp" as well? For example, https://library.ucsd.edu/dc/object/bb4303245q.

[2017-11-22 00:07] lsitu commented on #360
@mcritchlow I also updated Excel Input Stream tool in DAMS Manager for the local attribution note changes. It's ready for review now: https://github.com/ucsdlib/damsmanager/pull/191. Thanks.

[2017-11-27 17:16] lsitu commented on #360
@gamontoya Just an update that the local attribution notes for all objects referencing DLDP wre updated for the URL on prod last week. Most of the objects in DAMS are affected by this change and the SOLR indexing process is still ongoing. There are still around 30,000 items in the queue that could take another two days.
It look like some RCI objects use a URL like "http://libraries.ucsd.edu/servic

[2017-11-27 18:25] gamontoya commented on #360
@lsitu Thank you Longshou. Yes, please update http://libraries.ucsd.edu/services/data-curation/

[2017-11-28 23:01] gamontoya commented on #360
@lsitu Please update the program URLs to use https instead of http. All records will need to be-reindexed again.

- https://lib.ucsd.edu/sca
- https://lib.ucsd.edu/digital-library
- https://lib.ucsd.edu/rdcp

[2017-11-29 19:42] lsitu commented on #360
Reopen it since we need to update the local attribution notes to use https.

[2017-12-01 18:31] lsitu commented on #360
@gamontoya I think we've change the local attributions notes to use https instead of http for objects that referencing DLDP.
There are total 109,288 objects affected and the SOLR re-indexing process is delayed with around 990,000 items in the queue at this time. Hopefully this could be one by the end of next Week.

[2017-12-01 19:03] gamontoya commented on #360
@lsitu https for RDCP, SC&A, and DLDP objects, not DLDP, correct?

[2017-12-01 19:15] lsitu commented on #360
@gamontoya Right. All objects with the following references:
https://lib.ucsd.edu/sca
https://lib.ucsd.edu/digital-library
https://lib.ucsd.edu/rdcp

[2017-12-01 21:23] gamontoya opened #361 "Distorted item view display for RDCP collection"
### Descriptive summary

If using this URL to get to the item view display for the Southern Ocean Carbon and Climate Observations and Modeling collection, the item display is skewed starting from the third object down:

https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=bb4473712z

![001](https://user-images.githubusercontent.com/4314914/33503928-62758098-d69a-11e7-8321-c4a21cd423fb.png)

### Ste

[2017-12-04 20:12] gamontoya opened #362 "Permanently delete objects/files from DAMS (Solr, file store, etc.)"
### Descriptive summary

While doing QC of the RDCP collections transfer to DPN, I found the following issues:

Scripps CO2 Program Data - bb3381541w | Confirmed with Ryan that these files should be deleted in both DAMS and DPN (rdf + content files):

- bb0139192t/20775-bb0139192t-0-rdf.xml
- bb0480492c/20775-bb0480492c-0-rdf.xml
- bb3620455b/20775-bb3620455b-0-rdf.xml
- bb3961753m/20775-bb3961753

[2017-12-04 20:42] lsitu commented on #362
@gamontoya For those rdf.xml like bb0139192t/20775-bb0139192t-0-rdf.xml, I think we insert those stub records purposely for keeping track of the deletion of that ARK. For example, [bb0139192t/20775-bb0139192t-0-rdf.xml](http://lib-hydratail-prod.ucsd.edu:8080/dams/api/files/bb0139192t/rdf.xml) includes the event to keep track of who is taking the last action to delete the record.
I don't know why

[2017-12-05 16:36] lsitu commented on #362
@gamontoya I've deleted all those .mp4 files above from the filestore. What do you think regarding those rdf.xm stub records that mark the deletion like bb0139192t/20775-bb0139192t-0-rdf.xml?

[2017-12-05 17:50] gamontoya commented on #362
@lsitu I'm not sure those "tombstone" records are of any value. I'm sure there were a lot of other objects that have been deleted from the DAMS, but we never kept rdf records for them, or do/have we? @mcritchlow What do you think? Should I consult DOMM?

[2017-12-05 19:53] lsitu commented on #362
@gamontoya I think we create a "tombstone" record for every record that was deleted from DAMS4 by default, which was added by damsrepo with a delete event. I believe the rdf.xml files list above are just a small part of those "tombstone" records. However, I think we could change it if we see it meaningless.

[2017-12-05 22:08] gamontoya commented on #362
@lsitu Just spoke to Arwen and Jessica and we agreed to leave those tombstone records for now. Thanks Longshou.

[2017-12-05 22:09] gamontoya commented on #362
@lsitu So is this work complete? If so, can you reply to Ron in the original email letting him know the clean up/deletions work is done?

[2017-12-05 22:13] lsitu commented on #362
@gamontoya I only deleted those 41 .mp4 files above at this time. Is there anything else that you want me to cleanup?

[2017-12-05 22:18] gamontoya commented on #362
@lsitu That should be it since we're keeping those tombstone records.

[2017-12-05 22:21] lsitu commented on #362
Thanks @gamontoya .
@rstanonik I've deleted all those .mp4 derivatives above. I think you can resync those two collections above to DPN now. Thanks.

[2017-12-05 22:33] gamontoya opened #363 "Export metadata and hi-res images for SuAVE project"
### Descriptive summary

Ilya, (PI and Director of the Spatial Information Systems Lab at SDSC) would like an export of the master files and metadata from the following collections:

**Collections with geographic subjects but not coordinates:**

- Edwin Cook and Susan Pflanz Cook Photographs
- Edwin Hutchins and Dona Hutchins Collection
- Harold Scheffler Photographs
- J. Edward Hoffmeister Films

[2017-12-05 23:46] rstanonik commented on #362
I'm resync'ing.
I'll tell you when it's done.

[2017-12-07 00:20] rstanonik commented on #362
Resyncing finished and DPN is ready for QC again.

[2017-12-07 01:58] gamontoya opened #364 "Statistics: investigate potential new URL crawling patterns"
### Descriptive summary

Looking at the statistics for the end of November, there are three huge spikes that are suspect.

![stats](https://user-images.githubusercontent.com/4314914/33694798-e99bb76e-daae-11e7-8204-c4592fb1a972.png)

### To Do

- Look for new spiders/bots crawling our site.
- Look at the web logs to see what patterns need to be excluded from the stats.

[2017-12-08 00:23] VivianChu commented on #361
@gamontoya - The problem has been fixed locally.  Attached is the screen shot.  I'll let you know when this fix get deploy to staging.  Thanks
![note_search](https://user-images.githubusercontent.com/1864660/33745320-01236604-db6b-11e7-9973-71aa73b6ca5f.png)

[2017-12-08 16:01] lsitu commented on #364
@gamontoya I think Microsoft (IP: 157.55.175.83, 52.168.19.139) contributed to the peak at Nov. 27 (8793 hits) and Dec. 04 (8600). While the peak at Nov. 30 is normal with https://library.ucsd.edu/speccoll/ (2095 hits) and /dc/ucsd.ico (5393 hits).
There is no obvious pattern to be identified Microsoft as a bot but the browser type is "Mozilla/5.0 (Windows NT 6.2; WOW64; Trident/7.0; rv:11.0) like

[2017-12-08 16:13] lsitu commented on #364
@rstanonik It seems like that Tomcat was not restarted cleanly last deployment and a stalled thread was running at the same time for dams route background work. I have to run the dams stats process again to regenerate the stats starting from November 2nd. But I don't see the problem in the latest deployment. It once happened in the past when we changed the deployment process.  With Jenkins, are we

[2017-12-08 16:36] lsitu commented on #364
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/196 to eliminate the stats counts from Microsoft and the resource url. It's ready for review now. Thanks.

[2017-12-08 16:49] rstanonik commented on #364
I changed the jenkins damsmanager plan in staging and "Dams4 Prod" to restart the tomcat after deploy.

[2017-12-08 16:51] lsitu commented on #364
That sounds good. Thanks @rstanonik.

[2017-12-08 19:23] #364 closed

[2017-12-09 03:46] lsitu commented on #360
@gamontoya Solr re-indexing is done and I think it's ready for you to review now. Thanks.

[2017-12-11 18:55] gamontoya opened #367 "Create tiles (zoom) for object"
### Descriptive summary

- https://library.ucsd.edu/dc/object/bb0446443f

Component 4 (AMS m/z spectra for five non-refractory species) shows in the component preview, but when clicked to view in zoom viewer, no image loads.

Please create the tiles.

[2017-12-11 19:00] gamontoya commented on #367
@jessicahilt This ticket is ready for assignment.

[2017-12-11 19:01] gamontoya commented on #363
@jessicahilt This ticket can be assigned too.

[2017-12-11 22:45] gamontoya commented on #362
@VivianChu Are you able to delete a bogus mp4 derivative that Longshou missed?

- First step, ensure it's not still in the file store.
- If so, delete.
- Re-index Solr for this collection?

[2017-12-11 22:50] gamontoya commented on #360
@lsitu Looks good! Thank you.

[2017-12-11 22:53] #360 closed

[2017-12-11 23:11] gamontoya commented on #361
@VivianChu Good work Vivian.

[2017-12-13 17:59] gamontoya commented on #362
@VivianChu @rstanonik

Correction.

- Delete from DAMS: bb0888881v/20775-bb0888881v-1-2.mp4
- Re-index bb6725113c
- Ron will then sync to DPN

[2017-12-13 18:36] VivianChu commented on #362
@rstanonik @gamontoya
The mp4 file has been deleted.  The collection bb6725113c has been re-index.
Ron - Could you sync that collection Teaching Bee bb6725113c to DPN?  Thanks

[2017-12-13 21:30] rstanonik commented on #362
I sync'ed Teaching Bee bb6725113c to DPN.
bb0888881v/20775-bb0888881v-1-2.mp4 was deleted.
bb0888881v/20775-bb0888881v-0-rdf.xml was updated.

[2017-12-14 17:57] rstanonik commented on #363
Is Ilya a Library staff/student?
Does she/he already have access to a share on lib-storage?

[2017-12-14 18:04] gamontoya commented on #363
@rstanonik Ilya the Director of the Spatial Information Systems Lab at SDSC.

[2017-12-14 18:23] rstanonik commented on #363
Okay, found him in AD, izaslavsky.
Next question is, what is the best way for Ilya to access the data?
Will Ilya just copy it away to somewhere else or will he do some processing on it where we deliver it.
Is CIFS or NFS a better way to share?
Is Ilya the only one who will need access?

[2017-12-14 18:24] rstanonik commented on #363
Shall I contact Ilya directly?

[2017-12-14 18:36] rstanonik commented on #363
And where ever Vivian performs the extraction, it would still be delivered using rdl-share.

[2017-12-14 18:36] rstanonik commented on #363
Not would, but could.

[2017-12-14 19:22] gamontoya commented on #363
@rstanonik Ilya is traveling until the 18, but I'd go ahead and contact him directly. I believe he's checking his email.

[2017-12-14 22:09] gamontoya commented on #362
@VivianChu Sorry Vivian. I just caught this other bogus mp4. Can you delete bb73394544/20775-bb73394544-3-2.mp4

Can you delete,  re-index, and then ask @rstanonik  to sync Teaching Bee bb6725113c to DPN again?

[2017-12-14 23:12] #361 closed

[2017-12-14 23:20] VivianChu commented on #362
@rstanonik @gamontoya
The mp4 file 20775-bb73394544-3-2.mp4 has been deleted. The collection bb6725113c has been re-index.
Ron - Could you sync that collection Teaching Bee bb6725113c to DPN again? Thanks

[2017-12-14 23:25] VivianChu opened #368 "Release 1.79"
### Descriptive summary

Version: 1.79
Release Manager: @VivianChu
Product Owner: @gamontoya
Operations: @jhriv

This release includes the fix for RDCP collection item view display.

### Related work

Ref #361

[2017-12-15 16:30] rstanonik commented on #362
I sync'ed to DPN.
DELETED    bb73394544/20775-bb73394544-3-2.mp4
UPDATED   bb73394544/20775-bb73394544-0-rdf.xml

[2017-12-15 17:49] gamontoya commented on #362
Thank you @VivianChu and @rstanonik !

[2017-12-15 17:49] #362 closed

[2017-12-15 21:51] VivianChu commented on #368
@gamontoya - The release has been deployed to staging. Could you review it?
For example https://librarytest.ucsd.edu/dc/search?utf8=%E2%9C%93&q=bb4473712z
Thanks

[2017-12-18 18:09] gamontoya commented on #368
@VivianChu Approved for prod. Thank you.

[2017-12-18 19:52] VivianChu commented on #368
@jhriv - The release branch has been merged into the master branch.  Could you deploy it to prod?  Thanks

[2017-12-19 21:01] jhriv commented on #368
Master branch deployed to production.

[2017-12-19 21:01] #368 closed

[2017-12-20 22:28] gamontoya opened #369 "Delete test collection and object"
### Descriptive summary

This collection level record and single object need to be deleted from the Solr index, file store, etc. Accidentally ingested into prod:

Object:

- http://library.ucsd.edu/ark:/20775/bb9525675s

Collection Level Record:

- https://library.ucsd.edu/dc/collection/bb2085336d (edited)

[2017-12-20 23:16] jhriv commented on #369
[code]

[code]

have been removed

[2017-12-20 23:18] VivianChu commented on #369
@gamontoya - These records have been deleted and the solr index has been updated.

[2017-12-21 01:17] gamontoya commented on #369
Thank you @VivianChu and @jhriv

[2017-12-21 01:18] #369 closed

[2017-12-23 00:30] VivianChu commented on #363
@gamontoya - The master files for 11 collections have been copied.  The CSV files have been created.
@rstanonik - Could you give Gabriela access and she could review the data?  Thanks

[2018-01-08 17:36] lsitu commented on #367
@gamontoya I think the tiles are already generated over the weekend.

[2018-01-08 17:56] gamontoya commented on #367
@lsitu On prod? I'm getting nothing with this URL: https://library.ucsd.edu/dc/object/bb0446443f/zoom/4

[2018-01-08 18:08] lsitu commented on #367
@gamontoya Hmm, I think I was looking at the wrong component. I'll take a look.

[2018-01-08 18:24] stanonik commented on #363
@gamontoya Are you comfortable ssh'ing to a linux host and using linux commands to review the data?  If not, then I'll create a CIFS share for the data.

[2018-01-08 18:27] gamontoya commented on #363
@stanonik Yes. I use SSH for CDL linux servers on a daily basis.

[2018-01-08 18:35] stanonik commented on #363
@gamontoya SSH to brilthor as user gamontoya, use your AD password.  Then cd /mnt/isilon/tchu.  You should have read-only access to everything, but if you have problems, let me know and I'll check the permissions.

[2018-01-08 19:24] gamontoya commented on #363
@rstanonik server is brithor.ucsd.edu?

[2018-01-08 20:23] gamontoya commented on #363
@VivianChu I was reviewing some CSV files for these collections and I notice that they all lack the collection they are a member of. Can you rerun the reports to add a "Collection" column for each collection's CSV?

[2018-01-08 20:28] VivianChu commented on #363
@gamontoya -  The collection is in the Provenance Collection or Assembled Collection column before copyright column.

[2018-01-08 21:32] gamontoya commented on #363
@VivianChu Right! I missed that, sorry.

@rstanonik This content is ready to be delivered to Ilya.

[2018-01-08 21:37] lsitu commented on #367
@hjsyoo I found that component 4 is a PDF file while its file use is set to "image-source". Do you mind if I change it to "document-service"?

[2018-01-08 22:10] stanonik commented on #363
Who is Ilya and how will this be "delivered" to her?

On Mon, Jan 8, 2018 at 1:32 PM, Gabriela A. Montoya <
notifications@github.com> wrote:

[2018-01-08 23:02] hjsyoo commented on #367
@lsitu Yes, please do! Glad the problem was fairly straightforward.

[2018-01-08 23:06] hjsyoo commented on #367
@remerjohnson I just looked up a similar collection (wacs1) and found that .pdf plots have Type of Resource = text. Should the .pdf plot mentioned here also be changed to "text"?

[2018-01-08 23:35] rstanonik commented on #363
Tim suggested that I get in touch with Ilya and see if he can directly NFS mount this share to copy the data.  Sound okay?

[2018-01-08 23:36] rstanonik commented on #363
It's about 2.5T

[2018-01-08 23:38] rstanonik commented on #363
He is at SDSC.  Our Isilon is at SDSC.  NFS direct to Isilon would be fastest by far.

[2018-01-09 01:19] gamontoya commented on #363
@rstanonik That would be easier for us so let's not give him a choice :-)

[2018-01-09 16:34] remerjohnson commented on #367
@hjsyoo As noted above, I think the most crucial part is what the "file use" value is. PDF files need to be "document-service" in order to behave correctly. This makes the "type of resource" value a little sketchy, since technically it is a still image but it is being treated like a text file for the sake of generating the correct derivatives. I think we normally just put it as "text" to be safe/c

[2018-01-09 16:39] rstanonik commented on #363
I sent an email to Ilya about allow NFS access to the data so he can copy it to an SDSC server.

[2018-01-09 22:19] lsitu commented on #367
@gamontoya @hjsyoo I've updated the record to correct the file use of the PDF in component 4, and updated the Type of Resource to "text". And the missing tiles/zoom for component 4 is no longer to be an issue for https://library.ucsd.edu/dc/object/bb0446443f now.

[2018-01-09 23:55] gamontoya commented on #367
Looks good @lsitu . Thank you!

[2018-01-09 23:55] #367 closed

[2018-01-10 16:56] hjsyoo commented on #367
Thank you @lsitu

[2018-01-11 18:06] hweng commented on #251
Got “OSF | Page not found” issue when test pushing a record to OSF staging with API V2. I've sent a message to OSF developers for the issue and still wait for their response.

[2018-01-12 21:28] gamontoya opened #385 "New sync for Prod to QA"
### Descriptive summary

- Starting a new round of subject conversion testing.
- Need to align the QA environment with Prod.

### To Do:

- [x] Sync Solr index from Prod to QA.
- [x] Sync Triplestore db from Prod to QA.
- [x] Sync Filestore from Prod to QA.
- [x] Restart DAMS Solrizer on QA.

[2018-01-12 21:28] gamontoya commented on #385
@mcritchlow Can you look this over and let add steps that may be missing/needed?

[2018-01-12 22:00] mcritchlow commented on #385
@gamontoya - nice, thanks for writing this up 👏 !

I'm not sure whether any of the `Deploy` steps are actually needed as I think things have been kept up to date there, but would be good to confirm with @lsitu. Worst case we get to check off a bunch of things quickly from the list :)

Otherwise I guess we just need to ensure that `Sync` will get us back to a clean starting point, and not just add

[2018-01-13 00:43] lsitu commented on #385
@mcritchlow @gamontoya I think we could ignore those deploy steps since I don't think the the updates in those apps could affect the Subject Conversion process.

[2018-01-16 17:44] gamontoya commented on #385
@mcritchlow @lsitu Much easier then. We are down to 4 steps only.

[2018-01-16 18:05] jgorney commented on #385
Hi - I'll coordinate with Ron on the steps we need to perform.

[2018-01-16 18:12] rstanonik commented on #385
We can perform the sync, but are we waiting to hear from @lsitu whether a sync is ncessary?

[2018-01-16 18:20] lsitu commented on #385
@rstanonik Yes, its's necessary. Thanks. We are going to start a new round of testing with the Subject conversion process. See https://github.com/ucsdlib/damsmanager/issues/190#issuecomment-357351964.

[2018-01-16 18:28] rstanonik commented on #385
I'm starting the filestore sync.  I'll give an estimate of the time required, after it has run a while.

[2018-01-16 18:32] rstanonik commented on #385
Looking at the log from the last sync on 2017-10-10, that sync took nine hours.

[2018-01-16 18:32] jgorney commented on #385
I'll start the triplestore DB sync right now.

[2018-01-16 18:47] rstanonik commented on #385
I started the solr sync.

The filestore is 5% done in 13 minutes, so estimated time to completion is 13/.05 =  260 minutes or between 4 and 5 hours.

[2018-01-16 19:33] rstanonik commented on #385
25% done in one hour, so probably another three hours

[2018-01-16 20:28] rstanonik commented on #385
51% in two hours, so another two hours to go.

[2018-01-16 20:43] jgorney commented on #385
The Triplestore db sync is complete, including indexes.

[2018-01-16 22:28] rstanonik commented on #385
The filestore sync from prod to QA finished.

The solr sync from prod to QA finished.

The DAMS solrizer on QA was restarted

[2018-01-16 22:29] rstanonik commented on #385
QA is ready.

[2018-01-16 22:31] gamontoya commented on #385
@rstanonik @jgorney Thank you two!

[2018-01-16 22:32] gamontoya commented on #385
@arwenhutt @lsitu The QA environment is now ready for the next round.

[2018-01-16 22:32] rstanonik commented on #385
QA damsolrizer died

[2018-01-16 22:33] arwenhutt commented on #385
@gamontoya @lsitu the data input file and ticket for Take 2: Stage 1 is not ready yet.  I'll let you all know as soon as it is though.

[2018-01-16 22:34] rstanonik commented on #385
There were two solrizers running (old and new?).
I killed both and started one.

[2018-01-22 17:29] gamontoya commented on #363
Closing this ticket out. Vivian and Ron's work completed.

[2018-01-22 17:30] #385 closed

[2018-01-25 17:30] gamontoya commented on #356
**Note:** Object display behavior and specs are forthcoming.

[2018-01-26 17:58] hweng commented on #251
This work is "On hold" now as I was informed.

[2018-01-30 23:14] mcritchlow opened #395 "Update ruby dependency to 2.4 series"
### Descriptive summary

update `.ruby-version` to 2.4.2

### Rationale

The ruby 2.2 series is end of life, no longer supported.

### Related work

https://github.com/ucsdlib/dams-vagrant/issues/12

[2018-01-31 20:41] #395 closed

[2018-01-31 21:56] gamontoya opened #397 "Papua New Guinea Patrol Reports - Fix typo"
### Descriptive summary

Papua New Guinea Patrol Reports (Northern District) have a typo in **Title, Location of Original**s, and **Cite this Work**.

There are roughly 159 objects affected. See:

- https://library.ucsd.edu/dc/search?page=8&q=%22Nothern%22&spellcheck.q=%22Nothern%22&utf8=%E2%9C%93

### Fix

Correct misspelled **_Nothern_** to **Northern**.

### Examples of typos

**Title:**
Patrol

[2018-01-31 21:56] gamontoya commented on #397
@lsitu Can you take this on?

[2018-01-31 21:58] lsitu commented on #397
@gamontoya Sure. I'll work on it.

[2018-02-01 16:58] lsitu commented on #397
@gamontoya I've corrected 600 misspelled "Nothern" typo in those 159 records above. These is what I see in the metadata. But I can still see 9 records with the typo "Nothern", which are coming from the PDF fulltext extraction: https://library.ucsd.edu/dc/search?&q=Nothern&utf8=%E2%9C%93.
What else do we need to do in this ticket?

[2018-02-06 19:08] gamontoya commented on #363
@rstanonik Did Ilya ever contact you to set up the NSF mount? I need to know if he got the images and spreadsheets from us.

[2018-02-06 19:32] rstanonik commented on #363
The last I heard was on 1/10

Hi Ron,
My first step will be to generate image pyramids. So we'll transfer to some sdsc machine and then figure out where to do it.  Probably next week. I am still in dc.
Ilya

[2018-02-06 19:38] gamontoya opened #402 "Curator master download link not working"
### Descriptive summary

For some objects in the Harry Crosby collection, the master download link if signed in as curator results in a 404 error:

- https://library.ucsd.edu/dc/object/bb73733028/_1.tif/download?access=curator

Seems to affect 59 objects:

- https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=%22Carnival%2C+UCSD%22

**_A global check should be done (if possible) to see if there ar

[2018-02-06 19:40] gamontoya opened #403 "Investigate Zoom issue"
### Descriptive summary

Zoom is not working for this set of images:

- https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=%22Carnival%2C+UCSD%22

Create zoom tiles if they do not exist.

### Related work

See #402 before starting on this ticket.

[2018-02-06 19:41] gamontoya commented on #402
@jessicahilt Ready to be assigned.

[2018-02-06 19:41] gamontoya commented on #403
@jessicahilt Ready to be assigned.

[2018-02-06 19:52] lsitu commented on #402
@gamontoya @jessicahilt We need to clean those file URLs, and I can work on it.

[2018-02-06 22:27] gamontoya commented on #397
@lsitu The PDFs actually have the typos in them, so we'll leave as is. This ticket is complete.

[2018-02-06 22:27] #397 closed

[2018-02-07 23:54] lsitu commented on #402
@gamontoya I've done a global check and found the following 950 objects have this stale file URL pattern:
[report_file_url.txt](https://github.com/ucsdlib/damspas/files/1705184/report_file_url.txt)

I'll move ahead to correct them all once you confirm about it. Thanks.

[2018-02-08 01:08] gamontoya commented on #402
@lsitu Yes, looks good. Thank you for proceeding with this.

[2018-02-08 01:09] gamontoya commented on #402
@lsitu I'm guessing these objects will form part of #403

[2018-02-09 18:35] lsitu commented on #402
Hi Gabriela,
I've fixed the stale file url pattern issue with all 950 object reported above. Curators should be able to download those master tif files for damspas now.

Yes, I think this could be part of the reason for #403. Let me check what else could be an issue with it.

[2018-02-09 19:43] lsitu commented on #403
@rstanonik It looks like we've got some issues with zoomify tiles creation in the past but we don't know about. Where the zoomify tiles for the prod environment is located? Thanks.

[2018-02-09 20:04] rstanonik commented on #403
lib-ingest mounts the zoomify tiles on /pub/data1/zoomify

Is that what you need?

[2018-02-09 20:07] lsitu commented on #403
@rstanonik Yes. Can I have read access from brilthor or somewhere else?

[2018-02-09 20:13] rstanonik commented on #403
I mounted it on brilthor on /pub/data3/zoomify-prod.

[2018-02-09 20:16] lsitu commented on #403
That sounds good. Thanks @rstanonik.

[2018-02-09 23:22] gamontoya commented on #402
@lsitu Awesome. Thank you.

[2018-02-09 23:22] #402 closed

[2018-02-12 18:16] lsitu commented on #403
@rstanonik I found the following images have the wrong zoomify tiles folder name with '-0' appended in  /pub/data3/zoomify-prod:
[error_zoomify_tiles.txt](https://github.com/ucsdlib/damspas/files/1717285/error_zoomify_tiles.txt)

Could we rename those zoomify tile folders to remove "-0" from the end? I think rerun the zoomify tiles creation process could fix the zoomify issue too. What do you thin

[2018-02-13 16:46] lsitu commented on #403
@rstanonik Have you got a chance to look into those zoomify tiles in file [error_zoomify_tiles.txt](https://github.com/ucsdlib/damspas/files/1717285/error_zoomify_tiles.txt) Thanks.

[2018-02-13 22:50] rstanonik commented on #403
I'm creating a script now to rename them.
Should have it soon.

[2018-02-13 23:10] rstanonik commented on #403
They've been renamed.

[2018-02-14 00:26] lsitu commented on #403
Thanks @rstanonik.
@gamontoya I think the zoom issue should be fixed for those images now. Here is the first one: https://library.ucsd.edu/dc/object/bb3755523v/zoom/0.

[2018-02-14 16:51] gamontoya commented on #403
@lsitu @rstanonik Thank you both.

[2018-02-14 16:51] gamontoya commented on #403
@mdpeters This issue is now resolved.

[2018-02-14 16:51] #403 closed

[2018-03-14 16:52] gamontoya opened #408 "Set ~3000 SIO Photos Lab objects to "Curator Only" status"
### Descriptive summary

Special Collections and Archives staff (see related work below) combed through the [SIO photo lab](https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=%22SIO+Photographic+Laboratory+Photographs%22) “portrait” report and made selections for suppressing duplicate/similar images.

Suppression List
- 3639 total
- [SIO_Portrait_title_list_deletions_2015_09_30.xlsx](https://gith

[2018-03-14 17:06] #278 closed

[2018-03-16 18:12] jessicahilt commented on #270
@hweng What's the status of this ticket?

[2018-03-16 18:13] gamontoya commented on #269
@hweng @hjsyoo What's the status of this ticket?

[2018-03-16 18:16] hweng commented on #270
@jessicahilt This one depends on another ticket "share mapping spreadsheet updating: #269". After https://github.com/ucsdlib/damspas/issues/269 is done, this work can be proceeded.

[2018-03-16 18:22] hweng commented on #269
@gamontoya This work has been on hold status for some reason. I'm fine to proceed it if need. What do you think @hjsyoo ?

[2018-03-16 22:17] hjsyoo commented on #269
@hweng Yes, please proceed with the work. Thank you!

[2018-03-20 17:06] gamontoya opened #409 "Browse by collection view"
### Descriptive summary

- As a user, I should see the collection's thumbnail and brief description.
- As a user, below the description, I should see all Access notes with the exception of "Curator Only"

### Expected Behavior

The access note for **metadata-only view** collections should say:

**Access**
- **Restricted View**

### Example View

![collection](https://user-images.githubusercontent.

[2018-03-20 17:12] gamontoya opened #410 "Collection level record view"
### Descriptive summary

- As a user, in the metadata display section, I should see the Access states at the top.
- As a user, I should see the collection's image on the right and be able to View Collection Items.
- As a user, I should be able to Search this collection.

### Expected behavior

The access note for metadata-only collections should say:

**Access**
- **Restricted View**

### Example

[2018-03-20 17:24] gamontoya opened #411 "Items view"
### Descriptive summary

- As a user, I should see grey generic thumbnails for objects of metadata data-only visibility collections.

### Example View

![objects](https://user-images.githubusercontent.com/4314914/37671311-afc85134-2c28-11e8-9181-6256f1655ffc.png)

-------------------------------------------
### Reference
[Full specifications](https://lisn.ucsd.edu/display/dlpg/DAMS4+Metadata-Only+

[2018-03-20 17:33] gamontoya opened #412 "Delete me"
### Descriptive summary

[2018-03-20 17:34] gamontoya opened #413 "Object level view"
### Descriptive summary

- As a user, when I click to view an object, I should see a grey generic image with a banner that explains the restriction.
- As a user, when viewing an object, I should see the Access note below the generic image and other displayed metadata.b

### Expected behavior

The banner note should say:

**Restricted View**
Content not available. Access may granted for research pu

[2018-03-20 17:36] gamontoya commented on #412
Dupe ticket

[2018-03-20 17:46] gamontoya opened #414 "Delete me"
### Descriptive summary

[2018-03-20 17:47] gamontoya opened #415 "Complex object view"
### Descriptive summary

- As a user, I should **not** see content in the object viewer. I should see a restriction image (see notes).
- As a user, I should be able to navigate the component tree or use the navigation arrows.
- As a user, I should **not** see a download option.
- As a user, I should be able to see metadata for all components.

### Example View

![complex](https://user-images.githu

[2018-03-20 17:50] #414 closed

[2018-03-20 17:50] #412 closed

[2018-03-20 19:48] gamontoya commented on #356
IT Dev will do this work once metadata-only visibility is fully implemented.

[2018-03-20 19:58] gamontoya opened #416 "Implement metadata-only visibility rules for UCSD IP only collections"
### Descriptive summary

A UCSD IP only collection should have the following behaviors:

- If collection is UCSD IP only and metadata-only for public users, as an **authenticated user**, I should be able to get to the content.
- If collection is UCSD IP only and metadata-only for public users, as an **unauthenticated user**, I should not be able to get to the content.
- If collection is UCSD IP on

[2018-03-22 16:10] gamontoya commented on #269
@hweng You don't need feedback from @hjsyoo or @arwenhutt  on this ticket in order to proceed, do you?

[2018-03-22 18:53] lsitu commented on #416
@gamontoya Are we going to change the visibility behavior for UCSD IP only collections to allow objects in those collections to be accessed by public user with metadata-only display?
Are we going to have metadata-only visibility collection, and so we'll have visibility values for collections like public, UCSD-IP only, metadata-only, curator-only or not?

[2018-03-22 19:06] gamontoya commented on #416
@lsitu @VivianChu Technically speaking, a collection can be set to:

- UCSD IP only where authenticated users can see the metadata and view the objects, but also be:
- Metadata only where an unauthenticated user (public user) can only see the metadata for the objects.

However, a public collection at some point may also have an **object(s)** that can be set to metadata-only or UCSD IP only, but a

[2018-03-22 19:25] lsitu commented on #416
@gamontoya Yes. Thanks for clarifying it.

[2018-03-23 19:28] lsitu commented on #416
@mcritchlow I've added PR https://github.com/ucsdlib/damsrepo/pull/58 to address the access control rules for this support. It's ready for review now. Thanks.

[2018-03-23 23:32] gamontoya commented on #410
@VivianChu Nice. I look forward to being able to test this! Have a great weekend.

[2018-03-27 20:36] #254 closed

[2018-03-27 20:37] #258 closed

[2018-03-27 20:37] #257 closed

[2018-03-27 20:49] #260 closed

[2018-03-27 20:52] #259 closed

[2018-03-29 21:05] hweng commented on #269
@hjsyoo, Let me know if you want me to proceed changes, and please confirm the following:
#1 "Change James Hung's role from Researcher to Creator", do you want to update the dams metadata for it?
#2 "Map Researcher to Contributor" - This will be implemented in mapping code. Do you want all roles which is not in OSF schema list to be mapped to "contributor"?

[2018-04-02 15:43] hjsyoo commented on #269
@hweng Yes, sorry this fell through the cracks. We had updated the DAMS metadata (https://library.ucsd.edu/dc/collection/bb7305352v), but the confirmation hadn't made it to this ticket. Also confirming that all roles not in the OSF schema list should be mapped to "contributor".

[2018-04-02 18:28] hweng commented on #269
Thanks for confirming @hjsyoo

[2018-04-03 00:32] gamontoya commented on #416
@gamontoya will close after this is tested.

[2018-04-04 22:03] #410 closed

[2018-04-05 18:18] gamontoya opened #430 "Release 1.80"
### Descriptive summary
- Version: 1.80
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv

---------------

### Related work
#410

---------------

### Note
**TO BE RELEASED TO STAGING ONLY AT THIS TIME**

[2018-04-09 23:58] lsitu commented on #356
@gamontoya As a UCSD IP users, do they still be able to access the objects in these collections once we change them from "localDisplay" to metadta-only (metadataDisplay)? In other words, what's the difference for "localDisplay" and metadta-only objects when access from UCSD campus?

[2018-04-10 16:39] gamontoya commented on #356
@lsitu There isn't really a difference in behavior between these two, but we probably need to keep both since not all collections that are _localDisplay_ will also be _meatdataDisplay_ be default.

@mcritchlow Do you agree?

[2018-04-10 17:03] lsitu commented on #356
@gamontoya Thanks. Will these meatdataDisplay objects be allowed to access from UCSD campus or not? Are there any differences/conflicts with the metadataDisplay objects in Oceania collections like Keesing, Lambert Photographs etc.?

[2018-04-10 20:42] gamontoya commented on #356
- If collection X is UCSD IP only and metadata-only for public, as an _**authenticated user**_, I should be able to get to the content.
- If collection X is UCSD IP only and metadata-only for public, as an _**unauthenticated user**_, I should not be able to get to the content.
- If collection X is UCSD IP only and metadata-only for public, as a **_curator_**, I should be able to access all content

[2018-04-10 20:46] gamontoya commented on #356
- Lambert = 23 cultural sensitivity, but can display metadata to public
- Keesing = 883 cultural sensitivity, but can display metadata to public

We need to test these collections on QA/Stage to make sure they are working as expected after you're done.

[2018-04-10 22:24] lsitu commented on #356
@gamontoya Thanks. With that said, we need to update access control:
- Display metadata to public for both localDisplay and metadataDisplay objects.
- Allow both localDisplay and metadataDisplay objects that are in a CLR with local visibility value to be accessible (be able to get the content) on campus.
- Disallow those metadataDisplay objects in Lambert and Keesing, which with a CLR that has a v

[2018-04-10 22:42] VivianChu commented on #430
@gamontoya - The release has been deployed to staging.  Could you review it?  Thanks
For example
https://librarytest.ucsd.edu/dc/collection/bb19126574
https://librarytest.ucsd.edu/dc/collection/bb6179079d
https://librarytest.ucsd.edu/dc/collection/bb91824453
https://librarytest.ucsd.edu/dc/collection/bb10936072

[2018-04-11 19:09] lsitu commented on #356
@gamontoya It looks like we should not make the changes on prod now. It'll block the access to these collections on campus once we change them to metadata only.
Should we hold off the ticket until we deploy damsrepo to prod with access control for UCSD IP /metadata-only access control? Or just make the change for those collections that we want to test on staging for now and do it later when the su

[2018-04-11 20:29] gamontoya commented on #356
Can you make the changes for these affected collections on staging on? I'm not ready for any of this code to go to production without it being fully tested.

[2018-04-11 20:31] lsitu commented on #356
@gamontoya Sure. I'll make the change on staging for now.

[2018-04-11 20:47] gamontoya commented on #356
@lsitu Great! This will be easier for DLDP/RDCP folks to vet if they can see the behavior on staging.

[2018-04-11 21:32] gamontoya commented on #430
@VivianChu I will, but better yet, let me test from home.

[2018-04-12 14:43] gamontoya commented on #430
@VivianChu Can you deploy this to QA where I don't have to use VPN to access the link? As it is, I have to use VPN to access test from home; this is not a good test since I want to test open access vs. UCSD ip authentication.

[@lsitu FYI]

![test](https://user-images.githubusercontent.com/4314914/38684676-1448bcb2-3e25-11e8-8c3b-893a60b39cfc.png)

[2018-04-12 16:20] lsitu commented on #430
@gamontoya Then we may need to deploy damsrepo release 4.37 to QA. And thanks @rstanonik for setting up the Jenkins plan on QA that can automate the deployment of damsrepo from the release branch.
I'll update those UCSD IP/metadata-only collections in ticket https://github.com/ucsdlib/damspas/issues/356 on QA as well.

[2018-04-12 16:25] gamontoya commented on #430
@VivianChu @lsitu Thank you both for setting things up properly for testing on QA. Much appreciated!

[2018-04-12 17:03] VivianChu commented on #430
@jhriv - Could you install ruby 2.3.6 to QA environment? Thanks

[2018-04-12 17:04] jhriv commented on #430
Tracked by IO-94

[2018-04-12 17:49] VivianChu commented on #409
@gamontoya - Here's the screen shot of browse by collection page for my local damspas.  I just created a PR and waited for it to get review.
![browse_by_collection](https://user-images.githubusercontent.com/1864660/38694695-260f13b4-3e3f-11e8-887e-883d92cbfb82.png)

[2018-04-12 18:07] jhriv commented on #430
IO-94 closed; ruby is at 2.3.6 on lib-hyrdahead-qa and lib-hydratail-qa for the conan user. Bundler has been upgraded (1.16.1). Please see IO-94 for more details.

[2018-04-12 18:27] VivianChu commented on #430
@gamontoya - The release has been deployed to qa. Could you review it?
For example
http://libraryqa.ucsd.edu/dc/collection/bb19126574
http://libraryqa.ucsd.edu/dc/collection/bb6179079d
http://libraryqa.ucsd.edu/dc/collection/bb91824453
http://libraryqa.ucsd.edu/dc/collection/bb10936072

[2018-04-12 21:37] gamontoya commented on #409
@VivianChu Looks exactly like what we want.

[2018-04-12 21:38] gamontoya commented on #430
@VivianChu I will later this afternoon from home.

[2018-04-12 23:34] gamontoya commented on #430
@VivianChu Does QA also require VPN?

[2018-04-12 23:43] gamontoya commented on #430
@VivianChu In short, I need to test these objects when not on campus and with no VPN (as a non-authenticated user).

[2018-04-13 15:55] VivianChu commented on #430
@gamontoya - QA doesn't require VPN.  I was able to access damspas and other collections record without vpn.  However, those UCSD-IP metadata only collection gave me error 500. Is it supposed to behave that way? With VPN, I was able to see those records fine. Thanks