[2018-04-13 17:01] lsitu commented on #430
@gamontoya / @VivianChu I think we haven't made any changes for these collections on QA yet. So they won't be available for public but with the old behavior for UCSD IP only access. I think we may need to have ticket https://github.com/ucsdlib/damspas/issues/356 is done on QA so that the new access control rule can be applied for these collections.

[2018-04-13 17:15] gamontoya commented on #430
@lsitu @VivianChu Were the changes made on Test? Should they behave as expected on Test because it doesn't look like they are.

[2018-04-13 18:00] lsitu commented on #430
@gamontoya I think we need to made the change on the metadata level. I'll update the index/CLR to local visibility for those collections so that the new "UCSD IP/metadata-only" access control rule can be applied to those collection CLRs, which will allow them to be viewable from public.

[2018-04-13 21:49] gamontoya commented on #430
@lsitu Okay, just make sure the changes are done in QA/Test and not in prod until fully vetted and tested.

[2018-04-13 21:59] lsitu commented on #430
@gamontoya Sure. It's already done on QA/Test. But we see status 500 error with UI display and Vivian and I are working on it now.

[2018-04-13 22:00] gamontoya commented on #430
@lsitu @VivianChu Take your time; you guys are doing a GREAT job!

[2018-04-13 22:43] VivianChu commented on #430
@gamontoya - The UI display issue have been fixed on QA.  Could you review them again?  Thanks

[2018-04-13 23:34] VivianChu commented on #413
@gamontoya - The single object view has been updated to display the restricted note.  Attached is the screen shot for my local environment.  I created a PR and waited for it to get reviewed.
![objectviewmetadataonly](https://user-images.githubusercontent.com/1864660/38761531-8ee038e2-3f38-11e8-84fe-09ff37298bb8.png)

[2018-04-14 01:41] gamontoya commented on #430
@VivianChu So far the behavior is correct only I was able to play the file as regular user. I am not, however, allowed to download the file.

I'll do more testing on Monday.

[2018-04-14 01:42] gamontoya commented on #413
@VivianChu Yay! Good job.

[2018-04-17 17:29] #430 closed

[2018-04-17 20:16] mcritchlow opened #436 "R&D Test Queries against CIL endpoints"
### Descriptive summary

In the somewhat near future we will be ingesting a very large collection into the DAMS, the [CIL](http://cellimagelibrary.org/home).

The metadata for this collection is available in a GitHub repository:

https://github.com/slash-segmentation/CIL_Public_Data_JSON/tree/master/Version8_6/DATA/CIL_PUBLIC_DATA

With instructions in the README on how to use the identifier to co

[2018-04-17 21:19] mcritchlow commented on #436
@hjsyoo - I could use some help, perhaps from @wawong to sort out a download issue I'm running into with some initial testing of the CIL json files.

Basically, according to the [README](https://github.com/slash-segmentation/CIL_Public_Data_JSON/blob/master/README.md)  one can determine that they are downloading video or audio files based on the value of `$json->CIL_CCDB->Data_type->Video`. And th

[2018-04-17 21:45] wawong commented on #436
Can you provide the IDs that you have problem with downloading the tiff images?

[2018-04-17 21:50] mcritchlow commented on #436
@wawong - I'm pretty sure these were in the list `37197, 40278` I can do a run again and see if any others pop up. Thanks for the quick response!

[2018-04-17 22:30] wawong commented on #436
You can go to the website and check http://cellimagelibrary.org/images/37197 and http://cellimagelibrary.org/images/40278

For example, https://cildata.crbs.ucsd.edu/media/images/40278/40278.tif

[2018-04-18 18:36] #416 closed

[2018-04-19 21:59] #251 closed

[2018-04-24 20:40] gamontoya commented on #413
@VivianChu Those three examples look good. Where is the program information being pulled from on the banner?

_Digital Library Development Program at dlp@ucsd.edu_

From the attribution note or is it hard coded?

[2018-04-24 20:48] VivianChu commented on #413
@gamontoya - It is hard coded. I don't see that value from attribution note - http://lib-hydrahead-qa:8983/solr/blacklight/select?q=bb9591785q&wt=xml&debugQuery=true

[2018-04-24 21:02] gamontoya commented on #413
@VivianChu It's in otherNote_json_tesim

[code]
So I don't think it should be hard coded. In this case, the value is wrong in your hard coded example.

[2018-04-24 21:10] VivianChu commented on #413
@gamontoya - Would the value be this instead
Restricted View
Content not available. Access may granted for research purposes at the discretion of the UC San Diego Library. For more information please contact the Special Collections \u0026 Archives,
UC San Diego, La Jolla, 92093-0175 (https://lib.ucsd.edu/sca)

[2018-04-25 00:31] VivianChu commented on #413
@gamontoya - The view has been updated for my local damspas with the value from the attribution note.  Attached is the screen shot.  Does it look correct to you?
The attribution for this record is {"id":"_","type":"local attribution","value":"Digital Library Development Program, UC San Diego, La Jolla, 92093-0175 (https://lib.ucsd.edu/digital-library)","displayLabel":"digital object made available

[2018-04-25 18:53] VivianChu commented on #415
@gamontoya -  Here are the screen shots of different type of complex object from my local damspas.
//complex audio type
![complexobjaudiotype](https://user-images.githubusercontent.com/1864660/39266558-2a20a748-487f-11e8-8903-3b02446cd41f.png)

//complex video type
![complexobjvideotype](https://user-images.githubusercontent.com/1864660/39266574-349ad7c0-487f-11e8-8e2a-6bbc73665216.png)

//complex

[2018-04-25 18:54] VivianChu commented on #415
@gamontoya - The complex object update has been deployed to qa.  Could you review it?  Thanks
For example
//complex video
http://libraryqa.ucsd.edu/dc/object/bb3756085z
//complex audio
http://libraryqa.ucsd.edu/dc/object/bb0649592q

[2018-04-25 22:03] gamontoya commented on #415
Hi Vivian. This isn't exactly right. If you log in, you as a curator should be able to view the objects. So it looks like one step is missing.

[2018-04-25 22:05] gamontoya commented on #413
The text should read:

`Content not available. Access may granted for research purposes at the discretion of the UC San Diego Library. For more information please contact the Digital Library Development Program at dlp@ucsd.edu`

[2018-04-25 23:30] VivianChu commented on #413
@gamontoya - @gamontoya - The update for program name has been deployed to qa. Could you review it again? Thanks
For example
http://libraryqa.ucsd.edu/dc/object/bb9591785q
http://libraryqa.ucsd.edu/dc/object/bb1844273v
http://libraryqa.ucsd.edu/dc/object/bb72371287

[2018-04-26 16:53] gamontoya commented on #413
@VivianChu They look fine, but once again, if I sign in, I should be able to see the objects and download the derivative and master. If these rules are not yet implemented, let me know.

[2018-04-26 16:55] gamontoya commented on #413
@VivianChu I take that back. The email for Special Collections is wrong. It's using the DLP email. Can you not pull the correct email for Special Collections from the attribution note?

[2018-04-26 17:00] VivianChu commented on #413
@gamontoya - I don't see email for Special Collections from the attribute note.
http://lib-hydrahead-qa:8983/solr/blacklight/select?q=id:bb9591785q&wt=xml&debugQuery=true
{"id":"b","type":"local attribution","value":"Special Collections \u0026 Archives, UC San Diego, La Jolla, 92093-0175 (https://lib.ucsd.edu/sca)","displayLabel":"digital object made available by","internalOnly":""}
Which email sh

[2018-04-26 17:16] gamontoya commented on #413
@VivianChu Okay, we'll have the following use cases:

- Digital Library Development Program
   - dlp@ucsd.edu

- Research Data Curaation Program
   - research-data-curation@ucsd.edu

- Special Collections & Archives
   - spcoll@ucsd.edu

[2018-04-26 21:39] VivianChu commented on #413
@gamontoya - The email and the rule update for simple object has been deployed to qa. Could you review it again? Thanks
For example
http://libraryqa.ucsd.edu/dc/object/bb9591785q
http://libraryqa.ucsd.edu/dc/object/bb1844273v
http://libraryqa.ucsd.edu/dc/object/bb72371287

[2018-04-26 21:55] gamontoya commented on #413
@VivianChu The banners for all three are missing.

[2018-04-26 22:40] #409 closed

[2018-04-26 22:49] hweng commented on #270
@hjsyoo @arwenhutt
The DAMS4 to SHARE V2 mapping has been implemented in damspas.  Here is the JSON output for example record bb7305352v:
https://gist.github.com/hweng/81bbd50513895f09b9b93003e921a5a4

Here is the sample record that I pushed to SHARE staging area:
https://staging-share.osf.io/dataset/4605A-898-E37

If you search title “An annotated checklist of the bees (Hymenoptera: Anthophila) o

[2018-04-26 22:51] hweng commented on #270
Here are some points summarized from https://github.com/ucsdlib/damspas/issues/269, let me know if they look correct to you:

1. Could all RDC landing pages (whether it's from a collection or object page) be mapped to Resource Type = Dataset, rather than Creative Work? Yes.

2. The following related_agents is added for DAMS records.
{agent_type: "Contributor", type: "Organization", "name": "http:/

[2018-04-27 17:22] gamontoya commented on #409
@VivianChu Looks good!

[2018-04-30 15:43] #413 closed

[2018-04-30 20:31] VivianChu commented on #415
@gamontoya - The update for complex object has been deployed to qa.  Could you review it again? With login and without login. Thanks
For example
//complex video
http://libraryqa.ucsd.edu/dc/object/bb3756085z
//complex audio
http://libraryqa.ucsd.edu/dc/object/bb0649592q

[2018-04-30 21:15] hjsyoo commented on #270
@hweng Looking at the sample record and search results display, the Tags metadata are much better than what we see coming from DataCite. I have a few requests for revisions:

* In External Links, please display the DOI URL associated with the record, along with the ARK URL. The DOI may not always be found in Identifier, but it will always be findable in Note:related publications, if it exists for

[2018-04-30 21:31] gamontoya commented on #415
@VivianChu Looks good.

[2018-04-30 22:42] hweng commented on #270
@hjsyoo For your following question about "Source" and "Publisher" -  Yes, "Publisher" is fine. However there is no "Source" type in SHARE V2 schema, However you can pick any of the type from here:
https://gist.github.com/hweng/5fd98a1777bbf806231672090c554a3d,  Please let me know which one you would like to map to?

Detail please see https://staging-share.osf.io/api/v2/schema/

[2018-04-30 22:55] hjsyoo commented on #270
@hweng Right - by Source, I'm referring to the value displayed here:
![image](https://user-images.githubusercontent.com/10660549/39454053-f33409a6-4c8d-11e8-938a-cf461c1e69b9.png)
SHARE calls this Source in the UI, but I'm not sure where it fits in the schema.

Here's a screenshot from SHARE on prod. These are records that we gave them during our work on tritonshare, but they aren't DAMS records.

[2018-05-01 17:31] VivianChu commented on #411
@gamontoya - The items view change has been deployed to qa.  Could you review it?  Thanks
For example
http://libraryqa.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=ECE+Distinguished+Lecturer+Series&id=bb19126574

[2018-05-01 19:26] hweng commented on #270
@hjsyoo
1. I agree the name:"http://library.ucsd.edu/dc" as a Contributor can be removed. I will update the mapping.

2. ** Publisher = "UC San Diego Library Digital Collections" (without comma), because this is the repository's name.  -- Yes I will update it.

3. What you mean the "source" - "UC San Diego" is actually not pushed from out DAMS, but is assigned by COS side.  I guess they figure out

[2018-05-01 20:40] hjsyoo commented on #270
@hweng Thanks for the fixes to 1 and 2. For 3, yes, please ask them about reassigning our records to Source="UC San Diego Library". Looking at their published list of sources here: https://share.osf.io/sources, there can be campuses, libraries, and repositories. My concern is twofold: 1) we've already given them records (not DAMS related) with "UC San Diego Library" as source. If we don't keep thi

[2018-05-02 16:59] mcritchlow commented on #436
I'm going to close this out linking to the following gist for future reference:

https://gist.github.com/mcritchlow/f133e8bacd32a7d9daaa4b74af4cbcab

The gist has the ruby code above for parsing the git repo and grabbing metadata and downloading files. It also has a short bash script that we could potentially use instead of a REST API, interacting only with the git repository to check for new file

[2018-05-02 16:59] #436 closed

[2018-05-02 18:41] #411 closed

[2018-05-02 20:02] hweng commented on #270
@hjsyoo The 1 and 2 has been updated. For the SHARE staging UI issues, I sent the message and screenshots to Lauren Barker via slack. And let's wait to see what she will response.

[2018-05-07 20:59] hjsyoo commented on #270
@hweng I was told Rick Johnson is the best contact for addressing these remaining issues. I believe you can still reach him through our slack team, but if not, I can forward his email to you.

[2018-05-09 18:02] #415 closed

[2018-05-10 16:00] gamontoya opened #446 "Total number of objects no longer updates on DC home page."
### Descriptive summary

The total number of objects listed on the home page is no longer being dynamically updated. Also, the total is the same for public as well as when in curator mode (should show more in curator).

Currently totaling **117,586** research data sets, images, documents, video and audio recordings.

### Work needed

Look into why the code for gated discovery is no longer working.

[2018-05-10 16:12] #269 closed

[2018-05-10 16:20] #408 closed

[2018-05-14 16:40] VivianChu opened #448 "Test Securetoken in DAMS"
### Descriptive summary

SecureToken from Wowza isn't working correctly currently, we would like to see if it can be implemented in a test version of DAMS to see if anything breaks.

[2018-05-14 16:51] mcritchlow opened #449 "Create CSV export of CIL JSON data"
### Descriptive summary
As @arwenhutt and @hjsyoo are working on getting the CIL collection sorted out, they have identified at a single CSV export of the ~10k json files would help them sort out the metadata.

### Expected behavior
A CSV with all the records currently in the CIL github repo.

### Actual behavior
Sadness and confusion.

[2018-05-14 16:56] mcritchlow commented on #449
So I have an initial script that seems to be working for this https://gist.github.com/mcritchlow/f133e8bacd32a7d9daaa4b74af4cbcab (cil_csv.rb), and I'll pass along the CSV file next for review.

@hjsyoo and @arwenhutt - Let me know you do indeed want all the records, as I said in Slack it's a small file when compressed, but once uncompressed the csv is about 38MB. Not sure how Excel or your spread

[2018-05-23 16:33] mcritchlow opened #455 "Data Sync to Staging/QA"
### Descriptive summary

In order to test the new work done by @VivianChu and @lsitu on metadata only changes, DOMM and DLP folks need a data sync to ensure things are working as expected. Please sync from prod to staging and QA. This should include everything (triplestore, solr, files, etc.)

### Related work
- #433
- #425

[2018-05-23 16:33] VivianChu opened #456 "Release 1.81"
### Descriptive summary
- Version: 1.81
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv

---------------

### Related work
#416 #415 #413 #411 #410 #409

---------------

### Note
**TO BE RELEASED TO STAGING ONLY AT THIS TIME**

[2018-05-23 16:35] jgorney commented on #455
When's the best time to do this?  Would it be preferable to do this during a service window?

[2018-05-23 16:44] gamontoya commented on #456
@VivianChu @jhriv Ready to push to staging, *only*.

[2018-05-23 17:11] mcritchlow commented on #455
@jgorney - I think this is going back to staging/QA, the timing can really be at your discretion. Though that does make me wonder if we need to give the @ucsdlib/domm folks a heads up, so I pinged them :)

[2018-05-23 19:20] VivianChu commented on #456
@gamontoya - The release has been deployed to staging.  I think you still can see the above changes - collections view, items view, single/complex objects view in staging before the datasync is completed.
For example
https://librarytest.ucsd.edu/dc/collection/bb19126574
https://librarytest.ucsd.edu/dc/collection/bb6179079d
https://librarytest.ucsd.edu/dc/collection/bb91824453
https://librarytest.u

[2018-05-23 23:45] VivianChu commented on #448
@gamontoya - The secure token update has been deployed to qa.  Could you review it?
For example
//video simple object
http://libraryqa.ucsd.edu/dc/object/bb8022051s
//audio simple object
http://libraryqa.ucsd.edu/dc/object/bb72371287
//video complex object
http://libraryqa.ucsd.edu/dc/object/bb3756085z
//audio complex object
http://libraryqa.ucsd.edu/dc/object/bb0649592q

Could you also test for t

[2018-05-24 15:07] jgorney commented on #455
Hey Matt, any word on if the sync is ok to start?

[2018-05-24 16:17] mcritchlow commented on #455
@arwenhutt @remerjohnson @GregReser - any issues with us starting to sync to staging/qa?

[2018-05-24 16:30] arwenhutt commented on #455
@jgorney @mcritchlow I don't have any test collections in staging.

@GregReser do you have any test ingests on staging being qa'd at the moment?

[2018-05-30 16:32] lsitu commented on #455
@jgorney @rstanonik @mcritchlow While waiting for the response from @GregReser for staging, could we do the sync for QA first? I'll update those UCSD IP/metadata-only collections in ticket https://github.com/ucsdlib/damspas/issues/356 once the sync is done. Thanks.

[2018-05-30 16:37] mcritchlow commented on #455
Sounds like a good idea to me @lsitu :+1:

[2018-05-30 16:45] gamontoya commented on #455
@lsitu Feel free to sync to prod as well. We are not waiting on @GregReser at this time.

[2018-05-30 16:53] lsitu commented on #455
Thank you all.
@rstanonik /@jgorney So we are ready to do the sync for both Staging and QA now. Thanks.

[2018-05-30 16:57] GregReser commented on #455
Sorry everyone, I wasn't subscribed to this thread and didn't know you were waiting on me.

[2018-05-30 16:58] gamontoya commented on #456
@VivianChu Thank you. We're going to be doing a lot of testing of behavior after the data sync is done.

[2018-05-30 17:01] gamontoya commented on #448
@VivianChu The last three are restricted. Should I be able to access them?

[2018-05-30 17:10] rstanonik commented on #455
I'm starting the filestore sync from prod to staging and qa.  I'll give you an estimate of the time, after it has run for a wile.

[2018-05-30 17:12] jgorney commented on #455
I've started the database triplestore sync as well.

[2018-05-30 17:19] VivianChu commented on #448
@gamontoya - You can login to access them.  I just chose them randomly.  Or you can select any other video/audio object to try. Thanks

[2018-05-30 17:31] gamontoya commented on #448
![timeout](https://user-images.githubusercontent.com/4314914/40737082-8ad6f598-63f4-11e8-85aa-280d9e197ab5.png)

Looks like it's working as expected.

[2018-05-30 17:56] VivianChu commented on #448
Thanks Gabriela for testing.

[2018-05-30 18:02] gamontoya commented on #448
![noperm](https://user-images.githubusercontent.com/4314914/40738650-f67a4e18-63f8-11e8-8ed6-6647b00f1da8.png)

Audio test (waited 5 min).

[2018-05-30 19:09] jgorney commented on #455
The database triplestore sync is complete.  As always, please let me know if there are any issues.

[2018-05-30 19:10] rstanonik commented on #455
qa file sync is 22% done.

staging file sync is 3% done

It's been about 1 1/2 hours, so estimate 8 hours for qa and 2 days for staging.

[2018-05-30 19:23] rstanonik commented on #455
By the way, I'm also sync'ing solr from prod to staging and qa.

[2018-05-30 19:38] hweng commented on #270
@hjsyoo Regarding your questions:

#1 The External Links were changed to ARK URL instead of a fixed link of http://library.ucsd.edu/dc:
https://staging-share.osf.io/dataset/4605A-898-E37, Only ARK URL can be displayed at this point.

#2  The Answer from Lauren:  "Only contributors of type "creator" are displayed on the search results and contributors of all types are displayed on the detail page.

[2018-05-30 21:14] rstanonik commented on #455
qa file sync is 56% done and staging is 10%.

[2018-05-31 16:14] rstanonik commented on #455
qa is done.  prod file, solr, and tripstore have been sync'ed to qa.

file sync from prod to staging is 83% done.

[2018-05-31 16:30] lsitu commented on #455
Thanks @rstanonik and @jgorney. I'll start to work on those UCSD IP/metadata-only collection on QA first.

[2018-05-31 19:37] gamontoya commented on #356
It is not showing it Access Status at the collection grid view and at the collection level. Looks fine at the object level.

@lsitu @VivianChu Which one of you can fix this?

[2018-05-31 19:43] VivianChu commented on #356
@gamontoya - Could you check again?  They show up fine for me.
https://librarytest.ucsd.edu/dc/collections?f%5Btype_sim%5D%5B%5D=Collection&page=2&sort=title_ssi+asc
https://librarytest.ucsd.edu/dc/collection/bb10936072

[2018-05-31 19:44] lsitu commented on #356
@gamontoya Do you use QA or staging for your test? I am updating those UCSDIP/metadata-only collections on QA at this time, which will take some time. I'll let you know once all those collections are updated and indexed on SOLR.

[2018-05-31 19:45] gamontoya commented on #356
Oh, I was testing on staging. Okay, let me confirm on QA then,

[2018-06-01 15:15] rstanonik commented on #455
staging is done.  prod file, solr, and triplestore have been sync'ed to staging.

[2018-06-01 15:32] lsitu commented on #455
Thanks @rstanonik for the update. I am updating the UCSD IP/metadata-only collections on staging now.

[2018-06-01 16:08] lsitu commented on #356
@gamontoya I've updated all those 5 UCSDIP/metadata-only collections above on QA and the SOLR re-indexing process is done. I think you can test it QA now.
Do you have any other collections that you want to test? I think we may need to update SOLR for those collections as well. Thanks.

[2018-06-01 17:35] #448 closed

[2018-06-04 17:12] #446 closed

[2018-06-07 18:01] GregReser opened #461 "Remove download function for UCSD-only video objects"
### Descriptive summary

If the user is not logged as a curator, they should  should not be able to download videos for objects that are restricted to UCSD-only.  This should be true for all objects, components, and sub-components.

This should be true if the object contains either:
OtherRights\permission\Permission\type = "localDisplay"
License\permission\Permission\type = "localDisplay"

Example

[2018-06-07 18:13] #455 closed

[2018-06-07 18:17] gamontoya commented on #456
NOTE: Leave this ticket open until full test plan has been completed and approved.

[2018-06-12 21:53] gamontoya opened #463 "Disable Solr SpellCheck component"
### Descriptive summary

Turning off Solr SpellCheck dramatically improves the performance/response time for Solr queries (using up to 90+% or resources). Using New Relic's monitoring nodes shows that total query response time goes down substantially when turning it off.

### Notes

Discussed and approved _(turning off)_ by DAMS Products Group, but we should explore and revisit this feature for DA

[2018-06-13 21:48] #463 closed

[2018-06-14 18:55] gamontoya opened #464 "Change default sort for collections when using View Collection Items"
### Descriptive summary

When selecting "View Collection Items" from a collection landing page, the result list that the user is taken to defaults to "relevance" which does not make sense in the context of collection membership.

Change to a *Title* default sort (confirmed with RDCP and SC&A).

### Rationale

Relevance sort does not make sense for users.

### Note

When conducting a sort, the defa

[2018-06-14 19:05] gamontoya commented on #464
TBD post discussions.

[2018-06-18 16:19] GregReser commented on #461
@gamontoya do you have any idea when this might moved out of the icebox and into a sprint?  The CARS licensed Chinese videos cannot be ingested and made available until the download issue is resolved.
https://lib-jira.ucsd.edu:8443/browse/DI-224

[2018-06-20 18:51] gamontoya opened #466 "Fix display behavior of metadata-only collections"
### Descriptive summary

- Center for Music Experiment
- Dept. of Music Concert Archive
- ECE Distinguished Lecturer Series
- Kelco Aerial Photograph Collection
- Scientific Voyages and Expedition Reports

Currently on staging, these collections are not behaving as expected. If I am on campus, I am seeing metadata-only behavior.

### Expected behavior

- When on campus or using VPN (UCSD IP only),

[2018-06-20 18:54] gamontoya opened #467 "Fix access controls for downloading mp3 and mp4 files"
### Descriptive summary

Users are able to download mp3 or mp4 files if they know the full URL path.

- /_2.mp3
- /_2.mp3?download

Objects (any type of content file) that are UCSD-only access should also have Public metadata-only access
- License\permission\Permission\type = "localDisplay"
- OtherRights\permission\Permission\type = "localDisplay"

### Expected behavior

Update access controls for

[2018-06-20 19:01] gamontoya commented on #456
Closing. See #466

[2018-06-20 19:01] #456 closed

[2018-06-20 19:02] gamontoya commented on #356
See #466

[2018-06-20 19:10] mcritchlow commented on #467
I'm curious about this, as it related to work I'm doing with @jhriv  on serving files differently.

Is the issue that _any_ mp3 or mp4 can be downloaded by someone if they know the URL? Or that mp3's that are, say, curator only , can be downloaded by a non-curator? I'm curious what the context is that's currently incorrect.

[2018-06-20 19:22] gamontoya opened #468 "Change objects to be metadata-only view for Lambert collection"
### Descriptive summary

- Change 34 objects that are currently _culturally sensitive_ or _embargoed_ to be metadata-only. The list of 34 ARKs is attached.

- Fix curator view: If I logged in as a curator, I should be able to see the objects and download the master files. Currently one is not able to.

### ARKs

[lambert.txt](https://github.com/ucsdlib/damspas/files/2120760/lambert.txt)

[2018-06-20 19:28] gamontoya opened #469 "Fix curator view access for Keesing and Lambert collections"
### Descriptive summary

Currently, one cannot view objects or download master files if logged in as **curator** for 883 embargoed/restricted [Keesing Photograph objects](https://library.ucsd.edu/dc/collection/bb1571361n) and 23 [Lambert objects](https://library.ucsd.edu/dc/collection/bb1912661h)

Please update the behavior.

List of ARKs is attached below.

### ARKS

- [keesing.txt](https://githu

[2018-06-20 20:05] lsitu commented on #467
@mcritchlow Good question! I think the context is that though we do not allow the audio/video viewer to have a download button but if someone know about the full url path, they could still be able to download the audio/video. It looks like it's something related to ticket [Remove download function for UCSD-only video objects](https://github.com/ucsdlib/damspas/issues/461), in which one could still

[2018-06-20 20:13] mcritchlow commented on #467
@lsitu I see, thanks. I do see that there is no download button for mp3's, but there [is for mp4's](https://library.ucsd.edu/dc/object/bb2118519t). This seems odd to me, at the very least inconsistent.. Why can't people download mp3s when they're allowed to stream them, if they're derivatives? (question for @gamontoya )

I suppose my more concrete concern/issue, is that I want to make sure whateve

[2018-06-20 20:41] gamontoya commented on #467
@GregReser @remerjohnson I'm adding Greg and Ryan to this discussion because they were in the meeting with me AND because they may have use cases that I may not be aware of.

[2018-06-20 21:01] GregReser commented on #467
@mcritchlow It is odd that all audio downloads are blocked but not all videos.  I think that there was a policy decision to not allow download of any audio file at any access level.  I wasn't involved with that, so we would need confirmation.  For video, we have some collections that seem like they would be OK for public download: Travelogue, Hansen, Insite, Stuart, and several in RDCP.  We have a

[2018-06-20 21:17] mcritchlow commented on #467
@GregReser - Thanks, very interesting. A global policy like that for mp3s seems a bit odd to me if it doesn't also apply to videos since they're both file formats we stream.. It makes me wonder if that was just based on the mp3 content we had at the time, as opposed to an overarching policy.

Either way, as you said, maybe clarifying the policy on both formats, since they're both streamed, would h

[2018-06-20 21:51] gamontoya commented on #467
Okay @GregReser. Seems like your last paragraph is key. No downloading of licensed media, audio or video.

[2018-06-20 21:55] gamontoya commented on #467
Example of public object, but no download button:

- https://library.ucsd.edu/dc/object/bb05490835

[2018-06-20 22:18] GregReser commented on #467
@mcritchlow now I wish we had a predicate for allowDownload.  I think it's a safe compromise to say UCSD-only files cannot be downloaded.

So it's true that these = no download:
`OtherRights\permission\Permission\type = "localDisplay"`
`License\permission\Permission\type = "localDisplay"`

[2018-06-20 22:45] lsitu commented on #467
@GregReser I think we allow to view/download images (derivatives) on campus with `localDisplay`, but just disallow audio/video files download. Is it correct?
Will these `localDisplay` objects allow public metadata-only access or not?

[2018-06-20 22:54] GregReser commented on #467
@lsitu Yes, we allow view/download images (derivatives) on campus with localDisplay, but just disallow audio/video files download.
Let me check on localDisplay objects allow public metadata-only access

[2018-06-21 15:59] GregReser commented on #467
@lsitu Speaking with DOMM and looking at existing documentation:
[DAMS 4 Access Control Implementation](https://lisn.ucsd.edu/display/dlpg/DAMS+4+Access+Control+Implementation#DAMS4AccessControlImplementation-ProductionIngestProposalProductionIngestProposal)
[Rights Metadata and Policy Matrix](https://lisn.ucsd.edu/display/DCPTF/Rights+Metadata+and+Policy+Matrix)

Yes, localDisplay objects allow p

[2018-06-21 18:07] lsitu commented on #467
@GregReser Thank you very much for clarifying it. It sounds good and I think this is inline with the current implementation for access control that allows public discovery (metadata-only) and UCSD local only read access for `localDisplay` objects. But it seems like that the object viewer/UI may need update for objects like https://librarytest.ucsd.edu/dc/object/bd66071852 in ticket https://github.

[2018-06-21 19:09] GregReser commented on #467
I think localDisplay + public metadata-only access will be addressed in #466.  It is specified in the expected behavior

[2018-06-21 19:32] VivianChu commented on #461
@GregReser - Do you know if there is any UCSD-only video objects in qa?  I'm done removing the download function for video object.  I would like to deploy the change to qa for testing first.  Thanks

[2018-06-21 19:55] lsitu commented on #467
@GregReser It looks like the spec in ticket https://github.com/ucsdlib/damspas/issues/466 is for UCSD IP/metadata-only (`metadataDisplay`) collections. I think we had better update the spec of the ticket to include `localDisplay` objects.

[2018-06-21 19:58] gamontoya commented on #461
@VivianChu All these videos in this collection: http://libraryqa.ucsd.edu/dc/collection/bb19126574

[2018-06-21 20:15] VivianChu commented on #461
Thanks @gamontoya I'm looking for object that has the License\permission\Permission\type = "localDisplay" like the example above in qa. Do you know any?  Thanks

[2018-06-21 20:17] gamontoya commented on #461
@VivianChu I don't know of any. @GregReser do we have any?

[2018-06-21 20:18] GregReser commented on #467
@gamontoya what do you think, update #466 deal with all localDisplay objects or make a separate ticket?

[2018-06-21 20:19] gamontoya commented on #467
@GregReser Add it to this ticket.

[2018-06-21 20:20] GregReser commented on #461
@VivianChu I don't think so.  https://librarytest.ucsd.edu/dc/object/bd66071852 was the first use case.  I can ingest that object to QA as a test.

[2018-06-21 20:22] VivianChu commented on #461
@GregReser - It would be great.  Could you ingest it?  Thanks

[2018-06-21 20:23] GregReser commented on #461
@VivianChu I will.  It is a big file, I'll let you know when it's done.

[2018-06-21 21:37] GregReser commented on #467
@gamontoya I added the localDisplay = public metadata-only access to the description in this ticket

[2018-06-21 22:04] VivianChu commented on #461
@GregReser - I can deploy the change to staging to test with the object you ingested already. I'll let you know when it's ready to view.

[2018-06-21 22:15] VivianChu commented on #461
@GregReser @gamontoya - The change has been deployed to staging.  Could you take a look? https://librarytest.ucsd.edu/dc/object/bd66071852  Thanks

[2018-06-21 22:18] GregReser commented on #461
@VivianChu Download button is gone, but I cannot play the video (either logged in as curator or as public)
![image](https://user-images.githubusercontent.com/5453716/41748358-617f9690-7566-11e8-97f3-1c2fbb684f1b.png)

[2018-06-21 22:24] VivianChu commented on #461
@GregReser - Does the video work for you before?  My change is only about the download button.

[2018-06-21 22:30] VivianChu commented on #461
@GregReser - the same video object worked fine in qa - http://libraryqa.ucsd.edu/dc/object/bb8022051s  I tried to revert the change to see if it helps.

[2018-06-21 22:32] GregReser commented on #461
@VivianChu there's a conversation about it on the Slack dams channel now

[2018-06-22 05:45] dt-ucsd opened #470 "Add Embed Video UI"
### Descriptive summary

Add "Embed" information (I.e., URL, Code snippet) to object views that display video.

**Original request:**

### Rationale

Once upon a time there lived a prince in a far off land who wished to display a Digital Collections video on his website, to his dismay there existed not a solution that allowed him to do so.

In his despair he called out to the heavens, "Oh sweetest

[2018-06-22 19:52] gamontoya commented on #470
@dt-ucsd Very nice mockups. Looking forward to seeing this in action!

[2018-06-22 19:52] gamontoya commented on #470
@dt-ucsd Oh, and what are our terms of service? Should that be a link to something?

[2018-06-25 17:53] mcritchlow opened #472 "Use send_file and nginx to serve files"
### Descriptive summary

Leverage the Rails `send_file` method along with nginx to serve files through the file controller

### Rationale

At the moment, code in the file controller streams all files out of damsrepo. As a result, the passenger process is held onto for that entire timeframe. It only takes one or two slow connections to create the scenario we've been seeing more often where we fill

[2018-06-26 19:06] #461 closed

[2018-06-29 19:13] #467 closed

[2018-07-05 18:50] hweng commented on #468
@gamontoya Could you clarify what you would like me to change? The RDF data or the metadata viewer, or both?

The 34 objects has ```<dams:type>metadataDisplay</dams:type>```, Would you like to change data?

[code]

[2018-07-05 19:04] hweng commented on #469
@gamontoya Are 883 embargoed/restricted Keesing Photograph objects and 23 Lambert objects metadata-only objects? And if so, do you mean to change the metadata-only viewer behavior? Thanks!

[2018-07-05 20:14] gamontoya commented on #468
Yes, change the data please.

[2018-07-05 20:16] gamontoya commented on #469
Some will eventually be metadata-only, but for now the collection owners needs to review the images to see which ones should be made metadata-only, but when she logs in as curator she cannot see the image display. Even when I log in, I cannot see the images.

[2018-07-05 20:17] gamontoya commented on #469
![curator](https://user-images.githubusercontent.com/4314914/42345937-ce1158d0-8055-11e8-891b-f08ba186bb8d.png)

This is what I see when logged in as curator.

[2018-07-05 21:51] hweng commented on #468
@gamontoya Would you like to remove metadata-only in rdf record, correct?

[2018-07-05 21:59] gamontoya commented on #468
@hweng No, I don't think so. You might want to wait until Vivian is back to help you with this, but these 34 objects need to be metadata-only and not embargoed as they are now.

How they are now:
![embargoed](https://user-images.githubusercontent.com/4314914/42350096-e3587c7e-8063-11e8-8e25-0bc0b630668d.png)

Versus how they should be:
![restricted](https://user-images.githubusercontent.com/431491

[2018-07-05 22:32] hweng commented on #468
@gamontoya I see what you mean. I will look into it and do some tests. And if it doesn't work I will talk to Longshou or wait for Vivian's back. Thanks!

[2018-07-05 22:36] hweng commented on #468
@gamontoya Could you please send me the ARK of the Metadata only view test(frogitha)?
 I would like to check how it's RDF rights related data structured and what's the difference between them.

[2018-07-05 22:36] gamontoya commented on #468
@hweng Sounds like a good idea! Thank you.

[2018-07-05 22:39] hweng commented on #468
@gamontoya What's the url to the "Metadata only view test(frogitha)" which you posted the screenshot?

[2018-07-05 22:54] gamontoya commented on #468
@hweng It's on staging: https://librarytest.ucsd.edu/dc/object/bd0224952x

[2018-07-05 22:54] gamontoya commented on #468
https://librarytest.ucsd.edu/dc/object/bd56858502

[2018-07-05 22:58] hweng commented on #468
Thanks @gamontoya, it is helpful!

[2018-07-06 19:30] remerjohnson opened #476 "Valid zips larger than 4GB do not pass File Validation check"
### Descriptive summary

When attempting to use the 'File Validation' check for ingesting zip files larger than 4GB, the file will be reported as being unable to be read.

![large_zip_test_form_result](https://user-images.githubusercontent.com/5183580/42396814-2b81dc3e-8118-11e8-98ba-32ba83cebd26.jpg)

### Rationale

We are getting "false positive" invalid reports for large zips, which makes the F

[2018-07-10 17:51] mcritchlow opened #478 "Migrate to CircleCI 2.0"
### Descriptive summary

Migrate to CircleCI 2.0

### Rationale

1.0 configs will no longer work in August.

[2018-07-10 18:15] #478 closed

[2018-07-11 16:46] hweng commented on #468
@gamontoya Among the 34 objects, the following list is Culturally sensitive content, not embargoed. Do you want to remove Culturally sensitive so that it will be shown as metadata only?
bb60078423
bb1093127s
bb7373045d
bb0581173b
bb64174045
bb98304029
bb86358554
bb5325245m
bb65197941
bb5495891n
bb3448091s

[2018-07-11 18:01] gamontoya commented on #468
@hweng Yes. Metadata only.

[2018-07-11 18:17] hweng commented on #468
@gamontoya I updated the Lambert objects RDF data(for example: bb3789396p) to be metadata only on staging:
https://librarytest.ucsd.edu/dc/collection/bb3789396p/data
https://librarytest.ucsd.edu/dc/collection/bb3789396p

But the viewer behavior doesn't look right to me comparing to the test object(bd56858502) you sent above. I will look into it.

[2018-07-11 19:10] hweng commented on #468
@gamontoya I see that Vivian has been working on "Fix display behavior of metadata-only collections" https://github.com/ucsdlib/damspas/issues/466.  I think it's better to wait for her updates to be deployed on staging, then I will check if the updated metadataView only Lambert objects look right on staging and start from there. Does it sound good to you?

[2018-07-11 19:13] hweng commented on #468
And BTW, the curator view looks right to me after I updated objects that one is able to see the objects and download the master files: https://librarytest.ucsd.edu/dc/collection/bb3789396p,
But the public view doesn't look right to me.

[2018-07-11 20:42] mcritchlow opened #481 "Remove CircleCI dependency on Pontos"
### Descriptive summary

Remove CircleCI test environment dependency on the pontos vm (which hosts damsrepo and solr in tomcat).

### Rationale

At the moment, we can only safely and reliably run one PR/branch test suite at a time because there is a singular dependency on pontos for acting as the repository and solr layer.

This move to using Docker containers and the CircleCI container environmen

[2018-07-11 23:33] gamontoya commented on #468
@hweng I agree. Let's wait until Longshou and Vivian have these behaviors fixed and working.

[2018-07-12 00:05] gamontoya commented on #469
@hweng I think that for this ticket you can just focus on getting the objects to show up for curators.

The metadata only part can be done after Longshou and Vivian fix visibilities.

[2018-07-12 23:39] hweng commented on #468
@gamontoya I updated the 34 objects to make them to be able to view or download from curator viewer.  I only updated objects on staging environment, and I will wait until those metadata only viewer behaviors get fixed then make the data changes to production.

Here are some examples, could you take a look in curator viewer if it looks right to you:
https://librarytest.ucsd.edu/dc/collection/bb3789

[2018-07-13 14:36] VivianChu opened #483 "Change access text for mixed collection"
### Descriptive summary

Display different access view type like "Some items restricted" for mixed collections.

### Expected behavior

It will display "Some items restricted" access type.

### Actual behavior

Currently, it displays "Restricted View" access type.

### Related work
#466

[2018-07-13 16:01] gamontoya commented on #468
@hweng Looks great. That is the expected curator behavior.

[2018-07-13 22:22] #481 closed

[2018-07-16 16:23] VivianChu opened #490 "Investigate duplicate image and some images missing issue for SuAVE project"
### Descriptive summary

There are two issues reported by IIlya from the spreadsheet containing complex object metadata for Baja California and the West Postcard Collection.

(1) There are 2746 image filenames in (3), and 2711 image filenames in (4). This means that the same image may appear under different Ark's?

(2) He's  not finding in the NFS share some images that are listed in the spreadshe

[2018-07-17 17:41] VivianChu commented on #490
Updated the program to correct the duplicate files issue. Created a new script to download the missing files.

[2018-07-17 17:41] #490 closed

[2018-07-17 20:24] GregReser opened #492 "Collection record extent does not match number of published objects"
### Descriptive summary

If a user is in public view mode (not logged in as a curator) and if some collection objects are set to curator-only visibility, the collection record extent does not match the actual number of objects visible in the browse screen.

An example is Stuart Collection Photographs which has a lot of curator-only objects
https://library.ucsd.edu/dc/collection/bb9421444x

![image

[2018-07-17 20:41] mcritchlow commented on #492
@GregReser - Makes sense, though I suppose I have 2 comments/questions in response that this ticket raises for me.

1) It seems like both things are potentially valuable to display. Since the current extent could be an indication that there's more a user might ask about and is an actual total. Should it be one over the other? Or is one more valuable? I'm honestly curious, I have no idea.

2) Does

[2018-07-17 21:19] lsitu commented on #492
Good questions! @mcritchlow
@GregReser I just want to provide some background regarding how the Extent note in the collection. As you noticed in damspas, it's not the number of objects for a specific view but rather the total number of objects in a collection.
Currently we haven't stored the Extent note in the triplestore and it will be inserted when the metadata (RDF/XML) is requested through dam

[2018-07-17 21:52] GregReser commented on #492
@mcritchlow these are very good questions.  So good that I don't have answers.  I'll have to ask the DMP's group.  Here are some initial thoughts.

1. The number actually visible to the user would be preferred over the full total.  Showing the full total depends on whether or not we would ever let users have access to the curator-only objects (why are they curator-only in the first place?  How wou

[2018-07-17 21:53] GregReser commented on #492
@lsitu could we also use the DAMS Manager collection release tool to trigger a re-indexing, even if the CLR is not updated?

[2018-07-17 21:58] gamontoya commented on #492
@GregReser I think it's a good idea that this be taken to DMPS for feedback so no action should be taken on this ticket at this time.

[2018-07-17 22:00] GregReser commented on #492
@gamontoya OK

[2018-07-17 22:00] gamontoya commented on #470
@dt-ucsd Hi David, what are the next steps for this ticket?

[2018-07-17 22:07] hjsyoo commented on #492
One option could be not to display Extent at all, unless it's useful for troubleshooting. But again, this may not be of any help to the user.

[2018-07-17 22:17] lsitu commented on #492
@GregReser Yes, I think we've done that in the collection release tool and the collection CLR will be updated and/or re-indexed. I think this could happen when objects are added to a collection that is already released. Could you open a ticket so that we can work on it? Thanks.

[2018-07-17 22:31] GregReser commented on #492
@lsitu how about if I test the current CLR release tool to see if it will update the extent in @hjsyoo example https://library.ucsd.edu/dc/collection/bb96275693

[2018-07-17 22:33] GregReser commented on #492
DMP'S discussion:
Collection record extent display #83

[2018-07-17 22:42] lsitu commented on #492
@GregReser It sounds good to test the current CLR release tool to see how it goes. Thanks. BTW, the link you provided above for `Collection record extent display #83` is not correct.

[2018-07-18 15:51] GregReser opened #493 "Automatically update collection record extent when objects are added via DAMS Manager"
### Descriptive summary

Currently, when objects are added to or removed from an collection that has already been released, the collection extent is not updated causing a discrepancy.

### Expected behavior
When objects are added to a collection via DAMS Manager Excel ingest, the CLR extent value should be updated and SOLR should be re-indexed to display the new value

### Related work
Collection

[2018-07-18 15:55] GregReser commented on #492
@lsitu I confirmed that DAMS Manager collection release does re-index an already released CLR and the extent is updated.  I opened a new ticket to automate re-indexing when objects are added to a collection via Excel ingest.
https://github.com/ucsdlib/damspas/issues/493

[2018-07-18 20:31] gamontoya commented on #492
@GregReser Yes, this can be closed. I confirmed with Roger that we will fix the bug but we will not update D4 code to make the extent match the number of objects listed in the collection browse mode based on login type.

[2018-07-18 20:38] #492 closed

[2018-07-18 21:31] hweng commented on #469
@gamontoya The 883 embargoed/restricted Keesing Photograph objects and 23 Lambert objects have been updated on production. Could you take a look and let me know if it looks fine to you now?

[2018-07-19 17:55] hweng commented on #468
@gamontoya The same update for 34 lambert objects was done on production.

[2018-07-20 01:57] gamontoya commented on #468
@hweng Great, looks good!

[2018-07-20 01:59] gamontoya commented on #469
@hweng Thank you. They are behaving as expected in curator mode.

[2018-07-20 18:06] mcritchlow opened #495 "CI/Docker environment should align Solr version and config"
### Descriptive summary

Currently our dams-vagrant and now docker/circleci setup are still using a very old version of Solr and solrconfig/schema files. This might result in issues with both running the test suite as well as local development and debugging.

Fix this by using official Solr 5.5 docker container in CI and Dev docker stacks.

[2018-07-23 18:00] #495 closed

[2018-07-24 16:20] lsitu commented on #493
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/237 for it, which is ready for review now. Thanks.

[2018-07-24 16:58] gamontoya commented on #470
@dt-ucsd Hi David, what are the next steps for this ticket?

[2018-07-24 17:02] #493 closed

[2018-07-24 17:09] #483 closed

[2018-07-24 19:40] VivianChu opened #498 "Change the Baja Posters Collection complex object CSV file structure for SuaVe Project"
### Descriptive summary

From llya's request.

As you are at, may I ask for a few minor changes in the csv? Ideally, I’d have a flat structure, with only image files in each row (ie the file would have 2711 records). The fields will then include both object and component metadata. It is Ok that object metadata will appear multiple times. That would be really helpful, otherwise I’d have to write so

[2018-07-27 16:59] hweng commented on #464
@gamontoya The change was done and it looks good on my local machine.  Would you like me to deploy it to staging?

[2018-07-27 17:08] #498 closed

[2018-07-27 18:21] gamontoya commented on #464
@hweng Yes please.

[2018-07-27 18:44] hweng commented on #464
@gamontoya I've deployed the changes to the staging. Could you take a look at librarytest? Thanks!

[2018-07-30 22:44] mcritchlow opened #501 "Try switching from PhantomJS to Headless Chrome(ium)"
### Descriptive summary

Try:
- Bump `capybara` to a current version. ours is insanely old.
- Add `rspec-retry` gem and tweak `config.default_retry_count = 2` since loading might be a tad slower (only if needed)
- Change from `poltergeist` driver to `selenium-chrome-headless` (mostly seems to be in `features/dams_object_spec`
- Update `Dockerfile` to use/install chromium and chromedriver and use A

[2018-07-31 23:10] hweng commented on #468
@gamontoya The following 14 objects has been updated on staging environment, and the solr index was done. Could you take a look and let me know if it looks good to you:

bb3448091s
bb3789396p
bb7373045d
bb86358554
bb0000967b
bb0581173b
bb1093127s
bb5325245m
bb5495891n
bb9250195j
bb98304029
bb60078423
bb64174045
bb65197941
Including three are restricted + culturally sensitive:
bb3789396p (also rest

[2018-08-01 16:47] gamontoya commented on #468
@hweng Did you do this on prod or staging?

[2018-08-01 16:49] gamontoya commented on #468
@hweng I guess it doesn't matter because it's not working on prod or staging. For the first 11, I should see the click-thru agreement and I'm not seeing it.

[2018-08-01 16:52] gamontoya commented on #468
@hweng Never mind. I see you said "staging".  While the first 11 work right (with the click-thru), I should see a "grey" generic banner and not the thumbnail.

I'll now check the last three.

[2018-08-01 16:55] gamontoya commented on #468
The last three should be restricted by an embargo. I should not see them at all or find them in a search. They need to remain curator only (curator can see, download, etc.)

[2018-08-01 17:20] hweng commented on #468
@gamontoya Do you mean the first 11 is correct? And for the last three restricted + culturally sensitive, what exactly the behavior do you expect? Do you have any example record and please send me the link?

[2018-08-01 18:46] gamontoya commented on #468
@hweng No, I don't, but let me create a new one using a working image. I'll let you know when it's up.

[2018-08-01 19:45] gamontoya commented on #464
@hweng Looks good on staging. Please push the code to prod.

[2018-08-02 17:50] hweng commented on #464
@gamontoya Thanks for reviewing. I think this one and other damspas new features in Review/QA need to hold on until the metadata only feature ready. Then they can be pushed to production together.

[2018-08-02 22:15] hweng commented on #468
@gamontoya The following three objects have been updated on production. Could you please review and let me know if it looks right to you?

https://library.ucsd.edu/dc/object/bb3789396p
https://library.ucsd.edu/dc/object/bb0000967b
https://library.ucsd.edu/dc/object/bb9250195j

[2018-08-03 21:11] #501 closed

[2018-08-03 21:17] #466 closed

[2018-08-06 18:06] hweng commented on #469
@gamontoya The 883 embargoed/restricted Keesing Photograph objects and 23 Lambert objects have been updated on Staging. Could you take a look and let me know if it looks fine to you?

[2018-08-06 18:24] gamontoya commented on #469
Once the metadata only code is pushed to prod I'm going to ask you to fix these on prod.

[2018-08-06 21:50] gamontoya opened #513 "Fix behavior of embargoed/culturally sensitive objects"
### Descriptive summary

If logged in as curator, I am not able to view the images for embargoed/culturally sensitive objects (in Keesing and Lambert).

As a curator, I should not see the 'embargo banner' (only the public should), but I should be able to view the images.

###
[code]

### Expected behavior
When logged in, curators should be able to see the images.

### Incorrect behavior QA:
http:/

[2018-08-08 03:37] #513 closed

[2018-08-08 17:08] gamontoya commented on #469
Closing this ticket as the initial requested task to make these images available to logged in curators is complete.

[2018-08-08 17:08] #469 closed

[2018-08-08 17:10] #468 closed

[2018-08-08 17:11] gamontoya commented on #356
Closing for now. Testing of these collections and other dummy test records will begin.

[2018-08-08 17:18] gamontoya opened #515 "Re-insert `cultural sensitivity` note to 886 Keesing objects"
### Descriptive summary

Re-add `culturally sensitive` restricted note for 886 restricted Keesing objects once Vivian's code has been pushed to production.

[keesing.txt](https://github.com/ucsdlib/damspas/files/2367624/keesing.txt)

Previously deleted by Huawei when fixing the image view for curator (not working) issue.

---
### Note
`<dams:Note>
<rdf:value>Image not available due to cultural sen

[2018-08-08 17:19] gamontoya commented on #515
Do not assign until Vivian's code is pushed to production.

[2018-08-17 17:09] gamontoya opened #516 "Show generic thumbnail in grid for click-thru agreement objects"
### Descriptive summary

Currently, when using click-thru cultural sensitivity override, the grid view displays the thumbnail of the image.

Please correct it to use the grey generic thumbnail.

### Example of current display

![test](https://user-images.githubusercontent.com/4314914/44279214-68b48f80-a205-11e8-83ca-cae3649ecf1e.png)

### Expected behavior
Show the generic thumbnail that is being

[2018-08-17 17:12] gamontoya commented on #476
@jessicahilt Does Longshou have the bandwidth to look into this?

[2018-08-17 17:13] lsitu commented on #476
@gamontoya @jessicahilt Sure. I'll look into it.

[2018-08-20 21:53] gamontoya commented on #516
@VivianChu Can you start work on this? I'd like to get testing of object visibility options soon.

[2018-08-20 23:27] VivianChu commented on #516
@gamontoya - The update has been deployed to staging.  Could you review it? For example -

https://librarytest.ucsd.edu/dc/search?utf8=%E2%9C%93&q=bd0089518z

Here's what I see as local user
![objclickthru](https://user-images.githubusercontent.com/1864660/44371855-dd056200-a495-11e8-93ef-c021f8369414.png)

[2018-08-21 17:45] lsitu commented on #476
@remerjohnson I think there is an issue with the ExifTool to support the structure of this kind of ZIP files. I tried it with the latest ExifTool version 11.10 and I still got the same warning. However, I tested it by ZIPing two giant .iso files that are more than 5GB and it works.
I also tried to test ExifTool with GZIP format validation, and I don't see any warnings.
And I tried other tools like

[2018-08-21 17:50] remerjohnson commented on #476
@lsitu Thanks for that research Longshou. I had a feeling this is a larger/community issue, not just unique to the DAMS.

As a workaround, I do often use GZIP for large zips. The only problem is sometimes we get large ZIPs "as-is" and I do not wish to alter/handle those. We could start doing that if this is deemed important enough.

I think I'll need some input before selecting the best approach,

[2018-08-21 21:22] mcritchlow commented on #476
I think contacting the developers would be good to do regardless. If nothing else, it would likely give us some kind of indication of their willingness/interest in solving this problem upstream. Which would be the best possible situation.

I'd be a little nervous about adding FITS into the mix now for dams4, despite the fact that we're definitely going to be using it when we move to our new system

[2018-08-21 21:34] gamontoya commented on #476
Hi all. I think it's a good idea to report to the developers, but that's not going to solve this issue at this time or any time soon. With that said, I'd suggest using the workaround (GZIP) alternative.

So do #1 and #2. I agree with Matt that #3 is not an option for DAMS 4.0.

[2018-08-21 21:37] remerjohnson commented on #476
Thanks all, I think we've come to agreement. Not sure if you want to close this out for not, but feel free. Thanks

[2018-08-21 22:02] #516 closed

[2018-08-21 22:47] #476 closed

[2018-08-21 23:34] lsitu commented on #476
@gamontoya @mcritchlow @remerjohnson I've posted a message in the ExifTool forum:
http://u88.n24.queensu.ca/exiftool/forum/index.php/topic,9450.0.html.

[2018-08-22 16:27] gamontoya commented on #356
To remain open until code is pushed to prod and testing has been completed.

[2018-08-22 16:27] gamontoya commented on #356
These collections must be fixed in Prod once the above has been addressed.

[2018-08-27 15:44] gamontoya opened #518 "Deletion request"
### Descriptive summary

Image belongs to SD Historical Society and should not be reprinted or digitized without consent. Please delete:

- https://library.ucsd.edu/dc/object/bb30388568

[2018-08-27 15:45] gamontoya commented on #518
@lsitu Can you delete at your earliest convenience?

[2018-08-27 15:47] lsitu commented on #518
@gamontoya Sure.

[2018-08-27 17:33] gamontoya commented on #518
@lsitu Thank you!

[2018-08-27 17:33] #518 closed

[2018-08-28 17:34] gamontoya opened #519 "Update query to use `Restricted to UC San Diego use only` under certain conditions"
### Descriptive summary

Access label for collections and objects should read **Restricted to UC San Diego use only** under the following conditions:

- If collection = local + metadata only

### Note

If a collection = public + metadata only, use "Restricted View".

[2018-08-28 23:48] #519 closed

[2018-08-30 16:22] gamontoya opened #521 "Collection links not appearing at object level for public user(s)"
### Descriptive summary

After adding metadata-only visibility, the collection links in an object do not appear; only the `collection` label. This happens when accessing DAMS as a public user. They show up as UCSD and curator users.

### Example

![collection_link](https://user-images.githubusercontent.com/4314914/44865104-3a3ba900-ac36-11e8-91c6-ffdf4a54d804.png)

[2018-08-30 21:33] #521 closed

[2018-09-04 16:25] #449 closed

[2018-09-06 16:11] mcritchlow opened #526 "Release 1.82"
### Descriptive summary
- Version: 1.82
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv

---------------

### Deployment Dependencies
I believe the following need to happen for this release, please add/edit as needed:

1. Update version of Ruby in production to 2.3.7
2. Deploy/Update Solr configuration files as stored in https://github.com/ucsdlib/dams4-

[2018-09-06 16:50] VivianChu commented on #526
@gamontoya - The release has been deployed to staging. It's ready for review.  Could you review it? Thanks

[2018-09-07 20:56] gamontoya commented on #526
@VivianChu Thanks for your patience. I approve this being deployed to prod.

@jhriv @rstanonik Please deploy on Monday during the regular service window. Can you post on here or on the `dams` Slack channel when it's deployed so that I can do focused checking on prod?

[2018-09-07 21:01] gamontoya commented on #526
@lsitu Can you think of other deployment dependencies?

[2018-09-07 21:14] gamontoya commented on #356
**Note:** Fix #515 before re-indexing these collections.

[2018-09-07 22:40] lsitu commented on #526
@gamontoya @rstanonik @jhriv I think we have the following dependencies for damspas release 1.82 to be deployed at the same time:
1. https://github.com/ucsdlib/damsrepo/issues/62 (Update Tomcat configuration for database connection pooling)
Note: We need to configure tomcat on lib-hydratail-prod for database connection pooling. And it will be fine to leave tomcat for dmamanager (lib-ingest) as-is

[2018-09-07 22:48] rstanonik commented on #526
Other than

initialSize="20" maxActive="100" minIdle="20" maxIdle="20"

Do I need to do anything else to enable database connection pooling?

Other than deploy damsrepo

[2018-09-07 22:50] rstanonik commented on #526
The top of this issue mentions "Deploy/Update Solr configuration files".

Do I need to do that too?  Yes, there is a jenkins plan for deploying/updating solr config files.

[2018-09-07 22:59] rstanonik commented on #526
I compared to staging server.xml and it appears I only need to update the one line.

[2018-09-07 23:02] rstanonik commented on #526
Monday morning I'll update server.xml, deploy solr config changes, deploy damsrepo, and deploy damsmanager ... to production.

[2018-09-07 23:09] lsitu commented on #526
@rstanonik That sounds great! Please restart damsolrizer and the tomcat servers on lib-hydratail-prod and lib-ingest once the deployment is done. Thanks.

For database connection pooling, I think we just need to do that one line configuration in server.xml. We've tested it on staging so it's good to just make it the same as staging. Thanks.

[2018-09-10 13:28] rstanonik commented on #526
Done.

update server.xml, deploy solr config changes, deploy damsrepo, and deploy damsmanager ... to production

restarted both tomcats, lib-hydratail-prod and lib-ingest

tested by openning library.ucsd.edu/dc and library.ucsd.edu/damsmanager

[2018-09-10 15:47] VivianChu commented on #526
@rstanonik @jhriv - Could you also deploy the secureToken environment variables to prod? Thanks

[2018-09-10 16:01] rstanonik commented on #526
John, that's something you do with github/circleci, right?

[2018-09-10 16:08] gamontoya commented on #515
@lsitu Hi Longshou. Can you take this ticket on first thing this morning and re-index? After this is done I'm going to ask you to do #356 .

[2018-09-10 16:15] lsitu commented on #526
@jhriv @rstanonik Have you deployed damspas Release 1.82 to prod? It seems like that the expected changes haven't been on prod yet.

[2018-09-10 16:18] lsitu commented on #515
@gamontoya Sure. I am on it now.

[2018-09-10 16:44] lsitu commented on #515
@gamontoya It looks like there are total 886 objects in keesing.txt, which has three more objects. Do you want to add the note above to all 886 objects in keesing.txt?

[2018-09-10 16:51] gamontoya commented on #515
@lsitu So those extra three are both restricted and culturally sensitive.

[2018-09-10 16:53] jhriv commented on #526
Secure tokens have been deployed - affected apps may need a restart

[2018-09-10 16:54] lsitu commented on #515
@gamontoya Okay. I'll just add the note above to all 886 objects listed in the keesing.txt then.

[2018-09-10 16:55] gamontoya commented on #515
bb3789396p (also restricted)
bb0000967b (also restricted)
bb9250195j (also restricted)

[2018-09-10 16:58] gamontoya commented on #515
[code]

[2018-09-10 17:01] gamontoya commented on #515
@lsitu Wait, those 3 ARKs above are for Lambert, so never mind.

[2018-09-10 17:02] rstanonik commented on #526
I did "touch tmp/restart.txt" for dams.

Viedo and audio play, but when I view source, they're not using the securetoken streaming url.

.

[2018-09-10 17:07] VivianChu commented on #526
@rstanonik - It's because new version of damspas is not deployed to prod yet.

[2018-09-10 17:12] VivianChu commented on #526
@jhriv @rstanonik - I don't see the deploy command for damspas in slack deploys channel.

[2018-09-10 17:26] jhriv commented on #526
Do we want to bump ruby to 2.3.7, when -qa and -staging have 2.3.6p384?

[2018-09-10 17:32] mcritchlow commented on #526
Hmm, they should all be 2.3.7 at this point. I guess I assumed qa and staging already got that update.

[2018-09-10 17:32] jhriv commented on #526
I can bump -qa and -staging to 2.3.7 right quick

[2018-09-10 17:36] rstanonik commented on #526
Do you have an ansible playbook to do that?

[2018-09-10 17:37] VivianChu commented on #526
@jhriv - after you bump qa and staging, do you want me to deploy damspas to qa and staging again to test?

[2018-09-10 22:29] gamontoya commented on #526
@jhriv What the latest on this deploy?

[2018-09-11 16:45] jhriv commented on #526
2.3.7 is on -qa, -staging, and -prod. It wasn't set as default, though.

[2018-09-11 17:44] jhriv commented on #526
Release is scheduled for service window, Wednesday September 12.

[2018-09-12 15:54] VivianChu commented on #526
SecureToken feature works fine for the new release in production. Thanks everyone.

[2018-09-12 15:56] mcritchlow commented on #526
And searching w/ Solr (no SpellCheck) seems to be working well. And fast :)

[2018-09-12 16:09] gamontoya commented on #526
@jhriv Was everything deployed?

[2018-09-12 16:09] gamontoya commented on #526
@mcritchlow I agree... and FAST.

[2018-09-12 16:15] lsitu commented on #526
@gamontoya I updated the metadata for [ECE collection](https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=ECE+Distinguished+Lecturer+Series&id=bb19126574&sort=title_ssi+asc) to test the new feature for UCSD IP/metadata-only display, it seems to be working as expected now. Thanks @rstanonik @jhriv.

[2018-09-12 16:38] jhriv commented on #526
1.82 was successfully deployed this morning.

[2018-09-12 19:13] gamontoya opened #527 "Deletion request"
### Descriptive summary

Please delete the following objects from the DAMS:

- bb0547079z
- bb1468587s
- bb1502718d
- bb18440174
- bb3004438r
- bb31409564
- bb3482256c
- bb38235588
- bb4096596m
- bb42672506
- bb5325280z
- bb5393536t
- bb6383308f
- bb6690478f
- bb7577857v
- bb8874796x
- bb9216096k
- bb9250227n
- bb9932827t

### Rationale

Requested by Laurel in SC&A

[2018-09-12 19:21] gamontoya opened #528 "Remove metadataDisplay from public objects (Keesing)"
### Descriptive summary

Remove OtherRights=metadataDisplay element from the 2982 **public** Keesing objects.

### Rationale

Currently the Keesing collection is showing everything with a "restricted" label after the metadataDisplay update was added to production. These public objects need to be updated in order to behave as non-restricted, public display.

[2018-09-12 19:40] GregReser commented on #527
Added 3 more deletions from SIO Office of the Director Records

[2018-09-13 17:23] gamontoya opened #529 "Ping Collection: Update Rights Holder"
### Descriptive summary

Lynda notes that the Ping collection incorrectly lists the UC Regents as the rights holder. Peter confirms that Ping owns the rights. Signed agreement is attached.

- [Reynolds Ping License.pdf](https://github.com/ucsdlib/dams-metadata/files/2380324/Reynolds.Ping.License.pdf)

------

### Task

For all objects in collection: https://library.ucsd.edu/dc/collection/bb6417940

[2018-09-13 17:34] gamontoya commented on #527
@jessicahilt Can this be assigned to a developer?

[2018-09-13 17:37] lsitu commented on #527
@jessicahilt / @gamontoya I can take it.

[2018-09-13 18:06] GregReser commented on #529
@gamontoya I think we need to also add a license so these display to the public

<dams:license>
    <dams:License>
        <dams:licenseNote>Public access granted by rights holder.</dams:licenseNote>
        <dams:permission>
            <dams:Permission>
                <dams:type>display</dams:type>
            </dams:Permission>
        </dams:permission>
    </dams:License>
</dams:license>

[2018-09-13 18:17] VivianChu commented on #529
@GregReser - I'll add that license predicate to those objects.  Thanks

[2018-09-13 19:09] lsitu commented on #528
@gamontoya I think the OtherRights=metadataDisplay element is moved from all 2982 public objects in Keesing on prod already. Please let me know if you still see any issues with these objects. Thanks.

[2018-09-13 19:50] gamontoya commented on #515
@lsitu Looks great. Thank you.

[2018-09-13 19:50] #515 closed

[2018-09-14 00:24] gamontoya opened #530 "Check for recent bot crawls"
### Descriptive summary

I notice that we are getting high number of hits in our statistics this month. Check the robots file for new bot crawling

- https://library.ucsd.edu/damsmanager/stats.do

### Rationale

Need accurate stats.

[2018-09-14 17:00] lsitu commented on #356
@gamontoya I think the metadata changes for those five UCSD IP/metadata-only collections are done on prod and all 8 collections listed above are re-indexed. Please let me know if you see anything is missing. Thanks.

[2018-09-14 17:09] lsitu commented on #527
@gamontoya I've deleted all 23 objects and their files above on prod. And I keep a copy of those master files in \\darry\dams_staging\Backups\Deletions\damspas-527 just in case you need them.

[2018-09-14 17:18] VivianChu commented on #529
@gamontoya - The rightsHolder has been updated and the license predicate has been added for all objects.  They have been re-indexed.  Could you review them?  For example - https://library.ucsd.edu/dc/object/bb0991291g  Thanks

[2018-09-14 21:08] GregReser commented on #529
@gamontoya  I think the rightsHolder name should be "Reynolds, Roger, 1934-"

[2018-09-14 22:29] gamontoya commented on #529
@GregReser Yes, my bad with the name, but should Vivian link use:

<mads:PersonalName rdf:about="http://library.ucsd.edu/ark:/20775/bb1093608k">

[2018-09-14 22:37] GregReser commented on #529
@gamontoya I should have noticed the name and mentioned it earlier.
Yes, we want the same ARK used for creator and rights holder, so you are correct, it would be  http://library.ucsd.edu/ark:/20775/bb1093608k

[2018-09-14 22:41] VivianChu commented on #529
@gamontoya @GregReser - The existing object doesn't use any link for the rightsHolder.  It just uses internal predicate
 <dams:rightsHolderCorporate>
      <mads:CorporateName>
        <mads:authoritativeLabel>UC Regents</mads:authoritativeLabel>
        <mads:elementList rdf:parseType="Collection">
          <mads:FullNameElement>
            <mads:elementValue>UC Regents</mads:elementValue>

[2018-09-14 22:51] GregReser commented on #529
@VivianChu Ping was an older ingest.  Current practice is to use ARks for copyrightHolder

[2018-09-14 23:28] gamontoya commented on #529
@GregReser Thanks for clarifying!

[2018-09-14 23:29] lsitu commented on #529
@GregReser I think in damsmanager we are still using the internal name instance convention for for copyrightHolder and we've never changed it. Do you want to change it in damsmanager to perform name authority lookup and map it to existing ARKs instead?

[2018-09-14 23:31] gamontoya commented on #529
@lsitu @GregReser We probably should, no?

[2018-09-14 23:39] lsitu commented on #529
@gamontoya / @GregReser Yep, I think it sounds good. But this will create additional new name authority records if no mapping is found. Can you create a damsmanager ticket for it? Thanks.

[2018-09-14 23:41] gamontoya commented on #529
@lsitu I'll create it once @GregReser talks to Arwen about this -- Greg, do you need to consult with your team?

[2018-09-14 23:41] VivianChu commented on #529
@gamontoya @GregReser - The objects have been updated with the ARKs for rightsHolder.    Solr reindex process is not done yet.  I'll let you know when it's done.  Here's one of the updated record  https://library.ucsd.edu/dc/object/bb84998938

[2018-09-14 23:42] gamontoya commented on #529
@VivianChu Thank you for adjusting so quickly.

[2018-09-14 23:46] GregReser commented on #529
@lsitu @gamontoya Oh, I guess I have it backwards.  I looked at some existing objects and saw ARKs, but those must have been added later.  I can see in our most recent tests that there are no ARK.

I think we should move to using ARKs for DAMS Manager ingests. @arwenhutt @remerjohnson what do you think?

[2018-09-14 23:46] gamontoya commented on #356
@VivianChu @lsitu Congratulations! Confirming that every collection affected is behaving as expected.

Excellent job, Vivian and Longshou! Very good work!

[2018-09-14 23:46] #356 closed

[2018-09-14 23:49] gamontoya commented on #528
@lsitu Good work again!

[2018-09-14 23:49] #528 closed

[2018-09-14 23:56] VivianChu commented on #529
@gamontoya @GregReser - All objects have been re-indexed.  Could you review them?  Thanks

[2018-09-17 15:32] GregReser commented on #529
@gamontoya @VivianChu The objects look good to me.

[2018-09-17 15:34] GregReser commented on #529
@gamontoya @lsitu DOMM still needs to talk before we update DAMS Manager to use ARKs for rightsHolder.  We will let you know.

[2018-09-17 15:45] #529 closed

[2018-09-17 15:49] gamontoya commented on #472
@mcritchlow Is this done?

[2018-09-17 15:59] mcritchlow commented on #472
@gamontoya - unfortunately not. we never had progress beyond the branch I worked on, and the repo John worked up as a test structure. My recollection is we essentially had a proof of concept working, from damspas code back to the nginx configuration necessary to support the feature.

At this point, unfortunately, the branch would need such significant refactoring that I'd probably start over with

[2018-09-18 16:14] lsitu commented on #530
@rstanonik It seems like there is a stale Tomcat thread running at the same time for dams statistics. I see the Sep 13 peak and the Sep. 15 peak were double counted. This will happened when Tomcat wasn't restarted cleanly after deploying damsmanager. Could you take a look and restart tomcat on lib-ingest? Thanks.

[2018-09-18 16:52] lsitu commented on #530
Thanks @rstanonik . I'll regenerate the stats started from last Monday when we deployed damsmanager.

[2018-09-18 22:42] lsitu commented on #530
@gamontoya I've regenerated the stats data starting from Monday Sep 10. So the peaks on Sep 13 and Sep 15 are gone.

It seems like it's a little bit complicated for the other peaks on Aug 26 (44158 hits) and Sep 6 (40751 hits). I found we could exclude user agent `weborama-fetcher (+http://www.weborama.com)` from counting but the majority accesses is from user agent `Mozilla/5.0 (Linux; Android 6.

[2018-09-18 23:07] gamontoya commented on #530
Can we block 220.243.135.* and 220.243.136.*, exclude weborama-fetcher (+http://www.weborama.com) for starters?

Let's see if @mcritchlow has ideas about the rest.

[2018-09-19 15:10] GregReser opened #531 "Object Deletion: East Asia Film Collection"
### Description

#### Reason:
Duplicate object.

#### Collection
none - object is one-off, not linked to a CLR

#### Object affected
https://library.ucsd.edu/dc/object/bb4918700z

#### Current Visibility
Public

[2018-09-19 15:53] mcritchlow commented on #530
Yeah this is a frustratingly difficult game, because the goal posts are constantly moving. I'm going to think about this a little bit, I wonder if we just need a fundamentally different approach. Blocking those IPs seems fine as a short term measure. But I think we need to find something

As for the user agent, I don't think we can/should block via the user agent. Primarily because it's the easies

[2018-09-19 16:01] gamontoya commented on #531
@VivianChu Are you able to do a complete deletion?

[2018-09-19 16:03] VivianChu commented on #531
@gamontoya - Yes I'm able to do a complete deletion.

[2018-09-19 16:38] VivianChu commented on #531
@gamontoya - The object has been removed.

[2018-09-19 16:38] #531 closed

[2018-09-19 16:44] gamontoya commented on #531
@VivianChu Thank you!

[2018-09-19 16:48] #472 closed

[2018-09-20 16:06] VivianChu opened #534 "Upgrade to JWPlayer 8"
### Descriptive summary

Upgrade to JWPlayer 8. Some of the changes include:

- JWPlayer is loaded from the cloud
- The playlist is an icon in the bottom right

Example - https://library.ucsd.edu/jwplayer-cloud/

[2018-09-26 21:19] GregReser opened #536 "Edit visibility values in Roger M. Keesing Photographs"
### Description

Edit visibility values for 886 objects from Roger M. Keesing Photographs (https://library.ucsd.edu/dc/collection/bb1571361n)

Object ARKs and new values located in the attached spreadsheet Keesing_restriction_edits.xlsx

For each ARK in the spreadsheet:

**1**
IF dams:otherRightsNote exists
REPLACE existing dams:otherRightsNote value with new value in spreadsheet column "otherRigh

[2018-09-27 18:26] GregReser opened #537 "Edit notes and CLR link for SIO Photos"
### Description

For 422 objects currently linked to [Scripps Institution of Oceanography Photographs](https://library.ucsd.edu/dc/collection/bb20151229), edit location of originals and preferred citation notes and change link to new collection [SIO Photographs Collection](https://library.ucsd.edu/dc/collection/bb2734402f)

List of ARKs in attached spreadsheet SMC59_batch_updates.xlsx

### Edits
F

[2018-09-28 18:42] #526 closed

[2018-09-28 18:44] gamontoya opened #538 "Release 1.83"
### Descriptive summary

- Version: 1.83
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv

### To Verify/Review:

- [x] @dt-ucsd Embed URL work is done #535

[2018-10-01 23:04] #470 closed

[2018-10-02 15:42] GregReser opened #539 "Re-ingest Wu Films objects"
### Descriptive summary

Re-ingest 2 objects that filed during DAMS Manager ingest - re-use ARKS created during original ingest.

Spreadsheet attached with existing ARKs and metadata.
Source files are located at  digital-staging:\CARS Digital Acquisitions\Video\Licensed_Media\Wu Films February 2017\Final_Files

[2018-10-02 15:49] VivianChu commented on #538
@gamontoya - Embed URL has been merged into the master branch.  Is it ok if I create a new damspas release today?  Thanks

[2018-10-02 17:02] VivianChu commented on #537
@GregReser - There are only 417 objects because 5 arks are duplicated in the list.
bb27996565
bb5086365p
bb7065903w
bb2492484r
bb4267247b
417 objects have been updated and re-indexed.  Could you review them?  Thanks For example https://library.ucsd.edu/dc/object/bb27996565

[2018-10-02 17:41] GregReser commented on #537
@VivianChu Looks good.  Thank you very much.

[2018-10-02 17:41] #537 closed

[2018-10-02 18:42] hweng commented on #536
@GregReser For dams:otherRights editing, should the 886 objects change to be like https://library.ucsd.edu/dc/object/bb4881568h,  which include the dams:otherRightsBasis, dams:permission and dams:Restriction in <dams:otherRights>

For example of bb1502706w:

[code]

For example of bb67245902:
[code]

For example of bb3379925q
[code]

[2018-10-02 18:49] gamontoya commented on #538
@VivianChu Yes, please do.

[2018-10-02 18:49] gamontoya commented on #538
@VivianChu @rstanonik Let's see if it can be deployed before noon today?

[2018-10-02 18:55] lsitu commented on #538
Hi Gabriela,
It looks like @GregReser  is ingesting a batch of videos now.

[2018-10-02 18:56] gamontoya commented on #538
@lsitu Thanks Longshou. I'll check in with him.

[2018-10-02 18:58] hweng commented on #536
@GregReser Let me know if you'd like the 886 objects to behave like bb4881568h: https://library.ucsd.edu/dc/object/bb4881568h

I checked bb4881568h that the dams:otherRights structure is:
[code]

[2018-10-02 19:00] VivianChu commented on #538
@rstanonik - The release tag has been created.  It's ready to deploy to prod.  Could you deploy it to prod after Gabriela confirm with Greg? Thanks.

[2018-10-02 19:01] gamontoya commented on #530
@mcritchlow Please let @lsitu know how he should proceed with this ticket.

[2018-10-02 19:30] lsitu commented on #530
@mcritchlow I think I can add another IP filter to handle those range of IPs that we don't want to include in dams statistics, like `220.243.135.*` and `220.243.136.*`. And I can add a query IP filter in SQL to exclude those single IPs that we don't want to include in the search result.
So we can have three filters to exclude those bots/crawls accesses from counting in dams statistics:
1. The user

[2018-10-02 20:33] gamontoya commented on #538
@VivianChu @rstanonik Hold off on deploying until tomorrow. Deploy during the regular service window. Thank you.

[2018-10-02 21:28] rstanonik commented on #538
Tomorrow morning I'll "deploybot deploy damspas/master to production"  or should it be "deploybot deploy damspas/1.83 to production"

[2018-10-02 21:35] GregReser commented on #536
@hweng Yes, https://library.ucsd.edu/dc/object/bb4881568h behaves correctly. The others you posted above also look correct.

[2018-10-02 21:44] gamontoya commented on #538
@rstanonik Is it okay if you deploy now and restart Tomcat?

[2018-10-02 21:45] gamontoya commented on #538
@VivianChu Can you respond to @rstanonik question?

[2018-10-02 21:47] rstanonik commented on #538
Unless there is a problem, I prefer to deploy during the service window.

[2018-10-02 22:05] hweng commented on #536
@GregReser In keesing_restriction_edits.xlsx, the first item https://library.ucsd.edu/dc/object/bb9045418k, otherRightsNote:New is "Nudity"?  Could you check it?

[2018-10-02 22:06] VivianChu commented on #538
@rstanonik - It should be "deploybot deploy damspas/1.83 to production".

[2018-10-02 22:06] GregReser opened #540 "Deletion request"
### Description
Please delete the following objects from the DAMS:
bb9318660w
bb39943803
bb06153324
bb19152583

#### Reason:
SC&A request

[2018-10-02 22:14] GregReser commented on #536
@hweng that's the value I was given, go ahead and use it.  It's an internal note (curator only).

[2018-10-02 22:30] rstanonik commented on #538
I ran "deploybot deploy damspas/master to production"

[2018-10-02 22:47] #538 closed

[2018-10-03 17:39] hweng commented on #536
@GregReser Thanks for clarifying it. For dams:Note edit, if the following rdf looks correct to you:

[code]

[2018-10-03 18:46] GregReser commented on #536
@hweng Yes, that dams:Note looks correct.  I see in the spreadsheet that some have two spaces after "UC San Diego Library." and some have one space, otherwise the values are the same.  Let's use one space as you have it above for all dams:Note (column C)

[2018-10-03 20:00] lsitu commented on #539
@GregReser I don't see the spreadsheet attached with existing ARKs and metadata is missing. Could you attach it again? Thanks.

[2018-10-03 21:38] GregReser commented on #539
@lsitu oops.
[Wu_films_re-ingest.xlsx](https://github.com/ucsdlib/damspas/files/2443960/Wu_films_re-ingest.xlsx)

Also, there are no changes to the metadata, I think the only problem is that the files were not created and linked.  I tried to use the DAMS Manager file replace tool, but I got an error that no there is no original file in the DAMS to replace.

[2018-10-03 22:02] lsitu commented on #539
Thanks @GregReser. I'll fix it.

[2018-10-04 14:49] GregReser commented on #536
@hweng well done!  I need to look at more and have the Cristela confirm before I close this.

[2018-10-04 15:15] lsitu commented on #539
@GregReser The mp4 files in objects https://library.ucsd.edu/dc/object/bb5669559q and https://library.ucsd.edu/dc/object/bb7273696p are re-ingested. The videos are ready for review now.

[2018-10-04 15:38] GregReser commented on #539
@lsitu Perfect, thanks!

[2018-10-04 15:38] #539 closed

[2018-10-04 16:20] arwenhutt opened #541 "Documentation of access control logic"
### Descriptive summary
There have been a number of cases where the access controls & restrictions are not working as expected.  There seem to be some additional logic in how access controls are implemented in the code.  We need full documentation of how final access level is determined in the DAMS, including metadata values which trigger default behavior, how overrides or exceptions are implement

[2018-10-04 16:28] gamontoya commented on #541
@jessicahilt I actually think someone is DOMM (@GregReser ?) should help document this, but punting your way for IT Dev assignment.

[2018-10-04 16:32] arwenhutt commented on #541
@gamontoya DOMM does not need to be involved in this - we have lots of metadata documentation already, but what we are missing is how that metadata is actually used by the code.  So it's just that second piece, which is not something we can contribute to, that we need.

After we get that information, we can then look at whether there are specific issues that need addressing, which would be collabo

[2018-10-04 16:33] VivianChu commented on #540
@gamontoya @GregReser - The objects have been deleted.
For example
https://library.ucsd.edu/dc/object/bb9318660w
https://library.ucsd.edu/dc/object/bb39943803
https://library.ucsd.edu/dc/object/bb06153324
https://library.ucsd.edu/dc/object/bb19152583

[2018-10-04 16:50] lsitu commented on #541
@arwenhutt Do you have any examples that are not working as expected for access controls & restrictions? I think we may need to inspect what's the issue. I am wondering whether SOLR index is an issue since we haven't re-indexed all collections in SOLR when the UCSD IP/metadata-only features were deployed to prod earlier.

[2018-10-04 16:51] gamontoya commented on #541
@arwenhutt Sounds good! Thanks for the info.

[2018-10-04 16:55] arwenhutt commented on #541
@lsitu We've been troubleshooting individual objects and trying to guess what's happening for a long time now, but issues keep arising.  So what we really need is documentation of all the access control code/logic.  Thanks!

[2018-10-04 16:58] hweng commented on #536
@GregReser Solr indexing was done for the keesing collection on production, and I've been updating the collection on test server.  I checked some that they look right to me. Let me know if you and Cristela catch something. Thank you!

[2018-10-04 17:00] lsitu commented on #541
@arwenhutt Got it! Where do you prefer to put the documentation?

[2018-10-04 19:07] GregReser commented on #536
@hweng It looks like some objects did not get the correct note.  For example, https://library.ucsd.edu/dc/object/bb5427656k

The note value should be "Restricted by Donor. This image contains nudity."

This note should be used for the 538 objects listed in the attached spreadsheet,
[Keesing_restriction_2.xlsx](https://github.com/ucsdlib/damspas/files/2447764/Keesing_restriction_2.xlsx)

[2018-10-04 19:16] hweng commented on #536
@GregReser I'll fix them. Thank you for catching it.

[2018-10-04 19:52] mcritchlow commented on #530
@lsitu - Sorry for the delay. I think short of something more drastic, which we probably don't have time for right now, that seems like a very good approach. :+1: on my end

[2018-10-04 19:57] lsitu commented on #530
Thanks you very much for you inputs @mcritchlow. I'll move forward with it then.

[2018-10-04 20:47] arwenhutt commented on #541
Awesome!  Thanks @lsitu! Wherever is convenient for you to put them is fine - LiSN or a shared google doc maybe?

[2018-10-04 22:34] gamontoya commented on #455
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/542)

[2018-10-04 22:34] gamontoya opened #542 "Data Sync to Staging/QA"
### Descriptive summary

- Please sync from prod to staging and QA. This should include everything (triplestore, solr, files, etc.)

### Notes

- To be started on Monday, October 8 during regular service window
- Operations: @jgorney @rstanonik

[2018-10-04 23:18] hweng commented on #536
@GregReser I updated RDF for 538 objects to be
`<dams:otherRightsNote> Restricted by Donor. This image contains nudity. </dams:otherRightsNote>`
http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb5427656k/export

And the solr indexing was done, for example:  http://lib-hydratail-prod.ucsd.edu:8983/solr/blacklight/select?q=id:bb5427656k

[2018-10-05 17:14] arwenhutt commented on #541
@lsitu I created a google doc:
https://docs.google.com/document/d/1tXST5uRi_09lWC-GKICVZ1vO9uKpUlWjY2mlv3E852U/edit
It's set to let anyone from UCSD with the link edit it - let me know if you have any problems!

[2018-10-05 17:49] lsitu commented on #541
@arwenhutt Great! And I am able to access it. Thank you very much.

[2018-10-08 12:40] rstanonik commented on #542
solr is sync'ed from prod to qa and staging.

file sync has started.  I give an estimate of the time after it has run for a while.

[2018-10-08 14:54] jgorney commented on #542
I didn't see this until this morning, I got a late start, but the database triplestore syncs to qa and staging are underway.

[2018-10-08 15:37] GregReser opened #544 "Deletion request: Scheffler"
### Descriptive summary

Delete 1 object from [Harold Scheffler Photographs](https://library.ucsd.edu/dc/collection/bb08204951) at the request of the curator, Cristela Garcia Spitz.

https://library.ucsd.edu/dc/object/bb58030759

[2018-10-08 16:02] rstanonik commented on #542
file sync is about 40% done to both qa and staging, in about 3 hours, so estimate another 5 hours.

[2018-10-08 16:10] #540 closed

[2018-10-08 18:46] rstanonik commented on #542
62% done to staging, estimate another 4 hours.

I paused the sync to qa, to see if that significantly speeds up the sync to staging.  It doesn't seem to affect the sync to staging, so I'll resume the sync to qa.

[2018-10-08 19:08] GregReser commented on #536
@hweng Looks good. Thank you

[2018-10-08 19:08] #536 closed

[2018-10-08 21:00] rstanonik commented on #542
The filesync to staging finished.

The filesync to qa is 72% done, so estimate another 3 hours.

[2018-10-08 22:36] rstanonik commented on #542
qa and staging have been synced to prod (triplestore, file, and solr) and are ready for use.

[2018-10-09 17:09] VivianChu commented on #544
@GregReser @gamontoya - The object has been deleted.

[2018-10-09 17:09] #544 closed

[2018-10-09 17:56] gamontoya commented on #542
Thank you @rstanonik

[2018-10-09 18:00] #542 closed

[2018-10-10 18:01] gamontoya opened #545 "Download collection PDFs and place on darry"
### Descriptive summary

For project related work, I need all 233 PDF files downloaded from the _Armed Revolutionary Organizations in Mexico_ collection in the DAMS.

https://library.ucsd.edu/dc/collection/bb9387084g

Please place them in a folder on \darry.ucsd.edu\

[2018-10-11 00:17] lsitu commented on #545
@gamontoya All 233 PDFs in Armed Revolutionary Organizations in Mexico collection are in darry \\darry.ucsd.edu\dams_staging\AROM\PDF now.

[2018-10-11 01:35] gamontoya commented on #545
@lsitu Thank you!

[2018-10-11 01:35] #545 closed

[2018-10-12 20:10] gamontoya commented on #540
@VivianChu Thank you!

[2018-10-12 20:11] gamontoya commented on #544
@VivianChu Thanks for this too.

[2018-10-12 20:18] gamontoya commented on #530
@lsitu Does this work go into a release?

[2018-10-12 21:34] lsitu commented on #530
@gamontoya Yes. We'll release it once the PR above is reviewed and merged when Matt is back next Monday.

[2018-10-12 21:40] lsitu commented on #530
@mcritchlow I've added PR https://github.com/ucsdlib/damsmanager/pull/270 to support filtering bots/crawlers accesses by IP. As we discussed above, this will be done during collecting the statistic data phase, and while querying the statistic data. It's ready for review now. Thanks.

[2018-10-12 23:37] gamontoya commented on #530
@lsitu That's what I wondered. So we will need a release ticket for DAMSPAS?

[2018-10-13 01:36] lsitu commented on #530
@gamontoya No, we don't need to release DAMSPAS. It's a PR in damsmanger so we just need to add it to damsmanager [Release 2.67](https://github.com/ucsdlib/damsmanager/issues/269) for review.

[2018-10-15 16:11] #530 closed

[2018-10-15 18:34] VivianChu commented on #534
@gamontoya - The jwplayer8 update has been deployed to qa.  Could you review it?  Thanks.  For example
simple video
http://libraryqa.ucsd.edu/dc/object/bb8022051s

complex video
http://libraryqa.ucsd.edu/dc/object/bb3756085z

simple audio
http://libraryqa.ucsd.edu/dc/object/bb2220581g

complex audio
http://libraryqa.ucsd.edu/dc/object/bb08885004

[2018-10-15 19:11] gamontoya commented on #534
@VivianChu Looks good. Plays right away too.

[2018-10-18 19:35] gamontoya opened #547 "Create zoom tiles for San Diego History object"
### Descriptive summary

- Zoom tiles were created for the recto of object [bb3792566m](https://library.ucsd.edu/dc/object/bb3792566m/zoom/1) but not for the verso.
- Please create them for /zoom/1

[2018-10-18 19:36] gamontoya commented on #547
@VivianChu Do you want to take this on?

[2018-10-18 19:36] gamontoya commented on #547
@mdpeters FYI.

[2018-10-18 20:10] mdpeters commented on #547
@gamontoya that was not the only object that had zoomify issues in that ingest, some components of
bb7888170w failed to have tiles created, (/zoom/7, /zoom/10, /zoom/14)
and
bb02430489, bb66594863, bb5533200b, bb0993908q failed for /zoom/0

--

--

--

[2018-10-18 20:21] lsitu commented on #547
@gamontoya Maybe we can fix it now. But we need @rstanonik to run the script on prod.

[2018-10-18 20:41] lsitu commented on #547
@rstanonik Could you run the following command on lib-ingest to create the zoomify tiles? Thanks.
[code]

[2018-10-18 20:46] rstanonik commented on #547
I'm running them now, in sequence

[2018-10-18 20:51] gamontoya commented on #547
@lsitu @rstanonik Thank you guys.

[2018-10-18 21:11] rstanonik commented on #547
[z.txt](https://github.com/ucsdlib/damspas/files/2493637/z.txt)
Here is the output from the commands.
Looks okay

[2018-10-18 22:12] mdpeters commented on #547
@lsitu confirmed, tiles are all fixed.

[2018-10-18 22:56] #534 closed

[2018-10-18 23:05] #547 closed

[2018-10-24 21:42] GregReser opened #548 "Edit subject in Milo Woodbridge CLR"
### Descriptive summary

Need to edit a corporateName in the Milo Woodbridge CLR without re-indexing all objects in linked collections (California Explores the Ocean and Scripps Institution of Oceanography Photographs )

### Edit request
In CLR https://library.ucsd.edu/dc/collection/bb6248543w
corporateName/CorporateName
Current value: http://library.ucsd.edu/ark:/20775/bb49516046 "Scripps Aquariu

[2018-10-24 21:48] gamontoya commented on #548
@hweng Is there a way you can edit without triggering a re-index of the California Explores the Ocean and Scripps Institution of Oceanography Photographs collections?

[2018-10-25 18:05] hweng commented on #548
@gamontoya  I think we can just index one or a few ARK by using: https://library.ucsd.edu/damsmanager/solrDump.do

[2018-10-25 18:42] gamontoya commented on #548
@hweng As long as it doesn't trigger a full index of those two large collections.

[2018-10-25 23:33] hweng commented on #548
@gamontoya It has been updated: https://library.ucsd.edu/dc/collection/bb6248543w
Would you take a look and let me know if it looks fine to you? Thanks.

[2018-10-26 16:20] GregReser commented on #548
@hweng @gamontoya The CLR looks good to me.  As far as I can tell, it didn't trigger a re-index of all the objects. Good to know we can do this for future CLR edits.  Thanks.

[2018-10-26 16:20] #548 closed

[2018-10-26 17:29] hweng commented on #548
@GregReser Right! Thank you for checking it.

[2018-10-29 15:33] GregReser opened #549 "Delete objects from AV Diss"
### Description

Delete objects that were not structured correctly due to a mistake in the ingest spreadsheet.
Objects have not been published yet.

https://library.ucsd.edu/dc/object/bb7410493d
https://library.ucsd.edu/dc/object/bb7547014n
https://library.ucsd.edu/dc/object/bb8024863q
https://library.ucsd.edu/dc/object/bb40316558
https://library.ucsd.edu/dc/object/bb3690355j
https://library.ucsd.

[2018-10-29 17:44] arwenhutt commented on #355
I think this ticket should have been closed a long time ago...

[2018-10-29 17:44] #355 closed

[2018-10-29 20:58] lsitu commented on #541
@arwenhutt I've edited the google share doc https://docs.google.com/document/d/1tXST5uRi_09lWC-GKICVZ1vO9uKpUlWjY2mlv3E852U/edit for access control logic implementation. I think the flowcharts I added for decision making could be more straight forward for understanding the complicate logic under different scenarios: objects in a collection CLR with `visibility=[public | local | curator]`. Please l

[2018-10-29 21:50] arwenhutt commented on #541
@lsitu Thanks!  I just took a quick peek, but this should be very helpful.  The flow charts in particular are very easy to follow.  @GregReser or I might have some questions as we spend some time reviewing it.

Thanks!

[2018-10-29 22:51] lsitu commented on #541
@GregReser Yes. It's correct and the implementation of access control just utilizes the properties `copyrightStatus`.

For **Other**
![image](https://user-images.githubusercontent.com/2430784/47684927-e3990f80-db91-11e8-9d4e-ef00184cf1d3.png)
It also includes `copyrightStatus = "Unknown"`.

[2018-10-30 22:24] VivianChu commented on #549
@GregReser @gamontoya - The objects have been deleted.

[2018-10-30 22:24] #549 closed

[2018-10-30 22:47] GregReser commented on #549
@VivianChu Thank you

[2018-10-30 22:54] GregReser commented on #541
@lsitu For a public collection, it looks like the path from Copyright Status UC Regents has no way to get to Public Access.  Should the No line from License/OtherRights Restricted go directly to Public Access?

Objects in a Public Collection
![image](https://user-images.githubusercontent.com/5453716/47755528-da747500-dc5b-11e8-9487-26877690d797.png)

[2018-10-31 15:05] lsitu commented on #541
@GregReser I've updated the flowchart for objects in public collections. Thank you very much for your feedbacks.

[2018-10-31 17:52] GregReser commented on #541
@lsitu for a Local Collection:
![image](https://user-images.githubusercontent.com/5453716/47806428-fda03280-dcf6-11e8-9bcf-1bcf0b00df59.png)
Does "UCSD IP / Metadata-only" actually mean "UCSD IP / Public Metadata-only"?  That seems to be how it is currently working and the expected behavior as specified in https://github.com/ucsdlib/damspas/issues/356

One thing I found is that the above logic wor

[2018-10-31 18:42] lsitu commented on #541
@GregReser Yes, "UCSD IP / Metadata-only" is the feature in https://github.com/ucsdlib/damspas/issues/356.

For rights holder UC Regents, I think the flowchart is only showing the logic for the implementation. We may need to follow whether the object has the License / OtherRights elements in place to trigger the expected result. For example, if you add an embargoed/restricted license, then it's wi

[2018-10-31 23:08] gamontoya opened #551 "Update Embed URL to include audio and images"
### Descriptive summary

- Add Embed information (I.e., URL, Code snippet) to audio and image objects as well.
- Should read:
   - Embed URL
   - Embed Audio | Image | Video (whichever one)
- Remove "Terms of Service" text

### David Commentary

We could probably get a little fancy with that second one and have it read embed video|audio|image depending on the object type.

###

[2018-10-31 23:08] gamontoya commented on #470
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/551)

[2018-10-31 23:12] gamontoya commented on #551
@dt-ucsd We started a Sprint yesterday. Do you have time to work on this during this 2-week Sprint?

[2018-11-01 14:43] GregReser commented on #541
@lsitu  The flowcharts show how CLR visibility determine object access, but objects can also determine CLR visibility, right?  A local CLR becomes visible if at least one object in the collection has a condition that makes it public, such as MetadataDisplay.

[2018-11-01 15:39] lsitu commented on #541
@GregReser No. Objects won't be able to determine the CLR visibility. I think this is the rule we setup for incremental collection development and a collection won't be released  for public access until it's being reviewed and approved. So in a curator collection with `visibility='curator'`, all objects are curator, no matter what condition it is.

[2018-11-01 16:02] GregReser commented on #541
@lsitu I have found that a local CLR is visible off campus if some objects are metadata-only.  I have done another test without metadata-only objects and the CLR was not visible off campus.

We don't have to solve this right now, I'm just trying determine what the logic is so we can consider if changes are needed.

I got these on results on staging from home (no VPN, not logged in)
![image](https:

[2018-11-01 16:12] GregReser commented on #541
My screenshot above doesn't show it, but the CLR is also visible.
This was a different test and you can see the CLR in the results.
![image](https://user-images.githubusercontent.com/5453716/47864162-2dfad600-ddb6-11e8-8ba8-efb625c79bd1.png)

[2018-11-01 16:32] lsitu commented on #541
@GregReser For local collections, I think we've discussed it in the passed to make it public viewable because of the `"UCSD IP / Metadata-only"` display the feature in #356 we need. If you think this shouldn't be the case, we could discuss and change it. But this is not the issue of determining the CLR visibility by the object view.

[2018-11-01 16:34] GregReser commented on #541
I just had someone off campus confirm that this CLR is visible to the public.  The CLR visibility is "local"
https://librarytest.ucsd.edu/dc/collection/bd8212589g
As I said, we don't need to fix this right now, but if you can document what logic is causing it to display, that would be helpful.

![image](https://user-images.githubusercontent.com/5453716/47865222-dc077f80-ddb8-11e8-9267-5c6916c16b4f

[2018-11-01 16:54] GregReser commented on #541
@lsitu

OK, that's why I wanted to confirm: Objects can determine CLR visibility, at least that seems to be what's happening.  When I add a metadata-only object to a local CLR, the CLR becomes visible without having to manually edit the CLR metadata.  Can you add that to your flowchart?

This shows the multiple layers and directions of conditions we are trying to understand and document.

[2018-11-01 17:17] lsitu commented on #541
@GregReser I think I can add a note for it. We make the CLR with `visibility=local` public discovery because of the requirements in https://github.com/ucsdlib/damspas/issues/356 for the `UCSD IP / Metadata-only` feature. And the local CLR will be discovery/visible without any objects in it. So it's not triggered by the object as you mentioned. This is only the CLR accessibility issue but not the o

[2018-11-01 17:31] GregReser commented on #541
@lsitu seems it would be confusing to have a collection containing all local objects and a public CLR with no objects to view.  Maybe we don't have any of those.  Makes me wonder why we need a local CLR then.

[2018-11-01 17:31] GregReser commented on #541
@lsitu file download allowed/not allowed is determined by file type and CLR visibility, correct?  For example,
videos in a local collection are not downloadable
videos in a public collection are downloadable

[2018-11-01 17:55] lsitu commented on #541
@GregReser I think local collection is necessary for those `UCSD IP / Metadata-only` collections in https://github.com/ucsdlib/damspas/issues/356.
For file downloads, I think it's quite complicate with the special requirements for video/audio and the `UCSD IP / Metadata-only` feature in the way that don't allow any downloads. I haven't document these kind of special access controls implemented in

[2018-11-01 21:59] GregReser commented on #541
@lsitu Thanks, this gives us a clearer picture of how access controls work.  If we need to make changes to, we will open another ticket.

[2018-11-01 22:01] #541 closed

[2018-11-01 22:57] lsitu commented on #541
@GregReser Thank you very much for your review. I've added another paragraph to clarify file downloads.

[2018-11-06 23:28] gamontoya opened #552 "Investigate spike in statistics and exclude IP peak"
### Descriptive summary

October's statistics are showing a huge peak for Oct. 23.

Investigate to determine what should be excluded from the spike.

![bot](https://user-images.githubusercontent.com/4314914/48100538-909a0a80-e1d8-11e8-8cee-a32880fa1869.png)

[2018-11-14 17:22] GregReser opened #554 "Delete object from AV Diss"
### Description

Delete object that was not structured correctly due to a mistake in the ingest spreadsheet.
Object has not been published yet.

https://library.ucsd.edu/dc/object/bb4748423k

[2018-11-14 18:43] VivianChu commented on #554
@GregReser @gamontoya - The object has been deleted.

[2018-11-14 18:43] #554 closed

[2018-11-14 18:45] GregReser commented on #554
@VivianChu Thank you

[2018-11-14 19:15] gamontoya opened #555 "Release 1.84"
### Descriptive summary

Did not have an official release

### Report

- https://lisn.ucsd.edu/display/dlpg/Sprint+08+-+2018+-+Report

[2018-11-14 19:15] #555 closed

[2018-11-14 19:16] gamontoya opened #556 "Release 1.85"
### Descriptive summary

Did not have an official release

### Report

- https://lisn.ucsd.edu/display/dlpg/Sprint+09+-+2018+-+Report

[2018-11-14 19:16] gamontoya commented on #555
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/556)

[2018-11-14 19:16] #556 closed

[2018-11-14 23:22] GregReser opened #557 "Remove rightsHolder for all AV Dissertations objects"
### Description

Because the files associated with AV dissertations can contain works copyrighted by multiple people besides the dissertant, there should be no Rights Holder associated with the object.  The objects will still be under copyright.

DAMS Manager requires a Rights Holder for copyrighted objects, so "Unknown" was used as a placeholder which now must be removed.

### Request
Remove the

[2018-11-15 01:30] gamontoya commented on #557
@VivianChu Do you have time to work on this ticket? If not, I will gladly assign to someone else.

[2018-11-16 21:59] gamontoya opened #558 "Update DAMS to no longer use SecureToken"
### Descriptive summary

SecureToken removed from DMR which was causing problems. Since then we have had virtually no reports of videos not playing.

To try to stay consistent with apps, remove SecureToken from DAMS PAS.

Not sure why we were using it to begin with.

[2018-11-16 22:42] VivianChu commented on #557
@gamontoya - I have time to work on this ticket.

[2018-11-19 19:40] gamontoya opened #559 "Update FFmpeg video-derivative encoding (in test, qa, prod)"
### Descriptive summary

Update FFmpeg video-derivative encoding to use -ac 2 for mp4 derivatives. In the future, multichannel is going to be a thing, and if/when players can eventually support multichannel in the future, we can always recreate derivatives.

### Audio option

-ac 2: Specifies the number of audio channels. Stereo audio is recommended for best compatibility. Wowza Streaming Engine d

[2018-11-19 23:55] VivianChu commented on #557
@GregReser @gamontoya - rightsHolderPersonal has been removed from all 628 objects in UCSD Electronic Theses and Dissertations.

[2018-11-19 23:55] #557 closed

[2018-11-20 00:01] GregReser commented on #557
@VivianChu Perfect. Thank you.

[2018-11-20 21:21] mcritchlow opened #561 "Add VRR active directory group"
### Descriptive summary
We need to create an active directory group to be used for authorization of folks allowed to manage the Aeon queues for VRR.

### Rationale

The current 'curator' group is too broad and would allow too many folks access to manage this work.

### Related work
#560

[2018-11-20 21:43] allisonflick commented on #561
New AD group has been created called "dams-vrr" with Matt Peters and Heather Smedburg as members.

[2018-11-20 21:43] #561 closed

[2018-11-21 22:02] lsitu commented on #552
@gamontoya I found the following IPs are contributed to the Oct 23 peak abnormally:
[code]
It seems like we should exclude all those accesses from the IPs 61.239.75.166 and 64.39.99.189 from counting. What do you think?

And the requests with a User Agent like `winHttp xxxxxxx` are not normal, for example `winHttp 2789586` , which is requested from the windows HTTP client app:
[code]
There are tot

[2018-11-26 17:55] lsitu commented on #559
@mcritchlow I've added PR https://github.com/ucsdlib/private_config/pull/7 with the`-ac 2` option for ffmpeg multichannel video derivative creation. Thanks.

[2018-11-26 18:06] #559 closed

[2018-11-26 18:33] lsitu commented on #559
@gamontoya I've deployed the`-ac 2` option for FFmpeg video-derivative encoding to QA and staging. I think we can test it with damsmanager on QA (https://libraryqa.ucsd.edu/damsmanager) now. Thanks.

[2018-11-26 21:42] lsitu commented on #552
@gamontoya Do you have any suggestions for excluding hits from IPs (61.239.75.166 and 64.39.99.189) and the user agent `winHttp xxxxxx` from counting? Thanks.

[2018-11-26 21:59] gamontoya commented on #552
@lsitu Yes, please block.

[2018-11-26 23:07] lsitu commented on #552
@mcritchlow I've created PR https://github.com/ucsdlib/private_config/pull/8 in dams_private for the configuration we need for excluding IPs 61.239.75.166 and 64.39.99.189, and the user agent starting with `winHttp` from counting. Thanks.

[2018-11-27 18:39] gamontoya opened #562 "Correct Unit value for Makua Beach collection"
From damsmanager created by [hjsyoo](https://github.com/hjsyoo) : ucsdlib/damsmanager#287

### Descriptive summary

Change value of Unit/Repository for the collection page, https://library.ucsd.edu/dc/collection/bb48163351, to RDCP (or other standard value). The object page has already been assigned the correct Unit.

### Rationale

This collection page was incorrectly assigned DLP during ingest.

[2018-11-27 18:40] gamontoya commented on #562
Cloned ticket to DAMSPAS repo (not DAMS Manager)

[2018-11-27 20:17] hweng commented on #562
@gamontoya The Makua Beach collection was updated to fix the unit.

[2018-11-27 22:05] gamontoya commented on #562
@hjsyoo For your review.

[2018-11-27 22:18] hjsyoo commented on #562
@remerjohnson Can you review the Unit correction in https://library.ucsd.edu/dc/collection/bb48163351?

[2018-11-27 22:29] remerjohnson commented on #562
@hjsyoo Yes, this looks good. It now shows up correctly when browsing RDCP collections, and the RDF has the correct RDCP ARK. 👍

[2018-11-27 22:31] hjsyoo commented on #562
Great, thanks everyone!

[2018-11-27 22:31] #562 closed

[2018-12-03 22:32] gamontoya opened #564 "Create report of local collection object rights and access values"
From damsmanager created by [GregReser](https://github.com/GregReser) : ucsdlib/damsmanager#290

### Descriptive summary

Produce a .csv report of rights values in objects in local collections in order to determine if they would be affected by the proposed decoupling of rights and access controls #264

IF CLR visibility = "local"
RETURN Object values

- Copyright//dams:copyrightStatus
- rightsHold

[2018-12-03 22:34] gamontoya commented on #564
@lsitu Do you want to take this or should I assign to someone else?

[2018-12-03 23:38] lsitu commented on #564
@gamontoya Sure. I'll take care of it.

[2018-12-04 17:35] VivianChu commented on #558
@gamontoya - Remove token has been removed and deployed to qa.  Could you review them?
For example
//single video
http://libraryqa.ucsd.edu/dc/object/bb8022051s
//single audio
http://libraryqa.ucsd.edu/dc/object/bb33481593
//complex audio
http://libraryqa.ucsd.edu/dc/object/bb5463710v
http://libraryqa.ucsd.edu/dc/object/bb4369691m
//complex video
http://libraryqa.ucsd.edu/dc/object/bb76807535

Tha

[2018-12-04 21:20] lsitu commented on #564
@gamontoya Here is the report of rights and accesses for all local collections:
[local_collections_rights.csv.txt](https://github.com/ucsdlib/damspas/files/2646155/local_collections_rights.csv.txt)

I added an additional column for` rightsHolderName/dams:Name/mads:authoritativeLabe` since I see some of the objects have it. Just let me know if you have any questions regarding thereport. Thanks.

[2018-12-04 22:18] gamontoya commented on #564
@GregReser Your report is done. See above.

[2018-12-04 22:18] gamontoya commented on #564
@lsitu Thank you.

[2018-12-04 23:41] #558 closed

[2018-12-10 19:42] gamontoya commented on #551
@jessicahilt Does Vivian have time to look into this ticket instead of David?

[2018-12-10 22:43] gamontoya commented on #556
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/566)

[2018-12-10 22:43] gamontoya opened #566 "Release 1.86"
### Descriptive summary

Version: 1.86
Release Manager: @VivianChu
Product Owner and Reviewer: @gamontoya
Operations: @jhriv

[2018-12-10 23:40] VivianChu commented on #566
@gamontoya - The new release has been deployed to staging. Could you review it ?
For example
//single video
http://librarytest.ucsd.edu/dc/object/bb8022051s
//single audio
http://librarytest.ucsd.edu/dc/object/bb33481593
//complex audio
http://librarytest.ucsd.edu/dc/object/bb5463710v
http://librarytest.ucsd.edu/dc/object/bb4369691m
//complex video
http://librarytest.ucsd.edu/dc/object/bb76807535

[2018-12-11 17:56] gamontoya opened #567 "Add Preferred Citations to SIO Cruise Report objects"
### Descriptive summary

For all objects in this collection:

Collection URL: https://library.ucsd.edu/dc/collection/bb29737300
Temp collection title: SIO Explorer Cruises
Permanent collection title: Data from Scripps Research Expeditions 1953-2005

1. Add text to Preferred Citation/Cite This Work, following the format:

Geological Data Center at Scripps Institution of Oceanography (2018). [Object

[2018-12-11 17:57] gamontoya commented on #567
@jessicahilt Please assign to a developer.

[2018-12-11 17:59] gamontoya opened #568 "Batch mint DOIs for all objects in SIO Cruise Reports"
### Descriptive summary

A collection of 708 objects has been ingested. All objects need DOIs, with all of the metadata pushed to EZID that typically gets pushed when the Mint DOI button is clicked manually.

Collection URL: https://library.ucsd.edu/dc/collection/bb29737300
Temp collection title: SIO Explorer Cruises
Permanent collection title: Data from Scripps Research Expeditions 1953-2005

Whe

[2018-12-11 18:00] gamontoya commented on #568
@jessicahilt Ready for dev assignment.

[2018-12-11 22:18] gamontoya opened #569 "Batch update file use values in SIO Explorer Cruises collection"
### Descriptive summary
For the items in the SIO Explorer Cruises collection https://library.ucsd.edu/dc/collection/bb29737300

please replace the value:
        <dams:use>document-source</dams:use>
with:
        <dams:use>document-service</dams:use>

and reindex

### Rationale
the document-source value does not trigger the pdf viewer

### Related work
https://github.com/ucsdlib/damspas/issues/568

[2018-12-11 22:19] gamontoya commented on #569
@hweng Do you have time to work on this?

[2018-12-12 17:32] gamontoya opened #570 "Batch update rights (override) for AROM collection"
### Descriptive summary

[The Armed Revolutionary Organizations of Mexico](https://library.ucsd.edu/dc/collection/bb9387084g) was publicly released, but the objects are not displaying because copyright is `unknown`. Please add access override to release.

[2018-12-12 17:42] gamontoya commented on #566
@VivianChu This is approved for prod. Thank you!

[2018-12-12 18:00] VivianChu commented on #566
@jhriv - Could you deploy new damspas release to prod?  Thanks

[2018-12-12 22:06] lsitu commented on #570
@gamontoya All 233 object in [AROM collection](https://library.ucsd.edu/dc/collection/bb9387084g) should be public accessible now. Could you take a look?

[2018-12-12 22:37] gamontoya commented on #570
@lsitu Confirming that work is complete. Thank you.

[2018-12-12 22:37] #570 closed

[2018-12-13 22:38] jessicahilt commented on #568
Vivian, can you take a look at this and see if it's possible to get this done by winter break. Let me know. Thanks!

[2018-12-13 22:45] VivianChu commented on #568
@jessicahilt -  I'll start working on it.  I think it's possible to get this done by winter break.

[2018-12-18 18:45] arwenhutt commented on #569
@lsitu Great!  Thank you!

[2018-12-18 18:45] #569 closed

[2018-12-18 19:04] VivianChu commented on #568
@gamontoya - We can mint doi if a record has Preferred Citation Note and Date Issued.  The records in this collection don't have those fields.  For example - https://library.ucsd.edu/dc/collection/bb04139816/rdf https://library.ucsd.edu/dc/collection/bb87075706/rdf
This record from different collection has Preferred Citation Note, Date Issued and DOI - http://lib-hydratail-prod.ucsd.edu:8080/dams/

[2018-12-18 19:15] hjsyoo commented on #568
@VivianChu Sorry about this - I somehow managed to forget to include those two fields in the ingest metadata. So I created this related ticket: https://github.com/ucsdlib/damspas/issues/567. It looks like 567 should be tackled first?

[2018-12-18 22:20] VivianChu commented on #567
@gamontoya @hjsyoo @arwenhutt - Date issued and preferred citation note has been added for 708 objects in this collection. For example - https://github.com/ucsdlib/damspas/issues/567

[2018-12-18 22:20] #567 closed

[2018-12-19 00:13] VivianChu commented on #551
@gamontoya - The embed url feature for audio and image has been deployed to staging.  Could you review it?
For example -
//single image
http://librarytest.ucsd.edu/dc/object/bb80217186
//single video
http://librarytest.ucsd.edu/dc/object/bb8022051s
//single audio
http://librarytest.ucsd.edu/dc/object/bb33481593
//complex audio
http://librarytest.ucsd.edu/dc/object/bb5463710v
http://librarytest.ucs

[2018-12-19 00:43] hjsyoo commented on #567
@VivianChu Thank you! I spot-checked a bunch of objects and they look great.

[2018-12-19 00:53] gamontoya commented on #551
@VivianChu Great start! The embed code for all formats is cut off. I expect to see something more like:

[code]

[2018-12-19 00:54] gamontoya commented on #551
@VivianChu Also, can you remove this in the embed dialog box:

_By embedding Digital Collections videos on your site, you are agreeing to our Terms of Service._

[2018-12-19 01:12] gamontoya commented on #551
@VivianChu Also, for images, is it possible to use the image-service version (2.jpg) instead of https://librarytest.ucsd.edu/dc/embed/bb80217186/0

I'm guessing you might say no?

[2018-12-19 17:34] VivianChu commented on #551
@gamontoya - The embed code is not cut off.  If you click on it and copy or move your cursor you will see like this <iframe src="https://librarytest.ucsd.edu/dc/embed/bb8022051s/0" width="560" height="315" frameborder="0"></iframe>
Or would you like me to change it to use text area instead of one line input text?
The text "By embedding Digital Collections videos on your site, you are agreeing to o

[2018-12-19 18:21] VivianChu commented on #551
@gamontoya - The image embed url has been updated to use service file. Could you review it?
https://librarytest.ucsd.edu/dc/embed/bb80217186/0
Thanks

[2018-12-19 19:12] gamontoya commented on #551
@VivianChu  image-service looks fine.

Yes, please use the text area instead of the one line. Otherwise it behaves oddly in Chrome.

[2018-12-19 19:39] VivianChu commented on #566
@gamontoya - It has been deployed to production.

[2018-12-19 19:39] #566 closed

[2018-12-19 21:35] VivianChu commented on #551
@gamontoya - The code has been updated to use textarea and deployed to staging.  Could you review it?  Thanks

[2018-12-19 21:51] gamontoya commented on #551
@VivianChu Looks good, but we have one needed change. For audio, can you set it to:

```width="629" height="46" frameborder="0"```

[2018-12-19 23:16] VivianChu commented on #551
@gamontoya - The width & height have been updated for audio and deployed to staging.   Could you review it? Thanks

[2018-12-20 17:59] VivianChu commented on #551
@gamontoya - I saw the audio behaves like video problem before when I tried to upgrade to new jwplayer.  We contacted jwplayer support about it.  They suggested us to create some extra javascript function to resize the player to make it looks like audio.  Let me see if I can fix this using those functions.  I'll keep you posted.  Thanks

[2018-12-20 19:05] VivianChu commented on #568
@gamontoya @hjsyoo @arwenhutt - The DOIs  have been minted all objects in SIO Cruise Reports.  For the report, what would be the value for target URLs?  For example  - https://library.ucsd.edu/dc/object/bb60795846  Thanks

[2018-12-20 19:08] hjsyoo commented on #568
@VivianChu Yes! That's exactly the target URL we would need.

[2018-12-20 19:35] VivianChu commented on #568
@hjsyoo - Here's the report.  Could you review it?
[sio_cruise_explorer_doi_report.txt](https://github.com/ucsdlib/damspas/files/2700263/sio_cruise_explorer_doi_report.txt)
Thanks

[2018-12-20 22:08] hjsyoo commented on #568
@VivianChu The report is perfect! Thanks very much, Vivian, for such a quick turnaround. I really appreciate it.

[2018-12-21 17:06] mcritchlow opened #572 "ActiveRecord migrations not run during deployments"
### Descriptive summary

We've discovered via recent work by Notch8 that migrations are not being executed as part of the capistrano deployment process.

### Rationale

If we don't integrate this into Capistrano, we have to ask OPS to do this by hand. Which is sub-optimal, to put it mildly..

[2018-12-21 17:34] #572 closed

[2018-12-21 21:42] VivianChu commented on #551
@gamontoya - The audio issue has been fixed and deployed to staging.  Here's the screen shot.  Could you review it?  Thanks
![embedurl](https://user-images.githubusercontent.com/1864660/50364759-45d51780-0526-11e9-87e9-7c1611a7cba6.png)

[2019-01-03 01:01] hjsyoo commented on #568
@VivianChu Sorry - it looks like a correction is needed in the EZID records for all 708 objects. When the DOIs were minted, we had a stub record for the collection page with the temporary title, "SIO Explorer Cruises". The minting process must have grabbed the collection title component from the stub record (rather than from the citation). The correct collection title is "Data from Scripps Researc

[2019-01-03 18:31] VivianChu commented on #568
@hjsyoo - The minting process always use the collection title from the collection record.  It doesn't use the citation note value.  I can either edit the title for those 708 objects using the ezid dashboard or create a new update DOI function, add that link to our dams UI (like Mint DOI link) and we can click on that link to do the update.  Which way do you prefer?  Do we need to update EZID recor

[2019-01-03 18:38] hjsyoo commented on #568
@VivianChu An update DOI button in the DAMS would be very useful! We do indeed need to update the EZID records fairly often, and this would save us a lot of time.
Once the button has been deployed, we can handle the title updates from our end. Thank you!

[2019-01-03 23:50] #568 closed

[2019-01-07 18:16] gamontoya commented on #551
Hi @VivianChu -- Happy 2019. This look good.

[2019-01-08 18:13] #551 closed

[2019-01-09 19:25] gamontoya opened #578 "Publish new CCAS Joseph objects"
### Descriptive summary

We need to make ~36 objects that have been added to the [CCAS Joseph collection](https://library.ucsd.edu/dc/collection/bb5259361d) publicly accessible (they are now curator-only). The exact ARK list is attached.

[damslog--1020446901-arkReport.xlsx](https://github.com/ucsdlib/damsmanager/files/2738865/damslog--1020446901-arkReport.xlsx)

Attempts to re-release the collect

[2019-01-10 18:13] gamontoya opened #580 "Release 1.87"
## Descriptive summary

- Version: 1.87
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv
--------------
## To Verify

- [ ] #575 Add embed URL to audio and image objects
- [ ] https://github.com/ucsdlib/damsrepo/issues/73 Add Update DOI record function

[2019-01-10 18:38] VivianChu commented on #580
@jhriv - Could you deploy this new release to production at your earliest convenient?  Thanks

[2019-01-11 15:06] rstanonik commented on #580
damspas was deployed to production this morning

[2019-01-11 16:38] VivianChu commented on #580
Thanks Ron

[2019-01-11 16:38] #580 closed

[2019-01-11 16:43] VivianChu commented on #568
@hjsyoo - The Update DOI record function has been deployed to production.  I tried to use it to update this record and the title looks correct now.  https://ezid.cdlib.org/id/doi:10.6075/J0C53J5K

[2019-01-11 19:10] hjsyoo commented on #568
@VivianChu I tested it on an object just now and it looks great! Thanks so much for your speedy work on this!

[2019-01-11 21:21] VivianChu commented on #568
@hjsyoo - The Mint DOI link will be displayed if the record doesn't have doi minted.  If the record has DOI identifier, then only "Update DOI Record" link will be displayed.

[2019-01-14 15:59] GregReser opened #582 "Delete Ellen B. Scripps objects from SIO Photographs"
### Description

Delete 5 DAMS objects because SC&A does not own the physical objects (requested by Laurel McPhee).
The objects show Ellen B. Scripps and are in the Scripps Institution of Oceanography Photographs Collection

bb6144395f
bb0000997s
bb3823557r
bb5120498q
bb64174375

[2019-01-14 17:47] gamontoya commented on #582
@lsitu Can you take this ticket too?

[2019-01-14 17:50] lsitu commented on #582
Sure.

[2019-01-14 17:55] lsitu commented on #582
@GregReser Are there any ARKs missing from the description text above? I only see 5 objects listed for deletion but in the description text it mentions 9. Thanks.

[2019-01-14 18:55] lsitu commented on #578
@gamontoya Those 36 objects listed in [damslog--1020446901-arkReport.xlsx](https://github.com/ucsdlib/damsmanager/files/2738865/damslog--1020446901-arkReport.xlsx) above are available for public access now. For example https://library.ucsd.edu/dc/object/bb1710975w, https://library.ucsd.edu/dc/object/bb1028374z, https://library.ucsd.edu/dc/object/bb03799049 etc.

And I found that only the following

[2019-01-14 19:47] remerjohnson commented on #578
@lsitu Thanks Longshou. Those 3 objects are to remain curator-only due to sensitivity. Thanks again!

[2019-01-14 20:36] GregReser commented on #582
@lsitu that was a typo on my part.  There are only 5 objects

[2019-01-14 22:36] lsitu commented on #582
@gamontoya / @GregReser All those 5 objects listed above are gone now:
https://library.ucsd.edu/dc/object/bb6144395f
https://library.ucsd.edu/dc/object/bb0000997s
https://library.ucsd.edu/dc/object/bb3823557r
https://library.ucsd.edu/dc/object/bb5120498q
https://library.ucsd.edu/dc/object/bb64174375

[2019-01-14 22:42] GregReser commented on #582
Thanks @lsitu

[2019-01-14 22:42] #582 closed

[2019-01-15 16:31] #578 closed

[2019-01-15 16:35] remerjohnson opened #583 "Publish all IDEAS objects"
### Descriptive summary

All of the ~40 objects in the [IDEAS Performance Series](https://library.ucsd.edu/dc/collection/bb4029917n) collection should be published. Note: these items were publicly accessible, and last week I went through and removed "UC Regents" as rights holders for all objects. This could be why all objects reverted to curator-only?

### Related work

#578

[2019-01-15 17:19] gamontoya commented on #583
@remerjohnson Not sure, but I'll assign to @lsitu and he'll let us know why.

[2019-01-15 17:36] lsitu commented on #583
@gamontoya / @remerjohnson I think the problem here is that objects [IDEAS Performance Series](https://library.ucsd.edu/dc/collection/bb4029917n) collection have copyright status `Under copyright` and the rightsHolder is missing. And I don't see any licenses or OtherRights override it for public access. For example https://library.ucsd.edu/dc/object/bb44394840.
By default it will be public with `U

[2019-01-15 17:39] remerjohnson commented on #583
@lsitu Ah, I thought that might be the case. Let me get back to you on that, and I'll let you know. Thanks, Longshou!

[2019-01-15 18:45] GregReser opened #584 "Edit SIO Photographs CLR witout re-indexing all linked objects"
### Descriptive summary
For CLR https://library.ucsd.edu/dc/collection/bb2734402f/ (SIO Photographs Collection)

Add corporate subject <dams:corporateName rdf:resource="http://library.ucsd.edu/ark:/20775/bb46431339"/> (University of California (1868-1952). Division of War Research)

without re-indexing all linked objects in SIO Photographs Collection or its parent collections

[2019-01-15 18:48] gamontoya commented on #584
@VivianChu Thank you.

[2019-01-15 18:58] gamontoya opened #585 "Delete 57 curator-only objects in James Stewart Papers collection"
### Descriptive summary

Request to delete 57 curator-only objects in the [James Stewart Papers](https://library.ucsd.edu/dc/collection/bb40639296) collection approved by Roger Smith.

### Rationale
Laurel McPhee:

_The James Stewart Papers collection has 57 items that were suppressed to curator-only because at the time we did not have permission to delete. Can you create a ticket to move forward

[2019-01-15 19:00] gamontoya opened #586 "Delete ~3000 SIO Photos Lab objects previously set to curator-only"
### Descriptive summary

Deletion of these curator-only objects approved by Roger Smith.

### Request
- Delete the 3639 objects listed on the spreadsheet linked below.
- [SIO_Portrait_title_list_deletions_2015_09_30.xlsx](https://github.com/ucsdlib/damspas/files/1812206/SIO_Portrait_title_list_deletions_2015_09_30.xlsx)

### Decision

- Steering Committee decided these images should be set to cura

[2019-01-15 19:00] gamontoya commented on #408
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/586)

[2019-01-15 19:00] VivianChu commented on #584
@gamontoya @GregReser - The corporate subject has been added and only the collection has been re-indexed.  https://library.ucsd.edu/dc/collection/bb2734402f/

[2019-01-15 19:01] #584 closed

[2019-01-15 19:45] lsitu commented on #585
@gamontoya I found the following 57 curator objects in [James Stewart Papers](https://library.ucsd.edu/dc/collection/bb40639296) collection. Can you take a look to see whether the following curator object list is correct for deleting? Thanks.
[jamesStewartPapers-curator-57.txt](https://github.com/ucsdlib/damspas/files/2761163/jamesStewartPapers-curator-57.txt)

[2019-01-15 19:52] gamontoya commented on #585
@lsitu That it, sort of. Your list had four leading b's instead of two. The updated list is here:

[JStewart_57.txt](https://github.com/ucsdlib/damspas/files/2761192/JStewart_57.txt)

[2019-01-15 20:52] GregReser commented on #584
@VivianChu thanks

[2019-01-15 22:22] lsitu commented on #585
@gamontoya I think all 57 curator objects [James Stewart Papers](https://library.ucsd.edu/dc/collection/bb40639296) collection are gone now.

[2019-01-16 17:20] mcritchlow opened #587 "Remove Hound/Rubocop from CI"
### Descriptive summary

As discussed by the group in Slack, we've decided that on balance, rubocop and hound are no longer useful for this project. The number of offenses is simply too high, and at this point is only causing confusion for new development efforts, such as the work Notch8 has been doing recently for VRR.

[2019-01-17 16:00] lsitu commented on #586
@gamontoya I think all 3639 curator objects listed in [SIO_Portrait_title_list_deletions_2015_09_30.xlsx](https://github.com/ucsdlib/damspas/files/1812206/SIO_Portrait_title_list_deletions_2015_09_30.xlsx) are removed from prod now.
I only see the following 27 curator objects in the SIO Photos collection on prod now:
https://library.ucsd.edu/dc/object/bb76802909
https://library.ucsd.edu/dc/object/

[2019-01-17 16:38] lmcphee commented on #586
It is expected that there will still be some suppressed objects--those were suppressed for other reasons (they are from other archives collections that have been reappraised over time). As long as the portraits are gone--great!

[2019-01-17 17:44] gamontoya commented on #586
@lsitu Thank you.

[2019-01-17 17:44] #586 closed

[2019-01-17 17:45] #585 closed

[2019-01-17 22:02] gamontoya opened #589 "R&D: supply correct width/height for embed code for images"
### Descriptive summary

Currently the embed URL isn't always correct based on the derivative's long edge (768). Sometimes 768 pixels is the height and othertimes width and the other length is variable.

### Task

Determine if iframe can determine the correct width/height value based on the image dimensions.

[2019-01-24 18:23] gamontoya opened #593 "Delete objects and authority record"
### Descriptive summary

Per Laurel:

- Please delete these two items (they were suppressed years ago; now we can carry out the deletion). The original Pride Portrait collection was deaccessioned in 2014.
     - https://library.ucsd.edu/dc/object/bb9182008x
     - https://library.ucsd.edu/dc/object/bb4779240n

- Last, delete the local name authority for Pride Portrait Company, Whittier, California

[2019-01-24 20:47] lsitu commented on #593
@gamontoya I think object https://library.ucsd.edu/dc/object/bb9182008x and https://library.ucsd.edu/dc/object/bb4779240n, and the local name authority for Pride Portrait Company, Whittier, California [ARK: bb5155097m] are all gone now.

[2019-01-24 20:49] lmcphee commented on #593
Thank you!

[2019-01-24 22:12] gamontoya commented on #593
@lsitu Yes, thank you!

[2019-01-24 22:12] #593 closed

[2019-01-28 18:47] VivianChu commented on #589
@gamontoya - The update has been deployed to qa.  Could you review them?
For example
http://libraryqa.ucsd.edu/dc/object/bb80217186
http://libraryqa.ucsd.edu/dc/object/bb7748491v

Thanks

[2019-01-28 18:54] gamontoya commented on #589
@VivianChu Looks great!

Here's a good test example:

http://libraryqa.ucsd.edu/dc/object/bb0717941z

[2019-01-29 16:27] lsitu commented on #583
@remerjohnson What would you like me to do to publish the IDEAS objects, add license or OtherRights? Thanks.

[2019-01-29 16:31] remerjohnson commented on #583
@lsitu Hi Longshou, unfortunately the rights issue has been complicated. I am currently ascertaining the correct rights holders from the collection stakehoders, which will take weeks. Then it would be ready to publish/override. Feel free to take this ticket out of sprint until that's ready.

[2019-02-01 22:04] gamontoya opened #596 "Release 1.88"
## Descriptive summary

- Version: 1.88
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv
--------------
## To Verify

- [x] #589
- [x] #595

[2019-02-01 22:04] gamontoya commented on #580
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/596)

[2019-02-01 22:40] VivianChu commented on #596
@jhriv - Could you deploy new damspas release to production at your earliest convenient?  Thanks

[2019-02-05 22:06] gamontoya commented on #596
@VivianChu @jhriv Was this deployed?

[2019-02-06 17:28] VivianChu commented on #596
@gamontoya - This wasn't deployed yet.

[2019-02-06 17:34] gamontoya commented on #596
@VivianChu Can you get @rstanonik to deploy if John isn't around?

[2019-02-06 17:42] rstanonik commented on #596
What is the command?

[2019-02-06 17:43] VivianChu commented on #596
@rstanonik - deploybot deploy damspas/release to production

Thanks

[2019-02-06 17:46] rstanonik commented on #596
I ran it

[2019-02-06 18:04] VivianChu commented on #596
Thanks Ron.
@gamontoya - The embed code change has been deployed to production.

[2019-02-06 18:04] #596 closed

[2019-02-06 18:20] gamontoya commented on #596
@VivianChu @rstanonik Thank you!

[2019-02-11 20:05] lsitu opened #599 "Inspect the Disappearing Data - Collection Data from Scripps Research Expeditions 1953-2005 (bb29737300)"
### Descriptive summary
On Thursday Feb. 7 at around 9:00am, it was reported that some items in collection [Data from Scripps Research Expeditions 1953-2005](https://library.ucsd.edu/dc/collection/bb29737300) were become orphans and only 639 out of 708 objects showing up in the collection:
https://docs.google.com/document/d/1_6I_yfaYILdKj5_wKSUSNcWG6ECMEw-s5v6yWjnJ4Sk/edit?ts=5c61beac#heading=h.p8

[2019-02-11 20:43] hjsyoo commented on #599
@lsitu I added a couple of dates to the Description above, and want to note here that the collection page, bb29737300, is still missing a lot of metadata in the UI (i.e., Roles, Dates, Notes).

[2019-02-11 21:36] gamontoya commented on #599
Attaching the correct RDF file for the collection in case we need to refer to it.
[20775-bb29737300-0-rdf.txt](https://github.com/ucsdlib/damspas/files/2853137/20775-bb29737300-0-rdf.txt)

[2019-02-12 01:01] lsitu commented on #599
@hjsyoo Thanks for all the extra information you provided. I think I've found the problem and create PR PR https://github.com/ucsdlib/damsrepo/pull/79 to fix it, which is caused by the redundant metadata update during the updating DOI process.
@mcritchlow I think the PR https://github.com/ucsdlib/damsrepo/pull/79 for the fixing is ready for review now.

[2019-02-12 01:55] gamontoya opened #601 "Update the DOI mint function to prevent from updating DAMSPAS object/collection records"
From damspas created by [lsitu](https://github.com/lsitu) : ucsdlib/damspas#599

### Descriptive summary
Update the DOI mint function to prevent it from potentially updating DAMSPAS object and collection records.

See ucsdlib/damspas#599

[2019-02-12 01:55] gamontoya commented on #599
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/601)

[2019-02-12 05:14] hjsyoo commented on #599
@lsitu Great to hear! Thanks for investigating so quickly. I'll wait to hear from @gamontoya before we resume updating those DOI records.

[2019-02-12 17:29] gamontoya commented on #599
@hjsyoo We won't resume updating DOI records until this fix is in the production environment and after the CLR is fixed. @arwenhutt or I will give the go-ahead, but it might be a week or so.

[2019-02-13 00:02] lsitu commented on #601
@mcritchlow I've created PR https://github.com/ucsdlib/damsrepo/pull/80 to fix the potential issue in mint DOI, which may cause the missing metadata problem with full RDF/XML editing.

[2019-02-13 18:03] gamontoya opened #602 "Recreate CLR for Scripps Research Expeditions"
### Descriptive summary

Reconstruct the CLR for the  [Scripps Research Expeditions](https://library.ucsd.edu/dc/object/bb29737300). Add missing data, fix data links, make sure CLR thumbnail appears, re-index, etc.

**Note:**
<dams:corporateName>
<mads:CorporateName rdf:about="http://library.ucsd.edu/ark:/20775/bb27660034">

... should be carried into all objects for this collection.

### Rational

[2019-02-13 19:46] lsitu commented on #602
@gamontoya I see corporate name bb27660034 is presenting as Relationship with different roles in the collection CLR . In each object, would you like it to be a subject or still a relationship with a role?
dams:corporateName
<mads:CorporateName rdf:about="[http://library.ucsd.edu/ark:/20775/bb27660034">](http://library.ucsd.edu/ark:/20775/bb27660034%22%3E)

[2019-02-13 19:57] hjsyoo commented on #602
@lsitu The original CLR and OLR are still in staging:
\rdcp-0092-sio-explorer\CLR\sio-explorer_clr_20181215.xlsx
\rdcp-0092-sio-explorer\Final_Metadata\SIOx_cruise_reports_OLR_import.xlsx
Neither Geological Data Center nor Scripps Institution of Oceanography show up as Subjects, but they do show up in multiple Roles. And the Role for Scripps Institution of Oceanography varies between collection an

[2019-02-14 01:03] lsitu commented on #602
@gamontoya / @hjsyoo I've restored the collection CLR [Data from Scripps Research Expeditions](https://library.ucsd.edu/dc/object/bb29737300) , and added the corporate contributor [Scripps Institution of Oceanography](http://library.ucsd.edu/ark:/20775/bb27660034)  to all 708 objects in the collection. It's ready for review now. Thanks.

[2019-02-14 17:42] hjsyoo commented on #602
@lsitu @gamontoya I've reviewed the collection page and spotchecked the objects. All look completely restored. Thank you!

[2019-02-14 17:42] #602 closed

[2019-02-14 17:56] gamontoya commented on #602
@lsitu Thanks so much for you work on this!

[2019-03-06 16:22] remerjohnson commented on #583
@gamontoya @lsitu Hi Longshou, I think this may be ready to look at again. Peter determined the rights holders for all objects, and I'm attaching a spreadsheet that records those for each object, delimited in the case of multiples by a `|`.

All objects should be public given these right holders, but let me know if you need more information. Thanks!

[IDEAS_rights_additions_cleaned.xlsx](https://g

[2019-03-07 22:32] lsitu commented on #583
@remerjohnson Should we add a license `Public - granted by rights holder` or add OtherRights `fair use (public)` `display` to override it for public access?

[2019-03-08 17:01] remerjohnson commented on #583
@lsitu I consulted with the project stakeholders, and they agreed that `Public - granted by rights holder` is the appropriate license. Thanks!

[2019-03-11 17:15] lsitu commented on #583
@remerjohnson I found two RightsHolders (Cai, Liz and
Thomas, Richard) existing in object https://library.ucsd.edu/dc/object/bb44394840, which is different from the rights holder (Muehlhausen, Andy) provided in the spreadsheet [IDEAS_rights_additions_cleaned.xlsx](https://github.com/ucsdlib/damspas/files/2937239/IDEAS_rights_additions_cleaned.xlsx). Should we remove rights holder Cai, Liz and
Thom

[2019-03-11 19:44] remerjohnson commented on #583
@lsitu Correct... Andrew would replace/remove Cai and Liz

[2019-03-19 22:07] gamontoya commented on #583
@lsitu Okay, this can be worked on.

[2019-03-21 22:33] lsitu commented on #583
@gamontoya / @remerjohnson I've added the license and rights holders listed in spreadsheet [IDEAS_rights_additions_cleaned.xlsx](https://github.com/ucsdlib/damspas/files/2937239/IDEAS_rights_additions_cleaned.xlsx) to the objects in the IDEAS collection. It's ready on prod for review now, https://library.ucsd.edu/dc/collection/bb4029917n. Thanks.

[2019-03-25 19:32] remerjohnson commented on #583
@lsitu Thanks, Longshou! I reviewed the objects, and made a few tweaks. But this all looks great. Thanks again!

[2019-03-25 19:32] #583 closed

[2019-04-02 21:21] GregReser opened #615 "Create report of topics in Oceania Collection"
### Descriptive summary

Produce a .csv report of dams:topic values in all collections linked to the Oceania (bb1025280p) collection so they can be used as a controlled value list for Oceania cataloging in JSTOR Forum

Oceania includes these linked sub-collections with 14,420 digital objects:
- Edwin Cook and Susan Pflanz Cook Photographs (bb05816895)
- Edwin Hutchins and Dona Hutchins Collection

[2019-04-08 16:30] GregReser commented on #615
@gamontoya I can get this data by using the new batch export tool, so I'm closing this ticket

[2019-04-08 16:30] #615 closed

[2019-04-15 22:22] GregReser opened #617 "Add topics to Pacific Basin Nautical Charts Objects"
For all 1046 Objects in the Pacific Basin Nautical Charts (bb0786509m) Collection:
-  add topic "Maps" (bb4643132s)
- delete dams:genreForm "Nautical charts" (bb4301893z)
- add dams:topic "Nautical charts" (bb2151653q)

[2019-04-15 22:31] gamontoya commented on #617
@lsitu Can you take this on for the Sprint that ends on the 26th?

[2019-04-16 00:43] lsitu commented on #617
@gamontoya Sure. I'll take care of it.

[2019-04-17 21:37] abbypenn93 opened #618 "Add component to dataMares object (bb3757060t)"
### Descriptive summary

Add a new component to object (bb3757060t). And reorder to two existing components.

### Tasks
Component (add as 1 of 3):
- Title: "Version 3, released April 2019"
- Filename: /rdcp-staging/rdcp-0041-dataMares/subjects/Batch 5/f_gc_trackers_fielddesc.xls
- File use: data-service
- File type: data

New component order:
2 - Fisheries Monitoring Program: Gulf of California ar

[2019-04-17 23:04] abbypenn93 opened #619 "Convert simple object to complex object (bb9355384v)"
### Descriptive summary

 Convert simple object to complex object (bb9355384v).

File names for both components are the same.

## Tasks

Component 1 of 2:
- New file with creation date/time = February 27, 2019 at 8:13 AM
- Located at  /rdcp-staging/rdcp-0041-dataMares/subjects/Batch 5/f_me_anuarios_socioeconomicos.xls
- Title: "Version 2, released April 2019"
- File use: data-service
- File type:

[2019-04-22 15:13] lsitu commented on #617
@gamontoya / @GregReser I've removed dams:genreForm "Nautical charts" (bb4301893z) and added topics "Maps" (bb4643132s) and "Nautical charts" (bb2151653q) to all 1046 objects in collection Pacific Basin Nautical Charts. The changes are ready on on prod for review now. Thanks.

[2019-04-23 17:39] gamontoya commented on #619
@lsitu Can you take this ticket?

[2019-04-23 17:40] gamontoya commented on #617
@GregReser Please review.

[2019-04-23 18:08] GregReser commented on #617
@lsitu @gamontoya looks great.  Thanks!

[2019-04-23 18:08] #617 closed

[2019-04-23 18:14] lsitu commented on #619
@gamontoya Sure. I'll take care of it. Thanks.

[2019-04-24 17:33] mdpeters opened #621 "VRR user with authorization to an object gets a 404 when trying to access"
### Descriptive summary

As a VRR user I've been given access to view a work and the work is listed in my Authorized Works list. In the past I've been able to view the object from the same authorization but now I get a 404 when clicking on the "view" link.

### Expected behavior

Clicking the view link from the Authorized Works list should always take the user to the object.

### Steps to reproduc

[2019-04-24 18:08] mdpeters opened #622 "VRR PDF objects ingested as 'document-source' should link to a generated 'document-service' file in the object interface rather than a zoom"
### Descriptive summary

PDF objects ingested into the DAMS for use in the VRR with file use set as 'document-source', should generate a service PDF that is linked to the image preview in the object interface.

### Expected behavior

Preview image in the object interface should link to a service version of the PDF

### Actual behavior

Preview image tries to link to a zoomable image version of the

[2019-04-24 18:10] mcritchlow commented on #622
pinging @ucsdlib/domm for their thoughts on this

[2019-04-24 18:22] GregReser commented on #622
I think you need to use document-service for PDFs.  document-source would be the raw scan(s) or perhaps a PDF if it were different somehow from the service version.

[2019-04-24 18:25] remerjohnson commented on #622
Agreed with Greg that that is how the functionality is now, i.e. derivatives are not created. I know File Use in general was something we've wanted to revisit several times, so the question of what _should_ occur is still valid imo

[2019-04-24 18:28] GregReser commented on #622
Yep, the current File Use values can create some unexpected behaviors.  Here's a list of current values and how they work: https://lisn.ucsd.edu/display/DOMM/File+use+controlled+value+list

[2019-04-24 20:20] arwenhutt commented on #622
@mdpeters Sorry, I was replying in slack, didn't realize the conversation was happening here!

It sounds like the question might be answered already, but to make sure we're all on the same page:
* To ingest a pdf file to be accessible via DAMS (with the image of the doc bringing up the pdf in a pdf viewer) then document-service is the file use value you want to use.
* To ingest a pdf file that won

[2019-04-24 22:48] GregReser commented on #622
Agreed on point 3 - a new file use value for special processing on ingest would be better than relying on an existing property.

[2019-04-25 14:50] mdpeters commented on #622
@mcritchlow I'm good with using a special value for processing source PDFs so that they generate a watermarked service PDF. Would make this a damsmanager issue rather than interface since it would be getting what it needs to display correctly.

[2019-04-25 19:49] hweng opened #623 "Rewrite Python script for watermarking PDFs in Ruby"
### Descriptive summary

As all our new projects are written in ruby. It is worth to do this R&D to add watermark to PDF in Ruby.

### Related work

https://github.com/ucsdlib/damsmanager/issues/299

[2019-04-25 22:13] mcritchlow commented on #622
So am i right in understanding that we'd need this new file use value specifically to trigger the creation of the watermark derivative PDF? And, inversely, that if the watermarked pdfs are already generated, then they could be ingested normally as `source` (non watermark) and `service` (watermark)?

If so, I'm just wondering out loud if it's worth creating a new file use value rather than pre-gene

[2019-04-25 22:38] GregReser commented on #622
I have been thinking that it would be good to move some derivative processes out of ingest.  Mostly for very big files like video where a failure in derivative generation breaks the ingest (process times-out or objects have no files).  Another thing is video or PDF thumbnails - where the auto generated files are not useful and we end up manually replacing them.  On the other hand, still images are

[2019-04-26 14:21] mdpeters commented on #622
I don't think we'd actually need a new file use value, it'd just simplify things. You could key off the only file being a `document-source` whose mimetype is `application/pdf`, is a Special Collections item, and is one of the locked down permission views (I realize that's a lot of ifs).

Watermarks might become a pretty common thing if VRR takes off, we just don't know yet. To my knowledge the VRR

[2019-04-26 16:24] mcritchlow commented on #622
I'm completely in agreement here. The entire ingest process, at least for batch ingest, would be significantly faster and more resilient. My impression is we often have the files far enough in advance of final metadata that this would be beneficial a significant percentage of the time.

Right. Or A/V files with special encoding/decoding issues, which i know has come up also. So rather than having

[2019-04-26 18:54] arwenhutt commented on #622
@mcritchlow I agree there are potential benefits to rethinking ingest, but I think it would make more sense to consider some of this within the context of potential DAMS next system.

[2019-04-26 19:53] mcritchlow commented on #622
@arwenhutt - yeah definitely. if ultimately it makes the most sense to create a special file use value to move ahead for now, then it is what it is :)

[2019-04-26 20:51] arwenhutt commented on #622
@mcritchlow yeah, I don't know whether it is necessary or not.  Based on this thread, I'm not clear on what the specific goals or agreed on functionality around watermarking are.

It seems like there are two approaches for watermarking:
1) manually create the watermarked version before ingest
2) have the system do it automagically on ingest

For # 1 - I believe this is already possible by using tw

[2019-04-29 15:33] lsitu commented on #619
@gamontoya / @abbypenn93 We may need to re-ingest the `Old file (f_me_anuarios_socioeconomicos.xls) with creation date/time = 2018-07-13T03:45:45-0700`.  Where can I find the the source file? Thanks.

[2019-04-29 17:01] lsitu commented on #619
Also, I can't find the file `f_me_anuarios_socioeconomicos.xls` for version 2. Folder `/rdcp-staging/rdcp-0041-dataMares/subjects/Batch 5/` doesn't seem to be there. Could you double check? Thank you.

Here is the list of files/folders I can see under folder `/rdcp-staging/rdcp-0041-dataMares/subjects/`:
[code]

[2019-04-29 17:03] abbypenn93 commented on #619
I’ll look for the file and get back to you.

—Abby

On Apr 29, 2019, at 8:33 AM, lsitu <notifications@github.com<mailto:notifications@github.com>> wrote:

f_me_anuarios_socioeconomicos.xls

[2019-04-29 18:29] abbypenn93 commented on #619
Hi Longshou,

Apologies for adding the wrong file location. I’ll update the ticket. Here’s the path for the updated file:
smb://lib-storage.ucsd.edu/rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_5_2019-02-26/Updated/f_me_anuarios_socioeconomicos.xls

I searched in the dataMares directory on staging and the only version of ‘f_me_anuarios_socioeconomicos.xls’ that I can find is in the Batch 5

[2019-04-29 18:53] lsitu commented on #619
@abbypenn93 I got `f_me_anuarios_socioeconomicos.xls` for version 2 now. Thanks.
Just let me know if we can download the source file for version 1 from dams and use it for re-ingest if can't find the original source file.

[2019-04-29 20:50] abbypenn93 commented on #619
Ryan is busy at the moment, so if it’s not too much trouble would you please download and re-ingest version 1 of the file?

On Apr 29, 2019, at 11:53 AM, lsitu <notifications@github.com<mailto:notifications@github.com>> wrote:

@abbypenn93<https://github.com/abbypenn93> I got f_me_anuarios_socioeconomicos.xls for version 2 now. Thanks.
Just let me know if we can download the source file for versio

[2019-04-30 19:26] #599 closed

[2019-04-30 19:26] gamontoya commented on #601
@lsitu @hjsyoo Is this ticket closeable?

[2019-05-01 00:13] hjsyoo commented on #601
@gamontoya We haven't experienced any further problems with the Update DOI function causing edits to DAMS records, so yes, closing the ticket.

[2019-05-01 00:13] #601 closed

[2019-05-01 17:59] lsitu commented on #619
@gamontoya / @abbypenn93 Object https://library.ucsd.edu/dc/object/bb9355384v has been converted to complex object on prod. I think it's ready for review now. Thanks.

[2019-05-02 22:27] abbypenn93 commented on #619
Thank you, I’ll check it out.

—Abby

On Apr 29, 2019, at 11:29 AM, Pennington, Abigail <apennington@UCSD.EDU<mailto:apennington@UCSD.EDU>> wrote:

Hi Longshou,

Apologies for adding the wrong file location. I’ll update the ticket. Here’s the path for the updated file:
smb://lib-storage.ucsd.edu/rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_5_2019-02-26/Updated/f_me_anuarios_socioeconomicos

[2019-05-03 21:00] remerjohnson opened #626 "Reorder components in Mexican Broadsides object (bb47828081)"
### Descriptive summary

We need the components reordered for a Mexican Broadsides object [bb47828081](https://library.ucsd.edu/dc/object/bb47828081), as it currently says "Back" then "Front".

Order should be "Front" then "Back".

[2019-05-04 00:35] gamontoya commented on #626
@lsitu For when you have time.

[2019-05-06 15:23] lsitu commented on #626
@gamontoya / @remerjohnson We may need to re-ingest the files. Where can I find the original source files? Thanks.

[2019-05-06 21:20] remerjohnson commented on #626
@lsitu Sure, the two files are on staging at `//digital-staging/Mexican-Broadsides/batch1/Working_Files/b35582133/`

[2019-05-07 15:47] lsitu commented on #626
@gamontoya / @remerjohnson I've reordered the components for object https://library.ucsd.edu/dc/object/bb47828081 on prod. It's ready fro review now.

[2019-05-08 16:24] GregReser opened #629 "Delete Zambian Storytellers object bb2086394p"
### Descriptive summary

Delete object https://library.ucsd.edu/dc/object/bb2086394p (Interview with Zambian woman) because the content duplicates another object.

Requested by content provider Robert Cancel.

[2019-05-08 17:11] gamontoya commented on #629
@VivianChu Do you have time to make this deletion and re-index?

[2019-05-08 17:16] VivianChu commented on #629
@gamontoya - Yes, I can do it later today or tomorrow.

[2019-05-08 17:18] gamontoya commented on #629
@VivianChu Perfect. Thank you.

[2019-05-08 20:34] VivianChu commented on #629
@gamontoya - The object has been deleted in production.
 https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=bb2086394p

[2019-05-08 20:34] #629 closed

[2019-05-08 22:03] GregReser commented on #629
@VivianChu thank you

[2019-05-13 23:13] remerjohnson commented on #626
@lsitu Looks great, Longshou! Going to close out. Thanks

[2019-05-13 23:13] #626 closed

[2019-05-16 21:47] gamontoya opened #632 "Re-ordering of DAMS elements in the UI"
From dams-metadata created by [hjsyoo](https://github.com/hjsyoo): ucsdlib/dams-metadata#56

### Summary
Proposing a re-ordering of DAMS elements, as listed in the second column of https://docs.google.com/spreadsheets/d/1n7REAqpt2vh_BQWXFhTbAyVQY5kI7JPOuBAhg8WYTmU/edit#gid=0.

Prior to re-ordering, a conditional placement for Cite This Work, is proposed: https://github.com/ucsdlib/damsmanager/issu

[2019-05-16 21:51] gamontoya opened #633 "Multiple value fields not sorting alphabetically"
From dams-metadata created by [GregReser](https://github.com/GregReser): ucsdlib/dams-metadata#43

### Description
It appears that there is no sort logic for many fields in the DAMS 4 UI. Several project managers and data providers have requested that this be changed to default to alphabetic sort, if a specific order is not specified.

### Example of random sort:
![image](https://user-images.githu

[2019-05-16 21:55] gamontoya opened #634 "Re-ordering of Role types in the UI"
From dams-metadata created by [hjsyoo](https://github.com/hjsyoo): ucsdlib/dams-metadata#55

### Summary
Propose a re-ordering of Role types. The current D5 data dictionary is listed here: https://docs.google.com/spreadsheets/d/11B4lwD6qOHHvl3xmuU6aPTN_UMu-YMqBZ4XzwFDAKNE/edit#gid=1415126809.
The proposed new order for roles is listed in https://docs.google.com/spreadsheets/d/1sqdKcivHu36WnQweP-cs

[2019-05-16 21:55] gamontoya commented on #634
@hjsyoo You need to meet with Cristela and Matt P. before we'll take action on this request.

[2019-05-16 23:04] hjsyoo commented on #632
@gamontoya I've met with @cgarciaspitz and @mdpeters , and we've agreed this needs more analysis and testing before we're ready to submit.

[2019-05-16 23:44] gamontoya opened #635 "Change "Browse by Topic" navigation menu"
### Descriptive summary

Replace << Previous | >> Next browse by buttons with page navigator used by "Browse by Collections"

----------------

- This ticket needs a bit of investigation to see if the navigator makes sense.
- Might have to re-write the pager.

[2019-05-22 22:48] gamontoya opened #637 "Update Help Menu with info. on data deposit"
### Descriptive summary

An added option in the Help menu, "Deposit your Research Data". This link directs the user to https://library.ucsd.edu/research-and-collections/data-curation/index.html#Data_Deposit.

### Rationale
Currently, visitors to the DAMS have no information on how to deposit data.

[2019-05-22 22:50] gamontoya opened #638 "Change font size of download button"
### Descriptive summary

Increase font size on the Download file button for components, make equivalent to the size of View file.

[2019-05-29 23:05] remerjohnson opened #641 "Add component to AWARE object (bb7068315z)"
### Descriptive summary

Add a new component to the object [bb7068315z](https://library.ucsd.edu/dc/object/bb7068315z).

### Tasks
The new component will be the 5th component, titled "FTIR Baselined Spectra". The file for this component is on staging at: `//rdcp-staging/rdcp-0109-aware/Working_Files/Data from Lynn 2019-05-23/Baselined_spectra_AWARE.txt`

The new component order then will be:
1. FT

[2019-05-30 17:25] gamontoya commented on #641
@lsitu Can you take this ticket?

[2019-05-30 18:50] lsitu commented on #641
@gamontoya Sure. I'll take care of it. Thank.

[2019-05-30 22:20] hjsyoo opened #642 "Create conditional copyright boilerplate, for objects with CC license"
### Descriptive summary

Change display of "Copyright Constraint(s) on Use" boilerplate for Research Data Collections, wherever Rights holder is UC Regents and Creative Commons license is applied, to

"This work is protected by U.S. Copyright Law (Title 17, U.S.C.), and made available under a Creative Commons (CC) license. Use of this work beyond that allowed by "fair use" or the CC license requir

[2019-05-30 22:25] hjsyoo opened #643 "Display a Date Record Last Updated at bottom of object pages"
### Descriptive summary

Display a Date Record Last Updated on bottom of all object landing pages. Frequently, data or metadata is updated in an object, but the Date:Issued and Publication year are intentionally not changed. Date Last Updated will succinctly indicate to the user when something on the page has been revised.

-------------

- Can make it a label. @hjsyoo will come up with display sp

[2019-05-30 22:29] hjsyoo opened #644 "Sort collections view by most recently added, by default"
### Descriptive summary

Collections view for RDC (https://library.ucsd.edu/dc/rdcp/collections) should sort, by default, by most recently added collections, rather than the current alphabetic sort.

### Rationale

This is a nearly ubiquitous practice in research data repositories, and emphasizes the most recently added collections rather than those beginning with "A". Alphabetic sort by title can

[2019-05-31 15:02] lsitu commented on #641
@gamontoya / @remerjohnson I've added the new component to object https://library.ucsd.edu/dc/object/bb7068315z. It's ready for review now. Thanks.

[2019-05-31 15:53] remerjohnson commented on #641
@lsitu Perfect Longshou. Thanks. Going to close this now

[2019-05-31 15:53] #641 closed

[2019-06-04 19:24] GregReser commented on #633
@gamontoya the problem of random sorting applies to many fields, can we change the title of this ticket to: Multiple value fields not sorting alphabetically
The request is to default to alphabetic sort, if a specific order is not specified. The description in the ticket reflects this, but the title might make it seem like it's only for Geographics.

[2019-06-05 16:25] abbypenn93 commented on #619
Looks good (didn't mean to wait so long to give you feedback).
Thanks,
Abby

[2019-06-05 16:25] #619 closed

[2019-06-05 16:26] abbypenn93 commented on #618
Hi Gabriela,
Do you need anything else from me to work on this revision?
Thanks,
Abby

[2019-06-05 18:25] remerjohnson opened #645 "Add 'text' as Type of Resource / Format to all Mexican Broadsides Batch 1 objects"
### Descriptive summary

The Type of Resource / Format value of "text" needs to be added to all Batch 1 objects in Mexican Broadsides: https://library.ucsd.edu/dc/collection/bb8605360n.

I'm attaching an edited version of the ARK report for Batch 1, let me know if that works, or if you need just the bare ARK report.

[arkReport-mexican-broadsides-b1.xlsx](https://github.com/ucsdlib/damspas/files/3

[2019-06-05 20:19] gamontoya commented on #618
@abbypenn93 Yes. You can tell me how it is that I missed this ticket!

[2019-06-05 20:19] gamontoya commented on #618
@lsitu Can you take this ticket?

[2019-06-05 20:53] lsitu commented on #618
@gamontoya Sure. I'll take care of it.

[2019-06-06 16:21] lsitu commented on #618
@gamontoya / @abbypenn93 We may need to re-ingest the files for those two existing components. Do you have the original source files that I can use for re-ingest?
Also, the title for the first component is "Version 2, released July 2018" at this time. Are you going to change it to "Fisheries Monitoring Program: Gulf of California artisanal fisheries data" as presented above?
[code]

[2019-06-06 17:55] lsitu commented on #618
@abbypenn93 Also, I can't find the folder `/rdcp-staging/rdcp-0041-dataMares/subjects/Batch 5/`, and  the file under `/rdcp-staging/rdcp-0041-dataMares/subjects` is `subject_import_dataMares_batch3.xlsx`. Could you double check the location for file `f_gc_trackers_fielddesc.xls`? Thank you.

[2019-06-06 18:40] abbypenn93 commented on #618
**Original source files:**
Version 2:
/rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_4_FieldDescFilesforEmbargoes_2018-11/f_gc_trackers_v2_fielddesc.xls

Version 1 -
/rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_4_FieldDescFilesforEmbargoes_2018-11/f_gc_trackers_v1_fielddesc.xls

**Component names**
I'm glad you noticed the issue with the component names. Correction: the components

[2019-06-06 18:55] lsitu commented on #618
@abbypenn93 I don't need the Subjects file but the file `f_gc_trackers_fielddesc.xls` you posted above in the description text `Filename: /rdcp-staging/rdcp-0041-dataMares/subjects/Batch 5/f_gc_trackers_fielddesc.xls`. I can't find it in that location. Could you double check what location it is?

[2019-06-06 19:01] abbypenn93 commented on #618
I must have been very confused on the day I created this ticket--anyway, please use this file for Version 3: /rdcp-staging/rdcp-0041-dataMares/Working_Files/Batch_5_2019-02-26/Updated/f_gc_trackers_fielddesc.xls

[2019-06-06 20:00] lsitu commented on #618
Thanks @abbypenn93. I've found it.

[2019-06-06 20:46] mcritchlow opened #646 "VRR links in production are not working"
### Descriptive summary

Links from VRR emails are resulting in "Not authorized" messages. This is not replicated on staging, indicating a difference between the staging and production configuration.

### Rationale

Broken links are useless, almost as useless as a staging environment that doesn't mirror a production environment.

### Expected behavior

VRR email links correctly authorize the user

[2019-06-06 21:29] #646 closed

[2019-06-06 23:25] gamontoya opened #648 "Web accessibility: include Alt Text"
### Descriptive summary

**Easy fix for improving accessiblity:**

WCAG 2.0 Guideline 1.1.1—"All non-text content that is presented to the user has a text alternative that serves the equivalent purpose."

ALT text refers to invisible description of images which are read aloud to blind users on a screen reader. Adding ALT text allows web creator to include images, but still provide the content in a

[2019-06-07 16:22] lsitu commented on #618
@gamontoya / @abbypenn93 I've made the change to reorganize the components to add the new component and re-ingest the existing files for object https://library.ucsd.edu/dc/object/bb3757060t. It's ready for review now.

[2019-06-10 16:50] VivianChu commented on #645
@gamontoya - The text Type Of Resource has been added to all objects.  Do I also need to change the TypeOfResource value for the collection level object from "image" to "text"?

 Could you review them?
For example

https://library.ucsd.edu/dc/object/bb9117308p
https://library.ucsd.edu/dc/object/bb6694080n
https://library.ucsd.edu/dc/object/bb3144575f

Thanks

[2019-06-10 17:40] gamontoya commented on #645
@VivianChu Yes, please update the collection level record to 'text'. Thank you!

[2019-06-10 18:01] VivianChu commented on #645
@gamontoya - The typeOfResource has been updated for the collection level record.  https://library.ucsd.edu/dc/collection/bb8605360n

[2019-06-10 18:01] #645 closed

[2019-06-10 18:44] remerjohnson commented on #645
Thanks all! It looks great 👍

[2019-06-10 19:27] mcritchlow opened #649 "VRR Cron times may be causing race condition w/ Aeon API"
### Descriptive summary

This is hinted at in an email we received from the Aeon dev staff, and seems to be the case in our local tests. It seems to be 'whichever cron run gets there first' actually processes the queues.

We should offset the cron runs between production and staging to try and mitigate this.

### Rationale

Until the new version of the Aeon API is out, we need to rule out this rac

[2019-06-10 19:50] #649 closed

[2019-06-11 16:28] jessicahilt commented on #648
125 characters of the title will be the alt text.

[2019-06-11 18:05] hjsyoo commented on #632
Possible to make ordering conditional on Unit/Repository?

[2019-06-11 18:57] hjsyoo opened #653 "Explore ways to disambiguate collections and objects in search results view"
### Descriptive summary

Provide a brief summary of the requested work. If appropriate, include any relevant tracebacks, screenshots, etc. if you're reporting a bug.

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is a new feature or significant change to the existing implementation.

### Expected behavior

### Actual beha

[2019-06-11 19:06] hjsyoo commented on #643
@hjsyoo Post examples here

[2019-06-11 19:12] hjsyoo commented on #653
For objects, the collection title in the details is hyperlinked to the collection page:
- https://open.library.ubc.ca/search?q=history&circle=n
- http://pudl.princeton.edu/results.php?f1=kw&v1=history

[2019-06-11 20:08] mdpeters opened #654 "Disable download and embed buttons for authorized works view in VRR"
### Descriptive summary

In the authorized user view of a VRR object, remove the download and embed buttons from the object view so authorized VRR users cannot download files or try to generate embed links that won't work due to the restricted nature of the materials.

### Related work

- https://github.com/ucsdlib/damsmanager/issues/332
- https://github.com/ucsdlib/damsmanager/issues/331
- https:

[2019-06-13 00:22] gamontoya commented on #635
This ticket needs a bit of investigation to see if the navigator makes sense.

[2019-06-13 18:21] gamontoya commented on #654
@hweng FYI, the hook will be

[code]

[2019-06-13 18:55] #622 closed

[2019-06-13 19:00] gamontoya commented on #618
@lsitu Thank you!

[2019-06-13 19:00] #618 closed

[2019-06-13 19:59] abbypenn93 commented on #618
I've been meaning to QA this all week! Looks good, thanks so much, Longshou and Gabriela.

[2019-06-13 22:15] arwenhutt commented on #622
Just a quick update on the approach used going into ucsdlib/damsmanager#332
per VRR meeting 6/13 the trigger for watermarking will be a tick box on the DAMS manager excel import form - not a file use value.  More about the file-use values to be used with the watermarking at ucsdlib/damsmanager#332

[2019-06-14 17:52] hweng commented on #623
@gamontoya Why close this ticket? I remember our discussion yesterday is to explore the Ruby way to add watermark to PDF , and if it is possible will replace python script with it as long term solution? Is that right?

[2019-06-14 18:13] gamontoya commented on #623
Yes, but this is an R&D ticket so I was going to create a new ticket with the official task. I'll just re-write this ticket.

[2019-06-14 18:40] hweng commented on #623
Got it @gamontoya

[2019-06-14 19:21] gamontoya opened #655 "Test ticket to see what the "Transfer" option does in GH"
### Descriptive summary

Provide a brief summary of the requested work. If appropriate, include any relevant tracebacks, screenshots, etc. if you're reporting a bug.

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is a new feature or significant change to the existing implementation.

### Expected behavior

### Actual beha

[2019-06-17 20:39] GregReser opened #656 "Edit preferred citation value of objects in Thurgood Marshall College. Office of the Provost Records"
### Description
For all 767 objects in Thurgood Marshall College. Office of the Provost Records (bb7817150v)
- Replace the current value of dams:Note @type "preferred citation" with the new value:
"[TITLE]. Thurgood Marshall College. Office of the Provost Records. RSS 1130. Special Collections &amp; Archives, UC San Diego"

The current preferred citation values are all different.  The new value wi

[2019-06-18 16:12] mcritchlow commented on #633
@GregReser - I'm going to start on this today. Unfortunately the code for this is not very centralized.. so I'm going to have a touch a number of files. I'll try and make sure I get everything, but once I think I have it I'll deploy to QA and ask for you to take a peek if that works for you.

[2019-06-18 17:09] #637 closed

[2019-06-18 19:21] hweng commented on #654
@gamontoya Can you send me a vrr record? I would like to look into its solr data structure as damspas use solr index.
And also can I get the test account for vrr so that I can test the code? Thanks!

[2019-06-19 18:39] gamontoya commented on #654
@hweng I don't have a VRR record and I don't think one exists in the DAMS. @mcritchlow @mdpeters Can you confirm?

[2019-06-19 18:40] gamontoya commented on #654
@hweng Note that the correct hook is:

[code]

[2019-06-19 18:41] gamontoya commented on #654
@hweng I'll open a Service Desk ticket asking that you be added to the VRR group.

[2019-06-19 19:12] gamontoya opened #660 "Allow for different sorting scenarios on a collection by collection basis"
### Descriptive summary

Kirk W. is requesting the option to be able to change the default sort on a collection by collection basis.
Would this have to be hard coded or would we need to add a flag to the collection metadata for this purpose?

### Rationale

The Holocaust Living History Workshop's default sort makes more sense to list as most recently added (sort by date created, descending).

###

[2019-06-19 19:12] gamontoya commented on #644
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/660)

[2019-06-19 19:21] gamontoya opened #661 "Ignore characters when sorting by default title"
### Descriptive summary

Currently in the default sort (by title), titles with apostrophes or quotes get sorted first. Is it possible to ignore initial characters and force the alpha sort?

### Example

![sort](https://user-images.githubusercontent.com/4314914/59793988-bc13c600-928c-11e9-934b-dfc8e24a8d8f.png)

[2019-06-19 19:52] hweng commented on #654
@gamontoya Thanks!  Can you make a VRR test record? The hook above is in RDF format, but damspas interface use solr index so it need to look into the solr index to see what the structure it is? Is it present in the solr index? Then I can decide how to incorporate the correct trigger into the code.

[2019-06-19 20:10] gamontoya commented on #654
@hweng No, I can't. Maybe @mdpeters can?

[2019-06-19 20:19] #633 closed

[2019-06-20 13:47] mdpeters commented on #654
@hweng I updated one of our VRR test records in staging to have the requisite note field: https://librarytest.ucsd.edu/dc/object/bd27178934

Let me know if you need tests for any other variations.

[2019-06-20 20:29] mcritchlow commented on #634
@hjsyoo - do you have any good example records that demonstrate some, or even most, of these? I'm going to get started on this, and mostly want to make sure we're checking metadata correctly (case, spelling, etc.). Thanks!

[2019-06-20 21:31] hweng commented on #654
@mdpeters
 I don't find "vrr-sca" value from solr index for this record:
http://lib-hydratail-staging.ucsd.edu:8983/solr/blacklight/select?q=id:bd27178934

[2019-06-20 21:40] hjsyoo commented on #634
@mcritchlow Do you mean examples where the current order doesn't work well?
https://library.ucsd.edu/dc/collection/bb22212199
https://library.ucsd.edu/dc/collection/bb96275693
Or the official spellings of Roles? I was working off of this sheet, although we should get confirmation from @arwenhutt on whether this is the most authoritative version:
https://docs.google.com/spreadsheets/d/11B4lwD6qOHHv

[2019-06-24 18:24] arwenhutt commented on #634
@lsitu the most authoritative list of roles would be in the [standard input template on github](https://github.com/ucsdlib/dams-metadata/blob/master/xls_standard_input_template.xlsx)

@mcritchlow There are some examples where ordering doesn't work well in @hjsyoo 's [comment here](https://github.com/ucsdlib/dams-metadata/issues/55#issuecomment-351842760)
And there's [this tracer record](https://li

[2019-07-01 15:27] #634 closed

[2019-07-01 16:01] mcritchlow commented on #660
@gamontoya - Here's some early feeback since I'm going through the backlog looking for work and noticed this :)

It would have to be explicitly supplied somewhere. Since this is a front-end concern, I think we could probably store the information in a local configuration file in damspas, so DOMM wouldn't have to create a new predicate and add the metadata to the record itself.  That would mean a r

[2019-07-01 16:45] mcritchlow commented on #643
@hjsyoo @gamontoya - i think i'm going to start on this soon. I'll look at the internals for getting the date itself, however it would definitely help to have some kind of visual reference for what you're hoping to see when this is in place. Also, to clarify, is this _just_ for object pages, not collection pages?

[2019-07-01 17:24] hjsyoo commented on #643
@mcritchlow Yes, this is just for object pages. On coll pages, we were concerned that a user would have a hard time distinguishing whether the date info refers to updates on the page itself, or to anywhere in the entire collection.
I'm not sure what would work best visually - others might have a better sense for this. One minor consensus seemed to be that it should appear in a different style than

[2019-07-01 17:59] mcritchlow opened #667 "VRR: Errors in processing AEON revoke queue"
### Descriptive summary
@mdpeters reported that the staging AEON revoke queue is not expiring/revoking users.

Looking at the logs, there appears to be an error while processing the users to revoke:

Note: the no method for `email` errors, this is likely our issue.

[code]

### Rationale

Provide the rationale or user story that describes "why" this issue should be addressed. Especially if this is

[2019-07-01 23:18] mcritchlow commented on #643
Here's an update on my end. In our Solr records for objects, there are a few modified dates available, however they all seem to relate to the Solr document itself, rather than the actual object in the triplestore. Usually, this is _probably_ a safe date to rely on, but it won't always be. A triggered reindex for a collection that results in a new solr document being created for an object would mea

[2019-07-01 23:42] #667 closed

[2019-07-02 00:49] hjsyoo commented on #643
Thank you for the in-depth description of the situation. What are examples of events that would trigger a reindex for a collection, resulting in new updated dates for objects in that collection? An event I would expect to trigger the update would be if we replaced a component file or object-level metadata. Can you give examples of events that I might not expect to cascade into an updated date?

[2019-07-02 16:42] mcritchlow commented on #643
That's a great point, I should try and better clarify this. All of those actions you would expect to trigger a reindex/new Solr document would be reflected in the modified date in the Solr document. Updating metadata, adding components and files, etc.

So in the past, though I don't _think_ this is the case anymore, an update to the collection record metadata that an object is associated with woul

[2019-07-02 22:59] #654 closed

[2019-07-03 15:19] lsitu commented on #643
@mcritchlow While going through our implementation for re-indexing with CLR update in collections, update of the following fields in a collection will trigger solr re-indexing of all objects of that collection and child collection:
Title
Visibility
Finding Aid

However, while doing a full reindex or reindex a collection with no metadata changes, the timestamp of SOLR update will be updated too.

[2019-07-03 16:35] mcritchlow commented on #643
@lsitu - thanks so much for providing those examples.

[2019-07-03 16:35] hjsyoo commented on #643
@lsitu @mcritchlow  Thanks, the collection fields that trigger updates make sense to me (except Finding Aid, which I don't think RDCP uses). By full reindex, do you mean when all objects are reindexed, then every SOLR document in the DAMS gets an updated date? And am I correct in assuming that there is one SOLR document for every DAMS object?

[2019-07-03 17:59] lsitu commented on #643
@hjsyoo Yes, a full reindex will update solr for all objects in dams. And you are right on every object /collection CLR has its own SOLR document.

[2019-07-03 18:25] mcritchlow commented on #638
There appear to be a few different component views, both of which differ from each other and the regular object view, which make what seems like a very trivial fix potentially a bit more involved, at least as far as ensuring consistency goes.

Consider examples from: https://library.ucsd.edu/dc/object/bb70335495

1.  Component display #1
![pic-selected-190703-1121-19](https://user-images.githubuse

[2019-07-03 20:03] hjsyoo commented on #638
@mcritchlow Yes, I had Component display #1 and the non-compound object view in mind when reporting this enhancement request. I'm only requesting that the Download file buttons in both cases be made more prominent and equivalent to View file. I'm neutral on how this is done, but as a suggestion, what if on every display type:

- View file = orange
- Download file = blue
- Embed (for images) = whit

[2019-07-03 21:18] hjsyoo commented on #634
@mcritchlow I'm reviewing the deploy on staging, and seeing duplicated Roles fields:

- https://librarytest.ucsd.edu/dc/collection/bb22212199 (second instance of Research Team Members)
- https://librarytest.ucsd.edu/dc/collection/bb5291666j (Creator)
- https://librarytest.ucsd.edu/dc/collection/bb0378352k (Field Directors)
- https://librarytest.ucsd.edu/dc/collection/bb62154893 (PI)

Otherwise, ro

[2019-07-03 21:40] mcritchlow commented on #634
@hjsyoo - oh, i think i see the issue. We have an odd, or at least it seems odd to me, situation where sometimes the role values are capitalized and sometimes they're not. it looks like we have a gap there. I should have a patch up shortly.

[2019-07-03 21:49] hjsyoo commented on #644
@mcritchlow Looking at https://librarytest.ucsd.edu/dc/rdcp/collections, collection sort order doesn't match my expectations. We haven't touched at least the first ~10 collections that show up in the display this year (as far as I know - we may need confirmation from @remerjohnson @arwenhutt @abbypenn93), yet we've published ~8 new colls in 2019, none of which show up at all.
Also, how is system m

[2019-07-03 21:53] mcritchlow commented on #634
@arwenhutt this probably warrants a separate ticket, but i am curious about our spelling inconstency when it comes to roles. See the following from one the examples @hjsyoo mentioned:

https://librarytest.ucsd.edu/dc/collection/bb22212199

[code]

Note how everything is lowercase, except `Research team member`. I noticed when working on this code that we already had code in place that was checking

[2019-07-03 21:59] mcritchlow commented on #644
@hjsyoo - Yes, this is the same system date in Solr we were discussing in the other ticket. To my knowledge, similar to our other discussion, we don't have a better, more reliable, date to key on for whether a record was modified. Reindexing a collection record, as you note, would definitely result in a more recent modified date in the Solr document.

[2019-07-03 22:01] hjsyoo commented on #633
Thanks, @mcritchlow. Geographics, Anatomy, Scientific Names, and Common Names are sorting alphabetically in staging.

[2019-07-03 22:02] hjsyoo commented on #637
Thanks! The link works properly in staging.

[2019-07-03 22:12] hjsyoo commented on #643
@mcritchlow So, I don't think we want to go with the last modified date in the solr document, since any reindexes would generate misleading information on the page - probably better to display no information! But down the road, what do you think would be a better solution? Would it be code development? Or creation of a new property, Date Modified, which editors would update manually?

[2019-07-03 22:31] mcritchlow commented on #643
@hjsyoo - Yeah, I think the safest way to go would be something along the lines of a `lastModified` predicate that's added to object/collection records in the triplestore that's managed by damsrepo automatically whenever a record is created/modified. That would align with how a normal relational database maintains this information.

@lsitu - You know damsrepo and the various ways people are allowe

[2019-07-03 22:53] lsitu commented on #643
@mcritchlow Since the way that we are doing in DAMS4 is to add events while object/collection CLR are change (created, updated etc.), we may need to update damspas to utilize those events inserted for this supports.

[2019-07-03 23:00] mcritchlow commented on #643
@lsitu My impression from our conversation is that we're not reliably tracking those events in all cases, or that in some cases those events can be removed/wiped out. If that's not the case, then yes that would be fantastic if we can leverage that instead of creating something new.

[2019-07-03 23:12] lsitu commented on #643
@mcritchlow Yes, you are right that the updated history could be missing. But we have at lease one event with the time stamp for the last update that were made. So if we agree that the event for record creation and the update history won't be the issue, then we can do it this way. Creating something new won't fix the missing event history issue anyway.

[2019-07-03 23:24] mcritchlow commented on #643
@lsitu :

To clarify, do you mean that:
- We will _always_ have the **most recently updated event**
- But that we also may have lost history prior to the most recent update, including the creation date?

This sounds very promising! and exactly what we need, assuming I'm understanding the situation.

[2019-07-03 23:29] lsitu commented on #643
@mcritchlow Yes. That's what I mean.

[2019-07-05 17:09] mcritchlow commented on #643
@lsitu - Ok thanks, I think we need to unpack this a bit more to move towards a solution, but it sounds like pursuing it via the events triplestore is the way to ideally go.

In the meantime, it's clear that I need to revert the existing change. So I'll put up a PR for that shortly

[2019-07-05 17:34] mcritchlow commented on #644
Reopening, as we need to take an alternative approach to solving this problem.

[2019-07-08 17:19] arwenhutt commented on #634
@mcritchlow thanks for the heads up! I can edit those role records to make the casing consistent.

[2019-07-08 17:29] mcritchlow commented on #634
@arwenhutt - do you need a report of all instances for a more global cleanup? I ask because this seems like something that is likely a legacy issue and I believe our current create/edit interfaces wouldn't allow this. But there's probably quite a few records with these capitalized roles. There were enough, at least, for us to have source code testing for both :)

[2019-07-08 19:30] hjsyoo commented on #643
This does sound promising. Our immediate need is for a single date representing the most recent update to an object page's files or metadata, excluding any system- or collection-wide reindexing. The update history is less important (unless I'm forgetting something).

[2019-07-08 19:39] hjsyoo commented on #644
@mcritchlow Thanks for reverting this fix for the release. I think what's different here from the date issue in #643 is that we're interested in when the collection was first ingested, and not really when updates are made anywhere in the collection. I wouldn't want a collection to sort first simply because we replaced a file or made a minor change to the metadata on one of its objects. We're just

[2019-07-08 20:27] mcritchlow commented on #644
@hjsyoo - sure thing, and i think the distinction you make is an important one that we need to clarify and be mindful of in a final solution. So this is similar to #643, but different in that what you want is the "created date" event for the record, not the "modified date", which can change over time. My understanding is that neither of these are readily, consistently available. But clearly, we ne

[2019-07-08 20:33] mcritchlow commented on #644
@hjsyoo , @lsitu - i've created https://github.com/ucsdlib/damsrepo/issues/92 as a starting point for the technical discussion of how to ensure we're properly tracking these created/modified event dates.

@lsitu - If i mispoke in the description of that ticket, please feel free to correct/modify as needed :)

[2019-07-08 21:04] gamontoya commented on #643
@mcritchlow @hjsyoo I thought we could just display

as the last metadata element in an objects view. Make sense?

[2019-07-09 18:20] gamontoya commented on #648
@VivianChu How do I test this to see if it's working?

[2019-07-09 18:37] VivianChu commented on #648
@gamontoya - You can do view source for any image object on staging and search for "img alt".
For example
https://librarytest.ucsd.edu/dc/object/bd5891931g

<a href="/dc/object/bd5891931g/zoom/0"><img alt="65th College Art Association Conference, Los Angeles" src="/dc/object/bd5891931g/_3.jpg" /></a>

[2019-07-09 20:09] gamontoya commented on #648
When you are viewing the object(s), when you hover over the image, do you see the text/title?

[2019-07-09 20:15] VivianChu commented on #648
I don't see the text/title when hover over the image.  More info about it can be found here - https://www.computerhope.com/issues/ch001076.htm

[2019-07-09 20:17] VivianChu commented on #648
@gamontoya - from that article, if we also put title value in  the attribute "title", then it would show.

[2019-07-09 20:17] gamontoya commented on #648
@VivianChu Can you do that. This was the expected behavior.

[2019-07-09 20:18] VivianChu commented on #648
@gamontoya - sure, I can do that.

[2019-07-09 20:59] VivianChu commented on #648
@gamontoya - The title attribute has been added.  The changes have been deployed to qa.  Could you review it?  For example
//single object
http://libraryqa.ucsd.edu/dc/object/bb68628087

//complex object
http://libraryqa.ucsd.edu/dc/object/bb35511535

Thanks

[2019-07-09 21:24] gamontoya commented on #648
@VivianChu You got it! Looks correct now. Thank you.

[2019-07-09 23:29] arwenhutt commented on #634
@mcritchlow oh, yeah, that's probably a good idea.  a report with all unique role values (role ark, authoritative label value) would be great - thanks!

[2019-07-10 15:56] mcritchlow opened #677 "Report of unique role types"
### Descriptive summary

This is a follow up request related to #634 where it was noticed that we have roles in our metadata that are inconsistent in relation to case. As a workaround, we have code in place that is testing for capitalized and lowercased roles, but it was agreed that this should be fixed in the metadata itself.

request from @arwenhutt

As a follow up to this, we should ideally rem

[2019-07-10 15:56] mcritchlow commented on #634
@arwenhutt - sounds good, I've created #677 for that

[2019-07-10 15:59] #648 closed

[2019-07-10 17:05] VivianChu commented on #635
@gamontoya -  When I change "Browse by Topic" navigation menu, other browse by option like format and creator will change too since they all use the same navigation menu.  Is it ok to do that?  Thanks

[2019-07-10 17:38] gamontoya commented on #635
@VivianChu Let me check on that.

[2019-07-10 17:40] gamontoya commented on #635
@VivianChu It doesn't make sense for _Format_ and _Creator_ has an A-Z navigator on top. Can you go ahead and implement on QA for us to review/see?

[2019-07-10 17:48] VivianChu commented on #635
@gamontoya - Currently all browse by pages have A-Z navigator on top.  I'm not going to change anything.  For example from production Creator & Format - https://library.ucsd.edu/dc/search/facet/creator_sim?facet.prefix=A&facet.sort=index
https://library.ucsd.edu/dc/search/facet/object_type_sim?facet.sort=index

I'm asking about the Previous | next menu.  It will be same for all 3 pages.
Here's my

[2019-07-10 17:57] gamontoya commented on #635
@VivianChu I just spoke to Cristela and she thinks it's fine. But, she asked if you could remove the page and Sort navigators from the top and only leave them on the bottom.

![browse](https://user-images.githubusercontent.com/4314914/60992517-813c0580-a301-11e9-8268-b6e7347545d6.png)

[2019-07-10 18:00] VivianChu commented on #635
@gamontoya - I could remove it.  I'll let you know when it's ready to review in QA.  I still need to write tests for it.

[2019-07-10 18:02] gamontoya opened #679 "Data Sync to QA environment"
### Descriptive summary

- Data sync needed from prod to QA. This should include everything (triplestore, solr, files, etc.)

### Needed for

- [ ] Enforce _created_ and _modfied_ dates https://github.com/ucsdlib/damsrepo/issues/92

[2019-07-10 18:02] gamontoya commented on #542
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/679)

[2019-07-10 18:04] jgorney commented on #679
Will do!

[2019-07-10 18:06] gamontoya commented on #679
@jgorney Please wait until Matt or Longshou request it.

[2019-07-10 18:06] gamontoya commented on #679
@mcritchlow Please ping Juliana or Ron when you're ready.

[2019-07-10 18:07] mcritchlow commented on #643
@gamontoya - I'll go with that for now as a starting point and we can iterate if needed. Thanks!

[2019-07-10 18:09] gamontoya opened #680 "Data Sync to Staging environment"
From damspas created by [gamontoya](https://github.com/gamontoya): ucsdlib/damspas#679

### Descriptive summary

- Data sync needed from prod to QA. This should include everything (triplestore, solr, files, etc.)

### Needed for

- [ ] Enforce _created_ and _modfied_ dates https://github.com/ucsdlib/damsrepo/issues/92

[2019-07-10 18:09] gamontoya commented on #679
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/680)

[2019-07-10 18:13] mcritchlow commented on #679
@lsitu - correct me if I'm wrong, but I don't see any reason not to start sync to QA now. We still need to work on our code a bit to get ready for the full solr reindex, but I think we could start the DB/file sync now?

[2019-07-10 18:15] gamontoya commented on #679
@mcritchlow Got it!

@jgorney Feel free to start this when you have time.

[2019-07-10 18:19] rstanonik commented on #679
I'll start it today, but depending on how much production has changed since the last sync, this could take days..  I'll have a better estimate after it has run a while.

[2019-07-10 18:22] gamontoya commented on #679
@rstanonik I'll be interested to know how it goes. Last time you did a data sync to staging and QA it took one day only.

[2019-07-10 18:26] jgorney commented on #679
Starting the DB prod to QA part now.

Just to confirm - the sync to staging is to start Monday?

[2019-07-10 18:34] gamontoya commented on #679
@jgorney Matt said to start now.

[2019-07-10 18:35] gamontoya commented on #679
@jgorney Looks like @rstanonik started already?

[2019-07-10 18:35] jgorney commented on #679
@gamontoya start both syncs now?  I just started prod -> QA.  We should also start prod -> staging?

[2019-07-10 18:40] gamontoya commented on #679
@jgorney No, just this ticket. I opened the prod to staging ticket but I have not assigned it to Ops yet. I'm waiting to hear from other folks before I make the request.

[2019-07-10 19:00] jgorney commented on #679
The prod DAMS db triplestore sync to QA is complete.

[2019-07-10 19:13] rstanonik commented on #679
The file sync is 2% done in about 1/2 hour, so estimate 25 hours to complete.  I'll check on it occasionally to see if that changes much.

The solr sync is done.

[2019-07-10 19:20] mcritchlow commented on #679
thanks all!

[2019-07-10 22:14] rstanonik commented on #679
After about 4 hours, about 9% done, so estimate 44 hours.
Progress slowed because of 2.2T object (bb0891487n).
Progress might increase if remaining new objects are smaller.

[2019-07-10 22:33] VivianChu commented on #635
@gamontoya - The change has been deployed to qa.  Could you review it?  For example - http://libraryqa.ucsd.edu/dc/search/facet/subject_topic_sim?facet.prefix=A&facet.sort=index
Thanks

[2019-07-11 15:22] rstanonik commented on #679
62% done in 21 hours, so estimate another 13 hours.

[2019-07-11 15:44] mcritchlow commented on #679
ok, thanks for the heads up @rstanonik . @lsitu and i will try and get things as ready as we can today to start testing tomorrow

[2019-07-11 15:52] lsitu commented on #679
@mcritchlow Sounds good. Do we need a release ticket for damsrepo now or later after we testing it?

[2019-07-11 15:54] mcritchlow commented on #679
@lsitu - i'm thinking we deploy damsrepo and my damspas branch for testing first. then do releases once we know it's in good shape. does that sound good? i'm waiting to deploy my branch to QA because @VivianChu has a branch deployed for @gamontoya to test. Once they're done, I'll deploy mine. I think that'll set us up if we get damsrepo deployed today as well.

[2019-07-11 16:12] hjsyoo commented on #643
@gamontoya @mcritchlow Thank you - that display solution makes perfect sense.

[2019-07-11 16:20] gamontoya commented on #680
@rstanonik @jgorney Okay, requesting a data sync from prod to staging now.

[2019-07-11 16:25] gamontoya commented on #635
@VivianChu Looks good. You purposely left out the page navigator for **format**, correct?

[2019-07-11 16:36] jgorney commented on #680
We are starting now.

[2019-07-11 16:36] VivianChu commented on #635
@gamontoya - No, I didn’t left out page navigator for format. The page navigator will display if there are more values than the limit which is 20. Format has only 12 values.

[2019-07-11 16:41] rstanonik commented on #680
I started the file sync from prod to staging.

I give an estimate of the time after it has run for a while.

In the meantime, I'll sync solr from prod to staging.

[2019-07-11 16:43] lsitu commented on #679
@mcritchlow Yes, that sounds good to me.

[2019-07-11 16:54] rstanonik commented on #680
solr has been synced from prod to staging.
Hmm, since file sync takes so long, maybe should repeat solr sync after file sync finishes.

[2019-07-11 17:00] mcritchlow commented on #643
@hjsyoo - Just FYI, I have a branch up that includes this change as well as the RDCP collection sorting change: https://github.com/ucsdlib/damspas/pull/681 (see screenshot for last modified)

Longshou and I are waiting for the QA data sync to finish so we can reindex everything in Solr. Once that's done, I'll ping you to help us test things out if you don't mind.

[2019-07-11 17:07] jgorney commented on #680
The database triplestore table sync from prod to staging is complete.

[2019-07-11 17:59] rstanonik commented on #680
file sync is 8% after  1 1/2 hours, so estimate about 18 hours.

[2019-07-11 18:59] gamontoya commented on #635
@VivianChu Sounds good. Thank you!

[2019-07-11 19:00] gamontoya commented on #679
@mcritchlow I have finished my QA work with @VivianChu . Feel free to proceed.

[2019-07-11 21:57] rstanonik commented on #680
9% after 5 1/2 hours.  Ran into the same 2.2T object as qa.  Current estimate is 61 hours.

[2019-07-12 14:58] rstanonik commented on #679
file sync finished last night (Jul 11 21:22).  Started Jul 10 around 11:30, so about 34 hours total.

[2019-07-12 15:06] rstanonik commented on #680
70% after  22 1/2 hours, so estimate another 9 1/2 hours.  The percentage is not of data size, but of number of objects (ARKs) scanned for changes.  So, perhaps I should say 70% of ARKs scanned.

[2019-07-12 15:43] mcritchlow commented on #679
@rstanonik - thank you!

@lsitu - so i think we need to get damsreo deployed to QA and start a full reindex, does that sound like the next step to you?

I can deploy my branch to QA whenever we're ready for testing via damspas.

[2019-07-12 16:25] mcritchlow commented on #638
I'd be curious to hear @dt-ucsd weigh in on this, if he has any free time to do so.

[2019-07-12 16:58] dt-ucsd commented on #638
If I recall correctly, we de-emphasized ("link" button, off to the left) the download button to subtly encourage users to view the objects within the application. That's why it is the way it is. That said, there really isn't an issue with bumping up its emphasis if needs have changed.

The best approach would be to just change the Bootstrap class on the Download button to match the class of its si

[2019-07-12 19:19] mcritchlow opened #684 "VRR - rewrite Queue and Request classes as ValueObjects"
### Descriptive summary

At the moment, the `Aeon::Request` and to a somewhat lesser extent `Aeon::Queue` are hiding the Aeon properties that are being returned from the various API calls.

The Request API call, for example, returns a json hash with over **40** properties. And as far as I can tell, there only about **4** actually used:

- id (transactionNumber)
- email (comes from a separate API c