[2019-07-12 19:37] lsitu commented on #679
@mcritchlow I've deployed damsrepo to staging. I'll reindex all records after damsolrizer is restarted.
@rsanonik I can restart damsolrizer on QA through Jenkins. It's stalled there. Could you take a look? Thanks.

[2019-07-12 22:05] rstanonik commented on #679
I started damsolrizer on QA.  I'm looking at the Jenkins plan.

[2019-07-12 22:18] rstanonik commented on #679
Jenkins plan now seems to work

[2019-07-12 22:41] lsitu commented on #679
@rstanonik I see two consumers are running there: http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp. We should have only one consumer. Maybe the place failed to kill the existing stalled solrizer?

[2019-07-12 22:48] rstanonik commented on #679
Where should solrizer run?
On hydratail or hydrahead?
I guess I forgot that QA runs it on hydratail.
I created jenkins to start it on hydrahead.
Let me know when it should run and I change jenkins to do that.

staging and prod run it on hydrahead.

[2019-07-12 22:55] rstanonik commented on #679
Okay, I see that solrizer is commented out on QA hydrahead at boot.

I'll change jenkins to restart solrizer on QA hydratail

[2019-07-12 22:57] rstanonik commented on #679
jenkins now restarts solrizer on QA hydratail.

I ran it just now

[2019-07-12 23:18] lsitu commented on #679
@rstanonik Thanks. The solrizer seems to be running but SOLR is broken. I got error `java.lang.IllegalArgumentException: All checkers need to use the same Analyzer.` while access solr: http://lib-hydratail-qa.ucsd.edu:8983/solr/blacklight/select?q=*:*
Is SOLR configuration messing up, or we just need a restart? Thanks.

[2019-07-13 00:26] hweng commented on #656
@gamontoya I've queried and edited notes for all 767 objects in Thurgood Marshall College based on the above requirements. And the solr index updating was done.

It looks good to me, for instance:
https://library.ucsd.edu/dc/object/bb90797993

Could you take a look if it looks good to you too?

[2019-07-15 14:04] rstanonik commented on #679
QA solr did seem to have a problem.
I restarted it.
Let me know if that helps

[2019-07-15 14:05] rstanonik commented on #679
QA DAMS still isn't responding

[2019-07-15 14:05] rstanonik commented on #679
It did finally respond

[2019-07-15 14:55] lsitu commented on #679
@rstanonik I am still getting the error from SOLR on QA:
http://lib-hydratail-qa.ucsd.edu:8983/solr/#/blacklight/query
[code]

[2019-07-15 15:15] rstanonik commented on #680
The file sync finished Fri Jul 12 19:53

[2019-07-15 15:17] rstanonik commented on #679
The solrconfig seems to have spellcheck, which might be the problem, it's different from staging and prod which have spellcheck false.  I'm trying to figure out why qa is different.

[2019-07-15 15:26] rstanonik commented on #679
During the solr sync, I must have copied an old solrconfig, which still contained spellcheck.  I ran the jenkins plan to deploy the solr config, after which the query correctly returns data.  Then I did another solr sync and confirmed the solrconfig doesn't contain spellcheck and the query correctly returns data.

Please try now.

[2019-07-15 15:42] lsitu commented on #679
@rstanonik Thanks. SOLR on QA works now. But solrizer is down and I can't restart it from Jenkin. The build is stalled there with yellow status.
Could we restart ActiveMQ and the Solrizer so that we can start a new round of clean full solr indexing? Thanks.

[2019-07-15 16:24] rstanonik commented on #679
I started solrizer and restarted activemq.
Try now

[2019-07-15 16:40] lsitu commented on #679
@rstanonik It looks like damsolrizer failed to be restarted. I see no consumers in ActiveMQ: http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp.

[2019-07-15 16:47] rstanonik commented on #679
I restarted solrizer and it is running.
Maybe last time I restarted activemq after solrizer and brief loss of activemq killed solrizer.
Order might be important.

[2019-07-15 17:42] gamontoya commented on #638
@mcritchlow Please proceed with:

- _The best approach would be to just change the Bootstrap class on the Download button to match the class of its sister View button. Also, change the position so that the Download button is just to the left of the View button rather that way off on the other side of the container._

-  _Update "Download File" to read "Download file"._

[2019-07-15 17:46] mcritchlow commented on #638
@gamontoya - will do, thanks!

[2019-07-15 18:21] lsitu commented on #679
@rstanonik I see 4 consumers running now: http://lib-hydratail-qa.ucsd.edu:8161/admin/queues.jsp. It look like the Jenkin's plan just start damsolrize without killing the existing processes. Could you take a look again. Thanks.

[2019-07-15 18:49] rstanonik commented on #679
I'm sorry.
There was a problem with the sorlizer script, which I tried to fix, but made worse.
Please try now.

[2019-07-15 19:04] hweng commented on #656
@gamontoya The 767 objects have been updated and indexed. Does it look good to you now?

[2019-07-15 20:10] lsitu commented on #679
@rstanonik I think it's working now and I see objects are updated in SOLR on QA. Thanks.

[2019-07-15 21:03] rstanonik commented on #679
I think part of the confusion is that QA runs solrizer on hydratail, but damspas deploys to hydrahead and starts solrizer there.  Maybe QA can move solrizer to hydrahead, like staging and production.  I don't remember why QA solrizer is on hydratail.

[2019-07-15 21:17] mcritchlow commented on #679
@rstanonik - oh that's a great find. I don't recall historically why QA runs damsolrizer on hydratail, feels like an artifact of some architectural experiments we did years ago. Either way, unless @lsitu knows of a reason solrizer needs to be on hydratail, I'm definitely in favor of aligning the damsolrizer location across environments. Presumably, we could then have the Jenkins plan call the same

[2019-07-15 21:44] #638 closed

[2019-07-15 21:58] lsitu commented on #679
@mcritchlow / @rstanonik I don't recall that we have any reasons to make QA run damsolrizer differently. think it's good to make it consistent with other environments. Thanks.

[2019-07-15 22:42] gamontoya commented on #656
@hweng Yes, it looks good to go.

[2019-07-15 22:43] gamontoya commented on #680
@rstanonik @jgorney Thank you!

[2019-07-15 22:43] #680 closed

[2019-07-16 19:41] mcritchlow commented on #661
@gamontoya - I think this should be possible. We'll have to test for side-effects/regressions. But I'm fairly certain we can do this w/ Solr

[2019-07-16 19:52] gamontoya commented on #661
@mcritchlow Awesome!

[2019-07-17 18:39] #661 closed

[2019-07-18 21:27] hweng commented on #642
@hjsyoo I want to clarify that this boilerplate is for RDCP collection only, and the DLP collection should not be changed, correct?

[2019-07-18 21:32] hweng commented on #642
@hjsyoo Also can you send me a couple of sample records in case there is variations? so that i can decide if need to apply the conditional statements. Thanks!

[2019-07-18 23:13] #679 closed

[2019-07-18 23:16] #656 closed

[2019-07-19 00:16] gamontoya opened #690 "Add "Sign In" link to 404 error page when accessing curator only objects"
### Descriptive summary

Investigate if it is possible to add a link to Sign In as a curator on 404 pages which are usually seen when trying to access an ARK that is curator only.

If so, it would be ideal to log in directly from the 404 error page and have it remember/retain the URL/ARK one was trying to access.

![dcError](https://user-images.githubusercontent.com/4314914/61500298-80e5df00-a97f-

[2019-07-19 00:40] gamontoya opened #691 "Navigation bar to jump from one object to the next missing on staging environment"
### Descriptive summary

On the [staging environment](http://librarytest.ucsd.edu/dc), the top navigation bar to click from one item to the next does not display.

**Compare:**

![image](https://user-images.githubusercontent.com/4314914/61501164-09b24a00-a983-11e9-8d81-6d9a1f095a70.png)

**With:**

![image (1)](https://user-images.githubusercontent.com/4314914/61501169-0e76fe00-a983-11e9-98d0-4aad

[2019-07-19 18:48] hjsyoo commented on #642
@hweng Right, this boilerplate is for RDCP only, because we regularly apply CC licenses. I don't think DLP does.
Here's an example that has Rights Holder=UC Regents and License=Creative Commons: https://library.ucsd.edu/dc/object/bb2391869d
And the other example, Rights Holder=third party and License=Creative Commons: https://library.ucsd.edu/dc/object/bb7886108t
The two boilerplates differ only i

[2019-07-19 21:04] hweng commented on #642
@hjsyoo Two questions to clarify:
For RDCP, is the Rights Holder either "UC Regents" or the third party such as in bb7886108t "DeFanti, Thomas A.; Saad, Adel; Wickham, Greg; Ainsworth, Richard A."?
It doesn't have other variations, correct?

2. For RDCP, all items are applied "Creative Commons Attribution 4.0 International Public License", correct?

[2019-07-19 21:13] hjsyoo commented on #642
@hweng 1. Yes, up to this point, I believe that's correct. Public domain (e.g., https://library.ucsd.edu/dc/object/bb0753405q) is also possible, but we don't need to change the text for those cases.
2. No, there are 6 possible Creative Commons licenses: https://creativecommons.org/licenses/. I'm not sure what the wording looks like for each of those in the DAMS import tool, but we can ping DOMM fo

[2019-07-22 14:48] lsitu commented on #679
@rstanonik It looks like damsolrizer on QA is in troble again and I am seeing two consumers running at ActiveMQ at the same time. I tried to restart it with the Jenkin plan it it stalled there with yellow status. Could you take a look? Thanks.

[2019-07-22 23:16] mcritchlow opened #693 "Release 1.92.2"
## Descriptive summary

- Version: 1.92.2
- Release Manager: @mcritchlow
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv
--------------
## To Verify (TBD)

- [ ] #648
- [ ] #654
- [ ] #637
- [ ] #633

## Full Changelog
[code]

[2019-07-22 23:45] gamontoya commented on #644
@mcritchlow Is this in this latest DAMPAS release 1.92.2?

[2019-07-22 23:45] gamontoya commented on #693
@mcritchlow This is approved for pushing to prod.

[2019-07-23 00:46] mcritchlow commented on #644
@gamontoya - it is not. it's on hold pending the full solr reindex in QA, and then subsequent testing of the work in this PR https://github.com/ucsdlib/damspas/pull/681

So this will hopefully be in the next release

[2019-07-23 15:55] lsitu commented on #679
@rstanonik Have you got a chance to look at damsolrizer on QA? I am able to restart it with the Jenkins plan now but there are still 2 consumers there. Thanks.

[2019-07-23 16:13] mcritchlow commented on #693
thanks @gamontoya !

@jhriv - please deploy at your earliest convenience :bowing_man:

[2019-07-23 16:24] rstanonik commented on #679
This is puzzling.
On lib-hydratail-qa (where activemq runs) there are two ESTABLISHED connections
[root@lib-hydratail-qa conf]# netstat -tn | grep 61613
tcp        0      0 132.239.119.78:61613        1232.39.119.77:44106        ESTABLISHED
tcp        0      0 132.239.119.78:61613        132.239.119.77:41316        ESTABLISHED

both from lib-hydrahead-qa (1232.39.119.77)

But on lib-hydrahead-qa,

[2019-07-23 16:44] rstanonik commented on #679
By the way, there is only one damsolrizer running on lib-hydrahead-qa, this time.

[2019-07-23 16:49] rstanonik commented on #679
Also by the way, QA damspas probably isn't working because
APPS_DHH_QA_SOLR_URL='http://lib-hydrahead-qa.ucsd.edu:8983/solr/blacklight'

solr is now on lib-hydratail-qa

[2019-07-23 16:53] mcritchlow commented on #679
@jhriv - I think we have that issue sorted out with the env-variables PRs that you merged yesterday. perhaps we need a redeploy?

[2019-07-23 16:57] rstanonik commented on #679
APPS_DHH_QA_SOLR_URL is fixed now.  damspas has been restarted and damsolrizer has been restarted.  lib-hydratail-qa still thinks there are two connections, but there is only one solrizer

[2019-07-23 18:15] rstanonik commented on #679
I don't know why activemq thinks there are two consumers.  There is only one damsolrizer and only one connection from lib-hydrahead-qa.  I'd like to restart activemq and then restart damsolrizer.

[2019-07-23 20:35] lsitu commented on #679
@rsanonik It's interesting. I am still seeing two damssolrizer consumers. Have you restarted activemq and then restart damsolrizer?

[2019-07-23 21:05] rstanonik commented on #679
After I restated activemq, there were no connections.
After I restarted damsolrizer (jenkins plan)r, there is one connection.
Then I restarted damsolrizer again (jenkins plan) and there is one damsolrizer and one connection.

[2019-07-23 21:20] remerjohnson opened #694 "Add image to empty NAAMES component (bb7512314s)"
### Descriptive summary

The NAAMES component ([bb7512314s](https://library.ucsd.edu/dc/object/bb7512314s)) currently has an empty Component 17 ("SP2 number size distribution"), and needs a .png image added to it.

The file is `naames-RUSSELL-SP2NumberSizeDistribution_Atlantis_20170830_R0_SummaryPlot.png` and is located at:
`//rdcp-staging/rdcp-0112-naames/Working_Files/NAAMES3_processedfiles and

[2019-07-23 21:40] lsitu commented on #679
Thanks @rstanonik. I just tried and it's working. I'll try another round of full solr index again.

[2019-07-24 16:54] gamontoya commented on #694
@lsitu Can you take this on? Seems pretty straight forward.

[2019-07-24 16:55] lsitu commented on #694
@gamontoya Sure. I'll take care of it.

[2019-07-24 16:58] jhriv commented on #693
Scheduled for tomorrow, service window

[2019-07-25 13:26] jhriv commented on #693
Deployed

[2019-07-25 15:01] lsitu commented on #694
@gamontoya / @remerjohnson The file is ingested and it's ready for review now: https://library.ucsd.edu/dc/object/bb7512314s. Thanks.

[2019-07-26 00:04] VivianChu commented on #635
@gamontoya - The update has been deployed to qa.  Could you review it again?  Thanks

[2019-07-26 00:29] gamontoya commented on #635
@VivianChu Looks fabulous!

[2019-07-26 21:20] #635 closed

[2019-07-29 21:08] gamontoya opened #695 "SDHC Oral Histories - replace HTML service file with PDF"
### Descriptive summary

- Per the request of the San Diego History Center staff, we need to swap the HTML `service` file with a PDF version in the [San Diego History Center Oral Histories collection](https://library.ucsd.edu/dc/collection/bb20830477). The HTML file should be saved as a document-source (or text?) that can be downloaded by curators.

- As a complex object (e.g. https://library.ucsd

[2019-07-29 21:11] gamontoya commented on #694
@lsitu Thank you!

[2019-07-29 21:11] #694 closed

[2019-07-29 21:13] gamontoya commented on #661
@mcritchlow What's the dependency for this ticket?

[2019-07-29 21:16] gamontoya commented on #648
@VivianChu What is the dependency for this to get pushed to prod?

[2019-07-29 21:18] gamontoya commented on #638
@mcritchlow Same question here. What's holding this up from prod?

[2019-07-29 21:33] mcritchlow commented on #661
https://github.com/ucsdlib/damsrepo/issues/92 - which is the QA reindexing to finish and those tickets reviewed. the reindexing has had to restart several times, which unfortunately has meant the ability to properly test has taken quite a while..

[2019-07-29 21:33] mcritchlow commented on #638
https://github.com/ucsdlib/damsrepo/issues/92 - which is the QA reindexing to finish and those tickets reviewed. the reindexing has had to restart several times, which unfortunately has meant the ability to properly test has taken quite a while..

[2019-07-29 21:40] lsitu commented on #638
@gamontoya / @mcritchlow Yes, it's still on-going with around 98,000 done now. Hopefully it could finish in the next two days.

[2019-07-29 21:50] VivianChu commented on #648
@gamontoya - I just checked production and it was already deployed 4 days ago.  https://github.com/ucsdlib/damspas/issues/693#issuecomment-515042552
For example
https://library.ucsd.edu/dc/object/bb4646166j

[2019-07-29 23:24] gamontoya commented on #648
@VivianChu Thank you!

[2019-07-29 23:25] gamontoya commented on #661
@mcritchlow Thank you!

[2019-07-31 18:03] abbypenn93 opened #696 "Add research data images to the DC landing page image carousel"
### Descriptive summary

Add four research data images to the Digital Collections landing page image carousel.

### Rationale

Currently, there are very few images associated with UC San Diego research data in the Digital Collections landing page image carousel. By adding selected images (shown below), we will increase users' exposure both to Digital Collections as a research data repository and t

[2019-07-31 18:16] gamontoya commented on #696
@abbypenn93 This is going to need to get approval by the DAMS Working Group. I'll keep you posted.

[2019-08-02 15:52] mcritchlow commented on #693
Closing this out, thanks @jhriv !

[2019-08-02 15:52] #693 closed

[2019-08-02 15:53] mcritchlow commented on #621
@mdpeters - is this still a thing?

[2019-08-02 15:55] mdpeters commented on #621
@mcritchlow No, this was how we realized that the auths weren't saving to the database, this is fixed.

[2019-08-02 15:55] mcritchlow commented on #661
@gamontoya - OK, this is done and available to review QA:

https://libraryqa.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Holocaust+Living+History+Workshop&id=bb4404992g&sort=title_ssi+asc

It looks like it's working to me, but of course want to double check with you to confirm :)

[2019-08-02 16:50] mcritchlow commented on #621
Awesome, thanks!

[2019-08-02 16:50] #621 closed

[2019-08-02 23:03] #644 closed

[2019-08-06 18:49] arwenhutt commented on #661
@mcritchlow it looks like "quotes" are being ignored, but there are other characters that seem like they might be good to also leave out of the sorting:
[, !, ?, #, +, -, maybe $

I found these by searching for "a", sorting by title, and skimming through till I got to the first title that didn't have a character first (page 124 of search results.)

I'm not sure if these are in scope for this ticke

[2019-08-06 19:39] mcritchlow commented on #661
@arwenhutt - thanks! yeah those weren't in scope, it was for apostraphes and quotes.

I can add them since you discovered an example, though we probably won't want to hold this ticket up for that to be completed, primarily because this change requires large scale solr reindexing. That said, I'll create a ticket to add those to the list of characters and create a reference to it here. Thanks again

[2019-08-06 19:50] arwenhutt commented on #661
I figured they were probably out of scope, but thought I'd mention them just in case.  I agree that there's no reason to hold this ticket up for those.

Also, I think it'd be good to get Gabriela and maybe others, to review additional characters - I think they make sense to ignore, (except maybe $?) but that's a little more than my 2c ;)

[2019-08-06 19:57] hweng commented on #642
@hjsyoo I've added conditional copyright boilerplate and deployed the code to QA. Could you take a look of QA to see if it looks good to you?

https://libraryqa.ucsd.edu/dc/object/bb2391869d
https://libraryqa.ucsd.edu/dc/object/bb7886108t

[2019-08-06 20:05] mcritchlow commented on #661
@arwenhutt - yeah that's a great point, given the reindexing involved, it would be nice to get a comprehensive list put together before making any further changes. I'll note that in the ticket, thanks again!

[2019-08-06 20:47] hjsyoo commented on #642
@hweng The new text looks good in both examples, but in https://libraryqa.ucsd.edu/dc/object/bb7886108t, the Rights Holder field is missing.

[2019-08-06 21:33] hweng commented on #642
@hjsyoo I will look into it. thanks!

[2019-08-06 21:40] hweng commented on #642
@hjsyoo I've looked into bb7886108t record, the data is missing on QA for rights Holder ```rightsHolder_tesim: [
"DeFanti, Thomas A.; Saad, Adel; Wickham, Greg; Ainsworth, Richard A."
],```

But the rights holder data for bb7886108t exist on staging and production.
Do you want me to deploy it to staging so that you can verify it?

[2019-08-06 22:08] hjsyoo commented on #642
No worries, then! As long as the rights holder info won’t disappear in prod, we’re good! Please feel free to close this ticket any time.

[2019-08-07 18:25] #642 closed

[2019-08-07 19:02] mcritchlow opened #699 "Release 1.93.0"
## Descriptive summary

- Version: 1.93.0
- Release Manager: @mcritchlow
- Product Owner and Reviewer: @gamontoya @arwenhutt @hjsyoo (shared since Gabriela is out)
- Operations: @jhriv
--------------
## To Verify

Tickets to review are noted in the release notes:

https://github.com/ucsdlib/damspas/releases/tag/1.93.0

## Related Deploys
To handle support for proper created/modified dates:

https:

[2019-08-07 19:17] mcritchlow commented on #699
@gamontoya @arwenhutt @hjsyoo :

Just FYI I spoke with @lsitu , and we agreed that it's worth doing the full Solr reindex on Staging so that we can follow our normal release review process. It's going to take about a week, assuming no interruptions. @lsitu is initiating the reindex now.

We'll note when things are ready next week for a proper review.

Also, it's also worth noting we'll need to do

[2019-08-09 18:47] VivianChu commented on #695
@gamontoya - The HTML service file has been replaced with PDF for 30 complex and 22 simple objects for this collection.  The HTML file is saved as document-source and can be downloaded by curators.  Could you review them?  For example
//simple
https://library.ucsd.edu/dc/object/bb25950187
https://library.ucsd.edu/dc/object/bb0001140k

//complex
https://library.ucsd.edu/dc/object/bb2629146f
https:/

[2019-08-12 17:00] mcritchlow commented on #699
@gamontoya - Update on this release.

Thanks to @lsitu staging has now been fully re-indexed and we've deployed the 1.93.0 release to the staging environment. It's ready for review when you're back.

[2019-08-15 18:30] gamontoya opened #703 "SCWMP Usage Statistics"
### Descriptive summary

Cristela would like `usage` statistics for the Spanish Civil War Memory Project since we started capturing these statistics. The collection ARK is `bb8602294g`

[2019-08-15 18:32] gamontoya commented on #703
@lsitu Cristela needs these by the end of the month.

[2019-08-15 18:34] gamontoya commented on #695
@VivianChu Looks great, Vivian!

[2019-08-15 18:35] #695 closed

[2019-08-15 18:36] lsitu commented on #703
@gamontoya What fields we need to count for the collection statistics, object views only?

[2019-08-15 20:14] cgarciaspitz commented on #690
Any updates on this one?

[2019-08-15 22:04] gamontoya commented on #690
@cgarciaspitz No. It needs to be reviewed and given a LOE by the DAMS Working Group. We meet next week.

[2019-08-15 23:51] gamontoya commented on #703
@cgarciaspitz What usage stats do you want pulled out? Just objects views or?

[2019-08-15 23:53] gamontoya commented on #699
@mcritchlow @lsitu I'm going to thoroughly review tomorrow so this will probably be pushed to prod on Monday once I ok.

[2019-08-20 17:10] mcritchlow commented on #699
@gamontoya - what's the status on this release?

[2019-08-20 21:39] gamontoya commented on #699
@mcritchlow Sorry about that. This is ready to go.

[2019-08-20 21:47] mcritchlow commented on #699
@jhriv @rstanonik - FYI, this is approved for prod at your convenience. related deploy: https://github.com/ucsdlib/damsrepo/issues/94

[2019-08-21 16:50] rstanonik commented on #699
@mcritchlow Sorry, I meant to do it this morning, but let me double-check the command.

deploybot deploy damspas/master to production

[2019-08-21 16:54] mcritchlow commented on #699
@rstanonik - no worries. close, it's a bit safer to deploy using the tag since we sometimes have commits on master after the release is cut.

`deploybot deploy damspas/1.93.0 to production`

[2019-08-21 17:03] rstanonik commented on #699
Waiting for it to deploy now

[2019-08-21 17:42] rstanonik commented on #699
deploybot had stopped.
I restarted it and deployed again.
In progress now.

[2019-08-21 19:29] rstanonik commented on #699
Hubot doesn't seem to be processing the request.
John and I are looking at it.

[2019-08-21 19:31] VivianChu commented on #699
@rstanonik - probably you need to restart resque in heaven app.

[2019-08-21 19:35] VivianChu commented on #699
@rstanonik - It wasn't  running so I just started it.  Could you try the deploy again?  Thanks

[2019-08-21 19:38] rstanonik commented on #699
Hubot finally deployed it ... twice

[2019-08-21 19:39] VivianChu commented on #699
It was because you ran the command twice earlier and they were stored in the queue.

[2019-08-21 22:04] remerjohnson opened #704 "Delete 42 duplicate objects in Larcom-Skinner Jones"
### Descriptive summary

Still unsure how this happened, as the ARK reports only contain 353 objects, yet 395 are in the [Larcom-Skinner Jones Collection](https://library.ucsd.edu/dc/collection/bb9663649f).

So requesting those 42 duplicate objects for deletion. Attaching the ARKs to delete on spreadsheet.

[arks_to_delete.xlsx](https://github.com/ucsdlib/damsmanager/files/3527502/arks_to_delete.x

[2019-08-21 22:35] cgarciaspitz commented on #703
Oh thank you!  yes, I think having the number of object views by month since the collection was first made available online would be useful.

Do we have data like where the users are coming from? e.g. this many from the U.S. this many from Spain?

[2019-08-21 22:39] gamontoya commented on #703
@lsitu So looks like just object views by month. I told Cristela that I don't think we capture where are users are coming from. Please proceed.

[2019-08-21 23:03] lsitu commented on #703
@gamontoya / @cgarciaspitz Sure. Yes, we don't capture where are users are coming from.

[2019-08-22 17:41] lsitu commented on #703
@jgorney Could we run the following SQL on prod Postgres for the statistics report?
[code]
This will generate the statistics for collection `bb8602294g` by month with two columns like:

| period | num_view |
| ------------- | ------------- |
| ... | ... |
| 2019/07  | 999 |
| 2019/08  | 1001 |

Thank you.

[2019-08-22 17:51] jgorney commented on #703
Yes – here’s the output:

dams=> SELECT TO_CHAR(s.STAT_DATE, 'yyyy/MM') AS period, SUM(a.NUM_VIEW) as num_view FROM WEB_STATS s, STATS_DLP_OBJECT_ACCESS
a WHERE s.ID=a.STAT_ID AND s.APP_NAME='pas' AND a.col_id='bb8602294g' GROUP BY TO_CHAR(s.STAT_DATE, 'yyyy/MM') ORDER BY period; period  | num_view
---------+----------
2016/04 |       55
2016/05 |       40
2016/06 |       53
2016/07 |       17
201

[2019-08-22 17:58] lsitu commented on #703
Thanks @jgorney.
@gamontoya @cgarciaspitz I think that's the object view statistics (by month) for SCWMP Usage Statistics, which is starting from April, 2016.

[2019-08-22 17:59] VivianChu commented on #704
@remerjohnson @gamontoya - The duplicate objects have been deleted.  Could you review it?  Thanks
https://library.ucsd.edu/dc/search?f%5Bcollection_sim%5D%5B%5D=Ann+Skinner-Jones+and+Joan+Larcom+Photographs&id=bb9663649f&sort=title_ssi+asc

[2019-08-22 18:52] remerjohnson commented on #704
@VivianChu These look great! Thanks

[2019-08-22 18:52] #704 closed

[2019-08-22 19:02] remerjohnson opened #705 "Add additional parent collection for UCSD Audio Visual Theses and Dissertations"
### Descriptive summary

The [UCSD Audio Visual Theses and Dissertations](https://library.ucsd.edu/dc/collection/bb9253289t) currently has one parent collection, but a request was made to make it a member of _two_ parent collections. Those parent collections are:

* [Music Collection](https://library.ucsd.edu/dc/collection/bb4373297t)
* [Visual Arts and Architecture](https://library.ucsd.edu/dc/co

[2019-09-04 18:21] jessicahilt commented on #660
I have no idea how I closed this.

[2019-09-04 18:29] jessicahilt commented on #703
Per @cgarciaspitz, she would like to see this data prior to 2016. Can you pull this for her @lsitu?

[2019-09-04 18:34] #699 closed

[2019-09-04 18:51] mcritchlow opened #707 "Replace Fixes in Pull Request template"
### Descriptive summary

This is causing confusion since work with Stakeholders is often not vetted. Having the ticket automatically close when PRs are closed seems to often cause more trouble than it provides value. So, we shouldn't have this as a default anymore.

[2019-09-04 19:58] gamontoya commented on #690
@VivianChu Start this off as an R&D ticket to see what options there are. I think @mcritchlow might have some thoughts/input too.

[2019-09-04 22:08] #707 closed

[2019-09-05 15:27] lsitu commented on #703
@jessicahilt Sure. I'll try to run the dams statistic process to generate the the data prior 2016, which will take some time to be done for a slow process. But we can only have it for dams4.

[2019-09-05 15:41] gamontoya opened #709 "Data Sync to Staging/QA"
## Descriptive summary

- Please sync data from prod to staging and QA. This should include everything (triplestore, solr, files, etc.)
- Requested by Arwen.

### Notes

- Operations: @jgorney @rstanonik

[2019-09-05 15:41] gamontoya commented on #542
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/709)

[2019-09-05 15:44] gamontoya commented on #709
@rstanonik It's helpful when you posted the status as comments. Also, should metadata folks be uploading collections to staging when the sync is happening?

[2019-09-05 15:53] rstanonik commented on #709
@gamontoya No one should be updating data in QA or staging during the sync because I'll be overwriting the data.
We're ready to start the sync.
Should we wait for some testing to finish?

[2019-09-05 16:08] gamontoya commented on #709
@rstanonik It's fine to start now.

[2019-09-05 16:10] rstanonik commented on #709
Starting now.  I'll provide estimates of time to completion after it has run a while

[2019-09-05 16:10] gamontoya commented on #709
Thank you!

[2019-09-05 16:11] jgorney commented on #709
And the triplestore sync has been started too.

[2019-09-05 16:32] gamontoya commented on #709
@jgorney Thank you Juliana! 🎉

[2019-09-05 16:54] jgorney commented on #709
The triplestore sync from prod to to Staging/QA is complete.

[2019-09-05 19:02] rstanonik commented on #709
QA and staging file syncs are both about 60% done.  Unless there is some very large ARK to sync, it should be done in about 3 hours, this time.

[2019-09-05 19:40] gamontoya commented on #709
@rstanonik Wow, that's super fast!

[2019-09-05 19:59] rstanonik commented on #709
QA and staging file syncs both about 85% done.  Maybe nothing large ingested since last sync.

QA and staging solr syncs are done.

[2019-09-05 20:39] mcritchlow commented on #690
@gamontoya : @VivianChu and I just spoke and here are a few initial takeaways:

1. The page that you all are being sent to is a 404 page, which actually isn't technically correct. The 404 status code is about a page that is "Not Found". The correct error code for this is 403 "Forbidden". Our 403 page already has a `Sign In` link on it, so we're going to work on fixing this unless anyone sees that

[2019-09-05 21:53] rstanonik commented on #709
QA and staging file sync finished.

QA and staging should be ready to use.

[2019-09-05 22:14] gamontoya commented on #709
@rstanonik @jgorney Thank you very much 🏆

[2019-09-05 22:14] #709 closed

[2019-09-05 22:18] gamontoya commented on #690
@mcritchlow @VivianChu:

1. Sounds good! How would I ever get/see a 403 in DC?
2. So are you saying we will continue to get a 403 page if someone shares a restricted object link with a curator not logged in?

[2019-09-05 22:36] mcritchlow commented on #690
@gamontoya - here's a direct link: https://library.ucsd.edu/dc/403.html

[2019-09-10 17:06] gamontoya commented on #696
@dt-ucsd Assigning to you. Let me know where you want me to put the images for you.

[2019-09-10 17:16] gamontoya commented on #696
Images sent to David via RDL-Share.

[2019-09-10 18:04] VivianChu commented on #690
@gamontoya - The update has been deployed to qa.  Could you review it?
For example
//Curator only object - 403 page
https://libraryqa.ucsd.edu/dc/object/bb76802909

//Not found object - 404 page
http://libraryqa.ucsd.edu/dc/object/bbxxxxxxxx

Thanks

[2019-09-10 18:22] mdpeters opened #710 "Add bcc to the authorization email sent from the VRR"
### Descriptive summary

Add a bcc sent to spcoll-request@ucsd.edu to the email sent by the VRR system when a work is authorized for a user.

### Rationale

Invariably, users often have emails go missing or lost in spam and don't realize a work has been authorized. This would provide a way to track that the email was actually sent, and give us a way to forward their login token to them without hav

[2019-09-10 18:28] gamontoya commented on #690
@VivianChu Works great!

[2019-09-16 15:09] lsitu commented on #703
@gamontoya / @cgarciaspitz We don't have weblog prior `httpd.2015-08-08`, and we only can generate dams statistics starting from `httpd.2015-08-08`.

@jgorney I think the process to generate the dams statistics data between August 2015 and  Mar 2016 is done. Could we run the following SQL on prod Postgres for the statistics report again? Thanks.
[code]
Note that dams statistics data between April

[2019-09-16 15:28] jgorney commented on #703
Hi @lsitu - here you go:

dams=> SELECT TO_CHAR(s.STAT_DATE, 'yyyy/MM') AS period, SUM(a.NUM_VIEW) as num_view FROM WEB_STATS s, STATS_DLP_OBJECT_ACCESS a WHERE s.ID=a.STAT_ID AND s.APP_NAME='pas' AND a.col_id='bb8602294g' GROUP BY TO_CHAR(s.STAT_DATE, 'yyyy/MM') ORDER BY period;
 period  | num_view
---------+----------
 2015/08 |       48
 2015/09 |       67
 2015/10 |       29
 2015/11 |

[2019-09-16 15:48] lsitu commented on #703
Thanks @jgorney.
@gamontoya / @cgarciaspitz That's all statistics we can have for SCWMP now. Note that the counting rules for SCWMP collection were changes over time and the statistics data is different if we regenerate it basing on the current counting rules. Would you like to regenerate the statistics data to comply with the current counting rules, or leave it as is?

@rstanonik Is it still poss

[2019-09-16 17:50] hjsyoo opened #713 "Deletion request for dataMares object"
### Descriptive summary

Please delete https://library.ucsd.edu/dc/object/bb34157613, which is currently in Curator only view. Per depositor's email on 6/28/17, "it is very sensitive information that we just realized that can't be released yet (not even metadata)." As part of cleanup for this collection, let's remove this completely from the DAMS since there's minimal benefit to having it remain o

[2019-09-16 19:33] rstanonik commented on #703
@lsitu Sorry, I can't find older logs.  I thought I had older logs, but haven't found any.

[2019-09-16 20:01] dt-ucsd commented on #696
@gamontoya -- The new background are live.

[2019-09-16 20:03] lsitu commented on #703
Thanks for the update @rstanonik.

[2019-09-16 20:18] gamontoya commented on #696
@abbypenn93 See David's comment above. Yay!

@dt-ucsd Thank you David.

[2019-09-16 20:21] #696 closed

[2019-09-16 20:27] abbypenn93 commented on #696
Hi! I refreshed the DC landing page many times but I didn't see any of the four new research data images, were they added?

[2019-09-16 20:27] lsitu commented on #713
@gamontoya Sure. I'll take care of it.

[2019-09-16 21:03] dt-ucsd commented on #696
Hi @abbypenn93 -- The three new images and their data are live on the site.

Since the background is pulled randomly from a set of ~35 pictures, it may take you a few refreshes to come across one.

Also, you may have an old version of the JS data file cached. Perform a hard reload of the page and you should be able to eventually come across one.

[2019-09-17 14:17] abbypenn93 commented on #696
@dt-ucsd Thanks. I'm assuming rebooting my computer counts as a hard reload? I saw a lot of new images but after repeated refreshing over a period of 5 minutes I didn't see any of the research data images that I submitted.

[2019-09-17 17:33] lsitu commented on #713
@hjsyoo @gamontoya The curator object https://library.ucsd.edu/dc/object/bb34157613 is removed from prod now.

[2019-09-17 18:04] hjsyoo commented on #713
@lsitu Great, thank you!

[2019-09-17 18:04] #713 closed

[2019-09-17 20:23] jessicahilt commented on #710
Low level of effort.

[2019-09-17 20:33] gamontoya commented on #690
@VivianChu Yes, this can be pushed to prod. Do we need a release ticket?

[2019-09-17 20:38] VivianChu commented on #690
@gamontoya - Yes, we need a release ticket.  I'll create a release ticket for it.  Do you want to include this work https://github.com/ucsdlib/damspas/issues/710 in this release if I get it done today? Thanks

[2019-09-17 20:56] gamontoya commented on #690
Yes, and this release can happen on Monday so that gives you up until Friday to get https://github.com/ucsdlib/damspas/issues/710 done.

[2019-09-17 21:14] remerjohnson opened #714 "Add additional parent collection for several collections"
### Descriptive summary

The following collections already have parent collections, but will need to be additionally have the [UC San Diego History](https://library.ucsd.edu/dc/collection/bb2288090s) added as an additional parent collection:
* [CME](https://library.ucsd.edu/dc/collection/bb10936072)
* [DMCA](https://library.ucsd.edu/dc/collection/bb91824453)
* [IDEAS](https://library.ucsd.edu/dc/c

[2019-09-17 22:15] VivianChu opened #716 "Release 1.94.0"
# Descriptive summary

- Version: 1.94.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv
--------------
## To Verify

Tickets to review are noted in the release notes:

https://github.com/ucsdlib/damspas/releases/tag/1.94.0

[2019-09-17 22:17] VivianChu commented on #716
@jhriv - Could you deploy new damspas release to production at your earliest convenient? Thanks

[2019-09-20 15:33] VivianChu commented on #690
@gamontoya - The update has been deployed to production. Could you review it?
For example
//Curator only object - 403 page
https://library.ucsd.edu/dc/object/bb76802909

//Not found object - 404 page
http://library.ucsd.edu/dc/object/bbxxxxxxxx

[2019-09-20 15:33] VivianChu commented on #716
It's deployed to production.

[2019-09-20 15:33] #716 closed

[2019-09-20 16:40] #690 closed

[2019-09-20 16:40] #710 closed

[2019-09-20 21:01] gamontoya commented on #703
@lsitu I'm going to close this ticket for now since Cristela is out of town for a couple of weeks.

@cgarciaspitz Feel free to re-open if you have further needs.

[2019-09-20 21:01] #703 closed

[2019-09-25 21:52] gamontoya commented on #643
@mcritchlow When you have time, can you confirm if

<dams:eventDate>2019-09-25T08:53:06+0000</dams:eventDate>
<dams:detail>No client specified</dams:detail>
<dams:outcome>success</dams:outcome>

would trigger a new "Last Modified" date? Ryan replaced component 9 and the date was not updated:

- https://library.ucsd.edu/dc/object/bb2733859v

[2019-09-25 22:27] mcritchlow commented on #643
It's possible we may need some adjustment to how damsrepo determines the last modified date.

@lsitu - can you take a look at this example in comparison to the recent adjustments to the logic whenever you have a chance?  https://github.com/ucsdlib/damsrepo/commit/c7e04476ec04436ce512e04b13f65c383fce8e9d

[2019-09-27 15:55] lsitu commented on #643
@mcritchlow Yes, it seems like there is a gap there and we only discussed and handle the case for `record created` and `record edited`, while the timestamp @gamontoya noted above is from the event `checksum calculated` of the file in component 9:
[code]
I would expect a `file modified` or `file added` even to be added but I can't find it in the record. It looks like there could be a bug somewhere

[2019-09-27 16:29] mcritchlow commented on #643
@lsitu - Yeah, based on your findings, another ticket to sort out the file event bug makes good sense. Do you have enough info to go on to write up the ticket in damsrepo?

[2019-09-27 16:36] lsitu commented on #643
@mcritchlow Not yet but I'll take a look and create a ticket for it.

[2019-09-27 17:08] gamontoya commented on #643
@lsitu @mcritchlow Thank you guys ⛑

[2019-09-27 23:04] lsitu commented on #643
@gamontoya @mcritchlow I've found the problem and created ticket https://github.com/ucsdlib/damsrepo/issues/96.

[2019-09-27 23:08] gamontoya commented on #643
@lsitu Excellent detective work! 🕵

[2019-09-30 16:41] lsitu commented on #643
@gamontoya @mcritchlow With the file events logged in PR https://github.com/ucsdlib/damsrepo/issues/97, I think we can calculate the "Last Modified" date by comparing those timestamps for `file added`, `file modified` and `file deleted` with  the timestamps for `record created` and `record edited. But the `file added` event is always added after the `record created`, so we may need to determine wh

[2019-09-30 17:44] mcritchlow commented on #643
@lsitu - is it fair to say the time difference between the example you gave: `record created` -> `file added` is going to be on the order of seconds/minutes difference? Essentially, is it just that the file addition step during ingest comes after the record itself is created?

If so, I suppose my instinct is to say we should still take the most recent date available for last modified, which in you

[2019-09-30 19:57] lsitu commented on #643
@mcritchlow I think normally the record created -> file added could be very close. But for giant files or complex objects with lots of files, it could be ingested in different days.
I think if the `record created` timestamp is more important, and the file is ingested on the same day, we can use the `record created` as the "Last Modified" date. What do you think?

[2019-09-30 20:47] mcritchlow commented on #643
@lsitu - thanks, that's very helpful. I think perhaps we're at a point where some input from @gamontoya and other is probably needed.

I admittedly lean towards the simplicity of the most recent timestamp we have available, even if there's a gap. Because, in a sense, the record is modified each time those file ingests successfully complete. I can also see an argument the other way around :)

[2019-09-30 21:08] lsitu commented on #643
@mcritchlow It sounds good. I think we just need to decide so that we all in the same page. @gamontoya What would you suggest for it? Thanks.

[2019-09-30 22:08] hjsyoo commented on #643
I'm not sure I follow the difference well enough, so bear with me and ignore as needed... For Last Modified, we ideally would see the date that any updates to metadata or data were completed (and presumably made available to the user), so wouldn't it make the most sense to use File Added or File Modified, if that's the last event in the sequence?

[2019-09-30 22:44] gamontoya commented on #643
@lsitu @mcritchlow I would go for the most recent update - as simple as that.

[2019-09-30 22:50] lsitu commented on #643
@gamontoya @hjsyoo Thanks. Let's move forward with the most recent timestamps for file changes then.

[2019-10-01 20:24] lsitu commented on #643
@mcritchlow Basing on the discussions above, I've added PR https://github.com/ucsdlib/damsrepo/pull/98 to take file events into account for last modified date. Thanks.

[2019-10-01 21:20] #643 closed

[2019-10-04 21:30] hjsyoo opened #719 "Change visibility of Data from: A Glimpse through Time and Space: Visualizing Social Memory...(2018)"
### Descriptive summary

De-index all pages in the Catalhoyuk Glimpse (v1) collection: https://library.ucsd.edu/dc/collection/bb3485072m, so they stop turning up in a search (DAMS or Google).
- 1 collection page
- 8 object pages

The pages should continue to be accessible by URL.

### Related work

- https://ucsdlibrary.atlassian.net/browse/DI-266
- https://docs.google.com/spreadsheets/d/1M96UIFcz

[2019-10-07 17:06] gamontoya commented on #719
@arwenhutt Your discovery sounds like a separate issue. Can you create a new ticket for this bug?

[2019-10-07 17:07] arwenhutt commented on #719
@gamontoya sure, damspas or damsmanager?

[2019-10-07 17:18] lsitu commented on #719
@arwenhutt I think we can create the ticket on damsrepo to fix the behavior for CLR `suppressDiscovery`.

[2019-10-07 17:39] arwenhutt commented on #719
@lsitu @gamontoya @hjsyoo I created a new ticket in damsrepo: https://github.com/ucsdlib/damsrepo/issues/99
It looks like I don't have permissions to add people/tags etc. so it doesn't have anything except the title and body, so it doesn't have anyone or any tags.

[2019-10-07 17:52] lsitu commented on #719
@arwenhutt Thanks. I'll look into it.

[2019-10-11 17:42] VivianChu commented on #632
@gamontoya - Some elements are missing from the spreadsheet like Subject:Common Name, Subject:Built Work Place, Subject:Function, Subject:Iconography, Subject:Style Period, Subject:Technique, Note:Publication Information, Note:Abstract, Note:General Physical Description, and Note:Dimensions.
Current order for the missing subject elements - https://github.com/ucsdlib/damspas/blob/master/app/views/s

[2019-10-11 18:11] hjsyoo commented on #632
@arwenhutt Do we use all those fields? I think we dropped use of Subject:Common Name, but Note:Publication Information is used by Special Collections? I'm fairly sure none of the missing elements above is used by RDCP.

[2019-10-11 18:17] arwenhutt commented on #632
@hjsyoo some are in use (like abstract, general physical description, dimensions) but some are deprecated (the subjects Vivian listed) meaning we no longer use them when ingesting new collections.  But even the deprecated ones may have legacy values.

[2019-10-11 19:25] hjsyoo commented on #632
Good point about legacy values, @arwenhutt!

@VivianChu I've added those missing values to the spreadsheet and moved some of the Notes around to keep similar types together on the list. I've tried to highlight all the new changes in green.

[2019-10-11 20:30] VivianChu commented on #632
Thanks @hjsyoo & @arwenhutt .  I'll update the order of these elements while waiting for the input of the ticket about Note:Cite This Work https://github.com/ucsdlib/damsmanager/issues/368.

[2019-10-16 20:45] VivianChu commented on #632
@hjsyoo - Is there any other type for the date element beside creation, issued, event, and collected?  I updated the date order and here are the screen shot.
Before the update
![dateBeforeChange](https://user-images.githubusercontent.com/1864660/66957520-3e35b080-f01b-11e9-9159-ac72dfd137a6.png)

After the update
![dateAfterChange](https://user-images.githubusercontent.com/1864660/66957526-4261ce0

[2019-10-16 20:59] VivianChu commented on #632
@gamontoya @hjsyoo - The changes have been deployed to qa.  Could you review them?
For example
//example - rdc objects
http://libraryqa.ucsd.edu/dc/object/bb04139816
http://libraryqa.ucsd.edu/dc/object/bb2018464v

//non rdc objects
http://libraryqa.ucsd.edu/dc/object/bb5157099g
http://libraryqa.ucsd.edu/dc/object/bb1574705v

Thanks

[2019-10-16 23:28] hjsyoo commented on #632
@VivianChu The only other date I'm aware of is Date:Copyright, which we've requested be placed right after Rights Holder.

I've looked at a number of RDC colls and objects on qa, and the ordering looks great (it'll take some getting used to, but it's much better!).

[2019-10-17 17:21] VivianChu commented on #632
@hjsyoo - The copyright date has been added and deployed to qa.  Could you review it?
https://libraryqa.ucsd.edu/dc/object/bb2083712b
Thanks

[2019-10-17 17:44] hjsyoo commented on #632
@VivianChu Yes, it's in the right place.

[2019-10-23 15:45] hjsyoo commented on #632
@VivianChu @gamontoya @arwenhutt I've updated https://github.com/ucsdlib/damsmanager/issues/368 to reflect the decision to apply a conditional rule for placement of Note:Preferred Citation. The re-ordered element list (https://docs.google.com/spreadsheets/d/1n7REAqpt2vh_BQWXFhTbAyVQY5kI7JPOuBAhg8WYTmU/edit#gid=0) has also been updated to improve clarity (no changes made to the proposed order).

[2019-10-24 22:04] gamontoya opened #722 "Add support for other HTML tags in objects"
### Descriptive summary

Currently, the only support for embedded HTML tags is for rendering links.

Consider adding support for displaying/rendering other HTML tags within collection level records.

### Use case

Needed to display HTML formatted tables for CIL.

### Related

-  https://github.com/ucsdlib/damsmanager/issues/317#issuecomment-545499347

[2019-10-24 22:12] VivianChu opened #723 "Release 1.95.0"
# Descriptive summary

- Version: 1.94.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv / @rstanonik
--------------
## To Verify

Tickets to review are noted in the release notes:

https://github.com/ucsdlib/damspas/releases/tag/1.95.0

[2019-10-24 22:20] VivianChu commented on #723
@gamontoya - The release has been deployed to staging. Could you please review it? Thanks
For example
//rdc object
http://librarytest.ucsd.edu/dc/object/bb04139816
http://librarytest.ucsd.edu/dc/object/bb2018464v

//non-rdc object
http://librarytest.ucsd.edu/dc/object/bb5157099g
http://librarytest.ucsd.edu/dc/object/bb1574705v

[2019-10-24 23:03] gamontoya commented on #723
@VivianChu Looks good for production.

[2019-10-24 23:42] VivianChu commented on #723
@jhriv - Could you please deploy new damspas release to production at your earliest convenient?  Thanks

[2019-10-31 16:54] VivianChu commented on #723
@gamontoya - The release has been deployed to production. Could you review it? Thanks

//rdc object
http://library.ucsd.edu/dc/object/bb04139816
http://library.ucsd.edu/dc/object/bb2018464v

//non-rdc object
http://library.ucsd.edu/dc/object/bb5157099g
http://library.ucsd.edu/dc/object/bb1574705v

[2019-11-01 16:36] gamontoya commented on #723
@VivianChu @hjsyoo Thank you Vivian. Looks good.

[2019-11-01 16:36] #723 closed

[2019-11-01 16:58] #632 closed

[2019-11-05 19:34] gamontoya commented on #722
@jessicahilt Can you add the level of effort there after you talk to @lsitu

[2019-11-05 21:38] lsitu commented on #722
@jessicahilt @gamontoya It looks like it may not need too much efforts but practice with the metadata with HTML tags to see how to make it work. Do we want to display HTML tags for all data fields or just the `Description` note for now?

[2019-11-05 21:57] gamontoya commented on #722
Just `description` note for now @lsitu

[2019-11-06 22:29] hjsyoo commented on #722
@lsitu @jessicahilt @gamontoya After discussion during the DAMS Working Group and with Arwen and Abby, I think the consensus is that rendering html tags in the metadata would not be a good idea. We push out our metadata to many other systems, and there's too much potential for things to break. I'll note in https://github.com/ucsdlib/damsmanager/issues/317 how we're planning to deal with the html t

[2019-11-06 22:29] #722 closed

[2019-11-06 22:52] lsitu commented on #722
@hjsyoo Okay. I would stop working on the ticket now.

[2019-11-06 23:11] lsitu commented on #722
Just a follow up note for reference:
The table can be displayed in damspas for @abbypenn93 's test object: http://libraryqa.ucsd.edu/dc/object/bd3469143k:

<img width="943" alt="Screen Shot 2019-11-06 at 3 06 55 PM" src="https://user-images.githubusercontent.com/2430784/68345873-60b16b80-00a7-11ea-830a-e59a0c1086d4.png">

[2019-11-18 17:31] remerjohnson opened #725 "Add parent collections (and remove one) from Visual Arts and Architecture"
### Descriptive summary

The [Visual Arts and Architecture Collection](https://library.ucsd.edu/dc/collection/bb5532785m) needs its subcollection membership to be updated, adding several collections to it, and _removing_ one.

Add to VA&A:
- [History of the UC San Diego Visual Arts Department](https://library.ucsd.edu/dc/collection/bb5533548r)
- [Stuart Collection Photographs](https://library.ucsd

[2019-11-19 17:25] gamontoya commented on #725
@hweng Hi Huawei. Per Jessica, I'm assigning this ticket to you. Note that it's `high priority`.

[2019-11-19 17:26] gamontoya commented on #714
@hweng Assigning this one to you as well. Note that it's `high priority`.

[2019-11-20 17:53] gamontoya commented on #719
@lsitu @arwenhutt What's the status on this ticket. Is it waiting for someone/something?

[2019-11-20 17:59] lsitu commented on #719
@gamontoya I think should be done through ticket https://github.com/ucsdlib/damsrepo/issues/99 (PR https://github.com/ucsdlib/damsrepo/pull/100).

[2019-11-20 19:33] hjsyoo commented on #719
Has the fix been deployed? Are we now able to suppress discovery of this collection page?

[2019-11-20 19:58] lsitu commented on #719
@hjsyoo Yes. It was deployed to prod last month in Oct. 15.

[2019-11-20 20:12] hjsyoo commented on #719
@arwenhutt Looks like we can give this a whirl!

[2019-12-04 22:44] gamontoya commented on #725
@hweng Hi Huawei. This was assigned to you two weeks ago. Did it fall off your radar?

[2019-12-04 22:45] gamontoya commented on #714
@hweng This one too was assigned two weeks ago. Let me know if you don't have time to work on these tickets.

[2019-12-05 23:00] hweng commented on #714
@gamontoya I have updated the metadata for the four children collections and one parent collection for their relationship:
https://library.ucsd.edu/dc/collection/bb2288090s/data
https://library.ucsd.edu/dc/collection/bb10936072/data
https://library.ucsd.edu/dc/collection/bb91824453/data
https://library.ucsd.edu/dc/collection/bb4029917n/data
https://library.ucsd.edu/dc/collection/bb9253289t/data

A

[2019-12-06 21:49] gamontoya commented on #714
@remerjohnson Please let us know if this work is approved.

[2019-12-06 21:50] gamontoya commented on #725
@hweng This one needs to be done too 👍

[2019-12-09 16:48] remerjohnson commented on #714
@gamontoya Yes, this looks perfect. A reminder that #725 is very similar. Thanks!

[2019-12-09 17:53] VivianChu opened #729 "UCSD-GUEST users cannot connect to the Geisel Library streaming video/audio service"
### Descriptive summary

There two servers: lib-streaming.ucsd.edu (132.239.119.181) and lib-streaming-test.ucsd.edu (132.239.119.176), which provide streaming service on two ports, which should be accessible to anyone on campus of off (TCP 1935 and 1936)

### Expected behavior
User can connect to streaming video/audio service on UCSD-GUEST network.

### Actual behavior
User cannot connect to stre

[2019-12-09 20:38] VivianChu commented on #729
@gamontoya - I updated Damspas and deployed it to qa. Could you try to see if they work for you using UCSD-Guest wireless network? Thanks

For example -
http://libraryqa.ucsd.edu/dc/object/bb6728545w
http://libraryqa.ucsd.edu/dc/object/bb7615632n

Those worked for me and Ron on UCSD-Guest.

[2019-12-09 22:45] #714 closed

[2019-12-12 21:54] gamontoya commented on #729
@VivianChu These both worked fine for me using UCSD-guest wireless.

[2019-12-13 20:47] hjsyoo commented on #719
@arwenhutt I think we're okay to change this collection page to discovery-suppressed. Can you give it a try? If it works, then I'll write up some text to be added to the Description, so that even if the View Collection Items button doesn't pull up anything for non-Curators, there will at least be a series of DOIs that link to the 8 objects within the collection.

[2019-12-13 22:20] arwenhutt commented on #719
@hjsyoo
Done - but double check!  I searched for
["Data from: A Glimpse through Time and Space"](https://library.ucsd.edu/dc/search?utf8=%E2%9C%93&q=%22Data+from%3A+A+Glimpse+through+Time+and+Space%22) (not logged in, private firefox window) and it returns 9 things (8 objects, 1 clr)

A little more information for documentation's sake:
The visibility metadata had been updated before, but then when

[2019-12-13 23:37] hjsyoo commented on #719
Awesome, thank you, it works for me, too with 9 returned things. So now, in https://library.ucsd.edu/dc/collection/bb3485072m, what do you think of adding this text to the Description, after the first short paragraph and before "This collection includes a set of 3-D models..."?

The 8 items in this collection can be accessed through the following Digital Object Identifier links:

https://doi.org/1

[2019-12-14 00:12] arwenhutt commented on #719
@hjsyoo That sounds like a good option.  I've added it to the clr https://library.ucsd.edu/dc/collection/bb3485072m

[2019-12-16 17:28] VivianChu opened #731 "Release 1.96.0"
# Descriptive summary

- Version: 1.96.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @rstanonik
--------------
## To Verify

Tickets to review are noted in the release notes:

https://github.com/ucsdlib/damspas/releases/tag/1.96.0

[2019-12-16 17:30] VivianChu commented on #731
@rstanonik - Could you please deploy new damspas release to production at your earliest convenient? Thanks

[2019-12-16 18:45] VivianChu commented on #731
@gamontoya - It's deployed to prod.  Could you review them? Those video/audios worked for me on UCSD-Guest network.
For example
//video
https://library.ucsd.edu/dc/object/bb6728545w
//audio
https://library.ucsd.edu/dc/object/bb1708951s
https://library.ucsd.edu/dc/object/bb5463710v

[2019-12-16 18:45] #731 closed

[2019-12-16 18:45] #729 closed

[2019-12-16 19:11] gamontoya commented on #731
@VivianChu Probably tomorrow or Wed. when I'm on campus. Thanks.

[2019-12-16 19:34] hweng commented on #725
@gamontoya The 4 collections were added to VA&A collection, and solr index updates was done. Please take a look if it looks fine to you.

For music collection, Looking into its RDF data and solr index, it is actually not included in the VA&A collection:
metadata: https://library.ucsd.edu/dc/collection/bb5532785m/data
solr index: http://lib-hydratail-prod.ucsd.edu:8983/solr/blacklight/select?q=id:b

[2019-12-16 21:47] hjsyoo commented on #719
Thanks, @arwenhutt !

[2019-12-16 21:47] #719 closed

[2019-12-16 23:44] gamontoya commented on #725
@remerjohnson Please review Huawei's work when you have a chance.

[2019-12-17 16:40] remerjohnson commented on #725
@gamontoya @hweng Thanks, Huawei! It all looks good. I will relay that explanation about the Music collection to the stakeholder to see if they would pursue that change, but this issue is resolved. Thanks again

[2019-12-17 18:40] VivianChu commented on #691
@gamontoya - The problem has been fixed on staging.  Could you review it?  Thanks

[2019-12-17 19:12] hweng commented on #725
@remerjohnson @gamontoya Thank you for your reviewing.

It has been so nice working with you for DAMS for the past years. Happy Holidays!

[2019-12-18 17:48] gamontoya commented on #725
@hweng Thank you for your great work and for supporting our endeavors for over 10 years! Best of luck at your new job ☃️ 🤞 🎄

[2019-12-18 17:50] gamontoya commented on #691
@VivianChu 👏 Yes, works nicely now!

[2019-12-18 17:50] #691 closed

[2019-12-18 19:07] gamontoya opened #732 "Contextual display for Cite this Work enhancement"
### Descriptive summary

It looks like there's an issue with Batch Edit application of the recent Cite this Work enhancement. This is a newly ingested stub collection in Staging: [https://librarytest.ucsd.edu/dc/collection/bd2513535k](https://librarytest.ucsd.edu/dc/collection/bd2513535k). Both objects in the collection show "Digital Object made available by RDCP."  Both objects have had Batch Edi

[2019-12-18 19:08] gamontoya commented on #732
@lsitu Whenever you can get to this considering the holidays coming up.

[2019-12-18 19:08] lsitu commented on #732
@gamontoya Sure.

[2019-12-18 19:29] lsitu commented on #732
@arwenhutt I found that the `Unit` metadata is missing from both Batch Export and Batch Edit. Would you like to add column `unit` at the end following the descriptive metadata for copyright?

[2019-12-19 15:25] mdpeters opened #734 "A section of note metadata fields are displaying twice in the UI"
### Descriptive summary

Note:bibliography, note:classification, note:custodial history, note:publication, note:series, and note:thesis all get repeated in the UI even though they only exist in the metadata once (from the metadata tracer: https://library.ucsd.edu/dc/object/bb2322475s):
![note_dups](https://user-images.githubusercontent.com/22665238/71192929-0f67d080-223e-11ea-8857-192b072e8127.png

[2019-12-19 21:10] #725 closed

[2019-12-20 22:10] lsitu commented on #732
@arwenhutt @abbypenn93 I've added MR https://github.com/ucsdlib/damsmanager/pull/380 and MR https://github.com/ucsdlib/private_config/pull/21 to add `unit` field to both the Batch Export tool and Batch Overlay/Edit tool, which will add the missing `Unit` field to the object and fix the contextual display order with Cite this Work. Should we can deploy it to staging so that you can test it to see h

[2020-01-03 18:40] VivianChu commented on #734
@gamontoya @mdpeters - The fix has been deployed to staging.  Could you review it? Thanks

https://librarytest.ucsd.edu/dc/object/bb2322475s

//Before the fix
![beforeDuplicateFix](https://user-images.githubusercontent.com/1864660/71742050-598fab00-2e15-11ea-8d7b-1de8b0e4c976.png)

//After the fix
![afterFixDupNote](https://user-images.githubusercontent.com/1864660/71742057-5e545f00-2e15-11ea-80e7

[2020-01-06 18:36] abbypenn93 commented on #732
@lsitu Yes, please deploy to staging. Happy New Year, Longshou.

[2020-01-06 18:48] lsitu commented on #732
@abbypenn93 Sure. I think we can make a new release for it so that you can review it  on staging once @mcritchlow is back and the PR is reviewed. I'll let you know if it's ready. Thanks. Happy New Year 2020!

[2020-01-08 18:31] gamontoya commented on #734
@VivianChu This looks good. Do you need a release ticket for this one too?

[2020-01-08 18:36] VivianChu commented on #734
@gamontoya - Yes, I need a release ticket for this one too. Thanks

[2020-01-09 17:12] VivianChu opened #737 "Release 1.97.0"
# Descriptive summary

- Version: 1.97.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @rstanonik
--------------
## To Verify

Tickets to review are noted in the release notes:

https://github.com/ucsdlib/damspas/releases/tag/1.97.0

[2020-01-09 17:15] VivianChu commented on #737
@rstanonik - Could you please deploy new damspas release to production at your earliest convenient? Thanks

[2020-01-10 05:08] VivianChu commented on #737
@gamontoya - The release has been deployed to production.
For example
https://library.ucsd.edu/dc/object/bb2322475s

[2020-01-10 05:08] #737 closed

[2020-01-10 05:09] VivianChu commented on #734
@gamontoya @mdpeters - The fix has been deployed to production.
https://library.ucsd.edu/dc/object/bb2322475s

[2020-01-10 05:09] #734 closed

[2020-01-14 19:14] gamontoya commented on #732
@lsitu @jessicahilt Can Vivian review the PR and not have it have to wait for Matt's return? This is a blocker to DOMM being able to batch edit anything and all things.

[2020-01-14 19:19] lsitu commented on #732
@gamontoya Sure. We'll have @VivianChu to review it once she's back.

[2020-01-14 19:24] arwenhutt commented on #732
Wonderful!  Thanks @lmcphee @VivianChu and @gamontoya :)

[2020-01-14 19:24] gamontoya commented on #732
@lsitu Do you need a release ticket for this?

[2020-01-14 19:27] lsitu commented on #732
@gamontoya Yes. Please create one for it. I think there are several PRs will be merged release at the same time.

[2020-01-17 01:07] arwenhutt commented on #732
@abbypenn93 My other bug ended up not requiring much testing, so I thought I'd do some testing for this one.

I exported the collection linked in the bug description, added the unit info to one object (https://librarytest.ucsd.edu/dc/object/bd9919746h), and overlaid the metadata.  The unit metadata appears in the rdf view and "cite this work" appears under the collection title.  I also verfied tha

[2020-01-17 17:03] arwenhutt commented on #732
reopening for testing

[2020-01-23 18:23] abbypenn93 commented on #732
I did a bunch of Batch Edits and the fix looks good: the "Cite This Work" section appears in the correct location and the objects are associated with UCSD Research Collections.

[2020-01-28 18:57] gamontoya opened #739 "Re-add "Edit" button to CLR pages"
### Descriptive summary

While the **"Edit"** button exists at the object level record, **edit** is missing from the collection level record page. Please re-add.

[2020-01-29 22:51] VivianChu commented on #739
@gamontoya - The "Edit" button has been added and deployed to qa.  Could you review it?  Thanks
For example http://libraryqa.ucsd.edu/dc/collection/bd48684588

[2020-01-30 01:40] gamontoya commented on #739
@VivianChu Looks good! Thank you for working on this so quickly.

[2020-01-30 18:42] arwenhutt commented on #732
@abbypenn93 @lsitu
I've done a few more exports and some overlays, and it looks like <dams:unit> is exporting and overlaying as expected.  I think we can close this unless you've run into any problems with it @abbypenn93 ?

[2020-02-07 00:51] gamontoya opened #741 "Release 1.98.0"
# Descriptive summary

- Version: 1.98.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @rstanonik
--------------
## To Verify

- [x] #739
- [ ] ucsdlib/damsmanager#388

Release note:

https://github.com/ucsdlib/damspas/releases/tag/1.98.0

[2020-02-07 00:51] gamontoya commented on #737
Kamino cloned this issue to [ucsdlib/damspas](https://github.com/ucsdlib/damspas/issues/741)

[2020-02-07 01:01] gamontoya commented on #741
@VivianChu Please add what needs to be verified.

[2020-02-07 22:43] VivianChu commented on #741
@gamontoya - The new release has been deployed to staging.  Could you review it?

Thanks

[2020-02-07 23:12] gamontoya commented on #741
@VivianChu I can confirm that the Edit button is back on the CLRs.

Who is testing this? --> ucsdlib/damsmanager#388

[2020-02-07 23:19] VivianChu commented on #741
@lsitu - How to test your change? Thanks

[2020-02-08 01:34] lsitu commented on #741
@VivianChu I think we may need the damsorizer up and running on staging. I tried to update some collection but until now I am still not able to index any records. @rstanonik Could you take a look at damsolrizer on staging? Thank you.

[2020-02-08 08:01] rstanonik commented on #741
[damsolrizer.log.gz](https://github.com/ucsdlib/damspas/files/4173906/damsolrizer.log.gz)
Here is the damsolrizer log.  There is an error at the end, but it doesn't mean anything to me.  You can also see the damsolrizer logs by ssh to lib-hydrahead-staging then look at /home/conan/log/damsolrizer.%Y-%m-%d.log

[2020-02-10 16:38] lsitu commented on #741
@rstanonik It looks like something weird in SOLR. Could you restart it? Thank you.

[2020-02-10 22:59] lsitu commented on #741
@gamontoya / @hjsyoo / @VivianChu I think ticket https://github.com/ucsdlib/damsmanager/issues/388 is ready for review now. Just review the objects in RCP collections to see whether they have the correct copyright note and we can start from there to see what need to adjust. Thank you.

[2020-02-10 23:50] gamontoya commented on #741
@hjsyoo Awaiting your review.

[2020-02-11 20:25] hjsyoo commented on #741
Thanks @lsitu. I'll work with @abbypenn93 to test this on a few new objects. Unfortunately, we don't currently have enough examples representing all the conditionals, so we can't test the full code on existing objects.

[2020-02-11 22:30] gamontoya opened #744 "404 Error when using Go navigation feature"
### Descriptive summary

Attempting to navigate from one page to another using the **Go** feature results in a 404 error page.

### Actual behavior

![D1](https://user-images.githubusercontent.com/4314914/74285541-eeba7500-4cda-11ea-8337-cde1cf514445.png)

------------

![D2](https://user-images.githubusercontent.com/4314914/74285543-ef530b80-4cda-11ea-9729-b19bf3796408.png)

.

[2020-02-12 20:01] gamontoya opened #745 "Create formats report"
### Descriptive summary

Please provide a report (csv, tab-delimited are okay) pulling out content from the DAMS by format type and the total size.

For example
- video - 1,209 total | size: 100 GB
- audio - 14,112 total | size: 450 GB
- text
- dataset
- still image
- software
- 3 D object
- etc.

### Rationale

I need to provide these numbers to the UC Digitial Preservation Strategy Working Group

[2020-02-12 20:27] lsitu commented on #745
@gamontoya  Should we exclude curator objects and UCSD-only objects from the report? Do you need to count of total on object or number of files?

[2020-02-12 20:33] gamontoya commented on #745
@lsitu Include everything for this report. The count should be total number of files.

[2020-02-12 23:15] lsitu commented on #745
@gamontoya Also, do we need to count on those alternate files or not?

[2020-02-12 23:57] gamontoya commented on #745
@lsitu What are alternate files?

[2020-02-12 23:57] gamontoya commented on #745
Derivatives, you mean?

[2020-02-13 01:20] gamontoya commented on #745
@lsitu If you mean derivatives, no. I want stats for the master copies of each format.

[2020-02-13 16:44] lsitu commented on #745
@gamontoya It looks like those alternate files could be the original files as will, like those second .zip files in mscl. And I believe there could be other cases that has alternate files.

It looks like we may need some rules to map the the following formats if there more than one formats found in and object:
cartographic:     https://library.ucsd.edu/dc/object/bb67930504
mixed material: https://

[2020-02-13 17:53] gamontoya commented on #745
Longshou:

- cartographic should be counted as "still image"
- software should be counted as "software"
- 3 dimensional object should be counted as "3D"
- mixed material should be counted as "mixed material"

If there are more than one format found for an object, then count each separately and we should only map the master files in each format.

[2020-02-13 18:25] lsitu commented on #745
@gamontoya If there only one file but two formats like those example above in cartographic (`image` and `cartographic`) and software (`data` and `software`), you mean just count it for cartographic and software, and ignore the other format like `image` and `data`?

[2020-02-14 18:06] lsitu commented on #745
@gamontoya I've got the report for format sizes basing on the file use property of master files with file name like `1.*` OR `1`. The alternate files haven't been counted in the report.
Total objects found: 122435

| Format | Total | Size (GB) |
|---------|---------|---------|
|image|109,024|2,919|
|data|10,816|19,341|
|video|1,592|11,896|
|audio|20,478|6,759|
|text|20,096|556|

I found the follow

[2020-02-14 18:21] gamontoya commented on #745
@lsit Thank you. Can you look at the results we get when browsing by format in the DC:

https://library.ucsd.edu/dc/search/facet/object_type_sim?facet.sort=index

![output](https://user-images.githubusercontent.com/4314914/74556633-58bd5f00-4f13-11ea-953c-a54447ceccdb.png)

122,188 total vs your count of 162,006 -- do you know what's the difference?

Could you run the DC SPARQL query that currentl

[2020-02-14 18:26] lsitu commented on #745
@gamontoya I think the different is that the counts in my report are files, while the counts in damspas search result https://library.ucsd.edu/dc/search/facet/object_type_sim?facet.sort=index are objects.

[2020-02-14 18:42] lsitu commented on #745
I am running SOLR query for the report at this time. As we discussed yesterday, there is the issue regarding how to count and map the files to each format when there are multiple formats exist in an object, especially when there are several formats and many files in an complex object. We may need to discuss and setup some rules to regenerate the report.
Could you add those rules for mapping the fi

[2020-02-14 20:05] lsitu commented on #745
@gamontoya I run another report on solr to include the object counts for each format determined by file use, which include curator objects. If an object contains a file with file use starting with that format, that format will increase object count by 1. Here is the report:
| Format | Object Count | Files Count | Size (GB) |
|---------|---------|---------|---------|
|image|72,231|109,024|2,919|
|d

[2020-02-15 00:13] lsitu commented on #745
@gamontoya Here is the report with the format from the damspas facet page:
| Format | Object Counts | File Counts | Size (GB) |
|--------------------|---------|---------|---------|
|cartographic|1071|54|9789|
|data|7746|8245|14614730|
|image|70537|103929|3690657|
|software|5|26|26966|
|text|26758|40649|6394571|
|three dimensional object|15|18|1989|
|video|1060|3161|11966782|
|mixed material|5|17|1

[2020-02-18 16:00] lsitu commented on #745
@gamontoya I explored the files counted and rerun the report again. I am seeing different results with some files are counted more than once. It seems like it's hard to determine which format a file should be counted in complex objects that have more than one format and lots of component files with different extensions, which will generate a confusing results with files counted more than once.
For

[2020-02-18 16:41] lsitu commented on #745
Another issue I see is that some master files in an object is scooped up by other formats and we don't know how to count them. For example, object https://library.ucsd.edu/dc/object/bb67249163 has two formats, `data` and `video`, but there are several images files in the object and neither video nor data we can mapped them to.
Also objects with no format/typeOfResource metadata won't hit by the fo

[2020-02-18 18:24] gamontoya commented on #745
@lsitu For this report, just

- count the main object and its master file and do not count the components
- with those complex cases that you note above, just map it as a 'dataset'
- if there is a complex object that is text, image, data, etc., as long as data is in there map it as a 'dataset'
- objects that don't have format/typeOfResource metadata should not be allowed in the DAMS, but since the

[2020-02-18 19:18] lsitu commented on #745
@gamontoya Do you mean if there are more than one format in an object, just map all the master files in that object to one format like `data` if it exists? Do you want a list of those formats in the objects level? We have some objects that do not have any format/typeOfResource metadata in the object level but only in components, which is different from component to component. How should we deal wi

[2020-02-18 19:26] gamontoya commented on #745
@lsitu This report doesn't have to be perfect at this point. I think at this point I'll just go with what you reported here:

| Format | Object Counts | File Counts | Size (GB) |
|--------------------|---------|---------|---------|
|cartographic|1,071|54|10|
|data|7,746|8,151|14,615|
|image|70,537|103,929|3,691|
|software|5|26|27|
|text|26,758|40,649|6,395|
|three dimensional object|15|18|2|
|vide

[2020-02-18 19:39] lsitu commented on #745
@gamontoya Got it. But there are some master files are counted more than once for complex objects with more than one formats. Do you want to erase those counts?

[2020-02-18 19:45] gamontoya commented on #745
@lsitu Yes, you can update the counts for those complex objects for which we are only counting one format type.

[2020-02-18 22:54] lsitu commented on #745
@gamontoya Here are the list of 1663 objects that don't have object level format/typeOfResource metadata. Note that some are empty objects with no descriptive metadata, and some of them may have component level format metadata:
[report-objects-no-formats-1663.txt](https://github.com/ucsdlib/damspas/files/4222077/report-objects-no-formats-1663.txt)

[2020-02-20 17:26] VivianChu commented on #744
@gamontoya - The go feature has been fixed and deployed to QA. Here's the screen shot.  Could you review it?  Thanks
http://libraryqa.ucsd.edu/dc

![afterFixGoFeature](https://user-images.githubusercontent.com/1864660/74961550-19838800-53c3-11ea-9235-e483bf616804.png)

[2020-02-21 18:41] gamontoya commented on #744
@VivianChu Did you manually enter a number/page to jump to? It doesn't work for me.

![error](https://user-images.githubusercontent.com/4314914/75061983-b3683500-5496-11ea-9bb5-1006cccb4ccc.png)

[2020-02-21 18:57] #745 closed

[2020-02-21 19:10] VivianChu commented on #744
@gamontoya - I click on "Browse By" drop down menu and select Collection. Then I enter the page number and it works for me.  How did you get to the collection page?

[2020-02-21 19:31] VivianChu commented on #744
@gamontoya - I can replicate the same error as you if I click on "Library Collections", "Research Data Collections", or "Collection" link below the search box.  I'll work on that.

[2020-02-21 19:58] gamontoya commented on #744
@VivianChu Thank you!

[2020-02-21 22:09] VivianChu commented on #744
@gamontoya - The fix has been deployed to QA. Could you review again?  Thanks

[2020-02-24 20:08] gamontoya commented on #744
@VivianChu Okay, it's working as I expect it to on QA.

[2020-02-25 21:57] lsitu commented on #741
@gamontoya @VivianChu Are we ready to move damspas release 1.98.0 to prod? I think damsmanager [release 2.77](https://github.com/ucsdlib/damsmanager/issues/399) has dependency on it for copyright boilerplate cleanup and we had better move them forward together. Thanks.

[2020-02-25 23:04] VivianChu commented on #741
@lsitu - My change is ready. @gamontoya - is it ok to move it to prod?  Thanks

[2020-02-26 23:23] gamontoya commented on #741
@VivianChu Yes, it's approved for prod.

[2020-02-26 23:27] VivianChu commented on #741
@rstanonik - Could you deploy new damspas release to prod at your earliest convenient?  Thanks

[2020-02-27 16:34] rstanonik commented on #741
Thor deployed damspas to prod this morning, along with damsmanager.
Include Thor (tnbrickman) in future deploy requests

[2020-02-27 16:38] lsitu commented on #741
@rstanonik Sure. Just added @thorucsd in. Thank you both.

[2020-02-27 16:43] VivianChu commented on #741
Thanks everyone

[2020-02-27 16:43] #741 closed

[2020-02-27 19:17] abbypenn93 opened #749 "Delete duplicate LLNL COWC object"
### Descriptive summary

Delete this duplicate COWC object: https://library.ucsd.edu/dc/object/bb1779796g. It's the first ingest of COWC, with the wrong copyright boilerplate (at time of second COWC ingest).

[2020-02-28 18:27] gamontoya commented on #749
@lsitu Can you please delete in all relevant places?

[2020-02-28 18:59] lsitu commented on #749
@gamontoya Sure.

[2020-02-28 19:56] remerjohnson opened #751 "Data request from HLHW collection, and deletion request"
### Descriptive summary
I am requesting a download of archival files in the Holocaust Living History Workshop collection, which I will then do file replacements on. The 11 objects and the files to download are in this spreadsheet (you can ignore the PDF column):

[release_forms_work.xlsx](https://github.com/ucsdlib/damspas/files/4268845/release_forms_work.xlsx)

In addition, I am requesting that t

[2020-02-28 21:17] lsitu commented on #749
@gamontoya The duplicate COWC object https://library.ucsd.edu/dc/object/bb1779796g and its files are gone now.

[2020-02-28 21:50] gamontoya commented on #749
@abbypenn93 ⬆️

[2020-02-28 22:02] hjsyoo commented on #749
I've reviewed the deletion and the remaining collection. All is good - closing ticket!

[2020-02-28 22:02] #749 closed

[2020-03-02 18:56] #739 closed

[2020-03-02 23:50] VivianChu commented on #751
@gamontoya @remerjohnson - The duplicate object has been deleted.  The archival files can be downloaded here - https://drive.google.com/drive/folders/14DmBSMO_oqcXbSS4iD4mb3p5_sbE1use?usp=sharing

[2020-03-04 17:27] remerjohnson commented on #751
@VivianChu Thanks so much, Vivian. Can confirm the object is deleted, and thanks for providing the files. Going to close this out

[2020-03-04 17:27] #751 closed

[2020-03-04 17:32] VivianChu commented on #751
@remerjohnson - Are you able to access the files?  Thanks

[2020-03-04 19:25] remerjohnson commented on #751
@VivianChu Yes. I am moving them to staging to work on now. Thanks

[2020-03-11 18:21] #732 closed

[2020-03-11 18:22] gamontoya commented on #744
@VivianChu Where are we on this?

[2020-03-11 18:29] VivianChu commented on #744
@gamontoya - I got it fixed on QA.  Haven't create a new damspas release. I'll create a release for this today.

[2020-03-11 18:36] VivianChu opened #755 "Release 1.99.0"
# Descriptive summary

- Version: 1.99.0
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @rstanonik/@thorucsd
--------------
## To Verify

- [x] #744

Release note:

https://github.com/ucsdlib/damspas/releases/tag/1.99.0

[2020-03-11 18:47] VivianChu commented on #755
@gamontoya - The update has been deployed to staging.  Could you review it?  Thanks
http://librarytest.ucsd.edu/dc/

[2020-03-11 19:04] gamontoya commented on #755
@VivianChu Thank you. Approved for prod.

[2020-03-11 19:05] VivianChu commented on #755
@rstanonik @thorucsd - Could you deploy this release to prod at your earliest convenient?  Thanks

[2020-03-13 13:04] rstanonik commented on #755
Sorry I didn't do this yesterday.

I deployed to production this morning.

[2020-03-13 20:37] VivianChu commented on #755
Thanks @rstanonik .
@gamontoya - The change is working fine on prod. https://library.ucsd.edu/dc/

[2020-03-13 20:37] #755 closed, assigned to VivianChu, rstanonik, gamontoya, thorucsd

[2020-03-19 22:18] hjsyoo opened #757 "Batch mint DOIs for new "Cruise Data" objects in Scripps Research Expeditions"
### Descriptive summary

837 objects have been added to Data from Scripps Research Expeditions 1953-2005, which now has a total of 1553 objects.

Mint new DOIs for only the 837 new objects: https://library.ucsd.edu/dc/search?f%5Bsubject_topic_sim%5D%5B%5D=Cruise+Data&id=bb01416814

### Related work

Similar request: https://github.com/ucsdlib/damspas/issues/568
CPP ticket: https://ucsdlibrary.atla

[2020-03-19 22:25] hjsyoo commented on #757
@jessicahilt Since these objects went live right away upon ingest, is there any chance this could be done within a few days? I think if within a week, we're okay. I generally try to mint DOIs prior to or within a couple days of release, since citations without DOIs are of limited use. But access controls seem to be tricky when ingesting objects into existing collections.

Let me know if this can't

[2020-03-19 22:29] hjsyoo commented on #757
@abbypenn93 Pinging you here so you're aware of the ticket.